/**
 * Base Styles
 */

/*********************
GENERAL STYLES
*********************/
body {
	height: 100%;
	background-color: color(white);
	margin: 0 auto;
	line-height: 1.5;
	font-family: $helvetica;
	font-size: 100%;
	color: $text-color;
	-webkit-font-smoothing: antialiased;
}
* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
#wpadminbar {
	position: fixed;
}

.emphasis {
	font-size: 1.2rem;
	font-weight: 600;
}

img {
	max-width: 100%;
	height: auto; // this will keep images from being stretched at lower resolutions
	display: block; // block display will remove additional padding on images
}
/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

.rtl {
}

/* for sites that are read right to left (i.e. hebrew) */
.home {
}

/* home page */
.blog {
}

/* blog template page */
.archive {
}

/* archive page */
.date {
}

/* date archive page */
.date-paged-1 {
}

/* replace the number to the corresponding page number */
.search {
}

/* search page */
.search-results {
}

/* search result page */
.search-no-results {
}

/* no results search page */
.search-paged-1 {
}

/* individual paged search (i.e. body.search-paged-3) */
.error404 {
}

/* 404 page */
.single {
}

/* single post page */
.postid-1 {
}

/* individual post page by id (i.e. body.postid-73) */
.single-paged-1 {
}

/* individual paged single (i.e. body.single-paged-3) */
.attachment {
}

/* attatchment page */
.attachmentid-1 {
}

/* individual attatchment page (i.e. body.attachmentid-763) */
.attachment-mime-type {
}

/* style mime type pages */
.author {
}

/* author page */
.author-nicename {
}

/* user nicename (i.e. body.author-samueladams) */
.author-paged-1 {
}

/* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {
}

/* category page */
.category-1 {
}

/* individual category page (i.e. body.category-6) */
.category-paged-1 {
}

/* replace the number to the corresponding page number */
.tag {
}

/* tag page */
.tag-slug {
}

/* individual tag page (i.e. body.tag-news) */
.tag-paged-1 {
}

/* replace the number to the corresponding page number */
.page-template {
}

/* custom page template page */
.page-template-page-php {
}

/* individual page template (i.e. body.page-template-contact-php */
.page-paged-1 {
}

/* replace the number to the corresponding page number */
.page-parent {
}

/* parent page template */
.page-child {
}

/* child page template */
.parent-pageid-1 {
}

/* replace the number to the corresponding page number */
.logged-in {
}

/* if user is logged in */
.paged {
}

/* paged items like search results or archives */
.paged-1 {
}

/* individual paged (i.e. body.paged-3) */

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;
	text-decoration: none;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
	}

	/* on click */
	&:active {
	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
	}
}

/******************************************************************
H1, H2, H3, H4, H5, H6 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	font-family: $sans-serif;
	text-rendering: optimizelegibility;
	font-weight: 700;
	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 2.5rem;
	line-height: 1.1em;
}

h2, .h2 {
	font-size: 2.25rem;
	line-height: 1.4em;
	margin-bottom: 0.375em;
}

h3, .h3 {
	font-size: 1.75rem;
}

h4, .h4 {
	font-size: 1.5rem;
}

h5, .h5 {
	font-size: 1.25rem;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

h6, .h6 {
	font-size: 1rem;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}
/*********************
POSTS & CONTENT STYLES
*********************/

.hentry {
	margin-bottom: 1em;
	header {
		padding: 1.5em 0;
	}
	footer {
		padding: 1.5em 0;

		p {
			margin: 0;
		}
	}
}

/* end .hentry */

.single-title,
.page-title,
.entry-title {
	margin: 0;
}

.single-title {
}

.page-title {
}

.entry-title {
}

.archive-title {
}

/* want to style individual post classes? Booya! */
.post-id {
}

/* post by id (i.e. post-3) */
.post {
}

/* general post style */
.page {
}

/* general article on a page style */
.attachment {
}

/* general style on an attatchment */
.sticky {
}

/* sticky post style */
.hentry {
}

/* hentry class */
.category-slug {
}

/* style by category (i.e. category-videos) */
.tag-slug {
}

/* style by tag (i.e. tag-news) */

/* post meta */
.byline {
	color: color(light-gray);
	font-style: italic;
	margin: 0;
	time {
	}
}

/* entry content */
.entry-content {
	padding: 1.5em 0 0;
	p {
		margin: 0 0 1.5em;
	}
	ul, ol, table, dl {
	}
	ul, ol {
		li {
		}
	}
	ul {
		li {
		}
	}
	ol {
		li {
		}
	}
	blockquote {
		border-color: color(gray);
		border-left-width: 10px;
		border-style: solid;
		margin: 1.5em 10px;
		padding: 0.5em 10px;
		quotes: "\201C""\201D""\2018""\2019";
		&:before {
			color: color(light-gray);
			content: open-quote;
			font-size: 4rem;
			line-height: 0.1em;
			margin-right: 0.25em;
			vertical-align: -0.4em;
		}
		p {
			display: inline;
			font-style: italic;
			color: color(dark-gray);
		}
	}
	dl {
	}

	dt {
	}
	dd {
		margin-left: 0;
		font-size: 0.9rem;
		color: #787878;
		margin-bottom: 1.5em;
	}
	img {
		margin: 0 0 1.5em 0;
		max-width: 100%;
		height: auto;
	}
	.alignleft, img.alignleft {
		margin: 0 1em 1em 0;
		display: block;
		float: left;
	}
	.alignright, img.alignright {
		margin: 0 0 1em 1em;
		display: block;
		float: right;
	}
	.aligncenter, img.aligncenter {
		margin: 0 auto 1em;
	}

	.size-auto,
	.size-full,
	.size-large,
	.size-medium,
	.size-thumbnail {
		max-width: 100%;
		height: auto;
	}

	pre {
		background: color(light-gray);
		color: color(black);
		font-size: .9rem;
		padding: 1.5em;
		margin: 0 0 1.5em;
		border-radius: 3px;
	}

}

/* end .entry-content */

.wp-caption {
	max-width: 100%;
	background: #eee;
	padding: 0;
	margin-bottom: 1em;

	/* images inside wp-caption */
	img {
		max-width: 100%;
		margin-bottom: 0;
		width: 100%;
	}
	p.wp-caption-text {
		font-size: .75rem;
		margin: 4px 0 7px;
		padding: 16px 20px 20px 20px;
		text-align: left;
		line-height: 1.5;
	}
}

/* end .wp-caption */

/* image gallery styles */
.gallery {
	dl {
		a {
		}
		img {
		}
	}
	dt {
	}
	dd {
	}
}

/* end .gallery */

/* gallery caption styles */
.gallery-caption {
}

.size-full {
}

.size-large {
}

.size-medium {
}

.size-thumbnail {
}
