.scroll-to-top{
	@include position(fixed, null 1em 1em null);
	@include size(2em 2em);
	background-color: color(text);
	color: color(base);
	text-align: center;
	cursor: pointer;
}
.scroll-to-top:before{
	@include size(0 0);
	font-family: FontAwesome;
	font-size: rem(24px);
	content: "\f106";
}