/**
 * Section Styles
 */
.sg-sections {
	padding: 3em 0;
}
.sg-section-title{
	color: color(meta-gray);
	text-transform: uppercase;
	text-align: center;
}
.sg-content{
	@include outer-container;
	@include position(relative, null null null null);
	@include size(null 100%);
}
.sg-color-list{
	@include margin(0);
	@include padding(0);
	list-style: none;
}
.sg-color-swatch{
	@include box-sizing(border-box);
	@include span-columns(2);
	@include size(null 10em);
	@include padding(6em null null);
	@include margin(null null 1.5625em null);
	text-align: center;
	&:nth-of-type(6n){
		@include omega();
	}
	&.white{
		@include border-color(color(light-gray));
		@include border-style(solid);
		@include border-width(.25em);
		background-color: color(white);
	}
	&.light-gray{
		@include border-color(color(soft-gray));
		@include border-style(solid);
		@include border-width(.25em);
		background-color: color(light-gray);
	}
	&.soft-gray{
		@include border-color(color(meta-gray));
		@include border-style(solid);
		@include border-width(.25em);
		background-color: color(soft-gray);
	}
	&.meta-gray{
		@include border-color(color(gray));
		@include border-style(solid);
		@include border-width(.25em);
		background-color: color(meta-gray);
	}
	&.gray{
		@include border-color(color(dark-gray));
		@include border-style(solid);
		@include border-width(.25em);
		background-color: color(gray);
		color: color(white);
	}
	&.dark-gray{
		@include border-color(color(black));
		@include border-style(solid);
		@include border-width(.25em);
		background-color: color(dark-gray);
		color: color(white);
	}
	&.black{
		@include border-color(color(black));
		@include border-style(solid);
		@include border-width(.25em);
		background-color: color(black);
		color: color(white);
	}
}
.sg-color-swatch-variable{
	display: block;
	font-size: .625em;
	font-weight: bold;
}
.sg-color-swatch-hex{
	display: block;
	font-size: .625em;
}