/**
 * Section Styles
 */
.sg-sections {
	padding: 3em 0;
}

.sg-section-title {
	color: color(gray);
	text-transform: uppercase;
}

.sg-subsection-title {
	color: color(meta-gray);
	text-transform: uppercase;
}

.sg-content {
	@include outer-container;
	@include position(relative, null null null null);
	@include size(null 100%);
}

.sg-section-content {
	@include outer-container;
	@include position(relative, null null null null);
	@include size(null 100%);
	border-bottom: 1px solid color(meta-gray);
}

.sg-btn {
	@include btn(meta-gray, dark-gray, 1em, 1.5em, .875em);
}

.sg-colors-table {
	@include span-columns(12);
	@include margin(1em null 1em);
	@include display(table);
}

.sg-markup-controls, .sg-source {
	@include span-columns(12);
	@include margin(1em null 1em);
}

.sg-source-html, .sg-source-css {
	display: none;
}

.sg-color {
	@include size(13% 80px);
	display: table-cell;
	color: color(white);
}

.color-black {
	background-color: color(black);
}

.color-dark-gray {
	background-color: color(dark-gray);
}

.color-gray {
	background-color: color(gray);
}

.color-meta-gray {
	background-color: color(meta-gray);
}

.color-soft-gray {
	background-color: color(soft-gray);
}

.color-light-gray {
	background-color: color(light-gray);
}

.color-white {
	background-color: color(white);
}

.sg-color-swatch {
	@include display(block);
	@include position(relative, null null null null);
	@include size(100% 100%);
	cursor: pointer;
	&:hover {
		span {
			opacity: 1;
		}
	}
}

.sg-color-variable {
	@include display(block);
	@include position(absolute, null null 0 0);
	@include size(100% null);
	@include padding(.25em 5px);
	@include transition(all .5s ease);
	opacity: 0;
	background-color: color(black);
	font-size: .625em;
	font-weight: bold;
}