.featured__article--heading,
.featured__content--title {
	text-transform: uppercase;
}

.featured__article:hover .featured__article--heading,
.featured__content--block:hover .featured__content--title,
a:hover .highlights__community--title {
	color: #ed2024;
}

.show__header {
	background-color: #ed2024;
}

@include bp(large) {
	.main {
		background-image: url("../../images/koas-wallpaper-2019.jpg");
		background-position: top center;
		background-repeat: no-repeat;
		background-color: #000000;
	}
}
