/**
 * Section Styles
 */
.sg-sections {
	@include padding(1em);
	@include bp(small){
		@include padding(1.5em null);
	}
	@include bp(medium){
		@include padding(2em null);
	}
	@include bp(large){
		@include padding(2.5em 0);
	}
	@include bp(x-large){
		@include padding(3em 0);
	}
}

.sg-section--title {
	color: $primary-heading;
	text-transform: uppercase;
}

.sg-subsection--title {
	color: $primary-heading;
	text-transform: uppercase;
}

.sg-content {
	@include outer-container;
	@include position(relative, null null null null);
	@include size(null 100%);
}

.sg-section--content {
	@include outer-container;
	@include position(relative, null null null null);
	@include size(null 100%);
	@include padding(null null 2em null);
	border-bottom: 1px solid $primary-border;
}

.sg-btn {
	@include btn($cardinal, $color-text-white, $cardinal, 1em, 1.5em, .875em);
}

.sg-colors--table {
	@include span-columns(4);
	@include margin(1em null 1em);
	@include display(table);
	@include bp(small){
		@include span-columns(6);
		@include display(table);
	}
	@include bp(medium){
		@include span-columns(8);
		@include display(table);
	}
	@include bp(large){
		@include span-columns(12);
		@include display(table);
	}
}

.sg-markup--controls, .sg-source {
	@include span-columns(4);
	@include margin(1em null 1em);
	@include bp(small){
		@include span-columns(6);
		@include display(table);
	}
	@include bp(medium){
		@include span-columns(8);
		@include display(table);
	}
	@include bp(large){
		@include span-columns(12);
		@include display(table);
	}
}

.sg-source {
	display: none;
}

.sg-source.is-active {
	display: block;
}

.sg-color {
	@include size(13% 80px);
	display: table-cell;
	color: $nevada;
}

.color-black {
	//background-color: color(primary-heading);
}

.color-dark-gray {
	//background-color: palette(gray, dark);
}

.color-gray {
	//background-color: palette(gray);
}

.color-light-gray {
	//background-color: palette(gray, light);
}

.color-white {
	//background-color: palette(default);
}

.sg-color--swatch {
	@include display(block);
	@include position(relative, null null null null);
	@include size(100% 100%);
	cursor: pointer;
	&:hover {
		span {
			opacity: 1;
		}
	}
}

.sg-color--variable {
	@include display(block);
	@include position(absolute, null null 0 0);
	@include size(100% null);
	@include padding(.25em 5px);
	@include transition(all .5s ease);
	opacity: 0;
	background-color: $secondary-bg;
	font-size: ms(-3);
}

.sg-typography {
	@include padding(.25em 5px);
	@include margin(null null 2em null);
	background-color: $primary-border;
	text-align: center;
}

.sg-typography--title {
	color: $primary-heading;
	text-transform: uppercase;
}

.sg-typography--serif {
	font-family: $open-sans;
}

.sg-typography--light {
	font-weight: lighter;
}

.sg-typography--bold {
	font-weight: bold;
}

.sg-typography--italic {
	font-style: italic;
}

// styles to make sure elements of the live player show
.live-player__col {
	float: left;
	display: block;
	width: 100%;
	margin-right: 0%;
	@include bp(small){
		width: 45%;
		margin-right: 5%;
	}
	@include bp(medium){
		width: 45%;
		margin-right: 5%;
	}
	@include bp(large){
		width: 18%;
		margin-right: 2.5%;
	}
}

.live-player__col:last-child {
	@include bp(small) {
		margin-right: 0;
	}
}

.live-stream__btn--play, .live-stream__btn--resume, .live-stream__btn--pause {
	display: block;
}
