<label>
  <input type='checkbox' data-rv-checked='model.<%= Formbuilder.options.mappings.REQUIRED %>' />
  Required
</label>

<!-- Only display these fields for contests. We use 'sticky' and 'admin_only' for our own purposes, to save us adding additional mappings -->
<% if ( typeof typenow !== 'undefined' && 'contest' === typenow ) { %>
	<label>
		<br />
	 	<input type='checkbox' data-rv-checked='model.<%= Formbuilder.options.mappings.STICKY %>' />
	  	Display with entries
	</label>

	<label>
		<br />
	 	<input type='checkbox' data-rv-checked='model.<%= Formbuilder.options.mappings.ADMIN_ONLY %>' />
	  	Use as display name
	</label>
<% } %>