.main, %main {
	background-color: $primary-bg;
}

.header {
	border-bottom: 1px solid #58595b;
}

.home__featured {
	@include bp(medium) {
		background-position: left top;
		background-color: #561015;
		// background-size: cover; // Leave this out unless we want big crosshatches on WMGK. If we do want that, be sure to also add this to the .show__header
	}
}

.live-links {
	border-top: 0;
}

.single-gmr_gallery .gallery__paging--prev,
.single-gmr_gallery .gallery__paging--next {
	color: $light-gray;

	&:hover {
		color: $cardinal;
	}
}

.live-player__stream {
	border: 1px solid lighten($color-gray-medium-dark,50%);
	color: lighten($color-gray-medium-dark,50%);
	@include border-radius(1em);
	background-color: $liveplayer-bg;

	li {
		height: auto;
	}

	.live-player__stream--available {
		display: none;
	}

	.live-player__stream--current.open .live-player__stream--available {
		color: $dark-gray;
		border-top: 1px solid darken($color-gray-light, 10%);

		&:after {
			background: transparent;
		}

		.live-player__stream--item, .live-player__stream--desc {
			color: $dark-gray;
		}

		.live-player__stream--item {
			background-color: $liveplayer-bg;

			&:hover {
				background-color: $light-gray;
			}
		}

		li:last-child {
			@include border-bottom-radius(1em);
		}
	}

}

.live-player__container {
	border-bottom: 1px solid white;
}

.now-playing__artist {
	color: $color-gray-medium-dark;
}

.live-link__title, .live-link__title a:link, .live-link__title a:visited {
	color: $color-gray-medium;
}

.live-link__song:before {
	color: $medium-dark-gray;
}

.live-link__song--artist {
	color: $medium-dark-gray;
}

.live-link__song--title {
	color: $dark-gray;

	a, a:visited {
		color: $darker-gray;
	}
}

.live-link__title a:link, .live-link__title a:visited {
	color: $color-gray-medium;
}

.live-link__title a:hover, .live-link__title a:focus, .live-link__title a:active {
	color: $primary-link-hover;
}

.header__logo {
	@include bp(medium) {
		top: -7px;
	}
}
.home__highlights {
	border-bottom-color: $primary-border;
}

.highlights__events--more-btn {
	&:hover {
		color: $yellow !important;
		border-color: $yellow;
	}
}

.highlights__event--item {
	background-color: #8c8c8c;
	color: $white;
}

.highlights__event--title, .highlights__event--date {
	color: $white;

	a:hover & {
		color: $yellow;
	}
}

.highlights__heading {
	color: $highlights-heading;
}

.type-contest .entry__title--tag {
	background-color: $light-gray;
	border-color: $light-gray;
}

.audio__progress-bar {
	background-color: $gray;
}

.footer {
	background-color: $primary-bg;
}


/* /Overrides for 1051thebounce - July 26, 2016 noon

#site-wrap.site-wrap{background-color: transparent!important; background-image: none!important;}

  #page-wrap.page-wrap{background-color: transparent!important; background-image: none!important;}

  main.main{background-color: #000000!important; background-image: url(../../images/bouncebgd.jpg)!important;background-position: center top!important; background-repeat: no-repeat; }



  #header.header{background-image: url(../../images/mastbg.jpg)!important;background-size:



cover;background-position: top center;}

  .header__account ul li a:active, .header__account ul li a:focus, .header__account ul li a:hover, .header__account ul



li:hover, .header__nav ul li a:active, .header__nav ul li a:focus, .header__nav ul li.active, .header__nav ul li.active



a:hover, .mobile-nav__list a:active, .mobile-nav__list a:focus, .mobile-nav__list a:hover, .ui-menu .ui-state-focus

{

  background-color: #ff0000!important;

}

    @media screen and (min-width: 768px) {



  .live-stream

  {background-image: url(../../images/playerbg.jpg)!important;background-repeat: no-repeat;



background-color: #000000!important;}

  }

.header__nav

{

  padding-left: 220px;

  font-family: 'Oswald', sans-serif!important;

  text-transform: uppercase!important;

}



.header__main{background-color: #000!important;border-bottom: #000000!important;}



  @media screen and (min-width: 1400px) {

  .header__logo

{





  float: left;

  display: block;

  margin-right: 2.35765%;

  width: 14.702%;

  padding-left: 18px;

}

.header__logo, .header__logo:last-child

{

  margin-right: 0px;

}

.header__logo

{

  background-size: contain;

  background-position: center top;

  border-top-width: 0px;

  border-right-width: 0px;

  border-bottom-width: 0px;

  border-left-width: 0px;

  border-top-style: solid;

  border-right-style: solid;

  border-bottom-style: solid;

  border-left-style: solid;

  border-top-color: #ffffff;

  border-right-color: #ffffff;

  border-bottom-color: #ffffff;

  border-left-color: #ffffff;

  border-image-source: none;

  border-image-slice: 100% 100% 100% 100%;

  border-image-width: 1 1 1 1;

  border-image-outset: 0 0 0 0;

  border-image-repeat: stretch stretch;

  height: 140px;

  width: 228px;

  max-width: 228px;

  left: 0px;

  display: block;

  position: absolute;

  top: -70px;

  margin-top: 0px;

  margin-right: 0px;

  margin-bottom: 0px;

  margin-left: 0px;

  padding-top: 0px;

  padding-right: 0px;

  padding-bottom: 0px;

  padding-left: 0px;

 z-index: 1000;

    }}



  @media screen and (min-width: 1200px) {

  .header .container.container__leaderboard



  {background-image: none;

  }

    .header

  {border-bottom:  none;}



.home__featured

  {background-color: #dddddd!important;  background-image: none!important;}



  .featured__article:hover .featured__article--heading

  {color: #ffcccc!important;}





  .featured__content--block:hover .featured__content--title

{color: #ffcccc!important;}

.featured__content--block:hover .featured__content--btn

{   background-color: #660000!important;

  border-top-color: #660000!important;

  border-right-color: #660000!important;

  border-bottom-color: #660000!important;

  border-left-color: #660000!important;

  color: #ffffff;

}

 .featured__content--btn:focus, .featured__content--btn:hover

{

  background-color: #660000!important;

  border-top-color: #660000!important;

  border-right-color: #660000!important;

  border-bottom-color: #660000!important;

  border-left-color: #660000!important;

  color: #ffcccc!important;

}



 .featured__content--block:hover .featured__content--btn

  {color: #ffffff!important;background-color:#660000;}



btn:hover

{

  background-color: #660000!important;

  border-top-color: #660000!important;

  border-right-color: #660000!important;

  border-bottom-color: #660000!important;

  border-left-color: #660000!important;

  color: #ffffff;

}



.featured__content--block:active .featured__content--btn, .featured__content--block:hover .featured__content--btn,



.featured__content--btn



  {background-color: #660000!important;}



    .live-links

  {background-color: #ffffff!important;background-image: none!important;}


  .live-links--more

  {background-color: #000000!important;}

  #live-links.livelinks

  {background-color: #000000!important;}







.live-player__container

{

  background-image: none!important;

}



.on-air__show, .up-next__show

{color: #ffffff!important;}



.featured__article--content

{

  background-color: #cc3333!important;

}

.home__featured .featured__article--content, .home__featured .featured__content--block

{

  background-color: #cc3333!important;

}



.home__featured .featured__article--content

{

  background-color: #cc3333!important;

}

}


.footer__ad .mobile {
	display: block;
	height: 50px; }

	@media screen and (min-width: 958px) {
		.footer__ad .mobile {
			display: none; }
		}


.footer__ad .desktop {
	display: none;
	height: 90px; }
	@media screen and (min-width: 958px) {
		.footer__ad .desktop {
			display: block; }
		}
*/
/* March 2017 overrides
*/
main.main{background-color: #000000!important; background-image: url(//files.greatermedia.com/uploads/sites/31/2017/03/wmgcwall-1.jpg)!important;background-position: center top!important; background-repeat: no-repeat; background-attachment: scroll!important;}
 .audio-interface{color: #ffffff!important;background-color: #111111!important;
	 }
	input[type=range]::-webkit-slider-thumb {background: #dddddd!important;}
input[type=range]::-moz-range-thumb {background: #dddddd!important;}
input[type=range]::-ms-thumb {background: #dddddd!important;}
 .audio-volume .audio-volume__btn:before, .audio-volume .audio-volume__mute:before{color: #ffffff!important;}
 .header__main.headroom
 { background-image: url();background-color: #cc0000!important;}

 #header.header{background-image: none!important;background-color: #333!important;}

 .content
{background-color: #fff!important;font-family: Arial,Helvetica Neue,Helvetica,sans-serif;}

.content{font-family: Arial,Helvetica Neue,Helvetica,sans-serif;}
 h1,h2,h3,h4,h5,h6{font-family: oswald;}
 a.entry2__footer--read-more{font-family: oswald;text-transform:uppercase;}

 .main > .container
 {background-color: #ffffff!important;}



 .header__main a, .header__main a:visited
 {color: #ffffff!important;}

.header__search ,   .header__search--btn::before
{
 color: #ffffff;
}

 .header__search:hover, .header__search:hover .header__search--btn::before
{
 color: #cccccc;
}

#header__nav{background-color: #ffffff!important;}

.header__main ul li a:active, .header__main ul li a:hover, .header__main ul li:hover a
{
 background-color: #cccccc;
 color: #ffffff;
}

div.show__mini-nav

.show__header{background: #333333!important; max-width: 600px!important;}

 .show__mini-nav .show__header .show__nav .show__title a:hover
{
 background-color: transparent;
 color: #aa1c20;}

.show__nav li a:hover
{
 background-color: transparent;
 color: #aa1c20;
}

.show__meta .social-share-link:active, .show__meta .social-share-link:hover
{
 color: #333333;}

 .format-sp  .meta-text
{
 color: #d22228;
}
 .audio-playing .audio-playing__track
 {color: #ffffff!important;}
	.audio-interface button, input, optgroup, select, textarea
{color: #ffffff!important;}

.audio-controls__loading, .audio-controls__pause, .audio-controls__play, .audio-controls__resume
{  background-color: #cc0000!important;
 }

.audio-controls__loading:hover,  .audio-controls__pause:hover, .audio-controls__play:hover,  .audio-controls__resume:hover
{
 background-color: #aa1c20!important;
	 border: #aa1c20!important;

 color: #ffffff;
}
 .audio-stream .audio-stream__available
 {background-color: #333333!important; color: #ffffff!important;}

.audio-stream .audio-stream__title  {background-color: transparent!important;border-color: #ffffff!important;}

 .audio-stream .audio-stream__current
 {background-color: #444444!important;border-top-color: #444444!important;border-bottom-color: #444444!important;border-left-color: #444444!important;border-right-color:#444444!important;}

 .audio-stream .audio-stream__link:hover
 {background-color: #D22228!important;}


 .audio-volume .audio-volume__btn, .audio-volume .audio-volume__mute button, input, optgroup, select, textarea
 {color: #ffffff!important;}



 .header__account ul li a:active, .header__account ul li a:focus, .header__account ul li a:hover, .header__account ul li:hover, .header__nav ul li a:active, .header__nav ul li a:focus, .header__nav ul li.active, .header__nav ul li.active a:hover, .mobile-nav__list a:active, .mobile-nav__list a:focus, .mobile-nav__list a:hover, .ui-menu .ui-state-focus
{
 background-color: #ccc!important;
}

 .header__main {
	 background-color: #000;
	 font-family: oswald;
	 text-transform: uppercase;
	 border-bottom: solid 4px #333333;
}
.header__search--span a
 {color: #fff!important;}

 .header{border-bottom: solid 4px #111111;}

.container {
	 background-color: transparent;
}
.main,
#page-wrap.page-wrap {
	 background-color: transparent;
}

 #header__nav{background-color: #ffffff!important;}

 .header__main button, input, optgroup, select, textarea
 {color: #ffffff!important;}
 .audio-stream .audio-stream__title
 {color: #fff!important;}


.header__nav .format-fi >   ul, .header__nav .format-fw > ul, .header__nav .format-sp > ul, .header__nav .sub-menu, .ui-menu
 {background-color: #ffffff!important;}

 .header__main ul li a:active, .header__main ul li:hover a
{
 background-color: #ffffff;
 color: #333333!important;
}
.header__main ul li a:hover
 {
 background-color: #cccccc!important;;
 color: #333333!important;
}
 .home__featured {
	 color: #fff!important;
	 background-color: transparent;
	 background-image:none!important;
}
.featured__article--heading
{color: #ffffff!important;
}
 .featured__article--heading a:hover
{color: #cccccc!important;
}
	.featured__content--title
 {color: #fff!important;}
	.featured__content--title a:hover
 {color: #cccccc!important;}


.highlights__events--more-btn:focus, .highlights__events--more-btn:hover
{
 background-color: transparent;
 border-top-color: #333333;
 border-bottom-color: #333333;
 border-left-color: #333333;
 border-right-color: #333333;
 color:  #aa1c20!important;
}


a:hover .highlights__community--title
{
 color: #cccccc;
}

a:hover .highlights__event--date, a:hover .highlights__event--title
{
 color: #cccccc;
}

.featured__article--image
{background-color: #000000!important;}

.featured__article:hover
{
 color: #cccccc!important;
}
#wmgc-social-stream
{
 border: solid 1px #e5e5e5;}

.header__search--form .header__search--input {
	color: #000 !important;
}
