.ad {
	&.-leaderboard {
		padding: 1rem;
		margin-bottom: 3.333rem;

		@media (--min-medium-viewport) {
			background-color: var(--global-gallery);
		}
	}

	&.-centered {
		& .wrapper {
			margin: 0 auto;
			max-width: 970px;
		}
	}

	&.-sticky {
		& .wrapper {
			@media (--min-large-viewport) {
				position: sticky;
				top: 10px;
			}
		}
	}

	&.-footer {
		padding-bottom: 2.667rem;

		@media (--min-large-viewport) {
			padding-bottom: 4.111rem;
		}
	}
}

.placeholder-dfp {
	display: flex;
	justify-content: center;
}
