.featured__article--heading,
.featured__content--title {
	text-transform: uppercase;
}

.featured__article:hover .featured__article--heading,
.featured__content--block:hover .featured__content--title,
a:hover .highlights__community--title
{
	color: #b5121b;
}

.show__header {
	background-color: #b5121b;
}

@include bp(large) {

    .main {
        background-image: url("../../images/wyuu-wallpaper-2017.jpg");
        background-position: top center;
        background-repeat: no-repeat;
				background-color: #000000;
    }

}
