/* HEADER */

.header__search--form {
	display: none;
}
.header__search--open {
	display: block;
}

.mobile-nav {
	display: none;
}


/* GIGYA PROFILE PAGES */
.profile-page
.profile-page__sidebar,
.profile-page__content {
	display: table-cell;
	vertical-align: middle;
	width: 50%;
	padding: 83px 32px;
}