/* HEADER */

.header__search--form {
	display: none;
}
.header__search--open {
	display: block;
}

.mobile-nav {
	display: none;
}

/* LIVEPLAYER */

.live-stream__container.vast__pre-roll .live-stream__container--player, .pre-roll__notification {
	top: 25%;
	left: 25%;
}


/* GIGYA PROFILE PAGES */
.profile-page
.profile-page__sidebar,
.profile-page__content {
	display: table-cell;
	vertical-align: middle;
	width: 50%;
	padding: 83px 32px;
}

.live-audio {
	display: block;
}

.live-player__stream,
.live-player__container {
	display: none !important;
}
