@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);

.main {
	background-color: #000;
}

@include bp(large) {

    .main {
        background-image: url("../../images/main-bg.png");
        background-position: center;
        background-repeat: repeat-y;
    }

}

.header {
		background-color: #000;
		background-image: url("../../images/crowd-header-bg.jpg");
    background-repeat: repeat-x;
    background-position: center top;
    border-bottom: none;
}

.header__main {
    border-top: none;
    background-color: rgba(0, 0, 0, .3) !important;

		-webkit-transition: transform 200ms linear, background-color 1s !important; /* Safari */
    transition: transform 200ms linear, background-color 1s !important;

		&.headroom--not-top {
			background-color: rgba(0, 0, 0, .8) !important;
		}
}
