@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);

.main, %main {
    background-color: #fff;

    .container {
        background-color: #fff;
    }
}

.header {
    background-color: #000;
    background-image: url("../../images/crowd-header-bg.jpg");
    background-repeat: repeat-x;
    background-position: center;
    border-bottom: none;
}

.header__main {
    height: 82px;
    border-top: none;
    border-bottom: none;
    background-color: rgba(0, 0, 0, 0.3);

    a,
    a:active,
    a:hover,
    a:visited {
        color: #fff;
        font-weight: 700;
    }

    .header__nav {
        text-transform: uppercase;
        font-family: 'Oswald', sans-serif;
        font-weight: 700;
        margin-left: 200px;
    }

    .header__search {
        color: #fff;
    }

    .header__account--logged-in,
    .header__account--logged-out,
    .header__account-- {
        color: #fff;
    }

    .header__social {

        a.social__link {
            color: #fff;
        }

    }
}

.header__account ul li a:active,
.header__account ul li a:focus,
.header__account ul li a:hover,
.header__account ul li:hover,
.header__nav ul li a:active,
.header__nav ul li a:focus,
.header__nav ul li.active,
.header__nav ul li.active a:hover,
.ui-menu .ui-state-focus {
    background-color: #f8c50f;
}

.header__account--links.sub-menu,
.header__nav .format-fi > ul,
.header__nav .format-fi > ul.header__account--links,
.header__nav .format-fw > ul,
.header__nav .format-fw > ul.header__account--links,
.header__nav .format-sp > ul,
.header__nav .format-sp > ul.header__account--links,
.header__nav .sub-menu, .ui-menu {
    position: absolute;
    border-top: 7px solid #f8c50f;
    background-color: #fff;
    color: #000;
    min-width: 300px;
    z-index: 5000100;
}

.home__featured {

    background-color: white;
    background-image: none;
    border: 1px solid #eee;
    background: url("../../images/pw_maze_white.png");

    .featured__article--content {
        background-image: -ms-linear-gradient(right, #db5b15 0%, #910101 100%);
        background-image: -moz-linear-gradient(right, #db5b15 0%, #910101 100%);
        background-image: -o-linear-gradient(right, #db5b15 0%, #910101 100%);
        background-image: -webkit-gradient(linear, right top, left top, color-stop(0, #db5b15), color-stop(1, #910101));
        background-image: -webkit-linear-gradient(right, #db5b15 0%, #910101 100%);
        background-image: linear-gradient(to left, #db5b15 0%, #910101 100%);
        border-radius: 0 0 0 38px;
        -moz-border-radius: 0 0 0 38px;
        -webkit-border-radius: 0 0 0 38px;
    }

    .featured__content--block {
        background-image: -ms-linear-gradient(right, #db5b15 0%, #910101 100%);
        background-image: -moz-linear-gradient(right, #db5b15 0%, #910101 100%);
        background-image: -o-linear-gradient(right, #db5b15 0%, #910101 100%);
        background-image: -webkit-gradient(linear, right top, left top, color-stop(0, #db5b15), color-stop(1, #910101));
        background-image: -webkit-linear-gradient(right, #db5b15 0%, #910101 100%);
        background-image: linear-gradient(to left, #db5b15 0%, #910101 100%);
        border-radius: 38px 0 0 38px;
        -moz-border-radius: 38px 0 0 38px;
        -webkit-border-radius: 38px 0 0 38px;

    }

    @include bp(medium) {
        background-position: left top;
        background-color: #561015;
        // background-size: cover; // Leave this out unless we want big crosshatches on WMGK. If we do want that, be sure to also add this to the .show__header
    }
}

.live-links--more {

    &:before {
        background: linear-gradient(to bottom,rgba(255,255,255,0) 0,#9f9c9c 100%);
    }

    .live-links--more__btn {
        border: none;
        background-color: #5b5d5f;
    }

}

.single-gmr_gallery .gallery__paging--prev,
.single-gmr_gallery .gallery__paging--next {
    color: $light-gray;

    &:hover {
        color: $cardinal;
    }
}

.live-player__stream {
    display: none;
    border: 1px solid lighten($color-gray-medium-dark,50%);
    color: lighten($color-gray-medium-dark,50%);
    @include border-radius(1em);
    background-color: $liveplayer-bg;

    li {
        height: auto;
    }

    .live-player__stream--available {
        display: none;
    }

    .live-player__stream--current.open .live-player__stream--available {
        color: $dark-gray;
        border-top: 1px solid darken($color-gray-light, 10%);

        &:after {
            background: transparent;
        }

        .live-player__stream--item, .live-player__stream--desc {
            color: $dark-gray;
        }

        .live-player__stream--item {
            background-color: $liveplayer-bg;

            &:hover {
                background-color: $light-gray;
            }
        }

        li:last-child {
            @include border-bottom-radius(1em);
        }
    }

}

.live-player--open {

    .live-player__stream {
        display: none;
    }

    .live-links {
        margin-top: 0!important;
    }

}

.live-player__container {
    border-bottom: 1px solid white;

    .live-stream__status {

        .live-stream__listen-now--btn {
            color: #fdfafa;
        }

    }
}

.now-playing__title {
    font-weight: normal;
    color: #000;
    font-family: 'Oswald', sans-serif;
}

.now-playing__artist {
    font-weight: 400;
    color: #000;
    font-family: 'Oswald', sans-serif;
}

.live-link__title, .live-link__title a:link, .live-link__title a:visited {
    color: $color-gray-medium;
}

.live-link__song {
    font-weight: 400;
    font-family: 'Oswald', sans-serif;

    &:before {
        color: #c20411;
        position: absolute;
        left: 10px;
    }

    .live-link__song--artist {
        color: #c20411;
    }
}

.live-link__song--title {
    color: $dark-gray;

    a, a:visited {
        color: $darker-gray;
    }
}

.live-link__title a:link, .live-link__title a:visited {
    color: $color-gray-medium;
}

.live-link__title a:hover, .live-link__title a:focus, .live-link__title a:active {
    color: $primary-link-hover;
}

.header__logo {

    @include bp(large) {
        /*top: -7px;*/
        background-image: url("../../images/wmmr-logo.png");
        background-repeat: no-repeat;
        width: 199px;
        height: 117px;
        position: absolute;
        z-index: 100;
        top: -40px;
        float: none;

        .header__logo--img {
            display: none;
        }
    }
}

.home__highlights {
    background: url("../../images/pw_maze_gray.png");
    border-bottom-color: $primary-border;
}

.single-show .home__highlights {
    background: none;
}

.highlights__events {
    text-decoration: none;
}

.highlights__events--more-btn {
    background-color: #878787;
    color: #fff!important;

    &:hover {
        color: $yellow !important;
        border-color: $yellow;
    }
}

.highlights__event--item {
    background-color: rgba(0,0,0,.1);
    color: $white;
}

.highlights__event--title {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    color: #b72f2c;

    a:hover & {
        color: $yellow;
    }
}

.highlights__event--date {
    color: #716c6c;

    a:hover & {
        color: $yellow;
    }
}

.highlights__heading {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    color: #b72f2c;
    text-shadow: 2px 2px 2px rgba(139, 128, 146, 0.4);
}

.type-contest .entry__title--tag {
    background-color: $light-gray;
    border-color: $light-gray;
}

.audio__progress-bar {
    background-color: $gray;
}

.footer {
    background-color: $primary-bg;
}

.featured__content--title {
    font-size: 1.23em;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

.featured__content--btn {
    display:none!important;
}

.featured__article--heading {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 2px 2px 1px rgba(83, 6, 6, 1);
    color: #fbe374;
}

.featured__article--image {
    border-radius: 0 38px 0 0;
    -moz-border-radius: 0 38px 0 0;
    -webkit-border-radius: 0 38px 0 0;
}

.widget--live-player__title {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.podcast__btn--play,
.podcast__btn--pause {
    background-color: rgba(192,192,192,.3);
}

.article__content .fluid-width-video-wrapper {
    margin-bottom: 1em;
}

.profile-page .profile-page__content,
.profile-page .profile-page__sidebar {
    background-color: #fff;
}

.mobile-nav .sub-menu li:not(.mobile-menu-submenu-header),
.mobile-nav .header__nav .format-fw > ul li:not(.mobile-menu-submenu-header),
.header__nav .mobile-nav .format-fw > ul li:not(.mobile-menu-submenu-header),
.mobile-nav .header__nav .format-sp > ul li:not(.mobile-menu-submenu-header),
.header__nav .mobile-nav .format-sp > ul li:not(.mobile-menu-submenu-header),
.mobile-nav .header__nav .format-fi > ul li:not(.mobile-menu-submenu-header),
.header__nav .mobile-nav .format-fi > ul li:not(.mobile-menu-submenu-header) {
    background-color: #fff;
}

.show__header.has-thumbnail:before {
    background-image: linear-gradient(to bottom,rgba(77,22,20,.85),rgba(51,10,10,.55));
    background-image: -moz-linear-gradient(top,rgba(77,22,20,.85),rgba(51,10,10,.55));
    background-image: -o-linear-gradient(top,rgba(77,22,20,.85),rgba(51,10,10,.55));
    background-image: -ms-linear-gradient(top,rgba(77,22,20,.85),rgba(51,10,10,.55));
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(77,22,20,.85)),to(rgba(51,10,10,.55)));
    background-image: -webkit-linear-gradient(top,rgba(77,22,20,.85),rgba(51,10,10,.55));
}

/* Smartphones & Tablets (portrait) ----------- */
@media only screen and (max-width : 479px) {

    .entry2 {

        .entry2__meta {
            padding: 0 10px;

            .entry2__date {
                margin: 0;
            }
        }

        .entry2__footer {
            padding: 10px;
            margin-top: 1em;
        }
    }

}

@include bp(medium) {

    .header__search--form {

        background-color: #fff;

        .header__search--input {
            background-color: #fff!important;
        }

        .header-search-body {
            background: #fff;
        }

        .keyword-search {
            background-color: #fff;
        }

    }

    .home__featured {

        background-color: #f2f2f2;

        .featured__content--block {
            border-radius: 0;
            -moz-border-radius: 0;
            -webkit-border-radius: 0;
            height: 100%;
        }

        .featured__content--image {
            float: left;
            display: block;
            width: 100%;
            margin-right: 0;
            padding-top: 66.6%;
        }

        .featured__content--meta {
            width: 100%;
            min-height: 6.8em;
        }

        .live-player--open {

            .live-player__stream {
                /*display: none;*/
            }

            .live-links {
                /*margin-top: 0!important;*/
            }

        }

    }

    .live-player {

        background-image: url("../../images/brushed-metal.jpg");
        background-position: center;

    }

    .live-player__container {
        border-bottom: 1px solid white;

        .live-stream__status {

            .live-stream__login {
                text-transform: uppercase;
                font-family: 'Oswald', sans-serif;
                font-weight: 700;
                color: #fff;
                font-size: 16px;
            }

            .live-stream__listen-now--btn {
                -webkit-box-shadow: 0px 0px 12px 3px rgba(255,255,255,1);
                -moz-box-shadow: 0px 0px 12px 3px rgba(255,255,255,1);
                box-shadow: 0px 0px 12px 3px rgba(255,255,255,1);
            }

            .live-stream__now-playing--btn {

            }

        }
    }

    .live-links {
        border-top: 0;
        background: none;

        .live-link__title {

            a {
                font-family: 'Oswald', sans-serif;
                line-height: 1.1em;
                color: #000;
                text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
            }

        }
    }

    .live-stream {
        background-image: url("../../images/tuner-bg.jpg");

        .on-air, .up-next {
              padding: 4px 1em;
              position: relative;
              top: 10px;
              background-color: rgba(0,0,0,.7);
              color: #fff;
              font-family: 'Oswald', sans-serif;
        }

        .live-stream__controls {
            padding: 34px 0 0;

            div {
                -webkit-box-shadow: 0px 0px 12px 3px rgba(255,255,255,1);
                -moz-box-shadow: 0px 0px 12px 3px rgba(255,255,255,1);
                box-shadow: 0px 0px 12px 3px rgba(255,255,255,1);
            }
        }

        .now-playing__title,
        .now-playing__artist {
            color: #fff;
            text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
        }

        .live-stream__now-playing--btn {
            display: none;
        }
    }

}

@include bp(large) {

    .header__nav > ul > li > a,
    .header__nav > ul > li > a:active,
    .header__nav > ul > li > a:hover,
    .header__nav > ul > li > a:visited {
        font-size: 16px;
        padding: 33px .4em 33px .4em!important;
    }

    .header__search--span {
        display: none;
    }

    .header__nav > ul > li a:hover {
        color: #333;
    }

    .header__main {

        .header__search {
            padding: 0 16px;

            &:hover {
                background-color: #f8c50f;
                color: #333;
            }
        }

        .header__social a.social__link:hover {
            color: #f8c50f;
        }
    }

    .header__account:hover {
        background-color: #f8c50f;
    }

    .header__main a:hover {
        color: #333;

        .header__account--logged-in,
        .header__account--logged-out,
        .header__account--,
        {
            color: #333;
        }
    }

}

@include bp(larger) {

    .header__nav > ul > li > a,
    .header__nav > ul > li > a:active,
    .header__nav > ul > li > a:hover,
    .header__nav > ul > li > a:visited {
        font-size: 17px;
        padding: 32px 0.6em 32px .6em !important;
    }

}

@include bp(x-large) {

    .main {
        background-image: url("../../images/main-bg.png");
        background-position: center;
        background-repeat: repeat-y;
        background-color:#000;
    }

    .header__search--span {
        display: block;
    }

}

/*
 * CSS hack until we have functionality to turn off contest entry forms during
 * voting.
 */

 #post-394598 .contest__form {
   display: none;
 }
