@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
#header,
#featured,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Oswald;
}

.header {
    border-bottom: 1px solid #58595b;
}

.home__featured {
    @include bp(medium) {
        background-position: left top;
        background-color: #561015;
        // background-size: cover; // Leave this out unless we want big crosshatches on WMGK. If we do want that, be sure to also add this to the .show__header
    }
}

.live-links {
    border-top: 0;
}

.single-gmr_gallery .gallery__paging--prev,
.single-gmr_gallery .gallery__paging--next {
    color: $light-gray;
    &:hover {
        color: $cardinal;
    }
}

.live-player__stream {
    border: 1px solid lighten($color-gray-medium-dark, 50%);
    color: lighten($color-gray-medium-dark, 50%);
    @include border-radius(1em);
    background-color: $liveplayer-bg;
    li {
        height: auto;
    }
    .live-player__stream--available {
        display: none;
    }
    .live-player__stream--current.open .live-player__stream--available {
        color: $dark-gray;
        border-top: 1px solid darken($color-gray-light, 10%);
        &:after {
            background: transparent;
        }
        .live-player__stream--item,
        .live-player__stream--desc {
            color: $dark-gray;
        }
        .live-player__stream--item {
            background-color: $liveplayer-bg;
            &:hover {
                background-color: $light-gray;
            }
        }
        li:last-child {
            @include border-bottom-radius(1em);
        }
    }
}

.live-player__container {
    border-bottom: 1px solid white;
}

.now-playing__artist {
    color: $color-gray-medium-dark;
}

.live-link__title,
.live-link__title a:link,
.live-link__title a:visited {
    color: $color-gray-medium;
}

.live-link__song:before {
    color: $medium-dark-gray;
}

.live-link__song--artist {
    color: $medium-dark-gray;
}

.live-link__song--title {
    color: $dark-gray;
    a,
    a:visited {
        color: $darker-gray;
    }
}

.live-link__title a:link,
.live-link__title a:visited {
    color: $color-gray-medium;
}

.live-link__title a:hover,
.live-link__title a:focus,
.live-link__title a:active {
    color: $primary-link-hover;
}

.header__logo {
    background: transparent;
    @include bp(medium) {
        top: -7px;
    }
}

.header__sub {
    background-color: #333333;
}

.home__highlights {
    border-bottom-color: $primary-border;
}

.header
{
    background-size:  cover!important;
    background-image: url('../../images/lightsmast.jpg');
}

.live-links {
    border-top: 0;
    margin: 0!important;
    width: 100%;

    .widget--live-player__title {
        display: none;
    }

    .widget_gmr_blogroll_widget {
        display: none;
    }
}

.live-links--more {
    z-index:1000;
}

.live-links--more.show-more--muted {
    display: block;
    width: 300px;
}

.streamhub-wall-component {
    article {
        &.content-default .content-body {
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            line-height: 20px;
        }
    }
}

#wmgc-social-stream {
    overflow: hidden;
    border-top: 1px solid #eee;

    article {
        border-width: 0 0 1px 0;
        margin: 0;
        padding: 20px 0;

        &.content .content-header .content-header-inner {
            padding-top: 0;
        }

        &.content-instagram .content-header .content-header-inner {
            padding-top: 20px;
        }
    }

    .hub-list-more {
        display: none;
    }
}
