/**
 * When the Nav Toggle is clicked, a body class is added.
 * When the body classes of `mobile-nav--open` is added to the body
 * the Style Guide off-canvas nav will slide from the left and the toggle
 * button will slide over to accommodate the nav.
 */
.mobile-nav__toggle {
	position: absolute;
	top: 50%;
	@include transform(translate(0, -50%));
	width: 32px;
	height: 32px;
	box-sizing: border-box;
	padding: 0;
	@include transition(all 200ms ease-in-out);
	background-color: $secondary-bg;
	cursor: pointer;
	z-index: 2;
	@include bp(medium) {
		display: none;
	}
}

.mobile-nav__toggle--span {
	position: absolute;
	top: 14px;
	display: block;
	width: 32px;
	height: 4px;
	@include border-radius(4px);
	@include transition(all 200ms ease-in-out);
	background: $primary-border;
	content: "";
}

.mobile-nav__toggle--span:before {
	position: absolute;
	top: -10px;
	display: block;
	width: 32px;
	height: 4px;
	@include border-radius(4px);
	@include transition(all 200ms ease-in-out);
	background: $primary-border;
	content: "";
}

.mobile-nav__toggle--span:after {
	position: absolute;
	bottom: -10px;
	display: block;
	width: 32px;
	height: 4px;
	@include border-radius(4px);
	@include transition(all 200ms ease-in-out);
	background: $primary-border;
	content: "";
}

.mobile-nav {
	position: fixed;
	top: 0;
	width: 74%;
	height: 100%;
	@include transform(translate(-100%, 0));
	@include transition(all 200ms ease-in-out);
	background-color: $secondary-bg;
	z-index: 1;
	@include bp(medium) {
		display: none;
	}
}

.mobile-nav--open {
	overflow: hidden;
}

.mobile-nav--open .mobile-nav {
	@include transform(translate(0, 0));
}

.mobile-nav--open .mobile-nav__toggle--span {
	background-color: transparent;
}

.mobile-nav--open .mobile-nav__toggle--span:before {
	top: 0;
	@include transform(rotate(45deg));
}

.mobile-nav--open .mobile-nav__toggle--span:after {
	top: 0;
	@include transform(rotate(-45deg));
}

.mobile-nav--open .page-wrap {
	@include transform(translate(74%, 0));
	width: 100%;
	@include transition(all 200ms ease-in-out);
}

.mobile-nav--open .page-wrap:before {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.4);
	content: " ";
}

.mobile-nav__list {
	padding: 0;
	margin: 0;
}

.mobile-nav__list .menu-item {
	padding: 0;
	margin: 0;
	border-bottom: 1px solid $mine-shaft;
}

.mobile-nav__list .menu-item:last-child {
	border-bottom: none;
}

.mobile-nav__list a:link,
.mobile-nav__list a:visited {
	display: block;
	padding: 18px 1.25em;
	line-height: 1;
	font-size: ms(7);
	color: $color-text-white;
}

.mobile-nav__list a:hover, .mobile-nav__list a:focus, .mobile-nav__list a:active {
	background-color: $color-text-white;
}

// main header navigation
.header__nav ul, .header__account ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.header__nav ul li, .header__account ul li {
	padding: 0;
	margin: 0;
	list-style: none;
	display: inline-block;
	font-size: ms(0);
}

.header__main a, .header__main a:visited {
	color: $color-text-white;
}

.header__main a:hover, .header__main a:active {
	color: $color-text-white;
}

.header__nav ul li a, .header__nav ul li a:link, .header__nav ul li a:visited {
	display: block;
	padding: 33px 1.125em 32px;
}

.header__nav ul li a:hover, .header__nav ul li a:focus, .header__nav ul li a:active {
	background-color: $cardinal;
	color: $secondary-heading;
}

// main header navigation mega-menu dropdowns
.header__nav ul li ul {
	display: none;
}

.header__nav ul li:hover ul {
	display: block;
	position: absolute;
	left: 0;
	width: $max-site-width;
	height: 292px;
	background-color: $primary-bg;
	border-top: 7px solid $primary-border;
	z-index: 9999;
}

// social links
.header__social--list {
	padding: 33px 0;
	margin: 0;
	list-style: none;
}

.header__social--item {
	padding: 0;
	margin: 0 1.25em 0 0;
	list-style: none;
	display: inline-block;
	font-size: ms(0);
}

.header__social--item:last-child {
	margin: 0;
}

.header__social--item a, .header__social--item a:visited {
	color: $secondary-heading;
}

.header__social--item a:hover, .header__social--item a:focus {
	color: $iron;
}

.header__social--item a:active {
	color: $color-text-white;
}

.header__social--facebook:before {
	@extend %gmr-icons;
	content: "\e60f";
}

.header__social--twitter:before {
	@extend %gmr-icons;
	content: "\e610";
}

.header__social--google-plus:before {
	@extend %gmr-icons;
	content: "\e611";
}