.main {
  background-size: cover;
  background-color: #061222;
  background-image: url("../../images/altsitebg-2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.home__featured {
	background: none;
}

.home__featured .featured__article--content,
.home__featured .featured__content--block {
	background: -moz-linear-gradient(top, rgba(30, 119, 215, 1) 10%, rgba(0, 71, 148, 1) 100%);
	/* FF3.6+ */

	background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, rgba(30, 119, 215, 1)), color-stop(100%, rgba(0, 71, 148, 1)))!important;
	/* Chrome,Safari4+ */

	background: -webkit-linear-gradient(top, rgba(30, 119, 215, 1) 10%, rgba(0, 71, 148, 1) 100%);
	/* Chrome10+,Safari5.1+ */

	background: -o-linear-gradient(top, rgba(30, 119, 215, 1) 10%, rgba(0, 71, 148, 1) 100%);
	/* Opera 11.10+ */

	background: -ms-linear-gradient(top, rgba(30, 119, 215, 1) 10%, rgba(0, 71, 148, 1) 100%);
	/* IE10+ */

	background: linear-gradient(to bottom, rgba(30, 119, 215, 1) 10%, rgba(0, 71, 148, 1) 100%);
	/* W3C */

	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ce1141', endColorstr='#004794', GradientType=0);
	/* IE6-9 */

	color: #fff;
	text-shadow: 2px 2px 1px rgba(9, 32, 64, .7);
}

.featured__article--heading {
  color:#fff;
  font-weight:600;
  text-transform:uppercase;
	font-family: 'Bree Serif',serif;
}

.home__featured .featured__content--title {
  color:#fff;
  font-family: 'Bree Serif',serif;
  font-size:1.23em;
  font-weight:400;
}

.home__highlights {
  border-bottom-color: #d0d2d3;
  background: url(../../images/pw_maze_gray.png);
}

.highlights__heading {
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  font-family: 'Bree Serif',serif;
  padding: 10px;
  background-color: #005596;
}

.highlights__events--more-btn {
  &:hover {
    color: $yellow !important;
    border-color: $yellow;
  }
}

.highlights__events--more-btn {
  background-color: #0e2242;
  border: 2px solid #0e2242;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  float: right;
  margin-top: 0px;
}

.highlights__events--more-btn:hover {
  background-color: #114598;
  color: #fff;
  border-color: #114598;
}
/* April 2017 updates */
/* remove contest type */
  .type-contest .entry2__thumbnail--contest-type
  {visibility: hidden!important;}
  .type-contest .entry2__thumbnail--end-date
  {visibility: hidden!important;}

 /* remove contest icon */
  .entry2__thumbnail__icon
    {visibility: hidden!important;}
/* remove thumbnail color tint */
  .entry2__thumbnail__overlay
  {opacity: 0!important;}

 /* date font size in recently played */
  .songs__group--date
  {font-size: 1em!important;}

   /* date font size in recently played */
  .songs__group--date
  {font-size: 1em!important;}

  /* remove event text*/
  .type-tribe_events .entry2__thumbnail--month-and-day
    {visibility: hidden!important;}
  .type-tribe_events .entry2__thumbnail--day-of-week
    {visibility: hidden;}



  /* masthead*/

  .header__main.headroom
{background-color: transparent;background-image: url(../../images/altmastbg.jpg)!important;}


  /* nav background color */


  .header__nav .format-fi > ul a.active, .header__nav .format-fi > ul a:focus, .header__nav .format-fi > ul a:hover, .header__nav .format-fw > ul a.active, .header__nav .format-fw > ul a:focus, .header__nav .format-fw > ul a:hover, .header__nav .format-sp > ul a.active, .header__nav .format-sp > ul a:focus, .header__nav .format-sp > ul a:hover, .header__nav .sub-menu a.active, .header__nav .sub-menu a:focus, .header__nav .sub-menu a:hover, .ui-menu a.active, .ui-menu a:focus, .ui-menu a:hover
{
  background-color: #000033; color: #ffffff;

}


  .format-sp a:hover .meta-text
{
  color: #ffffff;
}



  .header__nav ul li
{
 color: #ffffff;
  background-color: rgba(1, 1, 1, 0.7);}

    .header__nav ul li a
{ color: #ffffff;
  }
  .header__search
{ color: #ffffff;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  text-transform: uppercase;
  background-color: rgba(1, 1, 1, 0.7);}

.header__search:hover, .header__search:hover .header__search--btn::before
 { color:  #6699cc;}
