.main {
  background-size: cover;
  background-color: #061222;
  background-image: url("../../images/altsitebg-2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.home__featured {
	background: none;
}

.home__featured .featured__article--content,
.home__featured .featured__content--block {
	background: -moz-linear-gradient(top, rgba(30, 119, 215, 1) 10%, rgba(0, 71, 148, 1) 100%);
	/* FF3.6+ */

	background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, rgba(30, 119, 215, 1)), color-stop(100%, rgba(0, 71, 148, 1)))!important;
	/* Chrome,Safari4+ */

	background: -webkit-linear-gradient(top, rgba(30, 119, 215, 1) 10%, rgba(0, 71, 148, 1) 100%);
	/* Chrome10+,Safari5.1+ */

	background: -o-linear-gradient(top, rgba(30, 119, 215, 1) 10%, rgba(0, 71, 148, 1) 100%);
	/* Opera 11.10+ */

	background: -ms-linear-gradient(top, rgba(30, 119, 215, 1) 10%, rgba(0, 71, 148, 1) 100%);
	/* IE10+ */

	background: linear-gradient(to bottom, rgba(30, 119, 215, 1) 10%, rgba(0, 71, 148, 1) 100%);
	/* W3C */

	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ce1141', endColorstr='#004794', GradientType=0);
	/* IE6-9 */

	color: #fff;
	text-shadow: 2px 2px 1px rgba(9, 32, 64, .7);
}

.featured__article--heading {
  color:#fff;
  font-weight:600;
  text-transform:uppercase;
	font-family: 'Bree Serif',serif;
}

.home__featured .featured__content--title {
  color:#fff;
  font-family: 'Bree Serif',serif;
  font-size:1.23em;
  font-weight:400;
}

.home__highlights {
  border-bottom-color: #d0d2d3;
  background: url(../../images/pw_maze_gray.png);
}

.highlights__heading {
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  font-family: 'Bree Serif',serif;
  padding: 10px;
  background-color: #005596;
}

.highlights__events--more-btn {
  &:hover {
    color: $yellow !important;
    border-color: $yellow;
  }
}

.highlights__events--more-btn {
  background-color: #0e2242;
  border: 2px solid #0e2242;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  float: right;
  margin-top: 0px;
}

.highlights__events--more-btn:hover {
  background-color: #114598;
  color: #fff;
  border-color: #114598;
}
/* April 2017 updates */
.header__main
{
  border-bottom-color: #000000;  background: rgb(51,51,153); /* Old browsers */
background: -moz-linear-gradient(top, rgba(51,51,153,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(51,51,153,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(51,51,153,1) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333399', endColorstr='#000000',GradientType=0 );
}

  /* text changes for legibility */
  .type-tribe_events .entry2__thumbnail--month-and-day
  {text-shadow: 1px 1px 8px #000000,1px 1px 5px #000000;font-size: 1em;}
  .type-tribe_events .entry2__thumbnail--day-of-week
  {  font-weight: 600;text-shadow: 1px 1px 8px #000000,1px 1px 5px #000000 ;font-size: 1em;}
   /* remove contest thumbnail text */

  .type-contest .entry2__thumbnail--end-date
  {visibility: hidden;}

  .type-contest .entry2__thumbnail--contest-type
  {visibility: hidden;}
 /* remove contest icon */
  .entry2__thumbnail__icon
    {visibility: hidden;}
/* remove thumbnail color tint */
  .entry2__thumbnail__overlay
  {opacity: 0;}

 /* date font size in recently played */
  .songs__group--date
  {font-size: 1em;}
    .header__nav ul li a
  {color: #ffffff;}

    /* swearch background color */

  .header__search
{ color: #ffffff;
}
.header__search:hover, .header__search:hover .header__search--btn::before
 { color:  #6699cc;}

  .audio-stream .audio-stream__title
  {text-transform: uppercase;}

  .header__main{font-family: 'Bree Serif', serif;}
  h1,h2,h3,h4,h5,h6{font-family: 'Bree Serif', serif;}
