.featured__article--heading,
.featured__content--title {
	text-transform: uppercase;
}

.featured__article:hover .featured__article--heading,
.featured__content--block:hover .featured__content--title,
a:hover .highlights__community--title {
	color: #ed2024;
}

.show__header {
	background-color: #ed2024;
}

@include bp(large) {
	.main {
		background-attachment: fixed;
		background-image: url("../../images/201901/KDWN NEW SKIN.jpg");
		background-position: top center;
		background-repeat: no-repeat;
	}
}

.audio-more {
	display: none;
}

.widget_rss .rss-widget-icon {
	display: inline;
}

/* Changing to use the NEWS homepage format; CSS fixes */

// Change font to use Oswald...
body {
    font-family: "Oswald", "Open Sans", sans-serif;
}

// ...except teaser text
.entry2__excerpt {
    font-family: "Open Sans", sans-serif;
}

// Change text to white
.home .featured__article--heading,
.home .featured__content--title {
    color: white;
}

/// August 2017 overrides - Made in Detroit

.header__main.headroom {
	background-color: transparent;
	background-image: url(../../images/201901/KDWN-header-MOBILE.jpg);
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
}


@media screen and (min-width: 768px)  {
	.header__main.headroom {
		background-color: transparent;
		background-image: url(../../images/201901/KDWN-header-DESKTOP.jpg);
		background-position: top center;
		background-size: cover;
	}
}

@media screen and (min-width: 768px)  {
	.header .container {
		height:145px;
	}
}

.header__nav ul li {
	color: #ffffff;
}

.header__main a, .header__main a:visited {
	color: #ffffff;
}

.header__search {
	color: #ffffff;
	padding-top: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
	text-transform: uppercase;
}

.mobile-nav__toggle--span,
.mobile-nav__toggle--span::after,
.mobile-nav__toggle--span::before {
	background-color: #ffffff;
}
