/*doc
---
title: Featured Articles
name: featured-articles
category: Components - Front Page
---

Curated posts for Featured Articles

```html_example
<section id="featured" class="home__featured">
		<div class="featured__article">
			<div class="featured__article--image">
				<img src="http://placehold.it/2800x1000&text=featured+image">
			</div>
			<div class="featured__article--content">
				<div class="featured__article--heading">
					<h3 class="featured__article--subtitle">Artist of the Month</h3>
					<h2 class="featured__article--title">Minshara</h2>
				</div>
				<div class="featured__article--bio">
					Min•sha•ra (min SHä rə) 1. adj. the classification for a planet capable of supporting humanoid life; 2. n. electronic pop rock band from Harrisburg / Philadelphia, Pennsylvania From The Viper Room in LA to Webster Hall in NYC, Minshara has been spreading infectious pop melodies, dance grooves, and rock
				</div>
			</div>
		</div>
		<div class="featured__content">
			<div class="featured__content--block">
				<div class="featured__content--image">
					<img src="http://placehold.it/400x400&text=featured+image">
				</div>
				<div class="featured__content--meta">
					<h2 class="featured__content--title">MMR Rocks the Flyers</h2>
					<ul class="featured__content--list">
						<li class="featured__content--item">MMR Rocks the Flyers</li>
						<li class="featured__content--item">Flyers All Access</li>
					</ul>
				</div>
			</div>
			<div class="featured__content--block">
				<div class="featured__content--image">
					<img src="http://placehold.it/400x400&text=featured+image">
				</div>
				<div class="featured__content--meta">
					<h2 class="featured__content--title">Hitch a Ride with Pierre ...and Minerva</h2>
					<div class="featured__content--link">
						<a href="#" class="featured__content--btn">Enter To Win</a>
					</div>
				</div>
			</div>
			<div class="featured__content--block">
				<div class="featured__content--image">
					<img src="http://placehold.it/400x400&text=featured+image">
				</div>
				<div class="featured__content--meta">
					<h2 class="featured__content--title">Preston and Steve</h2>
					<ul class="featured__content--list">
						<li class="featured__content--item">Daily Rush</li>
						<li class="featured__content--item">Flyers All Access</li>
						<li class="featured__content--item">Studio Guests</li>
					</ul>
				</div>
			</div>
		</div>
</section>
```
*/

.home__featured {
	position: relative;
	@extend %main;
	padding: 48px;
	background: url(../../images/featured-bg.png) repeat center center $featured-bg;
	background-size: auto 40%;
}

.featured__article, .featured__content {
	padding-bottom: 34px;
	@include row();
}

.featured__article--image {
	width: 100%;
	height: 100px;
	overflow: hidden;
	background-color: $featured-bg;
	@include bp(small) {
		height: 150px;
	}
	@include bp(large) {
		height: 256px;
	}
	@include bp(x-large) {
		height: 343px;
	}
}

.featured__article--content {
	width: 100%;
	padding: 15px 3.928571428572%;
	overflow: auto;
	background: $secondary-link;

	@include bp(small) {
		padding: 15px 4.941176470588%;
	}
	@include bp(large) {
		padding: 34px 3.921568627451%;
	}
	@include bp(x-large) {
		padding: 34px 2.898550724638%;
	}

	.home__featured & {
		background-color: $featured-bg;
		color: $secondary-link;
	}
}

.featured__article--heading {
	float: left;
	width: 100%;
	@include bp(large) {
		width: 29.787234042553%;
		margin-right: 1.519756838906%;
	}
	@include bp(x-large) {
		width: 21.538461538462%; // 196px
		margin-right: 1.098901098901%; // 10px
	}
}

.featured__article--title {
	margin-top: 0;
	margin-bottom: 10px;
	line-height: 1;
	font-family: $open-sans;
	font-size: ms(1);
	font-weight: normal;
}

.featured__article--subtitle {
	margin: 0;
	line-height: 1;
	font-size: ms(7);
	color: $color-text-white;
}

.featured__article--bio {
	display: none;
	@include bp(large) {
		display: block;
		float: left;
		width: 68.693009118541%;
		font-size: ms(-1);
		line-height: 1.5;
	}
	@include bp(x-large) {
		width: 77.362637362637%;
	}
}

.featured__content--block {
	float: left;
	width: 100%;
	height: 90px;
	margin-bottom: 27px;
	overflow: hidden;
	background: $secondary-link;
	@include bp(small) {
		width: 100%;
		height: 95px;
		margin-bottom: 25px;
	}
	@include bp(large) {
		@include span-columns(4 of 12);
		height: 100px;
		margin-bottom: 0;
		overflow: visible;
	}
	@include bp(x-large) {
		height: 106px;
	}

	.home__featured & {
		background-color: $featured-bg;
		color: $secondary-link;
	}
}

.featured__content--block:last-of-type {
	@include omega;
}

.featured__content--image {
	@include span-columns(4 of 12);
	height: 100%;
	overflow: hidden;
	
}

.featured__content--image img {
	height: 100%;
	width: auto;
	max-width: none;
}

.featured__content--meta {
	font-size: ms(-2);
	font-weight: lighter;
	padding: 1em;
	@include span-columns(8 of 12);
	@include omega;
	
	.home__featured & {
		color: $highlights-text;
	}
}

.featured__content--title {
	margin-top: 0;
	margin-bottom: 8px;
	line-height: 1;
	font-family: $open-sans;
	font-size: ms(0);
	@include bp(small) {
		font-size: ms(1);
	}
}

.featured__content--list {
	@extend %unordered-list;
	line-height: 1;
}

.featured__content--item {
	@extend %list-item;
	display: inline-block;
	width: 40%;
	margin-bottom: 4px;
	font-size: ms(-2);
	color: $color-text-yellow;
	@include bp(large) {
		display: block;
		width: 100%;
		font-size: ms(-1);
	}
}

.featured__content--link {
	width: 100%;
	text-align: center;
	@include bp(small) {
		text-align: right;
	}
	@include bp(large) {
		text-align: center;
	}
}

.featured__content--btn {
	@include btn($btn-bg, $color-text-white, $btn-bg, .25em, 1.5em, ms(-2));
	@include border-radius(1.5em);
	text-transform: uppercase;
}