uploads/
plugins/wp-multi-network/
plugins/wordpress-importer/
plugins/debug-bar/
plugins/theme-check/
plugins/index.php
themes/index.php
upgrade/
/index.php
.idea
debug.log
.DS_Store
plugins/gears
plugins/gravityforms
atlassian-ide-plugin.xml
