!/.gitignore
.sass-cache/
node_modules
*.DS_Store

uploads/
upgrade/

mu-plugins/dependencies/formbuilder/bower_components/
mu-plugins/test-data-store.php
mu-plugins/async-debug.php

plugins/wp-multi-network/
plugins/wordpress-importer/
plugins/debug-bar/
plugins/debug-bar-cron/
plugins/debug-bar-extender/
plugins/query-monitor/
plugins/core-control/
plugins/theme-check/
plugins/airplane-mode/
plugins/index.php
plugins/role-quick-changer/
plugins/the-events-calendar/
plugins/wp-crontrol/
plugins/edit-flow/
plugins/duplicate-post/
plugins/ooyala-video-browser/
plugins/simple-page-ordering/
plugins/tag-pages/
plugins/phpcompat/
plugins/regenerate-thumbnails/
plugins/gears/
plugins/wp-gears/
plugins/rest-api/
plugins/gravityforms/
plugins/json-rest-api/
plugins/duplicate-post/
plugins/rewrite-rules-inspector/
plugins/simple-local-avatars/
plugins/wordpress-seo/
plugins/ooyala-video-browser/
plugins/simple-page-ordering/
plugins/tag-pages/
plugins/yet-another-related-posts-plugin/
plugins/jetpack/
plugins/greatermedia-live-stream/node_modules/
plugins/ubermenu/
plugins/cpt-archives-in-nav-menus/
plugins/seriously-simple-podcasting/
plugins/rackspace-cloud-files-cdn/object_cache.dat
plugins/mce-table-buttons/
plugins/term-management-tools/
plugins/feed-pull/
plugins/dynamic-hostname/
plugins/greatermedia-livefyre/
plugins/video-thumbnails/
plugins/user-role-editor/
plugins/greatermedia-gigya/

themes/index.php
themes/twentyfourteen
themes/twentyfifteen

.version.php
/index.php
.idea
debug.log
**/npm-debug.log
.DS_Store
atlassian-ide-plugin.xml
**/.sass-cache/**
style.css.md
/vendor/
/plugins/wp-debug-logger/

*.map
**/css/*.css
**/js/*.js