!/.gitignore
.sass-cache/
node_modules
*.DS_Store
/.composer-cache

uploads/
upgrade/

mu-plugins/dependencies/formbuilder/bower_components/
mu-plugins/test-data-store.php
mu-plugins/async-debug.php
mu-plugins/advanced-custom-fields/
mu-plugins/post-finder/

/plugins/*
!/plugins/beasley*
!/plugins/breaking-news/
!/plugins/dynamic-cdn/
!/plugins/edit-flow-hotfixes/
!/plugins/feed-pull-mrss/
!/plugins/getty-images/
!/plugins/gmr-*
!/plugins/greatermedia-*
!/plugins/S3-Uploads-master
!/plugins/gravityforms/
!/plugins/user-role-editor-pro/
!/plugins/configure-smtp/
!/plugins/wp-newrelic/

themes/index.php
themes/twentyfourteen
themes/twentyfifteen

.version.php
/index.php
.idea
debug.log
**/npm-debug.log
.DS_Store
atlassian-ide-plugin.xml
**/.sass-cache/**
style.css.md
/vendor/

themes/**/*.map
themes/**/css/*.css
themes/**/js/*.js
themes/greatermedia/vendor/
/themes/experience-engine/bundle/