.featured__article--heading {

	.featured__article:hover & {
		color: $color-red;
	}
}

.featured__content--title {
	color: $color-gray-medium-light;

	.featured__content--block:hover & {
		color: $color-red-dark;
	}
}