.breaking-news-banner {
    background: var(--global-alabaster);
    border-bottom: 1px solid var(--global-mercury);
    font-size: 1rem;
    padding: 1rem;
    text-align: center;

    & .breaking-news-banner__title {
        color: var(--brand-primary);
    }

    & .breaking-news-banner__excerpt {
        color: var(--global-theme-font-primary);
    }
}

body.-dark {
    & .breaking-news-banner {
        background: var(--global-theme-secondary);
    }
}

.notification-banner {
	position: fixed;
	left: 0;
	opacity: 0;
	transition: opacity 1s;
	top: 0;
	width: 100%;

	&.-visible {
		opacity: 1;
	}
}
