.home {
	& .cta,
	& .countdown,
	& .ribon {
		margin: 0 auto;
		max-width: 1071px;
		padding: 0 1rem 2.22rem;
	}

	& .ribon-items {
		display: flex;
		overflow-x: auto;

		& .hentry {
			min-width: 300px;
			margin-right: .5rem;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	& .post-thumbnail {
		flex: 1 0 300px;
		margin-bottom: 1rem;
		position: relative;

		&::before {
			content: "";
			display: block;
			padding-top: calc((3 / 4) * 100%);
			width: 100%;
		}

		& a,
		& .lazy-image {
			bottom: 0;
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
		}
	}

	& .type-post {
		width: 400px;
	}

	& .countdown,
	& .cta {
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		padding-top: calc((9 / 25) * 100%);
		position: relative;
	}

	& .countdown-content,
	& .cta-content {
		left: 50%;
		position: absolute;
		text-align: center;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	& .countdown-title,
	& .cta-title {
		font-size: 2rem;
	}

	& .cta-button {
		display: inline-block;
		padding: .5rem 1rem;
	}

	& .countdown-timer {
		display: flex;
		justify-content: center;
		margin-bottom: 2rem;

		& .time {
			background-color: var(--global-mine-shaft);
			color: var(--global-white);
			display: block;
			font-size: 3rem;
			font-family: monospace;
			font-weight: 700;
			padding: .25rem 0;

			&::after {
				content: ":";
				margin: 0 .25rem;
			}

			&:first-child {
				padding-left: .5rem;
			}

			&:last-child {
				padding-right: .5rem;

				&::after {
					content: "";
					margin: 0;
				}
			}
		}
	}
}