.lazy-image {
	position: relative;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.lazy-image .loading {
	position: absolute;
	left: 50%;
	top: 50%;
	min-height: 2rem;
	margin-top: -1rem;
}

.lazy-image .loading::after {
	height: 1.6rem;
	margin-left: -.8rem;
	margin-top: -.8rem;
	width: 1.6rem;
}
