#live-player {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: #efefef;
	border-top: 1px solid #ddd;
	padding: 20px;
}

#live-player .play-btn,
#live-player .pause-btn,
#live-player .resume-btn,
#live-player .loading-btn {
	display: none;
}

#live-player .LIVE_PAUSE .resume-btn,
#live-player .LIVE_PLAYING .pause-btn,
#live-player .LIVE_STOP .play-btn,
#live-player .LIVE_FAILED .play-btn,
#live-player .LIVE_BUFFERING .loading-btn,
#live-player .LIVE_CONNECTING .loading-btn,
#live-player .LIVE_RECONNECTING .loading-btn,
#live-player .STREAM_GEO_BLOCKED .play-btn,
#live-player .STATION_NOT_FOUND .play-btn {
	display: block;
}

.cue-point-title {

}

.cue-point-artist {

}

.cue-point-title + .cue-point-artist:before {
	content: '-';
	margin: 0 10px;
}

.controls {
	display: flex;
	justify-content: space-around;
}
