.loading {
	color: transparent !important;
	left: -2px;
	min-height: .8rem;
	min-width: .8rem;
	pointer-events: none;
	position: relative;
	top: -2px;
}

.loading::after {
	animation: loading 500ms infinite linear;
	border: .1rem solid var(--brand-primary);
	border-radius: 50%;
	border-right-color: transparent;
	border-top-color: transparent;
	content: "";
	display: block;
	height: .8rem;
	left: 50%;
	margin-left: -.4rem;
	margin-top: -.4rem;
	position: absolute;
	top: 50%;
	width: .8rem;
	z-index: 1;
}

@keyframes loading {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
