.load-more {
	background-color: var(--brand-primary);
	border: 0;
	border-radius: 35px;
	color: var(--global-white);
	cursor: pointer;
	font-weight: 600;
	font-size: 1rem;
	min-width: 210px;
	padding: .8rem 0;
	text-align: center;
	transition: background-color 300ms ease-in-out;

	&:hover,
	&:focus {
		outline: 0;
		text-decoration: underline;
	}

	& .loading {
		min-height: 1.4rem;

		&::after {
			border-bottom-color: var(--global-white);
			border-left-color: var(--global-white);
		}
	}
}
