.load-more {
	background-color: var(--brand-primary);
	border: 0;
	border-radius: 35px;
	color: var(--global-white);
	cursor: pointer;
	font-weight: 600;
	font-size: 1rem;
	padding: .8rem 4rem;
	transition: background-color 300ms ease-in-out;

	&:hover,
	&:focus {
		outline: 0;
		background-color: var(--brand-highlight);
	}
}