.modal {
	background-color: rgba(0, 0, 0, .65);
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 95;
}

.modal-content {
	background-color: rgb(255, 255, 255);
	left: 50%;
	padding: 2rem;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

.modal-close {
	position: absolute;
	right: 20px;
	top: 20px;
}

.modal-header {
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 1rem;
}
