.s2nSmartPlayer {
	margin-left: 5%;
	margin-right: 5%;
}


@media (--min-medium-viewport) {
	.s2nSmartPlayer {
		margin-left: 10%;
		margin-right: 10%;
	}
}

.s2nheadshow::before {
	content: "Have you seen this?";
	font-weight: bold;
	margin-bottom: 1rem;
	padding-top: 1rem;
	border-top: 1px solid lightgray;
	display: block;
}

.s2nheadshow::after {
	content: "";
	display: block;
	margin-top: 1rem;
	border-top: 1px solid lightgray;
}

.s2nSmartPlayer[style]:not(.s2nBelowViewport) {
	height: unset !important;
}

.s2nAboveViewport {

}

