// Breakpoints Map
// By default, these breakpoints can be called using `map-get($breakpoints, key)`. To avoid continually calling
// `map-get`, a mixin has been written. Reference the `bp` mixin located in `_mixin.scss`.
//
// @author Allen Moore
// @since 0.1.0
//
// @type String
//
$breakpoints: (
	x-small: new-breakpoint(min-width 320px 4),
	small: new-breakpoint(min-width 480px 6),
	medium: new-breakpoint(min-width 768px 8),
	large: new-breakpoint(min-width 1024px 12),
	x-large: new-breakpoint(min-width 1400px 12),
);