.navigation {
	padding-bottom: 0;

	& ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		list-style: none;
		margin: 0;
		padding: 0;

		@media (--min-large-viewport) {
			display: block;
		}
	}

	& li {
		display: inline-block;
		flex: 0 1 50%;
		text-align: center;

		&:not(:last-child) {
			@media (--min-large-viewport) {
				padding-right: 2.611rem;
				text-align: left;
			}
		}

		&.current-menu-item,
		&:hover,
		&:focus-within {
			position: relative;

			& a::after {
				width: 100%;
			}

			&:last-child {
				& a::after {
					@media (--min-large-viewport) {
						width: calc(100% + 2.611rem);
					}
				}
			}

			& a,
			& a:focus,
			& a:hover {
				color: var(--brand-primary);
				display: block;
				outline: none;
				text-decoration: none;

				&::after {
					background-color: var(--brand-primary);
					bottom: 5px;
					content: "";
					height: 2px;
					left: 0;
					position: absolute;

					@media (--min-large-viewport) {
						bottom: -1.778rem;
						left: calc(-2.611rem / 2);
					}
				}
			}
		}
	}

	& a {
		color: var(--global-font-primary);
		display: block;
		font-weight: 600;
		padding-bottom: 1rem;

		@media (--min-large-viewport) {
			padding-bottom: 0;
		}
	}
}