@import url(http://fonts.googleapis.com/css?family=Exo+2:400,600,700,800,900);

.main, %main {
	color: #555;
}

.header {
	border-bottom: 0;
            background-color: $dark-red;
}

.header__search {
            color: #fff;
}

.home__featured {
	@include bp(medium) {
		background-position: left top;
		background-color: #561015;
		// background-size: cover; // Leave this out unless we want big crosshatches on WMGK. If we do want that, be sure to also add this to the .show__header
	}
}

.live-links {
	border-top: 0;
}

.single-gmr_gallery .gallery__paging--prev,
.single-gmr_gallery .gallery__paging--next {
	color: $light-gray;

	&:hover {
		color: $cardinal;
	}
}

.live-player__stream {
	border: 1px solid lighten($color-gray-medium-dark,50%);
	color: lighten($color-gray-medium-dark,50%);
	@include border-radius(1em);
	background-color: $liveplayer-bg;

	li {
		height: auto;
	}

	.live-player__stream--available {
		display: none;
	}

	.live-player__stream--current.open .live-player__stream--available {
		color: $dark-gray;
		border-top: 1px solid darken($color-gray-light, 10%);

		&:after {
			background: transparent;
		}

		.live-player__stream--item, .live-player__stream--desc {
			color: $dark-gray;
		}

		.live-player__stream--item {
			background-color: $liveplayer-bg;

			&:hover {
				background-color: $light-gray;
			}
		}

		li:last-child {
			@include border-bottom-radius(1em);
		}
	}

}

.live-player__container {
	border-bottom: 1px solid white;
}

.now-playing__artist {
	color: $color-gray-medium-dark;
}
/*.live-link__title, .live-link__title a:link, .live-link__title a:visited {
	color: $white;
}
*/
.live-link__song:before {
	color: #777;
}

.live-link__song--artist {
	color: #555;
            font-size: 1em;
}

.live-link__song--title {
	color: #777;

	a, a:visited {
		color: #777;
	}
}

/*.live-link__title a:link, .live-link__title a:visited {
	color: $white;
}*/

.live-link__title a:hover, .live-link__title a:focus, .live-link__title a:active {
	color: $primary-link-hover;
}

.header__logo {
	@include bp(medium) {
		/*top: -7px;*/
	}
}
.home__highlights {
	border-bottom-color: $primary-border;
            padding-top:0;
}

.highlights__events--more-btn {
	&:hover {
		color: $yellow !important;
		border-color: $yellow;
	}
}

.highlights__event--item {
	background-color: #8c8c8c;
	color: $white;
}

.highlights__event--title, .highlights__event--date {
	color: $white;

	a:hover & {
		color: $yellow;
	}
}

.highlights__heading {
	color: $highlights-heading;
}

.type-contest .entry__title--tag {
	background-color: $light-gray;
	border-color: $light-gray;
}

.audio__progress-bar {
	background-color: $gray;
}

.footer {
	background-color: $primary-bg;
}

/* CUSTOM OVERRIDES BELOW */

.highlights__heading {
    color: #c01c1c;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Exo 2', sans-serif;
}
.home__highlights,
.home__featured { background: url("../../images/wben-main-bg3.jpg") top }
.live-player__stream { display: none!important }
.header__main {
    border-top: none;
    background-color: darkred;
    border-bottom: none;
}
.home__featured .featured__article--content {
    background-color: darkred;
    color: #d0d2d3;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
}
.home__featured .featured__article a:hover .featured__article--content {
    background-color: #b30000;
}
.featured__article--heading {
    color: #eded8f;
    font-family: 'Exo 2', sans-serif;
}
.header {
    background-color: darkred;
    background-image: url("../../images/cd-shelf-mobile.jpg");
    background-repeat: no-repeat;
    background-position: 0 -36px;
}
.header__nav { font-family: 'Exo 2', sans-serif }
/*.header__logo {
        background: url("../../images/ben-logo-horizontal.png") no-repeat;
        display: block;
        width: 182px;
        height: 44px;
        z-index: 1;
        cursor: pointer;
        margin: 15px 0 0 50px;
    }
    .header__logo img {
        display:none;
}*/
.home__featured .featured__content--block { background-color: darkred }
.highlights__event--item {
    background-color: darkred;
    transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
}
.highlights__event--item:hover {
    background-color: #b30000;
}
.highlights__event--date,
.highlights__event--title {
    color: #eded8f;
    font-family: 'Exo 2', sans-serif;
}
.featured__content--block {
    transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
}
.featured__content--block:hover {
    background: #b30000;
}
.entry2__title { font-family: 'Exo 2', sans-serif }
.content__heading,
.sponsors__heading { font-family: 'Exo 2', sans-serif }
.featured__content--title {
    color: #eded8f;
    font-family: 'Exo 2', sans-serif;
}
.featured__content--link {
    display:none;
}
.highlights__events--more-btn {
    background-color: #d22228;
    border: 1px solid #d22228;
    color: #fff!important;
    font-weight: 800;
}
.contest__prize--title {
    margin: 0 0 .25em;
    font-size: 1.60181em;
    color: #d22228;
    font-family: 'Exo 2' sans-serif;
}
.entry__title,
.page__title {
    margin: 0 0 20px;
    font-size: 1.60181em;
    font-family: 'Exo 2' sans-serif;
}
@media screen and (min-width:768px) {

    .header__social .social__list {
        padding: 0 20px;
    }
    .header__social .social__list li {
        padding: 0 5px;
    }
    .header__social a.social__link {
      width: auto;
      height: auto;
      padding: 2.1875em 0;
      border: none;
      font-size: 1em;
      color: #fff;
    }

    @-webkit-keyframes header_animation {
        0% {
            background-image: url('../../images/cd-shelf-artists-1.jpg');
        }
        33% {
            background-image: url('../../images/cd-shelf-artists-2.jpg');
        }
        66% {
            background-image: url('../../images/cd-shelf-artists-3.jpg');
        }
        100% {
            background-image: url('../../images/cd-shelf-artists-3.jpg');
        }
    }
    @keyframes header_animation {
        0% {
            background-image: url('../../images/cd-shelf-artists-1.jpg');
        }
        33% {
            background-image: url('../../images/cd-shelf-artists-2.jpg');
        }
        66% {
            background-image: url('../../images/cd-shelf-artists-3.jpg');
        }
        100% {
            background-image: url('../../images/cd-shelf-artists-3.jpg');
        }
    }

    .header {
        background-image: url("../../images/cd-shelf-artists-1.jpg");
        background-position: center top;
        -webkit-animation-name: header_animation;
        -webkit-animation-duration: 30s;
        -webkit-animation-iteration-count: 5;
        -webkit-animation-direction: normal;
        -webkit-animation-timing-function: steps(1, end);
        animation-name: header_animation;
        animation-duration: 30s;
        animation-iteration-count: 5;
        animation-direction: normal;
        animation-timing-function: steps(1, end);
    }

    .live-stream {
        background: #ffffff url(/wp-content/themes/wben/images/live-player-top-bg.png) no-repeat;
    }
    .live-player__container {
        background: url("../../images/equalizer-gray.gif") no-repeat center bottom;
        transition: all 200ms ease-in-out;
        -moz-transition: all 200ms ease-in-out;
        -webkit-transition: all 200ms ease-in-out;
        overflow:hidden;
    }
    .live-player__container.live-player--active {
        background-image: url("../../images/equalizer-color.gif");
    }
    .live-link__title, .live-link__title a:link, .live-link__title a:visited {
        color: $white;
    }

    .live-link__song:before {
        color: $white;
    }

    .live-link__song--artist {
        color: $white;
    }

    .live-link__song--title {
        color: $white;

        a, a:visited {
            color: $white;
        }
    }

    .live-link__title a:link, .live-link__title a:visited {
        color: $white;
    }

    /*.header__logo {
        margin: 20px 0 0 50px;
    }*/
    .ad__leaderboard.desktop {
        border: 10px solid darkred;
        width: 748px;
        height: 110px;
        margin: 10px auto;
        padding: 0;
        -webkit-border-radius: 10px 10px 10px 10px;
        border-radius: 10px 10px 10px 10px;
        -webkit-box-shadow: 1px 1px 30px 5px #8b0000;
        box-shadow: 1px 1px 30px 2px #8b0000;
    }
    .live-link__song {
        transition: all 200ms ease-in-out;
        -moz-transition: all 200ms ease-in-out;
        -webkit-transition: all 200ms ease-in-out;
    }
    .widget--live-player a:hover {
        color: #fff;
    }
    .widget--live-player a:hover > div {
        background: #b30000;
    }
    .widget--live-player a:hover .live-link__song:before {
        color: #fff;
    }
    .widget--live-player a:hover .live-link__song--title {
        color: #fff;
    }
    .live-links { background-color: darkred }
    .live-link__song { color: #fff }
    .on-air__show,
    .up-next__show {
        font-size: .88889em;
        font-weight: 700;
        text-transform: uppercase;
        font-family: 'Exo 2', sans-serif;
    }
    .live-link__song--artist,
    .live-link__song:before {
        color: #fdfeff;
        font-weight: 700;
    }
    .live-link__song--title p:hover { color: #fff }
    .widget--live-player__title {
        color: #fff;
        font-weight: 800;
        font-family: 'Exo 2', sans-serif;
    }
    .live-link__song--title { color: #eded80 }
    .header__main {
        height: 82px;
        border-top: none;
        background-color: darkred;
        border-bottom: none;
    }
    .live-links--more {
        background-color: #6a1515;
        -webkit-transition: all 200ms ease-in-out;
        -moz-transition: all 200ms ease-in-out;
        transition: all 200ms ease-in-out;
    }
    .live-links--more:before {
        background: -moz-linear-gradient(top, rgba(139,0,0,0) 0%, rgba(106,21,21,1) 100%)!important; /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(139,0,0,0)), color-stop(100%,rgba(106,21,21,1)))!important; /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(139,0,0,0) 0%,rgba(106,21,21,1) 100%)!important; /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(139,0,0,0) 0%,rgba(106,21,21,1) 100%)!important; /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(139,0,0,0) 0%,rgba(106,21,21,1) 100%)!important; /* IE10+ */
        background: linear-gradient(to bottom, rgba(139,0,0,0) 0%,rgba(106,21,21,1) 100%)!important; /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008b0000', endColorstr='#6a1515',GradientType=0 )!important; /* IE6-9 */
    }
    .home__featured .featured__article--content {
        background-color: darkred;
        color: #d0d2d3;
        border-bottom-left-radius: 2em;
        border-bottom-right-radius: 2em;
    }
}
@media screen and (min-width:1024px) {

    .header__nav li {
        font-weight: 800;
        text-transform: uppercase;
    }
    .header__nav li:hover {
        font-weight: 800;
        text-transform: uppercase;
    }
    .header__account ul li a,
    .header__account ul li a:link,
    .header__account ul li a:visited,
    .header__nav ul li a,
    .header__nav ul li a:link,
    .header__nav ul li a:visited {
        padding: 33px .5em 32px;
    }
}
@media screen and (min-width:1175px) {
    .header__nav {
        padding-left: 200px;
    }
    .header__logo {
        background: none;
        width: inherit;
        height: inherit;
        display:block;
        position:absolute;
        top:-89px;
        margin:0;
        padding:0;

    }
    .header__logo img {
        width: 100%;
        height: auto;
        max-height: inherit;
        max-width: inherit;
        z-index: 1;
        display:block;
        -webkit-transform:none;
        transform:none;
    }
}
@media screen and (min-width:1252px) {
    .header__account ul li a,
    .header__account ul li a:link,
    .header__account ul li a:visited,
    .header__nav ul li a,
    .header__nav ul li a:link,
    .header__nav ul li a:visited {
        padding: 33px .5em 32px;
    }
    .main {
        background: #e1e1dd url("../../images/new_bg.jpg") repeat-y center top !important;
    }
}
