.adblock--detected {
	display: none;
	@include transition(background 500ms ease-in-out);
}

.live-stream__container.vast__pre-roll .adblock--detected {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 640px;
	height: 250px;
	padding: 20px;
	background-color: $primary-bg;
	font-size: ms(2);
	color: $primary-text;
	@include transform(translate(-50%, -50%));
}

.adblock--detected__close {
	position: absolute;
	bottom: 20px;
	right: 20px;
	@include btn($btn-bg, $color-text-white, $btn-bg, .5em, 1em, ms(-1));
}

.adblock--detected__close:hover {
	@include btn($btn-hover, $color-text-white, $btn-hover, .5em, 1em, ms(-1));
}

.adblock--detected__close:active {
	@include btn($btn-active, $color-text-white, $btn-active, .5em, 1em, ms(-1));
}