.personality {

}

.personality-attr--name {
	@include position(absolute, 50% null null null);
	@include size(null 60px);
	@include transform(translate(0, -25%));
	display: inline-block;
}

.personality-attr--bio {

}

.personality-attr--img {
	@include size(60px 60px);
	@include margin(null .5em null null);
	display: inline-block;
	background-color: palette(base, primary-border);
}

.personality-attr--link_facebook {

}

.personality-attr--link_twitter {

}

.personality-attr--posts_list {

}

.personality-attr--posts_title {

}

.personality-attr--posts_link {

}