.category-fanvote-of-the-day {
	.lf-app-container {
		.ad__lf-app-sponsorship-container {
			min-width: 220px;
			max-width: 500px;
			margin: auto;
			padding: 10px;
			background-color: #2f3440;

			.ad__lf-app-sponsorship {
				position: relative;
				padding-bottom: 41.7%;
				height: 0;
				overflow: hidden;

				iframe {
					background-color: #2f3440;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}
			}
		}

		.lf-poll {
			border-radius: 0;
			background-color: #2f3440!important;
			font-family: 'Open Sans', sans-serif!important;
		}
	}
}
