/**
 * Theme Name:  WBZ-FM
 * Theme URI:   http://985thesportshub.com
 * Description: Child theme of Greater Media for WBZ-FM
 * Author:      Steve Meyers
 * Author URI:
 * Template:    greatermedia
 * Version:     0.1.1
 * Tags:
 *
 * License:     GPLv2+
 * License URI: http://www.gnu.org/licenses/gpl-2.0.html
 */
