%format-fw {
	& > ul {
		@extend .sub-menu;
		left: 0;
		padding: 1%;
		width: 100%;
	}

	& > ul > li {
		width: 32%; // 100% - 2% - 2% (for margins, below and padding of ul above) / 3 (3 columns)
		float: none;
		display: inline-block;
		vertical-align: top;

		& > a {
			float: left;
			width: 100%;
			line-height: 1.25em;
		}
	}

	& > ul > li:not(:nth-child(3n+1)) {
		border-left: 1px solid rgba(0, 0, 0, .2);
		padding-left: 1%;
		margin-left: 1%;
	}

	& > ul > li:nth-child(3n+1) {
		clear: left;
	}

	.news-site & {

		& > ul > li {
			width: 23.5%; // 100% - 2% - 2% - 2% (for margins, below and padding of ul above) / 4 (4 columns)
			float: none;
			display: inline-block;
			vertical-align: top;

			& > a {
				float: left;
				width: 100%;
				line-height: 1.25em;
			}
		}

		& > ul > li:not(:nth-child(3n+1)) {
			border-left: none;
			padding-left: 0;
			margin-left: 0;
		}


		& > ul > li:not(:nth-child(4n+1)) {
			border-left: 1px solid rgba(0, 0, 0, .2) !important;
			padding-left: 1%;
			margin-left: 1%;
		}

		& > ul > li:nth-child(3n+1) {
			clear: none;
		}

		& > ul > li:nth-child(4n+1) {
			clear: left;
		}

	}

}

.header__nav .format-fw {
	@extend %format-fw;
}