.single-post,
.page {

    & .post-categories {
        list-style-type: none;
        padding-left: 0;

        & li {
            display: inline-block;
            font-size: .875rem;
            font-weight: 600;

            &:after {
                color: var(--brand-primary);
                content: ',';
            }

            &:last-child:after {
                display: none;
            }
        }
    }

    & .description {
    	grid-column: 1;
    	width: 100%;

        @media(--min-medium-viewport) {
            width: auto;
        }

        & p {
            line-height: 1.6;
        }
    }

    & .author-avatar .avatar {
        border-radius: 50%;
        margin-right: 1rem;
    }

    & .post-info {
        margin: 0 auto;
        max-width: 1071px;
        padding: 0 1rem 2.22rem;
    }

    & .profile {
        color: inherit;
        font-size: 1.3rem;
        font-style: italic;
        font-weight: 300;
        line-height: 1.5;
    }

    & .post-meta {
        width: 100%;

        @media(--min-medium-viewport) {
            max-width: 729px;
        }
    }

    & .meta {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 1rem;
        
        @media(--min-medium-viewport) {
            align-items: center;
            flex-direction: row;
        }

        & .author-meta {
            align-items: center;
            display: flex;
            flex-direction: row;
            font-size: 1rem;
        }

        & .author-meta-name {
            color: var(--brand-primary);
            font-weight: 500;
        }

        & .author-meta-date {
            color: var(--global-theme-font-secondary);
            font-weight: 300;
            padding-left: 1.5rem;

            &:before {
                background: var(--global-theme-font-secondary);
                content: '';
                display: none;
                height: 12px;
                margin-right: 1.5rem;
                opacity: 0.7;
                width: 2px;

                @media(--min-medium-viewport) {
                    display: inline-block;
                }
            }
        }

        & .share {
            margin-top: 1rem;

            & button:first-child {
                margin-left: 0;
            }

            @media(--min-medium-viewport) {
                margin-top: 0;
            }
        }
    }
}
