.featured__article--heading,
.featured__content--title {
	text-transform: uppercase;
}

.featured__article:hover .featured__article--heading,
.featured__content--block:hover .featured__content--title,
a:hover .highlights__community--title
{
	color: #d30007;
}

.show__header {
	background-color: #d30007;
}

@include bp(large) {

    .main {
        background-image: none;
        background-position: top center;
        background-repeat: no-repeat;
				background-color: #080729;
    }

}
