.post-thumbnail {
	position: relative;

	&::before {
		content: "";
		display: block;
		padding-top: calc((3 / 4) * 100%);
		width: 100%;
	}

	& a,
	& .placeholder-lazyimage,
	& .lazy-image {
		display: block;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
}
