body {
	color: var(--global-font-primary);
	font-family: var(--global-font-family-primary);
	font-size: 18px;
	font-weight: 300;
	line-height: 1.4;
	margin: 0;
	position: relative;
}

body,
button,
input,
select,
textarea {
	line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--global-font-family-primary);
	line-height: 1.1;
	margin-top: 0;
}

h1,
h2,
h3 {
	font-weight: 700;

	& > a {
		font-weight: 700;
	}
}

h4,
h5,
h6 {
	font-weight: 600;
}


h1 {
	font-size: 2.78rem;
	line-height: 1.28;
}

h2 {
	font-size: 1.8889rem;
	line-height: 1.353;
}

h3 {
	font-size: 1.4444rem;
	line-height: 1.308;
}

h4 {
	font-size: 1.2222222rem;
	line-height: 1.3636;
}

h5 {
	font-size: 1.11111rem;
	line-height: 1.3;
}

h6 {
	font-size: 1rem;
	line-height: 1.33333;
	margin-bottom: .278rem;
}

a {
	color: var(--brand-primary);
	font-weight: 500;
	text-decoration: none;

	&:hover,
	&:focus,
	&:active {
		text-decoration: underline;
	}
}

p {
	font-weight: 100;
	margin: 0 0 2em 0;
}

b,
strong {
	font-weight: bold;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eeeeee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 1.25em;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font: 1.25em Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
	border-bottom: 1px dotted #666666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

small {
	font-size: 75%;
}

big {
	font-size: 125%;
}

img {
	height: auto;
	max-width: 100%;
}
