.preroll-wrapper {
	background-color: rgba(0, 0, 0, .75);
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;

	&.-active {
		display: block;
	}
}

.gampreroll-wrapper {
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;

	&.-active {
		 display: block;
	 }
}

.gampreroll-shade {
	background-color: rgba(0, 0, 0, .75);
}

.preroll-container {
	height: 0;
	max-width: 100%;
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.preroll-player {
	background-color: var(--global-black);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	@media (--min-medium-viewport) {
		min-width: 640px;
	}

	@media (--max-medium-viewport) {
		width: 92%;
	}
}

.vimeo-preroll-player {
	background-color: var(--global-black);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	@media (--min-medium-viewport) {
		width: 100%;
	}

	@media (--max-medium-viewport) {
		width: 100%;
	}
}

.gam-preroll-player {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0%);

	@media (--min-medium-viewport) {
		min-width: 640px;
		width: 46%;
	}

	@media (--max-medium-viewport) {
		width: 92%;
	}
}

.preroll-notification {
	background-color: var(--global-black);
	color: var(--global-white);
	padding: .15rem 0;
	text-align: center;
}

.controls-sponsor {
	min-width: 150px;
}

.content-wrap {
	& .placeholder-dfp {
		margin-bottom: 1.775rem;
		padding-bottom: 1.775rem;
	}
}

.sponsor-mobile {
	background-color: var(--global-theme-secondary);
	box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.2),
				inset 0px 2px 0px rgba(255, 255, 255, 0.25);
	display: flex;
	justify-content: center;
	padding: 0.5rem 0.5rem 0.875rem 0.5rem;
}

.sponsor-desktop {
	background-color: var(--global-theme-secondary);
	box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.2),
	inset 0px 2px 0px rgba(255, 255, 255, 0.25);
	display: flex;
	justify-content: right;
	padding: 0.5rem 0.5rem 0.875rem 0.5rem;
}

