.controls {
	background-color: var(--global-theme-secondary);
	box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.2), 
				inset 0px 2px 0px rgba(255, 255, 255, 0.25);
	display: flex;
	min-height: 84px;
	position: relative;

	& .control-border {
		border-left: 1px solid #E5E5E5;
	}

	& .control-section {
		align-items: center;
		display: flex;

		@media(--min-medium-viewport) {
			width: 100%;
		}

		&:first-child {
			padding-left: 1rem;
			overflow: hidden;
			@media(--max-medium-viewport) {
				order: 2;
				width: 100%;
			}
		}

		&:nth-child(2) {
			@media(--max-medium-viewport) {
				padding-left: 1rem;
				order: 1;
			}
		}

		&:last-child {
			@media(--max-medium-viewport) {
				max-width: 50px;
				order: 3;
				width: 100%;
			}
		}

		& button:not(.play-btn, .pause-btn, .resume-btn, .loading-btn) {
			background: transparent;
			border: 0;
			cursor: pointer;
			height: 100%;
			padding: 0;
			width: 100%;
		}

		&.-centered {
			@media(--min-medium-viewport) {
				justify-content: center;
			}
		}
	}

	& .controls-info {
		color: var(--global-theme-font-primary);
		font-size: 1rem;
		width: 100%;
		
		& strong {
			font-weight: 600;
			margin-right: .5rem;
		}

		& span {
			border: 1px solid var(--brand-primary);
			color: var(--brand-primary);
			font-size: .738rem;
			font-weight: 500;
			letter-spacing: 0.01em;
			line-height: 1.2;
			padding: .1rem .25rem;
			text-transform: uppercase;
		}

		& p {
			align-items: center;
			display: flex;
			margin-bottom: 0;
			white-space: nowrap;
		}
	}

	& .controls-contact {
		height: 100%;
		max-width: 89px;
		position: relative;
		width: 100%;
	}

	& .controls-sponsor {
		display: none;

		@media(--min-medium-viewport) {
			display: block !important; /* Overrding ad */
		}
	}

	& .controls-recent {

		& button {
			display: none;

			@media(--min-medium-viewport) {
				display: flex;
			}

			& svg rect {
				fill: var(--global-theme-font-primary);
				transition: fill 300ms ease-in-out;
			}

			&:hover {
				& svg rect {
					fill: var(--brand-primary)
				}
			}
		}

		& .controls-recent-songs {
			display: none;
		}
	}

	& .controls-volume {
		display: flex;
		height: 22px;
		position: relative;

		& button {
			display: none;

			@media(--min-medium-viewport) {
				display: block;
			}
			
			& svg path[fill] {
				fill: var(--global-theme-font-primary);
			}

			& svg path[stroke] {
				stroke: var(--global-theme-font-primary);
			}

		}

		& button:hover {
			& svg path {
				transition: fill 300ms ease-in-out,
							stroke 300ms ease-in-out;
			}

			& svg path[fill] {
				fill: var(--brand-primary);
			}
			& svg path[stroke] {
				stroke: var(--brand-primary);
			}
		}

		& button:focus {
			outline: 0;
		}
		
		& .controls-volume-slider {
			left: 3rem;
			opacity: 0;
			position: absolute;
			transition: visibility 250ms ease-in-out,
						opacity 250ms ease-in-out;
			top: -0.5rem;
			visibility: hidden;
			width: 82px;

			&.-volume-visible {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	& .controls-station {
		display: none;
		height: 100%;
		max-width: 215px;
		position: relative;
		width: 100%;

		@media(--min-medium-viewport) {
			display: block;
		}

		& button {
			background: transparent;
			color: var(--global-theme-font-primary);
			font-size: 1rem;
			font-weight: 600;
			transition: color 300ms ease-in-out;
			text-transform: uppercase;

			&:hover {
				color: var(--global-black);
			}

			& svg {
				margin-left: .5rem;
			}

			& .controls-station-title {
				
				&:after {
					content: '/';
					color: var(--brand-tertiary);
					display: inline;
					font-weight: 600;
					padding: 0 .5rem;
				}
			}
		}
	}

}


.status {
	& button {
		background: transparent;
		border: 2px solid var(--brand-primary);
		border-radius: 50%;
		padding: 0;
		
		@media(--min-medium-viewport) {
			margin: 0 2rem;
		}
	}

	& svg {
		fill: var(--brand-primary);
		width: 22px;
		height: 31px;
	}

	& .play-btn,
	& .pause-btn,
	& .resume-btn,
	& .loading-btn {
		display: none;
	}

	& .loading-btn {
		& .loading::after {
			border-left-color: var(--brand-tertiary);
			border-bottom-color: var(--brand-tertiary);
		}
	}
}

.LIVE_PAUSE .resume-btn,
.LIVE_PLAYING .pause-btn,
.LIVE_STOP .play-btn,
.LIVE_FAILED .play-btn,
.LIVE_BUFFERING .loading-btn,
.LIVE_CONNECTING .loading-btn,
.LIVE_RECONNECTING .loading-btn,
.STREAM_GEO_BLOCKED .play-btn,
.STATION_NOT_FOUND .play-btn {
	align-items: center;
	background-color: var(--brand-primary);
	cursor: pointer;
	display: flex;
	height: 64px;
	justify-content: center;
	width: 64px;

	& svg {
		fill: var(--brand-tertiary);
		max-height: 31px;
		transform: translateX(10%);
	}
}
