.status {
	& button {
		background: transparent;
		border: 2px solid var(--brand-primary);
		border-radius: 50%;
		padding: 0;
	}

	& svg {
		fill: var(--brand-primary);
		width: 22px;
		height: 31px;
	}
}