.live-player {
	bottom: 0;
	left: 0;
	right: 0;
	position: fixed;
	z-index: 10;
}

.cue-point-title + .cue-point-artist:before {
	content: "-";
	margin: 0 10px;
}

.wp-audio-shortcode,
iframe[src^="https://omny.fm"] {
	display: none;
}

.jacapps {
	& .wp-audio-shortcode,
	& iframe[src^="https://omny.fm"] {
		display: block;
	}
}

.offline-title {
	color: var(--global-theme-font-primary);
	font-weight: 600;
}

.live-player-modal {
	background: var(--global-theme-secondary);
	bottom: 18%;
	box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.2), 
				inset 0px 2px 0px rgba(255, 255, 255, 0.25);
	padding: 2rem;
	position: fixed;
	right: 1%;
	width: 299px;
	z-index: 100;

	& p {
		margin-bottom: 1rem;
	}

	& a {
		color: var(--global-theme-font-primary);
		font-weight: 600;
	}

	& img {
		max-width: 50%;
		height: auto;
	}

	& address {
		font-style: normal;
		margin-bottom: 0;
	}
}