.live-player {
	bottom: 0;
	left: 0;
	right: 0;
	position: fixed;
	z-index: 10;
}

.cue-point-title + .cue-point-artist:before {
	content: "-";
	margin: 0 10px;
}

.wp-audio-shortcode,
iframe[src^="https://omny.fm"] {
	display: none;
}

.jacapps {
	& .wp-audio-shortcode,
	& iframe[src^="https://omny.fm"] {
		display: block;
	}
}

.offline-title {
	color: var(--global-theme-font-primary);
	font-weight: 600;
}

.live-player-modal {
	position: absolute;
	right: 0;
	width: auto;
	max-width: 100%;
}