#live-player {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: #efefef;
	border-top: 1px solid #ddd;
	padding: 20px;
	max-height: 74px;
	z-index: 50;
}

.cue-point-title {

}

.cue-point-artist {

}

.cue-point-title + .cue-point-artist:before {
	content: "-";
	margin: 0 10px;
}

.controls {
	display: flex;
	justify-content: space-around;
}

.wp-audio-shortcode,
iframe[src^="https://omny.fm"] {
	display: none;
}

.jacapps {
	& .wp-audio-shortcode,
	& iframe[src^="https://omny.fm"] {
		display: block;
	}
}

.offline-title {
	color: var(--global-theme-font-primary);
	font-weight: 600;
}
