.new-test-range-input {
	background: transparent;
	height: 7px;
	margin-top: -6px;

	@media all and (-ms-high-contrast:none) {
		display: block;
	}

	/* Safari, Chrome */
	& input[type=range]{
		appearance: none;
		background: transparent;
		cursor: pointer;
		height: 16px;
		width: 82px;
	}

	& input[type=range]::-webkit-slider-runnable-track {
		width: 82px;
		height: 2px;
		background: #ddd;
		border: none;
		border-radius: 3px;
	}

	& input[type=range]::-webkit-slider-thumb {
		-webkit-appearance: none;
		border: none;
		height: 10px;
		width: 10px;
		border-radius: 50%;
		background: var(--brand-button-color);
		margin-top: -4px;
	}

	& input[type=range]:focus {
		outline: none;
	}

	& input[type=range]:focus::-webkit-slider-runnable-track {
		background: #ddd;
	}

	/* FireFox */
	& input[type=range]::-moz-range-track {
		width: 82px;
		height: 2px;
		border: none;
		border-radius: 3px;
	}

	& input[type=range]::-moz-range-thumb {
		border: none;
		height: 10px;
		width: 10px;
		border-radius: 50%;
		background: var(--brand-button-color);
	}

	/*hide the outline behind the border*/
	& input[type=range]:-moz-focusring{
		outline: 1px solid white;
		outline-offset: -1px;
	}

	& input[type=range]:focus::-moz-range-track {
		background: #ccc;
	}

	/* IE */
	& input[type=range]::-ms-track {
		width: 82px;
		height: 2px;

		/*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
		background: transparent;

		/*leave room for the larger thumb to overflow with a transparent border */
		border-color: transparent;
		border-width: 6px 0;

		/*remove default tick marks*/
		color: transparent;
	}

	& input[type=range]::-ms-fill-lower {
		background: #777;
		border-radius: 10px;
	}

	& input[type=range]::-ms-fill-upper {
		background: #ddd;
		border-radius: 10px;
	}

	& input[type=range]::-ms-thumb {
		border: none;
		height: 10px;
		width: 10px;
		border-radius: 50%;
		background: var(--brand-button-color);
	}

	& input[type=range]:focus::-ms-fill-lower {
		background: var(--brand-button-color);
	}

	& input[type=range]:focus::-ms-fill-upper {
		background: #ccc;
	}

	& + .pre-bar {
		background: var(--brand-button-color);
	}
}
