.primary-nav {
	margin: 0 -1.1rem;

	& ul {
		display: inline;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	& a,
	& button:first-child {
		color: var(--global-theme-font-primary);
		display: block;
		font-size: .77778rem;
		padding: 1rem 1.1rem;
		text-decoration: none;
		background: none;
		border: none;
		width: 100%;
		text-align: left;
		outline: none;
		cursor: pointer;

		&:hover {
			background-color: rgba(255, 255, 255, .05);
		}
	}

	& .menu-item-has-children {
		position: relative;

		& .sub-menu-activator {
			display: block;
			padding: 1.2rem;
			position: absolute;
			right: 0;
			top: 0;
			background: none;
			border: none;
			outline: none;
			cursor: pointer;

			&:hover {
				background-color: rgba(255, 255, 255, .05);
			}

			&:before {
				content: " ";
				display: block;
				border: none;
				border-bottom: 2px solid var(--brand-secondary);
				border-right: 2px solid var(--brand-secondary);
				width: 8px;
				height: 8px;
				transform: rotate(45deg);
				transform-origin: 50%;
				transition: transform 300ms ease;
			}

			&.is-active:before {
				transform: rotate(-135deg);
			}
		}
	}

	& .sub-menu {
		display: none;

		&.is-active {
			display: block;
		}

		& a {
			color: var(--global-theme-font-secondary);
			font-size: .66667rem;
		}

		& .current-menu-item {
			&:before {
				max-height: 23px;
			}
		}
	}

	& .current-menu-item {
		position: relative;

		&:before {
			background-color: var(--brand-primary);
			content: '';
			width: 3px;
			height: 100%;
			max-height: 25px;
			left: 0;
			top: 0;
			position: absolute;
			transform: translateY(50%);
		}

		& > a {
			color: var(--brand-primary);
		}
	}
}