.search-form {
	margin: 2rem 1.1rem 1.6667rem;
	position: relative;

	& input[type="search"] {
		background-color: transparent;
		border: none;
		border-bottom: 1px solid var(--global-theme-font-tertiary);
		color: var(--global-theme-font-tertiary);
		font-size: .7778rem;
		font-weight: 500;
		padding: .6667rem 0 .6667rem 1.2778rem;
		width: 100%;
	}

	& button[type="submit"] {
		background-color: transparent;
		border: none;
		color: var(--brand-secondary);
		height: 14px;
		padding: 0;
		position: absolute;
		top: 0;
		transform: translateY(50%);
		width: 14px;
	}
}
