.user-nav {
	background-color: var(--global-theme-secondary);
	border-top: 1px solid var(--global-mercury);
	display: flex;
	justify-content: space-between;
	padding: 1.1rem 0;
	z-index: 10;

	& > div {
		display: flex;
		flex-direction: column;
	}

	@media(--min-large-viewport) {
		bottom: 74px;
		margin-left: -1.1rem;
		margin-right: -1.1rem;
		max-width: 190px;
		padding: 1.1rem;
		position: fixed;
		width: 100%
	}

	& .user-nav-image {
		align-self: center;

		& img {
			border-radius: 50%;
			max-width: 30px;
		}
	}

	& .user-nav-info {
		padding-right: 1rem;
		text-align: left;

		& span {
			color: var(--global-theme-font-primary);
			font-size: .875rem;
			font-weight: 600;
		}
	}

	& .user-nav-button {
		background: none;
		border: 0;
		box-shadow: none;
		cursor: pointer;
		color: var(--global-theme-font-primary);
		font-size: .687rem;
		padding: 0;
		text-align: left;

		&:hover,
		&:focus {
			color: var(--brand-primary);
			outline: 0;
		}

		&.-with-icon {
			display: inline-flex;
			font-size: .875rem;
			margin-bottom: 0.8rem;

			& svg {
				display: inline-block;
				fill: var(--global-theme-font-primary);
				height: 18px;
				margin-right: .5rem;
				width: 16px;
			}
		}
	}
}

/* Show/hide functionality when the user-nav is disabled */
.hidden-user-nav {
	& .user-nav {
		border-top: none;
		visibility: hidden;
	}

	& .placeholder-discovery {
		display: none;
	}

	& .menu-item-discovery {
		display: none;
	}
}
