.user-nav {
    background-color: var(--global-theme-secondary);
    border-top: 1px solid var(--global-theme-font-tertiary);
    justify-content: space-between;
    padding: 1.1rem 0;
    z-index: 10;

    & > div {
        display: flex;
        flex-direction: column;
    }

    @media(--min-large-viewport) {
        bottom: 74px;
        margin-left: -1.1rem;
        margin-right: -1.1rem;
        max-width: 190px;
        padding: 1.1rem;
        position: fixed;
        width: 100%
    }

    & .user-nav-image {
        align-self: center;

        & img {
            border-radius: 50%;
            height: 30px;
            width: 30px;
        }
    }

    & .user-nav-info {
        & span {
            color: var(--global-theme-font-primary);
            font-size: .875rem;
            font-weight: 600;
        }
    }

    & .user-nav-button {
        background: none;
        border: 0;
        box-shadow: none;
        cursor: pointer;
        color: var(--global-theme-font-tertiary);
        font-size: .687rem;
        padding: 0;

        &:hover,
        &:focus {
            color: var(--global-theme-font-primary);
            outline: 0;
        }

        &.-with-icon {
            display: inline-flex;
            font-size: 1rem;
            margin-bottom: 0.8rem;

            & svg {
                display: inline-block;
                fill: var(--global-theme-font-primary);
                height: 18px;
                margin-right: .5rem;
                width: 16px;
            }
        }
    }
}