.mceItemEmbedly {
	display: block;
}

.mceItemEmbedly.alignleft {
	margin-right: 2em;
}

.mceItemEmbedly.alignright {
	margin-left: 2em;
}

.mceItemEmbedly.aligncenter {
	margin-left: 2em;
	margin-right: 2em;
}