.gallery-listicle,
.gallery-listicle-item {
	list-style: none;
	margin: 0;
	padding: 0;
}

.gallery-listicle-item {
	border-bottom: 1px solid var(--global-silver);
	margin-bottom: 2rem;
	padding-bottom: 2rem;

	& .placeholder-dfp {
		margin-top: 1rem;
	}

	& .placeholder-lazyimage {
		position: relative;
		background-color: var(--global-mercury);

		&::before {
			content: "";
			display: block;
			padding-top: calc((3 / 4) * 100%);
			width: 100%;
		}
	}

	& .lazy-image {
		background-size: contain;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}

	& h4,
	& p {
		margin: 0;
	}

	& h3 {
		margin: .5rem 0;
	}

	& .gallery-meta {
		@media(--min-medium-viewport) {
			display: flex;
			justify-content: space-between;
		}
	}

	& .gallery-share {
		margin-top: 1rem;

		& button:first-child {
			margin-left: 0;
		}
	}
}
