/**
 * Theme Name:  105.1 The Bounce
 * Theme URI:   http://greatermedia.com
 * Description: Child theme of Greater Media for 105.1 The Bounce
 * Author:      Steve Meyers
 * Author URI:  
 * Template:    greatermedia
 * Version:     0.1.0
 * Tags:
 *
 * License:     GPLv2+
 * License URI: http://www.gnu.org/licenses/gpl-2.0.html
 */