.contest-attr--rules-toggler:hover,
.contest-attr--rules-toggler:hover:focus {
	background-color: $btn-hover !important;
	border-color: $btn-hover !important;
}

.contest__prize--title {
	color: $color-red;
}