.audio-status {
	display: none;
	flex: 0 0 auto;
	margin-right: 10px;

	@include bp(small) {
		margin-right: 15px;
	}

	&.-show {
		display: block;
	}

	.audio-status__btn {
		@include btn(transparent, $liveplayer-color-secondary, $liveplayer-color-secondary, 6px, 12px, ms(-2));
		display: block;

		&:hover,
		&:focus {
			background-color: $liveplayer-color-secondary;
			color: $color-text-white;
		}
	}
}