.main,
%main {
    background-color: $primary-bg;
}

.header {
    border-bottom: 1px solid #58595b;
}

.mobile-nav__list a {
	color: #fff;
}

.mobile-nav__toggle--span, .mobile-nav__toggle--span:before, .mobile-nav__toggle--span:after {
	background: #fff;
}

.home__featured {
    @include bp(medium) {
        background-position: left top;
        background-color: #561015;
        // background-size: cover; // Leave this out unless we want big crosshatches on WMGK. If we do want that, be sure to also add this to the .show__header
    }
}

.live-links {
    border-top: 0;
}

.single-gmr_gallery .gallery__paging--prev,
.single-gmr_gallery .gallery__paging--next {
    color: $light-gray;
    &:hover {
        color: $cardinal;
    }
}

.live-player__stream {
    border: 1px solid lighten($color-gray-medium-dark, 50%);
    color: lighten($color-gray-medium-dark, 50%);
    @include border-radius(1em);
    background-color: $liveplayer-bg;
    li {
        height: auto;
    }
    .live-player__stream--available {
        display: none;
    }
    .live-player__stream--current.open .live-player__stream--available {
        color: $dark-gray;
        border-top: 1px solid darken($color-gray-light, 10%);
        &:after {
            background: transparent;
        }
        .live-player__stream--item,
        .live-player__stream--desc {
            color: $dark-gray;
        }
        .live-player__stream--item {
            background-color: $liveplayer-bg;
            &:hover {
                background-color: $light-gray;
            }
        }
        li:last-child {
            @include border-bottom-radius(1em);
        }
    }
}

.live-player__container {
    border-bottom: 1px solid white;
}

.now-playing__artist {
    color: $color-gray-medium-dark;
}

.live-link__title,
.live-link__title a:link,
.live-link__title a:visited {
    color: $color-gray-medium;
}

.live-link__song:before {
    color: $medium-dark-gray;
}

.live-link__song--artist {
    color: $medium-dark-gray;
}

.live-link__song--title {
    color: $dark-gray;
    a,
    a:visited {
        color: $darker-gray;
    }
}

.live-link__title a:link,
.live-link__title a:visited {
    color: $color-gray-medium;
}

.live-link__title a:hover,
.live-link__title a:focus,
.live-link__title a:active {
    color: $primary-link-hover;
}

.header__logo {
    @include bp(medium) {
        top: -7px;
    }
}

.home__highlights {
    border-bottom-color: $primary-border;
}

.highlights__events--more-btn {
    &:hover {
        color: $yellow !important;
        border-color: $yellow;
    }
}

.highlights__event--item {
    background-color: #8c8c8c;
    color: $white;
}

.highlights__event--title,
.highlights__event--date {
    color: $white;
    a:hover & {
        color: $yellow;
    }
}

.highlights__heading {
    color: $highlights-heading;
}

.type-contest .entry__title--tag {
    background-color: $light-gray;
    border-color: $light-gray;
}

.audio__progress-bar {
    background-color: $gray;
}

.footer {
    background-color: $primary-bg;
}


/*//////////
// Detroit's overrides
//////////


#header.header {
    background-color: #000000!important;
}

.home__featured {
    background-image: url(http://beta.wrif.com/wp-content/uploads/sites/24/2015/06/featurebgmetal.jpg)!important;
    background-color: #676767!important;
    background-size: 100%!important;
}

#live-player {
    background-color: #111111!important;
    background-repeat: no-repeat!important;
    background-image: url(http://beta.wrif.com/wp-content/uploads/sites/24/2015/06/playerbg15.gif)!important;
}

.live-stream__login {
    margin-top: -10px!important;
    margin-bottom: 10px!important;
}

.header {
    background-image: none!important;
}

.header__main {
    text-transform: uppercase!important;
    border-top: solid 1px #444;
    border-bottom: 0;
    background-image: url(../../images/mastbg.jpg);
    background-position: center top;
}

#site-wrap {
    background-color: #000000!important;
}

.live-stream {
    background-color: #000000!important;
}

#header.header {
    background-color: transparent!important;
    background-image: none!important;
}

main.main {
    background-color: transparent!important;
    background-image: none!important;
}

#site-wrap.site-wrap {
    background-color: #000000!important;
    background-repeat: no-repeat;
    background-image: url(../../images/wrifbg1.jpg);
    background-position: center top!important;
}

#page-wrap.page-wrap {
    background-color: transparent!important;
    background-image: none!important;
}

.home__featured {
    background-color: #DDDDDD!important;
}

.featured__content--block,
.featured__article--content {
    background-color: #000!important;
}

.live-stream {
    background-color: #000000!important;
}

.live-player {
    background-color: #111111!important;
}

.live-player__stream--name {
    display: none !important
}

.live-links {
    background-color: #111!important;
    background-image: none!important;
}

.live-links--more {
    background-color: #000!important;
    background-image: none!important;
}

footer.footer {
    background-color: #000000!important;
}

.featured__content--block {
    height: 100%
}

.home__featured .featured__content--image {
    padding-top: 66%;
    width: 100%
}

.home_featured .featured_content-meta {
    min-height: 6.8em
}

@media screen and (min-width: 1400px) {
    .header__logo {
        background-size: cover;
        left: 0;
        width: 290px;
        max-width: 290px;
        top:-10px;
    }

    .header__logo--img
    {
        display:block;
        top:-70px !important;
    }

    .header__logo img
    {
        width: 100%;
        height: auto;
        max-height: inherit;
        max-width: inherit;
        z-index: 1;
        display: block;
        transform: none;
    }
}

/* Livefyre Overrides For Sidebar

.live-links {
    border-top: 0;
    margin: 0!important;
    width: 100%;

    .widget--live-player__title {
        display: none;
    }

    .widget_gmr_blogroll_widget {
        display: none;
    }
}

.live-links--more {
    z-index:1000;
}

.live-links--more.show-more--muted {
    display: block;
}

.streamhub-wall-component {
    article {
        &.content-default .content-body {
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            line-height: 20px;
        }
    }
}

#wrif-social-stream {
    overflow: hidden;
    border-top: 1px solid #eee;

    article {
        border-width: 0 0 1px 0;
        margin: 0;
        padding: 20px 0;

        &.content .content-header .content-header-inner {
            padding-top: 0;
        }

        &.content-instagram .content-header .content-header-inner {
            padding-top: 20px;
        }
    }

    .hub-list-more {
        display: none;
    }
}

#live-player__sidebar .live-links--more:before {
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #000000 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0), color-stop(100%, #000000)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #000000 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #000000 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #000000 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #000000 100%);
}
*/
/* Overrides March 2017
*/

/* body content */

.container {
  background-color: transparent;
}
.main,
#page-wrap.page-wrap {
  background-color: transparent;
}

.main
{background-color: transparent;}

#site-wrap.site-wrap {
  background-size: 100%;
  background-color: #000;
  background-image: url('//files.greatermedia.com/uploads/sites/24/2017/03/wrifwallpapertexture-1.jpg');
  background-repeat: repeat-x;
background-attachment: fixed!important;
}
  /* header*/


 .header__main.headroom

{background-size: cover; background-image: url('//files.greatermedia.com/uploads/sites/24/2017/03/stickermast55.jpg');background-color: #4c1d68!important;}
 .header__main a, .header__main a:visited
{color: #ffffff!important;}
.content
{background-color: #fff!important;}

.content{font-family: Arial,Helvetica Neue,Helvetica,sans-serif;}
h1,h2,h3,h4,h5,h6{font-family: oswald;}
a.entry2__footer--read-more{font-family: oswald;text-transform:uppercase;}
.main > .container
{background-color: #ffffff!important;}



.header__main a, .header__main a:visited
{color: #ffffff!important;}

.header__search ,   .header__search--btn::before
{
color: #ffffff;
}

#header__nav{background-color: #ffffff!important;}

.header__main {
  background-color: #000;
  font-family: oswald;
  text-transform: uppercase;
  border-bottom: solid 3px #333333;
}
.header__nav .format-fi >   ul, .header__nav .format-fw > ul, .header__nav .format-sp > ul, .header__nav .sub-menu, .ui-menu
{background-color: #ffffff!important;}

.header__main ul li a:active, .header__main ul li:hover a
{
background-color: #ffffff;
color: #333333!important;
}
.header__main ul li a:hover
{
background-color: #cccccc!important;;
color: #333333!important;
}
#header__nav{background-color: #ffffff!important;}

.header__main button, .header__main input, .header__main optgroup, .header__main select, .header__main textarea
{color: #ffffff!important;}

.header__search--span a
{color: #fff!important;}

.header{border-bottom: solid 0px #333333;}

.header__nav > ul li a:hover
{background-color: #ccc!important;}

.show__header
{background-color: #333333;max-width: 620px!important;}

.show__mini-nav .show__header .show__nav .show__title a:hover
{
background-color: transparent;
color: #aa1c20;}

.show__nav li a:hover
{
background-color: transparent;
color: #aa1c20;
}

.show__meta .social-share-link:active, .show__meta .social-share-link:hover
{
color: #333333;}

.format-sp  .meta-text
{
color: #d22228;
}

    /* audio player */

 .audio-interface{color: #ffffff!important;background-color: #333333!important;
  }

.audio-volume .audio-volume__btn:before, .audio-volume .audio-volume__mute:before{color: #ffffff!important;}
input[type=range]::-webkit-slider-thumb {background: #dddddd!important;}
input[type=range]::-moz-range-thumb {background: #dddddd!important;}
input[type=range]::-ms-thumb {background: #dddddd!important;}
.audio-playing .audio-playing__track
{color: #ffffff!important;}
 .audio-interface button, .audio-interface input, .audio-interface optgroup, .audio-interface select, .audio-interface textarea
{color: #ffffff!important;}

.audio-controls__loading, .audio-controls__pause, .audio-controls__play, .audio-controls__resume
{  background-color: #cc0000!important;
}

.audio-controls__loading:hover,  .audio-controls__pause:hover, .audio-controls__play:hover,  .audio-controls__resume:hover
{
background-color: #aa1c20!important;
  border: #aa1c20!important;

color: #ffffff;
}
.audio-stream .audio-stream__available
{background-color: #111111!important; color: #ffffff!important;}

.audio-stream .audio-stream__title  {background-color: transparent!important;border-color: #ffffff!important;}

.audio-stream .audio-stream__current
{background-color: #333333!important;border-top-color: #333333!important;border-bottom-color:#333333!important;border-left-color: #333333!important;border-right-color:#333333!important;}

.audio-stream .audio-stream__link:hover
{background-color: #D22228!important;}


.audio-volume .audio-volume__btn, .audio-volume button, .audio-volume input, .audio-volume optgroup, .audio-volume select, .audio-volume textarea
{color: #ffffff!important;}

.audio-expand
{
background-color: #cc0000!important;}


.audio-stream .audio-stream__title
{color: #fff!important;}


  /* home features */



.home__featured {
  color: #fff!important;
  background-color: #ffffff!important;;
  background-image:none!important;
}
.featured__article--heading
{color: #ffffff!important;
}
.featured__article--heading a:hover
{color: #cccccc!important;
}
 .featured__content--title
{color: #fff!important;}
 .featured__content--title a:hover
{color: #cccccc!important;}


.highlights__events--more-btn:focus, .highlights__events--more-btn:hover
{
background-color: transparent;
border-top-color: #333333;
border-bottom-color: #333333;
border-left-color: #333333;
border-right-color: #333333;
color:  #aa1c20!important;
}



a:hover .highlights__community--title
{
color: #cccccc;
}

a:hover .highlights__event--date, a:hover .highlights__event--title
{
color: #cccccc;
}

.featured__article:hover
{
color: #cccccc!important;
}
#wrif-social-stream
{
border: solid 1px #e5e5e5;}

.header__search--form .header__search--input {
	color: #000 !important;
}
