body,
html {
	&.locked {
		position: sticky;
		overflow: hidden;
		-webkit-overflow-scrolling: auto;
		height: 100%;
		max-width: 100%;
	}

	&.is-safari.locked {
		overflow: initial;
	}
}

.container {
	padding-bottom: 0; /* account for height of the bottom adhesion ad - now set in of DFP */

	@media(--min-large-viewport) {
		/* padding-left: 190px; */
	}
}

#main-container-div {
	padding-bottom: 90px;
	@media(--max-medium-viewport) {
		padding-bottom: 50px;
	}
}

main {
	background-color: white;
	position: relative;
	z-index: 2;
}

.content {
	padding-bottom: 4.611rem;
	width: 100%;
}

#inner-content {
	display: flex;
	flex-direction: column;
	padding-top: 1rem;
}

.content-wrap {
	margin: 0 auto;
	max-width: 1071px;
	padding: 0 1.3rem 1rem;
	width: 100%;

	& .archive-tiles:last-child {
		padding-bottom: 0;
	}

	@media(--min-medium-viewport) {
		padding: 0 1.3rem 1.5rem;
	}
}

#footer {
	position: relative;
	z-index: 1;
}
