.main,
%main {
    background-color: $primary-bg;
}

.header {
    border-bottom: 1px solid #58595b;
}

.home__featured {
    @include bp(medium) {
        background-position: left top;
        background-color: #561015;
        // background-size: cover; // Leave this out unless we want big crosshatches on WMGK. If we do want that, be sure to also add this to the .show__header
    }
}

.live-links {
    border-top: 0;
}

.single-gmr_gallery .gallery__paging--prev,
.single-gmr_gallery .gallery__paging--next {
    color: $light-gray;
    &:hover {
        color: $cardinal;
    }
}

.live-player__stream {
    border: 1px solid lighten($color-gray-medium-dark, 50%);
    color: lighten($color-gray-medium-dark, 50%);
    @include border-radius(1em);
    background-color: $liveplayer-bg;
    li {
        height: auto;
    }
    .live-player__stream--available {
        display: none;
    }
    .live-player__stream--current.open .live-player__stream--available {
        color: $dark-gray;
        border-top: 1px solid darken($color-gray-light, 10%);
        &:after {
            background: transparent;
        }
        .live-player__stream--item,
        .live-player__stream--desc {
            color: $dark-gray;
        }
        .live-player__stream--item {
            background-color: $liveplayer-bg;
            &:hover {
                background-color: $light-gray;
            }
        }
        li:last-child {
            @include border-bottom-radius(1em);
        }
    }
}

.live-player__container {
    border-bottom: 1px solid white;
}

.now-playing__artist {
    color: $color-gray-medium-dark;
}

.live-link__title,
.live-link__title a:link,
.live-link__title a:visited {
    color: $color-gray-medium;
}

.live-link__song:before {
    color: $medium-dark-gray;
}

.live-link__song--artist {
    color: $medium-dark-gray;
}

.live-link__song--title {
    color: $dark-gray;
    a,
    a:visited {
        color: $darker-gray;
    }
}

.live-link__title a:link,
.live-link__title a:visited {
    color: $color-gray-medium;
}

.live-link__title a:hover,
.live-link__title a:focus,
.live-link__title a:active {
    color: $primary-link-hover;
}

.header__logo {
    @include bp(medium) {
        top: -7px;
    }
}

.home__highlights {
    border-bottom-color: $primary-border;
    padding: 3em 3.236em;
}

.highlights__events--more-btn {
    &:hover {
        color: $yellow !important;
        border-color: $yellow;
    }
}

.highlights__event--item {
    background-color: #8c8c8c;
    color: $white;
}

.highlights__event--title,
.highlights__event--date {
    color: $white;
    a:hover & {
        color: $yellow;
    }
}

.highlights__heading {
    color: $highlights-heading;
}

.type-contest .entry__title--tag {
    background-color: $light-gray;
    border-color: $light-gray;
}

.audio__progress-bar {
    background-color: $gray;
}

.footer {
    background-color: $primary-bg;
}


/*//////////
// Chris's overrides
//////////
*/

#site-wrap.site-wrap {
    background-size: 100%;
    background-color: #000;
    background-image: url('../../images/starbg.jpg');
    background-repeat: repeat-x;
}

.header {
    border-bottom: 1px solid #D22228;
}

.header{
    background-image: url('../../images/starmasttop.jpg')!important;
    background-size: cover!important;
    background-position: bottom center!important;
}

.header__main {
    background-color: #000;
    font-family: oswald;
    text-transform: uppercase;
    border-bottom: solid 4px #D22228;
}

.home__featured {
    background-color: transparent;
    background-image: url('../../images/black60bg.png');
}

.featured__content--block,
.home__featured .featured__content--block {
    background-color: #23282D;
}

.featured__article--content,
.home__featured .featured__article--content {
    background-color: #23282D;
}

.home__highlights {
    background-color: #252424;
    padding: 3em 3.236em;
}

.main,
#page-wrap.page-wrap {
    background-color: transparent;
}

header#header.header {
    background-color: transparent;
}

.container {
    background-color: transparent;
}

.entries {
    background-color: #E5E5E5;
    background-repeat: repeat-x;
    background-image: url('../../images/mainbg.jpg');
}

.content {
    background-color: #fff;
}

.gallery__archive {
    background-color: #E5E5E5!important;
    background-repeat: repeat-x;
    background-image: url('../../images/mainbg.jpg');
}

.home__highlights {
    visibility: visible;
    
}

.page__title,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: oswald!important;
}


/* .article__thumbnail,.contest__thumbnail {max-height:300px;}
*/

.home .container {
    background-color: transparent !important;
}

.content {
    background-repeat: no-repeat;
    background-color: #E5E5E5;
}

/* Livefyre Overrides For Sidebar */

.live-links {
    border-top: 0;
    margin: 0!important;
    width: 100%;

    .widget--live-player__title {
        display: none;
    }

    .widget_gmr_blogroll_widget {
        display: none;
    }
}

.live-links--more.show-more--muted {
    display: block;
}

.streamhub-wall-component {
    article {
        &.content-default .content-body {
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            line-height: 20px;
        }
    }
}
.live-player__container {
  background-image: url(https://files.greatermedia.com/uploads/sites/14/2016/04/listenliveamp-4.jpg)
}

#wcsx-social-stream {
    overflow: hidden;
    border-top: 1px solid #eee;

    article {
        border-width: 0 0 1px 0;
        margin: 0;
        padding: 20px 0;

        &.content .content-header .content-header-inner {
            padding-top: 0;
        }

        &.content-instagram .content-header .content-header-inner {
            padding-top: 20px;
        }
    }

    .hub-list-more {
        display: none;
    }
}
