.format-video {
    & .post-video-overlay {
        align-items: center;
        background: #fff;
        bottom: 0;
        border-radius: 50%;
        display: flex;
        height: 64px;
        justify-content: center;
        margin: 0 auto;
        left: 0;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 64px;
	    opacity: var(--brand-play-opacity);

		&:focus,
		&:hover {
			 outline: 0;
			 opacity: var(--brand-play-hover-opacity);
		 }

        & svg {
            fill: var(--brand-primary);
            height: 31px;
            position: relative;
            right: -3px;
            width: 22px;
        }
    }
}

.post-sponsor-overlay {
	font-weight: bold;
	font-size: .9rem;
	align-items: center;
	background: red;
	color: white;
	bottom: 0;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	left: 0;
	position: absolute;
	padding: 0 .25rem;
}
