.main {
    background-size: cover;
    background-color: #061222;
    background-image: url("../../images/altsitebg-2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.home__featured {
    background: none;
}
.home__featured .featured__article--content, .home__featured .featured__content--block {
    background: -moz-linear-gradient(top,rgba(30,119,215,1) 10%,rgba(0,71,148,1) 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(10%,rgba(30,119,215,1)),color-stop(100%,rgba(0,71,148,1)));
    background: -webkit-linear-gradient(top,rgba(30,119,215,1) 10%,rgba(0,71,148,1) 100%);
    background: -o-linear-gradient(top,rgba(30,119,215,1) 10%,rgba(0,71,148,1) 100%);
    background: -ms-linear-gradient(top,rgba(30,119,215,1) 10%,rgba(0,71,148,1) 100%);
    background: linear-gradient(to bottom,rgba(30,119,215,1) 10%,rgba(0,71,148,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ce1141',endColorstr='#004794',GradientType=0);
    color: #fff;
    text-shadow: 2px 2px 1px rgba(9,32,64,.7);
}
.featured__article--heading {
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Bree Serif',serif;
}
.home__featured .featured__content--title {
    color: #fff;
    font-family: 'Bree Serif',serif;
    font-size: 1.23em;
    font-weight: 400;
}
.home__highlights {
    border-bottom-color: #d0d2d3;
    background: url(../../images/pw_maze_gray.png);
}
.highlights__heading {
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Bree Serif',serif;
    padding: 10px;
    background-color: #005596;
}
.highlights__events--more-btn {
    &:hover {
        color: $yellow !important;
        border-color: $yellow;
    }
}
.highlights__events--more-btn {
    background-color: #0e2242;
    border: 2px solid #0e2242;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    float: right;
    margin-top: 0px;
}
.highlights__events--more-btn:hover {
    background-color: #114598;
    color: #fff;
    border-color: #114598;
}
.type-contest .entry2__thumbnail--contest-type {
    visibility: hidden!important;
}
.type-contest .entry2__thumbnail--end-date {
    visibility: hidden!important;
}
.entry2__thumbnail__icon {
    visibility: hidden!important;
}
.entry2__thumbnail__overlay {
    opacity: 0!important;
}
.songs__group--date {
    font-size: 1em!important;
}
.songs__group--date {
    font-size: 1em!important;
}
.type-tribe_events .entry2__thumbnail--month-and-day {
    visibility: hidden!important;
}
.type-tribe_events .entry2__thumbnail--day-of-week {
    visibility: hidden!important;
}
.header__main.headroom {
    background-color: transparent;
    background-image: url(../../images/altmastbg.jpg);
}
.mobile-nav__toggle--span, .mobile-nav__toggle--span::after, .mobile-nav__toggle--span::before {
    background-color: #ffffff;
}
.header__nav .format-fi > ul a.active, .header__nav .format-fi > ul a:focus, .header__nav .format-fi > ul a:hover, .header__nav .format-fw > ul a.active, .header__nav .format-fw > ul a:focus, .header__nav .format-fw > ul a:hover, .header__nav .format-sp > ul a.active, .header__nav .format-sp > ul a:focus, .header__nav .format-sp > ul a:hover, .header__nav .sub-menu a.active, .header__nav .sub-menu a:focus, .header__nav .sub-menu a:hover, .ui-menu a.active, .ui-menu a:focus, .ui-menu a:hover {
    background-color: #000033;
    color: #ffffff;
}
.header__main a, .header__main a:visited {
    color: #ffffff;
}
.format-sp a:hover .meta-text {
    color: #ffffff;
}
.header__nav > ul > li {
    color: #ffffff;
    background-color: rgba(1,1,1,0.7);
}
.header__nav ul li a {
    color: #ffffff;
}
.header__search {
    color: #ffffff;
    padding-top: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    text-transform: uppercase;
    background-color: rgba(1,1,1,0.7);
}
.header__search:hover, .header__search:hover .header__search--btn::before {
    color: #6699cc;
}
.audio-interface {
    color: #ffffff;
    background-color: #333333;
}
.audio-volume .audio-volume__btn:before, .audio-volume .audio-volume__mute:before {
    color: #ffffff;
}
input[type=range]::-webkit-slider-thumb {
    background: #dddddd;
}
input[type=range]::-moz-range-thumb {
    background: #dddddd;
}
input[type=range]::-ms-thumb {
    background: #dddddd;
}
.audio-playing .audio-playing__track {
    color: #ffffff;
}
.audio-interface button, .audio-interface input, .audio-interface optgroup, .audio-interface select, .audio-interface textarea {
    color: #ffffff;
}
.audio-controls__loading:hover, .audio-controls__pause:hover, .audio-controls__play:hover, .audio-controls__resume:hover {
    background-color: #003366;
    color: #ffffff;
}
.audio-stream .audio-stream__available {
    background-color: #111111;
    color: #ffffff;
}
.audio-stream .audio-stream__title {
    background-color: transparent;
    border-color: #ffffff;
}
.audio-stream .audio-stream__current {
    background-color: #333333;
    border-top-color: #333333;
    border-bottom-color: #333333;
    border-left-color: #333333;
    border-right-color: #333333;
}
.audio-stream .audio-stream__link:hover {
    background-color: #D22228;
}
.audio-volume .audio-volume__btn, .audio-volume .audio-volume__mute button, .audio-volume input, .audio-volume optgroup, .audio-volume select, .audio-volume textarea {
    color: #ffffff;
}
.audio-expand {
    background-color: #004c90;
}
.audio-stream .audio-stream__title {
    color: #fff;
}
.audio-more .icon-clock::before {
    color: #ffffff;
}
.audio-playing .audio-playing__artist {
    color: #ffffff;
}
.header {
    border-bottom-color: #444444;
}
.header__nav .mobile-nav .format-fi > ul a:active, .header__nav .mobile-nav .format-fi > ul a:hover, .header__nav .mobile-nav .format-fw > ul a:active, .header__nav .mobile-nav .format-fw > ul a:hover, .header__nav .mobile-nav .format-sp > ul a:active, .header__nav .mobile-nav .format-sp > ul a:hover, .mobile-nav .header__nav .format-fi > ul a:active, .mobile-nav .header__nav .format-fi > ul a:hover, .mobile-nav .header__nav .format-fw > ul a:active, .mobile-nav .header__nav .format-fw > ul a:hover, .mobile-nav .header__nav .format-sp > ul a:active, .mobile-nav .header__nav .format-sp > ul a:hover, .mobile-nav .sub-menu a:active, .mobile-nav .sub-menu a:hover {
    color: #ffffff;
}
.header__search--form {
    background-color: #ffffff;
}
