.event-tile {
	& .event-dates {
		align-items: center;
		color: var(--global-dove-gray);
		display: block;
		font-size: 12px;
		font-weight: 500;
		margin-top: 1.2rem;
		text-transform: normal;
	}

	& .sep {
		display: inline-block;
		font-size: 0;
		height: 5px;
		width: 5px;

		&::before {
			content: " ";
			display: inline-block;
		}
	}
}
