.event-tile {
	& .event-dates {
		align-items: center;
		color: var(--global-dove-gray);
		display: block;
		font-size: .875rem;
		font-weight: 500;
		margin-top: 1.2rem;
		text-transform: uppercase;
	}

	& .sep {
		display: block;
		font-size: 0;
		height: 5px;
		margin: 0 0.5rem;

		@media(--min-small-viewport) {
			margin: 0 1rem;
		}

		&::before {
			content: " ";
			display: inline-block;
		}
	}
}
