@import url(http://fonts.googleapis.com/css?family=Oswald:400,700);

.home__featured .featured__article--content,
.home__featured .featured__content--block {
	background-image: linear-gradient(to bottom,#104da0 40%,#150a57 100%);
}

.featured__article--heading {
  color:#fff;
  font-family:'Oswald',sans-serif;
  font-weight:600;
  text-transform:uppercase
}

.home__featured .featured__content--title {
  color:#fff;
  font-family:'Oswald',sans-serif;
  font-size:1.23em;
  font-weight:400
}

.home__highlights {
    background: url(../../images/home-highlights.png);
}

.highlights__heading {
    color: #150958;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0;
    text-shadow: 2px 2px 2px rgba(139,128,146,.3);
}

.highlights__events--more-btn {
  background-color:rgba(21,9,88,.2);
  border:2px solid #150958;
  color:#150958;
  text-transform:uppercase;
  font-weight:400;
  float:right;
  margin-top:0
}

.highlights__events--more-btn:hover {
  background-color:rgba(21,9,88,.5);
  color:#fff;
  border-color:#150958
}

@include bp(large){
	.main {
	  background-size:cover;
	  background-color:#061222!important;
	  background-image:url(../../images/site-wrap-blue.png)!important;
	  background-repeat:no-repeat;
	  background-attachment:fixed
	}
}
