body {
  background-color: #ffffff !important;
  font-family: 'Work Sans', sans-serif;
}

.main {
	background-image: url(../../images/bobandsheriBackgroundStripes.jpg);
}

.main, %main {
	background-color: $primary-bg;
}

.header {
	border-bottom: 1px solid #58595b;
	background-color: #ffffff;
	background-image: url(../../images/bobsheriHeader.jpg);
	background-repeat: no-repeat;
	background-size: auto 120px;
	@include bp(medium) {
		background-size: cover;
	}
	@include bp(large) {
		background-position: left top;
	}
	@include bp(larger) {
		background-position: center top;
		background-size: auto;
	}
	
}

.header__main {
	//background-color: #020276;
	background-color:rgba(20,120,221,0.75);
	border: 0;
	//opacity: 0.75;
}

.header__nav {
	margin-left: 100px;
}

.featured__article--content {
	//opacity: 0.75;
}

.featured__content--meta {
	//opacity: 0.75;
}

#bobandsheri-station-logo {
	background-color: #333399;
	padding: 10px;
	margin-bottom: 11px;
}

#bobandsheri-station-logo img {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.home__highlights {
	background-color: #333399 !important;
}

.home__featured {
	background-image: none;
	@include bp(medium) {
		background-position: left top;
		//background-color: #561015;
		// background-size: cover; // Leave this out unless we want big crosshatches on WMGK. If we do want that, be sure to also add this to the .show__header
	}
}

.highlights__events .highlights__heading {
	visibility: hidden !important;
}

.highlights__events--more-btn {
	visibility: hidden !important;
}

.single-show .content {
	padding: 0;
}

.single-show .home__highlights {
	padding: 3em 3.236em;	
	background-color: #333399 !important;
}

.single-show .highlights__heading {
	color: white;
}

.show__features {
	padding: 3em 3.236em;
}

.show__blogroll {
	padding: 1.5em 3.236em;
}

.show__header {
  background-image: none;
}

.show__header.has-thumbnail::before {
  background-image: linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,0));
  background-image: -moz-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0));
  background-image: -o-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0));
  background-image: -ms-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0));
  background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0)),to(rgba(0,0,0,0)));
  background-image: -webkit-linear-gradient(top,rgba(0, 0, 0, 00),rgba(0, 0, 0, 00));
}

.show__nav li a:hover {
  color: #333399;
}

.show__mini-nav .show__header {
    background-color: #333399;
    padding: 1px 5px 0 5px;
}

.show__mini-nav .show__header .show__nav .show__title a:hover,
.show__mini-nav .show__nav li a:hover {
    color: #333399;
}

.show__mini-nav .show__header .show__nav .show__title {
	padding: 0 10px 2px 0;
}

.profile-page .profile-page__sidebar {
	background-color: #333399;
}

.header__logo--img {
	max-height: 30px;
	max-width: none;
	top: 50%;
	@include bp(larger) {
		top: 30px;
		margin-left: -20px;
		max-height: 50px;
	}
}

.live-player__stream {
	display: none !important;
}

.live-links {
	border-top: 0;
}

.live-stream__btn--play {
	background: #CF000F;
}

.single-gmr_gallery .gallery__paging--prev,
.single-gmr_gallery .gallery__paging--next {
	color: $light-gray;

	&:hover {
		color: $cardinal;
	}
}

.live-links {
	background-color: transparent !important;
}

.live-player {
	background-color: #cf000f;
	//background-image: url(../../images/mobilePlayer-bg.jpg);
}

.live-stream {
 	//background-image: url(../../images/bobandsheriPlayer-bg.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	@include bp(medium) {
		background-image: url(../../images/bobandsheriPlayer-bg.png);
	}
}

.on-air {
	@include bp(medium) {
		margin-top: 30px;
		margin-bottom: -19px;
	}
}

.on-air__show {
		font-weight: bolder;
}

.on-air__title {
		font-weight: bolder;
}

.live-player__container {
	border-bottom: 0 !important; 
}

.live-player__stream {
	border: 1px solid lighten($color-gray-medium-dark,50%);
	color: lighten($color-gray-medium-dark,50%);
	@include border-radius(1em);
	background-color: $liveplayer-bg;
	li {
		height: auto;
	}

	.live-player__stream--available {
		display: none;
	}

	.live-player__stream--current.open .live-player__stream--available {
		color: $dark-gray;
		border-top: 1px solid darken($color-gray-light, 10%);

		&:after {
			background: transparent;
		}

		.live-player__stream--item, .live-player__stream--desc {
			color: $dark-gray;
		}

		.live-player__stream--item {
			background-color: $liveplayer-bg;

			&:hover {
				background-color: $light-gray;
			}
		}

		li:last-child {
			@include border-bottom-radius(1em);
		}
	}

}

.live-player__container {
	border-bottom: 1px solid white;
}

.now-playing__artist {
	color: $color-gray-medium-dark;
}

.live-link__title, .live-link__title a:link, .live-link__title a:visited {
	color: $color-gray-medium;
}

.live-link__song:before {
	color: $medium-dark-gray;
}

.live-link__song--artist {
	color: $medium-dark-gray;
}

.live-link__song--title {
	color: $dark-gray;

	a, a:visited {
		color: $darker-gray;
	}
}

.live-link__title a:link, .live-link__title a:visited {
	color: $color-gray-medium;
}

.live-link__title a:hover, .live-link__title a:focus, .live-link__title a:active {
	color: $primary-link-hover;
}

.header__logo {
	@include bp(medium) {
		top: -7px;
	}
}
.home__highlights {
	border-bottom-color: $primary-border;
}

.highlights__events--more-btn {
	&:hover {
		color: $yellow !important;
		border-color: $yellow;
	}
}

.highlights__event--item {
	background-color: #3399ff;
	color: $white;
}

.highlights__event--title, .highlights__event--date {
	color: $white;

	a:hover & {
		color: #333399;
	}
}

a:hover .highlights__community--title {
	color: #3399ff;
}

.highlights__events--more-btn:hover {
	color: #3399ff !important;
	border-color: #3399ff;
}

.highlights__heading {
	color: $highlights-heading;
}

.type-contest .entry__title--tag {
	background-color: $light-gray;
	border-color: $light-gray;
}

.audio__progress-bar {
	background-color: $gray;
}

.footer {
	background-color: $primary-bg;
}

#bobandsheri-social-column {
	overflow: hidden;
	
	article {
		border-width: 0 0 1px 0;
		margin: 0;
		padding: 20px 0;

		&.content .content-header .content-header-inner {
			padding-top: 0;
		}

		&.content-instagram .content-header .content-header-inner {
			padding-top: 20px;
		}
	}

	.hub-list-more {
		display: none;
	}
}

.streamhub-wall-component {
	article {
		&.content-default .content-body {
			font-family: 'Open Sans', sans-serif;
			font-size: 16px;
			line-height: 20px;
		}
	}
}

.widget--live-player__title {
	display: none !important;
}

.live-links--more.show-more--muted {
	z-index: 1000;
	display: block !important;
}

.content-body {
	font-family: sans-serif;
	font-size: 15px;
}

.footer__ad {
	height: 90px !important;
}

.gmclt_endorsementLogo {
	display: inline !important;
}