.main {
	background-image: url('../../images/pw_pattern.png');
}

.header {
	border-bottom: 1px solid #58595b;
}

.header__main {
	@media screen and (min-width: 768px) {
		&.headroom {
			background-color: $color-red-dark;
		}
	}
}

@media screen and (min-width: 970px) {
	.header__search {
		color: #fff;
    padding: 4px;
    background-color: rgba(0,0,0,.7);
		text-transform: uppercase;

		.header__search--btn:before {
			color: #fff;
		}
	}

	.header__nav > ul > li {
		background-color: rgba(0,0,0,.7);

		a,
		a:visited {
			color: #ffffff;
		}
	}

	/*.header__nav .sub-menu a:hover, .header__nav .format-fw > ul a:hover, .header__nav .format-sp > ul a:hover, .header__nav .format-fi > ul a:hover, .header__account--links.sub-menu a:hover, .header__nav .format-fw > ul.header__account--links a:hover, .header__nav .format-sp > ul.header__account--links a:hover, .header__nav .format-fi > ul.header__account--links a:hover, .ui-menu a:hover {
		background-color: $white;
	}*/

	.news-site .header__nav .format-fw > ul > li:not(:nth-child(4n+1)), .header__nav .news-site .format-fw > ul > li:not(:nth-child(4n+1)), .news-site .header__nav .format-sp > ul > li:not(:nth-child(4n+1)), .header__nav .news-site .format-sp > ul > li:not(:nth-child(4n+1)) {
		padding-left: 0;
		margin-left: 0;
	}

}

.home__featured {
	@include bp(medium) {
		background-position: left top;
		background-color: #561015;
		// background-size: cover; // Leave this out unless we want big crosshatches on WMGK. If we do want that, be sure to also add this to the .show__header
	}
}

.single-show .highlights__event--item {
	background-color: #fff;
}

.news-site .highlights__contest--title,
.news-site .highlights__event--title {
	margin-top: 4px;
	font-size: .9em;
}

.news-site .highlights__contest--date,
.news-site .highlights__event--date {
	font-size: 1em;
}

.contest__form button[type=button]:hover:focus,
.contest__form button[type=button]:hover:hover,
.contest__form button[type=submit]:hover:focus,
.contest__form button[type=submit]:hover:hover,
.contest__form input[type=submit]:hover:focus,
.contest__form input[type=submit]:hover:hover {
	background-color: #AE0D04;
	border-color: #FFFDFD;
	color: #050505;
}

.contest__form button[type=button]:active,
.contest__form button[type=submit]:active,
.contest__form input[type=submit]:active {
	background-color: #AE0D04;
	color: #fff !important;
}

.profile-page .profile-page__sidebar h1 {
	color: #fff;
}

.pre-roll__notification {
	color: #000;
}

.audio__playing #live-player--volume {
	display: none;
}

.live-stream__btn--play.live-player__login {
	border: 1px solid #333;
	color: #333;
}

.single-gmr_gallery .gallery__paging--prev,
.single-gmr_gallery .gallery__paging--next {
	color: $light-gray;

	&:hover {
		color: $cardinal;
	}
}

.header__leaderboard {
	background-image: url('../../images/pw_pattern.png');
}

.home__highlights {
	border-bottom-color: $primary-border;
}

.highlights__events--more-btn {
	&:hover {
		color: $yellow !important;
		border-color: $yellow;
	}
}

.highlights__event--item {
	background-color: #8c8c8c;
	color: $white;
}

.highlights__event--title, .highlights__event--date {
	color: $white;

	a:hover & {
		color: $yellow;
	}
}

.highlights__heading {
	color: $highlights-heading;
}

.type-contest .entry__title--tag {
	background-color: $light-gray;
	border-color: $light-gray;
}

.audio__progress-bar {
	background-color: $gray;
}

.footer {
	background-image: url('../../images/pw_pattern.png');

	.container {
		-webkit-box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.75);
		background-color: #EDEDED;
	}
}

.footer__content {
	background-color: #ededed;
}

.main .show__header.has-thumbnail:before {
	background-image: linear-gradient(to bottom,rgba(20, 16, 16, 0.55),rgba(88,15,12,.55));
	background-image: -moz-linear-gradient(top,rgba(20, 16, 16, 0.55),rgba(88,15,12,.55));
	background-image: -o-linear-gradient(top,rgba(20, 16, 16, 0.55),rgba(88,15,12,.55));
	background-image: -ms-linear-gradient(top,rgba(20, 16, 16, 0.55),rgba(88,15,12,.55));
	background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(20, 16, 16, 0.55)),to(rgba(88,15,12,.55)));
	background-image: -webkit-linear-gradient(top,rgba(20, 16, 16, 0.55),rgba(88,15,12,.55));
}
