.cancellation {
	background-color: var(--brand-primary);
	color: var(--brand-text-color);
	align-items: center;
	cursor: pointer;
	right: 1rem;
	text-align: center;
	padding: 0px 8px;
	text-decoration: none;
	border: 1px solid red;
	border-radius: 0;
	display: flex;
	text-transform: uppercase;
	font-size: 15px;
	height: 40px;
	line-height: 50px;
	font-weight: 700;
}

.cancellation:hover {
	/* background-color: #fff;
	color: #000; */
	/* cursor: pointer; */
}

.prompt {
	background-color: #eee;
	padding: 20px;
	border-radius: 4px;
	font-size: 14px;
}

.prompt-container h3{
	color: #eee;
	text-align: center;
}

.prompt-container button {
	background-color: var(--brand-primary);
	color: var(--brand-text-color);
	padding: 10px 20px;
	border-radius: 4px;
	font-weight: bold;
	font-size: 14px;
    cursor: pointer;
}

.prompt-container button:hover  {
	background-color: #fff;
	color: #000;
	cursor: pointer;
}


/* The CSS */
.prompt-container {
	flex-direction: column;
	position: fixed;
	background-color: #2e2e2f;
	width: 230px;
	top: 75%;
	left: 50%;
	transform: translate(-50%, -75%);
	border-radius: 0.3rem;
	padding: 1rem;
	z-index: 5; /* Higher than the z-index of the background */
}

.confirmation-text {
	display: flex;
	color: white;
	margin: 0.5rem 0 2rem;
	text-align: center;
	line-height: 2rem;
	font-size: 1.1rem;
}

.button-container {
	display: flex;
	margin-top: auto;
	justify-content: space-between;

    & button {
    cursor: pointer;
    }
}

.confirmation-button, delete-button {
	display: inline-flex;
	background-color: #cc0000;
	color: white;
	padding: 0.7rem 1.4rem;
	border: none;
	border-radius: 0.3rem;
	font-size: 1rem;
}

.cancel-button {
	background-color: #999999;
}

.confirmation-button:hover {
	background-color: red;
	cursor: pointer;
}

.cancel-button:hover {
	background-color: #b2b2b2;
	cursor: pointer;
}
