@include bp(large){
	.main {
		background: url(../../images/main-background.jpg);
		background-repeat: repeat-y;
		background-attachment: fixed;
		background-position: top center;
	}
}

.home__featured .featured__article--content,
.home__featured .featured__content--block {
	background: -webkit-gradient(linear,left top,left bottom,color-stop(10%,#004794),color-stop(100%,#2f93ff))!important;
  background: -o-linear-gradient(top,#004794 10%,#2f93ff 100%);
  background: -ms-linear-gradient(top,#004794 10%,#2f93ff 100%);
  background: linear-gradient(to bottom,#004794 10%,#2f93ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00004794', endColorstr='#ce1141', GradientType=0);
}

.home__featured .featured__article--heading {
  color:#fff;
  font-family: 'Ubuntu', sans-serif;
  font-weight:600;
  text-transform:uppercase
}

.featured__article:hover .featured__article--heading {
    text-shadow: 2px 2px 1px rgba(9, 32, 64, .7);
    color: #fff;
}

.home__featured .featured__content--title {
  color:#fff;
  font-family:'Ubuntu',sans-serif;
  font-size:1.23em;
  font-weight:400
}

.featured__content--block:hover .featured__content--title {
  color: #fff;
  text-shadow: 2px 2px 1px rgba(9, 32, 64, .7);
}

.home__highlights {
  border-bottom-color: #d0d2d3;
  background: url(../../images/home-highlights.png);
}

.highlights__heading {
  color:#ce1141;
  font-weight:700;
  text-transform:uppercase;
  font-family:'Ubuntu',sans-serif;
  padding:0;
  background-color:transparent;
  text-shadow:2px 2px 2px rgba(139,128,146,.3)
}

.highlights__events--more-btn {
  background-color:rgba(0,71,148,.2);
  border:2px solid #004794;
  color:#004794!important;
  text-transform:uppercase;
  font-weight:400;
  float:right;
  margin-top:0
}

.highlights__events--more-btn:hover {
  background-color:rgba(0,71,148,.5);
  color:#fff;
  border-color:#004794
}

/* April 2017 updates - Made in Detroit */
/* remove contest thumbnail text */

.type-contest .entry2__thumbnail--end-date
{visibility: hidden!important;}
/* remove contest type */

.type-contest .entry2__thumbnail--contest-type
{visibility: hidden!important;}
/* remove contest icon */
.entry2__thumbnail__icon
	{visibility: hidden!important;}
/* remove thumbnail color tint */
.entry2__thumbnail__overlay
{opacity: 0!important;}

 /* date font size in recently played */
.songs__group--date
{font-size: 1em!important;}

/* remove event text*/
.type-tribe_events .entry2__thumbnail--month-and-day
	{visibility: hidden!important;}
.type-tribe_events .entry2__thumbnail--day-of-week
	{visibility: hidden!important;}
 /* header skyline background */

.header__main.headroom
{
	background-image: url(../../images/header.jpg);
	background-size: cover;
  background-position: top center;
}

 /* nav background color */

.header__nav > ul > li
{
	background-color: rgba(255, 255, 255, 0.7);
}

.header__nav .format-fi ul.header__nav-submenu--features li:hover
{
	background-color: #000033;

	p {
		color: #ffffff;
	}
}

.mobile-nav__toggle--span, .mobile-nav__toggle--span::after, .mobile-nav__toggle--span::before
{background-color: #ffffff;}

 .header__nav .format-fi > ul a.active, .header__nav .format-fi > ul a:focus, .header__nav .format-fi > ul a:hover, .header__nav .format-fw > ul a.active, .header__nav .format-fw > ul a:focus, .header__nav .format-fw > ul a:hover, .header__nav .format-sp > ul a.active, .header__nav .format-sp > ul a:focus, .header__nav .format-sp > ul a:hover, .header__nav .sub-menu a.active, .header__nav .sub-menu a:focus, .header__nav .sub-menu a:hover, .ui-menu a.active, .ui-menu a:focus, .ui-menu a:hover
{
color: #ffffff;

}

.header__nav .format-fi > ul a.active, .header__nav .format-fi > ul a:focus, .header__nav .format-fi > ul a:hover,

.header__nav .format-fw > ul a.active, .header__nav .format-fw > ul a:focus, .header__nav .format-fw > ul a:hover,

.header__nav .format-sp > ul a.active, .header__nav .format-sp > ul a:focus, .header__nav .format-sp > ul a:hover,

.header__nav .sub-menu a.active, .header__nav .sub-menu a:focus, .header__nav .sub-menu a:hover, .ui-menu a.active, .ui-

menu a:focus, .ui-menu a:hover
{
background-color: #000033;
}

.format-sp a:hover .meta-text
{
color: #ffffff;
}

	 /* search background color */

.header__search
{ color: #ffffff;
padding-top: 4px;
padding-right: 4px;
padding-bottom: 4px;
padding-left: 4px;
text-transform: uppercase;
background-color: rgba(1, 1, 1, 0.7);}
.header__search:hover, .header__search:hover .header__search--btn::before
{ color:  #6699cc;}
