/* TODO move to SASS */
.profile-page__sidebar, .profile-page__content {
	vertical-align: top !important;
}

.gigya-screen-set {
}

#profile-content .gigya-screen {
	font-family: "Open Sans", sans-serif;
	width: 100%;
}

#profile-content .gigya-screen h2 {
	color: #202020;
	font-size: 2em;
	font-weight: lighter;
}

#profile-content .gigya-screen h3 {
	color: #ACACAC;
	font-size: 1.2em;
	font-weight: lighter;
}

#profile-content label {
	color: #676767;
}

#profile-content .inline-label {
	display: inline;
	margin-right: 1em;
}

#profile-content .gigya-screen input, #profile-content .gigya-screen select {
	border: none;
	border-bottom: 1px solid #e9e9e9;
	background: #fff;
	padding: 0.5em 0.5em 0.5em 0;
	margin-bottom: 1.5em;
	color: #202020;
	display: block;
	width: 100%;
}

#profile-content .gigya-screen input:focus {
	outline: none;
	border-bottom-color: #ACACAC;
}

#profile-content .gigya-screen input[type="submit"] {
	float: right;
	width: 7em;
	background-color: #D2232A;
	color: #fff;
	text-transform: uppercase;
	border: none;
	border-radius: 20px;
	padding: 0.6em 1.5em;
}

#profile-content .gigya-screen input[type="radio"] {
	width: auto;
	display: inline;
	margin-right: 0.3em;
}

#profile-content #gigya-update-profile-screen input[type="submit"] {
	width: 11em;
}

#profile-content #gigya-register-screen input[type="submit"] {
	width: 8em;
}

#profile-content #gigya-register-complete-screen input[type="submit"] {
	width: 10em;
}

#profile-content #gigya-change-password-screen input[type="submit"] {
	width: 7em;
}

#profile-content .gigya-screen input[type="submit"]:hover {
	opacity: 0.9;
}

#profile-content .gigya-screen .gigya-error-display {
	color: red;
}

#profile-content .gigya-screen .gigya-error-msg-active {
	font-size: 1em;
}

#profile-content .login-error-msg {
	margin-bottom: 1em;
}

#profile-content .link-button {
	padding-top: 0.4em;
	display: inline-block;
}

#profile-content .gender-label {
	margin-bottom: 0.5em;
}

#profile-content .gigya-screen .new-account-msg {
	margin-top: 2em;
}

#profile-content .gigya-screen .new-account-msg a {
	color: #d22228;
	display: inline;
}

/* Gigya Overrides */
#profile-content_content[style] {
	width: 100% !important;
}

#profile-content div[gigid=showScreenSet_showLoginUI_v1][style] {
	width: 100% !important;
}

#profile-content div[gigid=showScreenSet_showLoginUI_v1] > table[style] {
	width: 100% !important;
}

div[gigid=facebook] div, div[gigid=twitter] div, div[gigid=googleplus] div {
	border-radius: 20px;
	outline: none !important;
}

div[gigid=facebook] div:active, div[gigid=twitter] div:active, div[gigid=googleplus] div:active {
	outline: none !important;
}

div[gigid=facebook][style], div[gigid=twitter][style], div[gigid=googleplus][style] {
	margin-bottom: 0.4em;
	outline: none;
}

.member-groups-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.label-email-list {
	display: inline;
}

#profile-content .gigya-screen input[type=checkbox] {
	display: inline;
	width: auto;
}

.profile-page__sidebar .profile-header-link {
	color: #A85858
}

.profile-page__sidebar .profile-header-link:hover {
	color: #D2232A;
}

.profile-page__sidebar .profile-header-sep {
	opacity: 0.1;
}

/* webkit autofill reset, TODO: move this */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

#gigya-reset-link-password-screen .reset-link-password-error-msg {
	margin-bottom: 1em;
	font-size: 1.2em;
}
