.live-link__type--show {
	border-bottom-color: white;
	background: none;
}

.live-links--more {

	&:before {
		background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(242,242,242,1) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0), color-stop(100%,rgba(242,242,242,1))));
		background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(242,242,242,1) 100%);
		background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(242,242,242,1) 100%);
		background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(242,242,242,1) 100%);
		background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(242,242,242,1) 100%);
	}
}