.header {
		background-color: #262626;
    background-image: url("../../images/header-red-1.jpg");
    background-repeat: repeat-x;
    background-position: center top;
    border-bottom: none;
}

.header__main {
    border-top: none;
    background-color: rgba(0, 0, 0, .3) !important;

		-webkit-transition: transform 200ms linear, background-color 1s !important; /* Safari */
    transition: transform 200ms linear, background-color 1s !important;

		&.headroom--not-top {
			background-color: rgba(0, 0, 0, .8) !important;
		}
}



@media screen and (min-width: 970px) {
	.header__search {
		color: #fff;
    padding: 4px;
    background-color: rgba(0,0,0,.7);
		text-transform: uppercase;

		.header__search--btn:before {
			color: #fff;
		}
	}

	.header__nav ul li {
		background-color: rgba(0,0,0,.7);

		a,
		a:visited {
			color: #ffffff;
		}
	}
}

.mobile-nav {
	background-color: #fff;
}

.mobile-nav__list {
	a {
		background-color: #fff;
	}
}

.mobile-nav__toggle--span,
.mobile-nav__toggle--span:before,
.mobile-nav__toggle--span:after {
	background: #fff;
}

.home__featured .featured__article--content,
.home__featured .featured__content--block {
    background-image: linear-gradient(to left, #7e080f 0, #c02925 100%);
}

.featured__content--title {
		color: #ffffff;
}

.home__featured {
    border: 1px solid #eee;
    background: url("../../images/pattern1.png");
}

.home__highlights {
    background: url("../../images/pattern2.png");
    border-bottom-color: #d0d2d3;
}

.single-show .home__highlights {
    background: none;
}

.live-links {
	border-top: 0;
}

.single-gmr_gallery .gallery__paging--prev,
.single-gmr_gallery .gallery__paging--next {
	color: $light-gray;

	&:hover {
		color: $cardinal;
	}
}

.live-player__stream {
	border: 1px solid lighten($color-gray-medium-dark,50%);
	color: lighten($color-gray-medium-dark,50%);
	@include border-radius(1em);
	background-color: $liveplayer-bg;

	li {
		height: auto;
	}

	.live-player__stream--available {
		display: none;
	}

	.live-player__stream--current.open .live-player__stream--available {
		color: $dark-gray;
		border-top: 1px solid darken($color-gray-light, 10%);

		&:after {
			background: transparent;
		}

		.live-player__stream--item, .live-player__stream--desc {
			color: $dark-gray;
		}

		.live-player__stream--item {
			background-color: $liveplayer-bg;

			&:hover {
				background-color: $light-gray;
			}
		}

		li:last-child {
			@include border-bottom-radius(1em);
		}
	}

}

.live-player__container {
	border-bottom: 1px solid white;
}

.now-playing__artist {
	color: $color-gray-medium-dark;
}

.live-link__title, .live-link__title a:link, .live-link__title a:visited {
	color: $color-gray-medium;
}

.live-link__song:before {
	color: $medium-dark-gray;
}

.live-link__song--artist {
	color: $medium-dark-gray;
}

.live-link__song--title {
	color: $dark-gray;

	a, a:visited {
		color: $darker-gray;
	}
}

.live-link__title a:link, .live-link__title a:visited {
	color: $color-gray-medium;
}

.live-link__title a:hover, .live-link__title a:focus, .live-link__title a:active {
	color: $primary-link-hover;
}

.header__logo {
	@include bp(medium) {
		top: -7px;
	}
}

.highlights__community--title {
	white-space: normal;
	max-height: 4em;
	background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#111));
    background-image: -webkit-linear-gradient(top, transparent, #111);
    background-image: -moz-linear-gradient(top, transparent, #111);
    background-image: -o-linear-gradient(top, transparent, #111);
    background-image: linear-gradient(to bottom, transparent, #111);
}

.highlights__events--more-btn {
	background-color: #7D7E80;

	&:hover {
		background-color: rgba(77, 76, 76, 0.83);
	    border-color: #959799!important;
	    color: #acaeb0!important;
	}
}

.highlights__event--item {
	background-color: rgba(0, 0, 0, .4);
	color: $white;
}

.highlights__event--title, .highlights__event--date {
	color: $white;

	a:hover & {
		color: #fbe374;
	}
}

.highlights__heading {
	color: $highlights-heading;
	font-weight: 700;
}

.featured__article--heading {
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 2px 2px 1px #530606;
    color: #fff;

    &:hover {
    	color: #fbe374;
    }
}
.featured__content--btn {
    display: none;
}

.type-contest .entry__title--tag {
	background-color: $light-gray;
	border-color: $light-gray;
}

.audio__progress-bar {
	background-color: $gray;
}

.footer {
	background-color: $primary-bg;
}

@media screen and (min-width: 480px) {
	.featured__content--image {
		padding-top: 65%;
	}
}

/***** Tablet *****/

@media screen and (min-width: 768px) {
		.header {
		    background-position: center bottom;
		}
    .live-player {
        background-image: url("../../images/metal-texture.jpg");
    }
    .live-stream {
        background-image: url("../../images/record-bg-final.png");
        background-color: transparent;
    }
    .live-links {
        background-color: transparent;
    }
    .live-player__stream {
        display: none;
    }
    .live-player__container.playing {
         margin-top:55px;
    }
    .live-link__song:before {
        color: #c20411;
        position: absolute;
        left: 10px;
    }
    .live-link__song--artist {
        color: #c20411;
        font-weight: 600;
    }
    .noUi-base { /* VOLUME SLIDER MOVE DOWN - MAKE ROOM FOR RECORD PLAYER */
        margin-top: 15px !important;
    }
    .now-playing__title {
        font-weight: 400;
    }
    .now-playing__artist {
        font-weight: 600
    }
    .widget--live-player__title {
        text-transform: uppercase;
        font-weight: 600;
    }
}

@media screen and (min-width: 971px) {
	.main {
			background-image: url("../../images/background-970.jpg");
			background-position: top;
			background-repeat: repeat-y;
			background-color: #262626;
	}
}

/***** DESKTOP *****/

@media screen and (min-width: 1024px) {
    .featured__content--block {
        height: 100%;
    }
    .featured__content--image {
        margin-right: 0;
        width: 100%;
    }
    .featured__content--meta {
        width: 100%;
        min-height: 6.8em;
    }
    .featured__content--title {
        font-size: 1.13em;
    }
}
/***** LARGER DESKTOP *****/

@media screen and (min-width: 1400px) {
    .home__featured .featured__article--content {
        background-image: url("../../images/gtr.png"), linear-gradient(to left, #7e080f 0, #c02925 100%);
        background-repeat: no-repeat;
        background-position: right;
    }
}
