.discover-modal {
	background-color: var(--global-white);
	height: 100%;
	left: 0;
	margin-top: -3.333rem;
	min-height: calc(100vh - 3.333rem);
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 5;

	& .modal-header {
		font-style: italic;
		padding-right: 1.3rem;
	}

	& .button.modal-close { /* extra class name needed to override specificity elsewhere. */
		padding-right: 1rem;
		top: 1rem;
		right: .2rem;

		@media(--min-xlarge-viewport) {
			padding-right: 0;
			top: 2.3rem;
			right: 1.3rem;
		}
	}

	& input[type="search"] {
		border-bottom: none;
	}

	& .filters {
		border: 1px solid var(--global-gallery);
		box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.08), 0px 1px 0px rgba(0, 0, 0, 0.1),
			inset 0px 1px 2px rgba(255, 255, 255, 0.08);
		margin: 0 0 2.945rem;
		padding: 4rem 1.3rem 1.778rem 1.3rem;

		@media(--min-xlarge-viewport) {
			padding: 1.778rem 1.3rem;
		}

		& .content-wrap {
			display: flex;
			flex-wrap: wrap;
			margin: calc(1rem * -1);
			padding: 0;

			@media (--min-xlarge-viewport) {
				margin: 0 auto;
			}

			& > * {
				flex-grow: 1;
				flex-basis: calc((768px - 100%) * 999);
				max-width: 100%;
				margin: 0 .889rem;
			}
		}

		& .select {
			align-items: center;
			display: flex;
			margin-bottom: 1rem;
			min-width: 110px;
			position: relative;

			@media(--min-xlarge-viewport) {
				margin-bottom: 0;
			}

			&::after {
				border: none;
				border-bottom: 2px solid var(--brand-secondary);
				border-right: 2px solid var(--brand-secondary);
				content: " ";
				display: block;
				height: 4px;
				pointer-events: none;
				position: absolute;
				right: calc(100% - 90px);
				top: 8px;
				transform: rotate(45deg);
				transform-origin: 50%;
				transition: transform 300ms ease;
				width: 4px;

				@media(--min-xlarge-viewport) {
					height: 8px;
					top: 12px;
					width: 8px;
				}
			}

			&.select-location {
				&::after {
					right: calc(100% - 115px);
				}

				& select {
					max-width: 115px;
					min-width: 115px;
				}
			}
		}
	}

	& select {
		appearance: none;
		background-color: transparent;
		border: none;
		font-size: 0.889rem;
		font-weight: 600;
		max-width: 90px;
		min-width: 90px;
		width: 100%;
	}

	& input[type="search"] {
		padding-top: 0;
		position: relative;
		top: -4px;

		@media(--min-xlarge-viewport) {
			padding-top: .6667rem;
			top: 0;
		}
	}

	& button[type="submit"] {
		top: -7px;

		@media(--min-xlarge-viewport) {
			top: 0;
		}
	}

	& .post-thumbnail {
		& button {
			background-color: rgba(0,0,0,0.6);
			border: none;
			color: var(--brand-primary);
			cursor: pointer;
			height: 100%;
			opacity: 0;
			position: relative;
			transition: 300ms opacity ease-in-out;
			width: 100%;

			&::before {
				border-radius: 50%;
				content: "";
				background-color: var(--global-white);
				height: 64px;
				left: 50%;
				position: absolute;
				top: 50%;
				transform: translate(-50%, -50%);
				width: 64px;
			}

			& span {
				font-size: 2rem;
				position: relative;
				z-index: 5;
			}
		}

		&:hover {
			& button {
				opacity: 1;
			}
		}
	}
}