.discover-modal {
	background-color: var(--global-white);
	height: 100%;
	left: 0;
	margin-top: -3.333rem;
	overflow: auto;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 80;

	& .modal-header {
		font-style: italic;
		padding-right: 2rem;
	}

	& .modal-close {
		padding-right: 0;
		top: 1.778rem;
	}

	& input[type="search"] {
		border-bottom: none;
	}

	& .filters {
		border: 1px solid var(--global-gallery);
		box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.08), 0px 1px 0px rgba(0, 0, 0, 0.1),
			inset 0px 1px 2px rgba(255, 255, 255, 0.08);
		margin: 0 0 2.945rem;
		padding: 1.778rem 2rem;

		& .content-wrap {
			display: flex;
			flex-wrap: wrap;
			margin: calc(1rem * -1);
			padding: 0;

			& > * {
				flex-grow: 1;
				flex-basis: calc((768px - 100%) * 999);
				max-width: 100%;
				margin: 0 1rem;
			}
		}

		& .select {
			align-items: center;
			display: flex;
			margin-bottom: 1rem;
			min-width: 110px;
			position: relative;

			@media(--min-xlarge-viewport) {
				margin-bottom: 0;
			}

			&::after {
				border: none;
				border-bottom: 2px solid var(--brand-secondary);
				border-right: 2px solid var(--brand-secondary);
				content: " ";
				display: block;
				height: 8px;
				position: relative;
				top: -2px;
				transform: rotate(45deg);
				transform-origin: 50%;
				transition: transform 300ms ease;
				width: 8px;
			}
		}
	}

	& select {
		appearance: none;
		border: none;
		font-size: 0.889rem;
		font-weight: 600;
		width: 100%;
	}

	& .post-thumbnail {
		& button {
			background-color: rgba(0,0,0,0.6);
			border: none;
			color: var(--brand-primary);
			cursor: pointer;
			height: 100%;
			opacity: 0;
			position: relative;
			transition: 300ms opacity ease-in-out;
			width: 100%;

			&::before {
				border-radius: 50%;
				content: "";
				background-color: var(--global-white);
				height: 64px;
				left: 50%;
				position: absolute;
				top: 50%;
				transform: translate(-50%, -50%);
				width: 64px;
			}

			& span {
				font-size: 2rem;
				position: relative;
				z-index: 5;
			}
		}

		&:hover {
			& button {
				opacity: 1;
			}
		}
	}
}