.archive-tiles {
	padding-bottom: 1.775rem;

	& [class*="-title"] {
		& a {
			color: var(--global-font-primary);
		}
	}

	& .type {
		display: none;
	}

	& .status button svg {
		fill: var(--global-white);
	}

	&:not(.-carousel) {
		& .episode-tile {
			& .status button svg {
				fill: var(--global-white);
			}
		}
	}

	/* Override when in archive carousel */
	& .podcast-tile {
		& .excerpt {
			display: none;
		}
		@media (--min-small-viewport) {
			width: 100%;
		}
		@media (--min-xlarge-viewport) {
			& .excerpt {
				display: block;
			}
		}
	}

	& .episode-tile {
		& .status {

			&.LIVE_PLAYING {
				& button svg rect {
					fill: var(--brand-primary);
				}
			}

			&.LIVE_BUFFERING {
				& .loading-btn {
					& .loading::after {
						border-left-color: var(--brand-primary);
						border-bottom-color: var(--brand-primary);
					}
				}
			}

			&.LIVE_STOP,
			&.LIVE_PAUSE {
				& button svg {
					fill: var(--brand-primary);
				}
			}
		}
	}

	& .episodes {

		& .status button svg {
			fill: var(--global-white);
		}
	}

	&.-list {
		& > div {
			display: flex;
			flex-wrap: wrap;

			@media (--min-small-viewport) {
				flex-wrap: nowrap;
			}

			& .post-thumbnail {
				@media (--min-small-viewport) {
					flex: 1 0 30%;
					margin-bottom: 0;
					max-width: 30%;
				}
			}

			& .meta {
				@media (--min-small-viewport) {
					margin-left: 2.444rem;
				}
			}
		}

		& .contest-tile,
		& .event-tile {
			& .meta {
				flex: 0 1 auto;
			}
		}
	}

	&.-grid {
		align-items: flex-start;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		& > div {
			flex: 0 1 100%;
			padding-bottom: 20px;

			@media (--min-medium-viewport) {
				flex: 0 1 calc(50% - 1.5rem);
				padding-bottom: 2.222rem;
			}

		}
	}

	&.-carousel {
		padding-bottom: 2rem;

		&.-small [class$="-title"] h3 {
			font-size: 14px;

			& a {
				font-weight: 400;
			}

			@media (--min-medium-viewport) {
				font-size: 1rem;

				& a {
					font-weight: 700;
				}
			}
		}

		&.-large {
			& .swiper-button-next,
			& .swiper-button-fake-next,
			& .swiper-button-prev {
				width: 76px;
			}
		}

		&.-small {
			& .swiper-button-next,
			& .swiper-button-fake-next,
			& .swiper-button-prev {
				width: 43px;
			}
		}

		& .episode-tile {
				padding-bottom: 0;
				& .status button svg {
					fill: var(--brand-primary);
				}
		}

		& .swiper-button-prev {
			left: 0;

			&::after {
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='29' fill='none'%3E %3Cpath fill='%23000' d='M3.876.29l13.269 13.542a.927.927 0 0 1 0 1.336L3.876 28.71a.891.891 0 0 1-.655.291.892.892 0 0 1-.655-.29l-1.423-1.453a.928.928 0 0 1 0-1.337l11.19-11.42L1.143 3.08a.927.927 0 0 1 0-1.337L2.565.29A.891.891 0 0 1 3.221 0c.247 0 .465.096.655.29z'/%3E %3C/svg%3E ");
				transform: scale(-1);
			}
		}

		& .swiper-button-next {
			right: 0;

			&::after {
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='29' fill='none'%3E %3Cpath fill='%23000' d='M3.876.29l13.269 13.542a.927.927 0 0 1 0 1.336L3.876 28.71a.891.891 0 0 1-.655.291.892.892 0 0 1-.655-.29l-1.423-1.453a.928.928 0 0 1 0-1.337l11.19-11.42L1.143 3.08a.927.927 0 0 1 0-1.337L2.565.29A.891.891 0 0 1 3.221 0c.247 0 .465.096.655.29z'/%3E %3C/svg%3E ");
			}
		}

		& .swiper-button-prev,
		& .swiper-button-next {
			background-image: none;
			bottom: 0;
			display: none;
			height: 100%;
			margin-top: 0;
			top: 0;
			transition: opacity 300ms ease;

			@media (--min-medium-viewport) {
				display: block;
			}

			&::before,
			&::after {
				background-position: center;
				background-repeat: no-repeat;
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				z-index: -1;
			}

			&::before {
				background-color: var(--global-white);
				height: 100%;
				opacity: 0.8;
			}
		}

		& .swiper-button-fake-next {
		 	opacity: 0;
		 	bottom: 0;
		 	display: none;
		 	margin-top: 0;
		 	position: absolute;
		 	right: 0;
		 	top: 0;
		 	z-index: 9;

		 	@media (--min-medium-viewport) {
				display: flex;
		 	}
		}

		& .swiper-button-disabled {
			opacity: 0;
	    }

		&.first-swiper .swiper-button-next.swiper-button-disabled {
		 	opacity: 1;
		 	z-index: 8;

		 	&::after {
				background-size: 50%;
			    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 25.2.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 364 322' style='enable-background:new 0 0 364 322;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;%7D .st1%7Bfill:none;stroke:%23000000;stroke-width:20;stroke-miterlimit:10;%7D .st2%7Bfill:none;stroke:%23000000;stroke-width:25;stroke-linejoin:round;stroke-miterlimit:10;%7D%0A%3C/style%3E%3Cg%3E%3Cpath class='st0' d='M190,320c-61.9,0-123.8,0-186,0c0-73,0-146,0-219c13.3,18.3,26.5,36.6,39.8,54.9c3.6,4.9,8.1,6.3,13.6,4 c19.9-8.4,39.9-16.7,59.6-25.7c2.7-1.2,5.3-5.3,5.7-8.4c1.2-8.4-6.8-13.7-15-10.5C95,120.4,82.3,125.7,69,131.1 c0.2-1.6,0.2-2.8,0.4-3.9c17-70,89.4-116.1,159.8-101.6c75.5,15.5,122.9,86.1,108.7,161.9c-13.7,73.2-87.2,123.2-160.1,109 c-30.8-6-56.6-20.7-77.7-43.9c-2.1-2.3-5-4.7-7.9-5.5c-4.7-1.4-8.9,0.7-11.5,5c-2.4,4-1.6,9.1,2.1,13.3 c21.8,24.9,48.8,41.5,80.9,49.5C172.4,317.1,181.2,318.4,190,320z'/%3E%3Cpath class='st1' d='M-5.7,99.1'/%3E%3Cpath class='st2' d='M52.5,159.2c0-80.9,65.6-146.4,146.4-146.4s146.4,65.6,146.4,146.4c0,84.1-74.2,148.4-146.4,146.4 c-63.1,0-103.5-46.7-111.3-56.2 M13.6,129.2l38.9,38.9l42.4-42.4'/%3E%3Cpath class='st0' d='M188,2c-6.5,1.2-13,2.2-19.4,3.8C107.3,21.2,67.5,59.2,49,119.7c-0.4,1.3-0.8,2.5-1.4,4.6 c-7.9-10.9-15.5-21.4-23.1-31.8c-4.1-5.6-10.6-7.2-15.7-3.5c-2,1.5-3.3,4-4.9,6C4,64.1,4,33.1,4,2C65.3,2,126.7,2,188,2z'/%3E%3Cpath class='st0' d='M216,320c7.5-1.3,15-2.4,22.4-4c65.5-14.3,116-71.1,122.7-137.7c0.1-1.1,0.6-2.2,0.9-3.3c0,48.3,0,96.5,0,145 C313.3,320,264.7,320,216,320z'/%3E%3Cpath class='st0' d='M362,147c-1.3-7.1-2.5-14.3-4-21.4C344.6,63,290.9,13.1,227.2,3.8c-3.4-0.5-6.8-1.2-10.2-1.8 c48.3,0,96.5,0,145,0C362,50.3,362,98.7,362,147z'/%3E%3C/g%3E%3C/svg%3E%0A");
		 	}
	 	}
    }


	&.-small,
	&.-large {
		& [class*="-tile"] {
			flex-wrap: wrap;
		}

		& .post-thumbnail {
			flex: 0 1 100%;
			margin-bottom: 10px;

			@media (--min-medium-viewport) {
				margin-bottom: 1rem;
			}
		}

		& .post-date {
			display: none;
		}

		& .meta,
		& .post-thumbnail {
			padding-left: 0;
		}
	}

	&.-small:not(.-carousel) {
		& > div {
			flex: 1 0 calc(50% - 2px);
			max-width: calc(50% - 2px);

			@media (--min-large-viewport) {
				flex: 0 1 calc(25% - 1.5rem);
				max-width: calc(25% - 1.5rem);
			}
		}

		&.-grid {
			& > div {
				flex: 0 1 100%;

				/* &:not(:nth-child(2n)) {
					@media (--min-small-viewport) {
						margin-right: 4px;
					}

					@media (--min-large-viewport) {
						margin-right: 0;
					}
				} */

				&:not(:nth-child(4n)) {
					@media (--min-large-viewport) {
						margin-right: 2rem;
					}
				}
			}
		}
	}

	&.-large:not(.-carousel) {
		justify-content: space-between;

		& > div {
			flex: 1 0 calc(50% - 2px);
			max-width: calc(50% - 2px);

			@media (--min-large-viewport) {
				flex: 1 0 calc(50% - 1.5rem);
				max-width: calc(50% - 1.5rem);
			}
		}

		@media (--max-medium-viewport) {
			& h3,
			& h3 a {
				font-size: 14px;
				font-weight: 400;
			}
		}
	}

	@media (--min-xlarge-viewport) {
		margin-bottom: 1.775rem;
	}
}

.single-show,
.search-results,
.archive,
.home {
	& .archive-tiles {
		& .placeholder-audio {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);

			& .status button {
				background-color: var(--brand-tertiary);
				border-color: var(--brand-tertiary);

				& svg {
					fill: var(--brand-primary);
				}
			}
		}

		/* Revert placeholder for full podcast-tile */
		& .podcast-tile {
			& .placeholder-audio {
				margin-top: 10px;
				position: relative;
				top: auto;
				left: auto;
				transform: translateX(0) translateY(0);
			}
		}

		& .post-title {
			hyphens: auto;
			word-wrap: anywhere;

			& h3 {
				font-size: 14px;
				font-weight: 600;
				margin-bottom: 0;

				& a {
					font-weight: 400;
				}

				@media (--min-medium-viewport) {
					font-size: 1.375rem;

					& a {
						font-weight: 700;
					}
				}
			}
		}

		& .type-episode {
			& .episode-meta {
				display: none;
			}
		}

		@media (--min-medium-viewport) {

			& .type {
				align-items: center;
				color: var(--brand-primary);
				display: flex;
				flex: 0 1 100%;
				font-size: 1rem;
				font-weight: 700;
				line-height: 1;
				margin-bottom: 0;
				padding-top: 1.333rem;

				& svg {
					fill: var(--brand-primary);
					margin-right: .611rem;
				}
			}
		}
	}

	& [id="wnks-concerts-events"] {
		& .archive-tiles {
			& .post-date {
				color: var(--global-silver-chalice);
				display: block;
				font-size: 0.875rem;
				margin-bottom: 0.5rem;
			}
		}
	}
}

.single-podcast {
	& #inner-content {
		& > .podcast {
			& .episode-tile:first-child {
				& .episode-meta::before {
					color: var(--brand-secondary);
					content: "Latest";
					font-style: italic;
					font-size: .833rem;
					font-weight: 600;
					margin-right: 1.278rem;
				}
			}
		}
	}
}

.show {
	& .episode-tile {
		& .status button svg {
			fill: var(--brand-primary);

			& rect {
				fill: var(--brand-primary);
			}
		}
	}
}

.archive-keyword-tiles {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}

.jacapps .archive-tiles.-small .post-thumbnail,
.jacapps .archive-tiles.-large .post-thumbnail {
	margin-bottom: 0.5rem;
}

.jacapps.single-show .archive-tiles .post-title h3 {
	margin-bottom: 1rem;
}
