.archive-tiles {
	margin-bottom: 1.775rem;
	padding-bottom: 1.775rem;

	& [class*="-title"] {
		& a {
			color: var(--global-font-primary);
		}
	}

	& .type {
		display: none;
	}

	&:not(.-carousel) {
		& .episode-tile {
			& .status button svg {
				fill: var(--brand-primary);
			}
		}
	}

	& .episode-tile {
		& .status button svg {
			fill: var(--brand-primary);
		}
	}

	&.-list {
		& > div {
			display: flex;
			flex-wrap: wrap;

			@media (--min-small-viewport) {
				flex-wrap: nowrap;
			}

			& .post-thumbnail {
				@media (--min-small-viewport) {
					flex: 1 0 30%;
					margin-bottom: 0;
					max-width: 30%;
				}
			}

			& .meta {
				@media (--min-small-viewport) {
					margin-left: 2.444rem;
				}
			}
		}

		& .contest-tile,
		& .event-tile {
			& .meta {
				flex: 0 1 auto;
			}
		}
	}

	&.-grid {
		align-items: flex-start;
		display: flex;
		flex-wrap: wrap;

		& > div {
			flex: 0 1 100%;
			padding-bottom: 2.222rem;

			@media (--min-medium-viewport) {
				flex: 0 1 calc(50% - 1.5rem);
			}
		}
	}

	&.-carousel {
		padding-bottom: 2rem;

		&.-small [class$="-title"] h3 {
			font-size: 1rem;
		}

		&.-large {
			& .swiper-button-next,
			& .swiper-button-prev {
				width: 76px;
			}
		}

		&.-small {
			& .swiper-button-next,
			& .swiper-button-prev {
				width: 43px;
			}
		}

		& .episode-tile {
				padding-bottom: 0;
		}

		& .swiper-button-prev {
			left: 0;

			&::after {
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='29' fill='none'%3E %3Cpath fill='%23000' d='M3.876.29l13.269 13.542a.927.927 0 0 1 0 1.336L3.876 28.71a.891.891 0 0 1-.655.291.892.892 0 0 1-.655-.29l-1.423-1.453a.928.928 0 0 1 0-1.337l11.19-11.42L1.143 3.08a.927.927 0 0 1 0-1.337L2.565.29A.891.891 0 0 1 3.221 0c.247 0 .465.096.655.29z'/%3E %3C/svg%3E ");
				transform: scale(-1);
			}
		}

		& .swiper-button-next {
			right: 0;

			&::after {
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='29' fill='none'%3E %3Cpath fill='%23000' d='M3.876.29l13.269 13.542a.927.927 0 0 1 0 1.336L3.876 28.71a.891.891 0 0 1-.655.291.892.892 0 0 1-.655-.29l-1.423-1.453a.928.928 0 0 1 0-1.337l11.19-11.42L1.143 3.08a.927.927 0 0 1 0-1.337L2.565.29A.891.891 0 0 1 3.221 0c.247 0 .465.096.655.29z'/%3E %3C/svg%3E ");
			}
		}

		& .swiper-button-prev,
		& .swiper-button-next {
			background-image: none;
			bottom: 0;
			display: none;
			height: 100%;
			margin-top: 0;
			top: 0;
			transition: opacity 300ms ease;

			@media (--min-medium-viewport) {
				display: block;
			}

			&::before,
			&::after {
				background-position: center;
				background-repeat: no-repeat;
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				z-index: -1;
			}

			&::before {
				background-color: var(--global-white);
				height: 100%;
				opacity: 0.8;
			}
		}

		& .swiper-button-disabled {
			opacity: 0;
		}
	}

	&.-small,
	&.-large {
		& [class*="-tile"] {
			flex-wrap: wrap;
		}

		& .post-thumbnail {
			flex: 0 1 100%;
			margin-bottom: 1rem;
		}

		& .post-date {
			display: none;
		}

		& .meta,
		& .post-thumbnail {
			padding-left: 0;
		}
	}

	&.-small:not(.-carousel) {
		& > div {
			@media (--min-small-viewport) {
				flex: 1 0 calc(50% - 1.5rem);
				max-width: calc(50% - 1.5rem);
			}

			@media (--min-large-viewport) {
				flex: 0 1 calc(25% - 1.5rem);
				max-width: calc(25% - 1.5rem);
			}
		}

		&.-grid {
			& > div {
				flex: 0 1 100%;

				&:not(:nth-child(2n)) {
					@media (--min-small-viewport) {
						margin-right: 3rem;
					}

					@media (--min-large-viewport) {
						margin-right: 0;
					}
				}

				&:not(:nth-child(4n)) {
					@media (--min-large-viewport) {
						margin-right: 2rem;
					}
				}
			}
		}
	}

	&.-large:not(.-carousel) {
		justify-content: space-between;

		& > div {
			flex: 1 0 100%;
			max-width: 100%;

			@media (--min-large-viewport) {
				flex: 1 0 calc(50% - 1.5rem);
				max-width: calc(50% - 1.5rem);
			}
		}
	}
}

.single-show,
.search-results,
.archive,
.home {
	& .archive-tiles {
		& .placeholder-audio {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);

			& .status button {
				background-color: var(--brand-tertiary);
				border-color: var(--brand-tertiary);
			}
		}

		& .type {
				align-items: center;
				color: var(--brand-primary);
				display: flex;
				flex: 0 1 100%;
				font-size: 1rem;
				font-weight: 700;
				line-height: 1;
				margin-bottom: 0;
				padding-top: 1.333rem;

				& svg {
					fill: var(--brand-primary);
					margin-right: .611rem;
				}
		}

		& .post-title {
			hyphens: auto;
			word-wrap: break-word;

			& h3 {
				font-size: 1.375rem;
				font-weight: 600;
				margin-bottom: 0;
			}
		}

		& .type-episode {
			& .episode-meta {
				display: none;
			}
		}
	}

	& [id="wnks-concerts-events"] {
		& .archive-tiles {
			& .post-date {
				color: var(--global-silver-chalice);
				display: block;
				font-size: 0.875rem;
				margin-bottom: 0.5rem;
			}
		}
	}
}

.single-podcast {
	& #inner-content {
		& > .podcast {
			& .episode-tile:first-child {
				& .episode-meta::before {
					color: var(--brand-secondary);
					content: "Latest";
					font-style: italic;
					font-size: .833rem;
					font-weight: 600;
					margin-right: 1.278rem;
				}
			}
		}
	}
}

.show {
	& .episode-tile {
		& .status button svg {
			fill: var(--brand-primary);
		}
	}
}