.gallery-listicle,
.gallery-listicle-item {
	list-style: none;
	margin: 0;
	padding: 0;
}

.gallery-listicle-item {
	border-bottom: 1px solid var(--global-silver);
	margin-bottom: 2rem;
	padding-bottom: 2rem;

	& .placeholder-dfp {
		margin-top: 1rem;
	}

	& .placeholder-lazyimage {
		overflow: hidden;
		position: relative;
		background-color: var(--global-mercury);

		&::before {
			content: "";
			display: block;
			padding-top: calc((3 / 4) * 100%);
			width: 100%;
		}
	}

	& .lazy-image {
		background-size: contain;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;

		& .lazy-image-attribution {
			display: block;
		}
	}

	& h4,
	& p {
		margin: 0;
	}

	& h3 {
		margin: .5rem 0;
	}

	& .gallery-meta {

		& .share-wrap {
			align-items: center;
			display: flex;
			justify-content: space-between;
			margin: 1.25rem 0 1.5rem 0;

			& .share-download-button {
				border: 1px solid var(--brand-primary);
				border-radius: 70px;
				display: block;
				font-size: 1rem;
				padding: 0.5rem 1.5rem;
				text-decoration: none;
			}

			& .share-wrap-icons {
				align-items: center;
				display: flex;
			}

			& .label {
				color: var(--global-theme-font-tertiary);
				display: inline-block;
				font-size: 1rem;
				margin-right: 1rem;
			}

			& button:first-child {
				margin-left: 0;
			}
		}

		& .attribution {
			color: var(--global-theme-font-tertiary);
			display: block;
			font-size: .875rem;
			font-weight: 400;
			margin: 1rem 0;
		}

	}

}
