.main,
%main {
    background-color: $primary-bg;
}

.header {
    border-bottom: 1px solid #58595b;
}

.home__featured {
    @include bp(medium) {
        background-position: left top;
        background-color: #561015;
        // background-size: cover; // Leave this out unless we want big crosshatches on WMGK. If we do want that, be sure to also add this to the .show__header
    }
}

.live-links {
    border-top: 0;
}

.single-gmr_gallery .gallery__paging--prev,
.single-gmr_gallery .gallery__paging--next {
    color: $light-gray;
    &:hover {
        color: $cardinal;
    }
}

.live-player__stream {
    border: 1px solid lighten($color-gray-medium-dark, 50%);
    color: lighten($color-gray-medium-dark, 50%);
    @include border-radius(1em);
    background-color: $liveplayer-bg;
    li {
        height: auto;
    }
    .live-player__stream--available {
        display: none;
    }
    .live-player__stream--current.open .live-player__stream--available {
        color: $dark-gray;
        border-top: 1px solid darken($color-gray-light, 10%);
        &:after {
            background: transparent;
        }
        .live-player__stream--item,
        .live-player__stream--desc {
            color: $dark-gray;
        }
        .live-player__stream--item {
            background-color: $liveplayer-bg;
            &:hover {
                background-color: $light-gray;
            }
        }
        li:last-child {
            @include border-bottom-radius(1em);
        }
    }
}

.live-player__container {
    border-bottom: 1px solid white;
}

.now-playing__artist {
    color: $color-gray-medium-dark;
}

.live-link__title,
.live-link__title a:link,
.live-link__title a:visited {
    color: $color-gray-medium;
}

.live-link__song:before {
    color: $medium-dark-gray;
}

.live-link__song--artist {
    color: $medium-dark-gray;
}

.live-link__song--title {
    color: $dark-gray;
    a,
    a:visited {
        color: $darker-gray;
    }
}

.live-link__title a:link,
.live-link__title a:visited {
    color: $color-gray-medium;
}

.live-link__title a:hover,
.live-link__title a:focus,
.live-link__title a:active {
    color: $primary-link-hover;
}

.header__logo {
    @include bp(medium) {
        top: -7px;
    }
}

.home__highlights {
    border-bottom-color: $primary-border;
}

.highlights__events--more-btn {
    &:hover {
        color: $yellow ;
        border-color: $yellow;
    }
}

.highlights__event--item {
    background-color: #8c8c8c;
    color: $white;
}

.highlights__event--title,
.highlights__event--date {
    color: $white;
    a:hover & {
        color: $yellow;
    }
}

.highlights__heading {
    color: $highlights-heading;
}

.type-contest .entry__title--tag {
    background-color: $light-gray;
    border-color: $light-gray;
}

.audio__progress-bar {
    background-color: $gray;
}

.footer {
    background-color: $primary-bg;
}


/*//////////
// Chris's overrides
//////////


#site-wrap.site-wrap {
    background-size: 100%;
    background-color: #000;
    background-image: url('../../images/starbg.jpg');
    background-repeat: repeat-x;
}

.header {
    border-bottom: 1px solid #D22228;
}

.header{
    background-image: url('../../images/starmasttop.jpg')!important;
    background-size: cover!important;
    background-position: bottom center!important;
}

.header__main {
    background-color: #000;
    font-family: oswald;
    text-transform: uppercase;
    border-bottom: solid 4px #D22228;
}

.home__featured {
    background-color: transparent;
    background-image: url('../../images/black60bg.png');
}

.featured__content--block,
.home__featured .featured__content--block {
    background-color: #23282D;
}

.featured__article--content,
.home__featured .featured__article--content {
    background-color: #23282D;
}

.home__highlights {
    background-color: #252424;
}

.main,
#page-wrap.page-wrap {
    background-color: transparent;
}

header#header.header {
    background-color: transparent;
}

.container {
    background-color: transparent;
}

.entries {
    background-color: #E5E5E5;
    background-repeat: repeat-x;
    background-image: url('../../images/mainbg.jpg');
}

.content {
    background-color: #fff;
}

.gallery__archive {
    background-color: #E5E5E5!important;
    background-repeat: repeat-x;
    background-image: url('../../images/mainbg.jpg');
}

.home__highlights {
    visibility: visible;
    padding: 0px;
}

.page__title,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: oswald!important;
}


/* .article__thumbnail,.contest__thumbnail {max-height:300px;}


.home .container {
    background-color: transparent !important;
}

.content {
    background-repeat: no-repeat;
    background-color: #E5E5E5;
}

/* Livefyre Overrides For Sidebar

.live-links {
    border-top: 0;
    margin: 0!important;
    width: 100%;

    .widget--live-player__title {
        display: none;
    }

    .widget_gmr_blogroll_widget {
        display: none;
    }
}

.live-links--more.show-more--muted {
    display: block;
}

.streamhub-wall-component {
    article {
        &.content-default .content-body {
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            line-height: 20px;
        }
    }
}
.live-player__container {
  background-image: url(https://files.greatermedia.com/uploads/sites/14/2016/04/listenliveamp-4.jpg)
}

#wcsx-social-stream {
    overflow: hidden;
    border-top: 1px solid #eee;

    article {
        border-width: 0 0 1px 0;
        margin: 0;
        padding: 20px 0;

        &.content .content-header .content-header-inner {
            padding-top: 0;
        }

        &.content-instagram .content-header .content-header-inner {
            padding-top: 20px;
        }
    }

    .hub-list-more {
        display: none;
    }
}
*/

/* Overrides for WCSX - March 7, 2017
*/
/* body and content */
  .main
{background-color: transparent;}

#site-wrap.site-wrap {
    background-size: 100%;
    background-color: #000;
    background-image: url('//wcsx.com/wp-content/themes/wcsx/images/starbg.jpg');
    background-repeat: repeat-x;
}

.content
  {background-color: #fff;font-family: Arial,Helvetica Neue,Helvetica,sans-serif;}

  .content{font-family: Arial,Helvetica Neue,Helvetica,sans-serif;}
  h1,h2,h3,h4,h5,h6{font-family: oswald;}
  a.entry2__footer--read-more{font-family: oswald;text-transform:uppercase;}

  .main > .container
  {background-color: #ffffff;}

  .container {
    background-color: transparent;
}
.main,
#page-wrap.page-wrap {
    background-color: transparent;
}
/* header */


  .header__main.headroom

{background-size: cover; background-image: url(//files.greatermedia.com/uploads/sites/14/2017/03/wcsxmastbg317-1.jpg);background-color: #4c1d68;}



  .header__main a, .header__main a:visited
  {color: #ffffff;}

.header__search ,   .header__search--btn::before
{
  color: #ffffff;
}

#header__nav{background-color: #ffffff;}

.header__nav > ul li a:hover
  {background-color: #ccc;}

   .header__main {
    background-color: #000;
    font-family: oswald;
    text-transform: uppercase;
    border-bottom: solid 4px #333333;
}
.header__search--span a
  {color: #fff;}

  .header{border-bottom: solid 4px #D22228;}



  #header__nav{background-color: #ffffff;}

  .header__main button, input, optgroup, select, textarea
  {color: #ffffff;}
  .audio-stream .audio-stream__title
  {color: #fff;}


.header__nav .format-fi >   ul, .header__nav .format-fw > ul, .header__nav .format-sp > ul, .header__nav .sub-menu, .ui-menu
  {background-color: #ffffff;}

  .header__main ul li a:active, .header__main ul li:hover a
{
  background-color: #ffffff;
  color: #333333;
}
.header__main ul li a:hover
  {
  background-color: #cccccc;;
  color: #333333;
}



/* Audio player */

  .audio-interface{color: #ffffff;background-color: #333333;}
    input[type=range]::-webkit-slider-thumb {background: #dddddd;}
input[type=range]::-moz-range-thumb {background: #dddddd;}
input[type=range]::-ms-thumb {background: #dddddd;}
  .audio-volume .audio-volume__btn:before, .audio-volume .audio-volume__mute:before{color: #ffffff;}

    .audio-playing .audio-playing__track
  {color: #ffffff;}
   .audio-interface button, input, optgroup, select, textarea
{color: #ffffff;}

.audio-controls__loading, .audio-controls__pause, .audio-controls__play, .audio-controls__resume
{  background-color: #cc0000;
  }

.audio-controls__loading:hover,  .audio-controls__pause:hover, .audio-controls__play:hover,  .audio-controls__resume:hover
{
  background-color: #aa1c20;
    border: #aa1c20;

  color: #ffffff;
}
  .audio-stream .audio-stream__available
  {background-color: #333333; color: #ffffff;}

.audio-stream .audio-stream__title  {background-color: transparent;border-color: #ffffff;}

  .audio-stream .audio-stream__current
  {background-color: #444444;border-top-color: #444444;border-bottom-color: #444444;border-left-color: #444444;border-right-color:#444444;}

  .audio-stream .audio-stream__link:hover
  {background-color: #D22228;}


  .audio-volume .audio-volume__btn, .audio-volume .audio-volume__mute button, input, optgroup, select, textarea
  {color: #ffffff;}



   /* show header */



.show__header{background: #333333; max-width: 620px;}

  .show__mini-nav .show__header .show__nav .show__title a:hover
{
  background-color: transparent;
  color: #aa1c20;}

.show__nav li a:hover
{
  background-color: transparent;
  color: #aa1c20;
}

.show__meta .social-share-link:active, .show__meta .social-share-link:hover
{
  color: #333333;}

  .format-sp  .meta-text
{
  color: #d22228;
}


   /* home features */

  .home__featured {
    color: #fff;
    background-color: transparent;
    background-image:none;
}
.featured__article--heading
{color: #ffffff;
}
  .featured__article--heading a:hover
{color: #cccccc;
}
   .featured__content--title
  {color: #fff;}
   .featured__content--title a:hover
  {color: #cccccc;}

.highlights__events--more-btn:focus, .highlights__events--more-btn:hover
{
  background-color: transparent;
  border-top-color: #333333;
  border-bottom-color: #333333;
  border-left-color: #333333;
  border-right-color: #333333;
  color:  #aa1c20;
}


a:hover .highlights__community--title
{
  color: #cccccc;
}

a:hover .highlights__event--date, a:hover .highlights__event--title
{
  color: #cccccc;
}

.featured__article--image
{background-color: #000000;}

/* hover problem on homepage 4-2017
.featured__article:hover
{
  color: #cccccc;
}
*/

h2.featured__article--heading:hover, .featured__content--block:hover h2.featured__content--title {
    color: #cccccc;
}
h2.featured__article:hover h2.featured__article--heading {
    color: #cccccc;}


#wcsx-social-stream
{border: solid 1px #e5e5e5;}

.header{background-image: none; background-color: #000000;}
.audio-expand
{
  background-color: #cc0000;}

.header__search--form .header__search--input {
	color: #000 ;
}

/* March 2017 additional tweaks
*/
.contest-attr--rules-toggler
{
  background-color: #cccccc;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #cccccc;
  border-right-color: #cccccc;
  border-bottom-color:#cccccc;
}
  .home__featured .featured__article--content
  {background-color: #333333;}

.home__featured .featured__content--meta
  {background-color: #333333;}

.featured__content--block:hover .featured__content--title
  {color: #eeeeee;}

.featured__article--heading:hover {color: #eeeeee;}
.featured__content--title:hover {color: #eeeeee;}
.header__main.headroom {background-color: #000000;}
.mobile-nav__list a{background-color: #ffffff;}
.header__search--form{background-color: #bbbbbb;}
.header__search--form .searchform{background-color: #ffffff;}
.mobile-nav__toggle{color: #ffffff;}
.mobile-nav__toggle--span, .mobile-nav__toggle--span::after, .mobile-nav__toggle--span::before {background-color: #ffffff;}
.mobile-nav .social__list {background-color: #ffffff;}
.mobile-nav__list a:active, a:focus, a:hover {color: #666666;}
.tribe-events-list-widget .tribe-events-list-widget-events {font-size: 60%;}
