@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500);

@include bp(large){
	.main {
    background: url(../../images/bg_babyblue.jpg);
	}
}

.home__featured .featured__article--content,
.home__featured .featured__content--block {
	background-color: #002a6e;
}

.home__featured .featured__article--heading {
  color:#fff;
  font-family: 'Ubuntu', sans-serif;
  font-weight:600;
  text-transform:uppercase
}

.home__featured .featured__article:hover .featured__article--content {
    background-color: #14499f;
    color: #fff;
    text-shadow: 2px 2px 1px rgba(9,32,64,.7);
}

.featured__article:hover .featured__article--heading {
    text-shadow: 2px 2px 1px rgba(9, 32, 64, .7);
    color: #fff;
}

.home__featured .featured__content--title {
  color:#fff;
  font-family:'Ubuntu',sans-serif;
  font-size:1.23em;
  font-weight:400
}

.featured__content--block:hover .featured__content--title {
  color: #fff;
  text-shadow: 2px 2px 1px rgba(9, 32, 64, .7);
}

.home__featured .featured__content--block:hover {
    background-color: #14499f;
}

.home__featured .featured__content--block:hover .featured__content--title {
    color: #99d8ff;
    text-shadow: 2px 2px 1px rgba(9,32,64,.7);
}

.highlights__heading {
  color: #002a63;
  font-weight: 500;
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif;
}

.highlights__events--more-btn {
    &:hover {
        color: $yellow ;
        border-color: $yellow;
    }
}

.highlights__events--more-btn {
    background-color: #002a6e;
    border: 1px solid #a8d6f7;
    color: #fff!important;
    text-transform: uppercase;
    font-weight: 700;
    &:hover {
        background-color: #a8d6f7;
        border: 1px solid #002a6e;
        color: #002a6e!important;
    }
}

.highlights__event--item {
  background-color: #002a6e;
	color: #fff;

	.highlights__event--date, .highlights__event--item, .highlights__event--title {
			color: #fff;
	}

	&:hover {
		.highlights__event--date, .highlights__event--item, .highlights__event--title {
		    color: $yellow;
		}
	}
}
