@import url('//fonts.googleapis.com/css?family=Ubuntu:400,500');
@include bp(large) {
    .main {
        background: url(../../images/bg_babyblue.jpg);
    }
}
.home__featured .featured__article--content, .home__featured .featured__content--block {
    background-color: #002a6e;
}
.home__featured .featured__article--heading {
    color: #fff;
    font-family: 'Ubuntu',sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}
.home__featured .featured__article:hover .featured__article--content {
    background-color: #14499f;
    color: #fff;
    text-shadow: 2px 2px 1px rgba(9,32,64,.7);
}
.featured__article:hover .featured__article--heading {
    text-shadow: 2px 2px 1px rgba(9,32,64,.7);
    color: #fff;
}
.home__featured .featured__content--title {
    color: #fff;
    font-family: 'Ubuntu',sans-serif;
    font-size: 1.23em;
    font-weight: 400;
}
.featured__content--block:hover .featured__content--title {
    color: #fff;
    text-shadow: 2px 2px 1px rgba(9,32,64,.7);
}
.home__featured .featured__content--block:hover {
    background-color: #14499f;
}
.home__featured .featured__content--block:hover .featured__content--title {
    color: #99d8ff;
    text-shadow: 2px 2px 1px rgba(9,32,64,.7);
}
.highlights__heading {
    color: #002a63;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Ubuntu',sans-serif;
}
.highlights__events--more-btn {
    &:hover {
        color: $yellow;
        border-color: $yellow;
    }
}
.highlights__events--more-btn {
    background-color: #002a6e;
    border: 1px solid #a8d6f7;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    &:hover {
        background-color: #a8d6f7;
        border: 1px solid #002a6e;
        color: #002a6e;
    }
}
.highlights__event--item {
    background-color: #002a6e;
    color: #fff;
    .highlights__event--date, .highlights__event--item, .highlights__event--title {
        color: #fff;
    }
    &:hover {
        .highlights__event--date, .highlights__event--item, .highlights__event--title {
            color: $yellow;
        }
    }
}
.type-contest .entry2__thumbnail--end-date {
    visibility: hidden;
}
.type-contest .entry2__thumbnail--contest-type {
    visibility: hidden!important;
}
.entry2__thumbnail__icon {
    visibility: hidden!important;
}
.entry2__thumbnail__overlay {
    opacity: 0!important;
}
.songs__group--date {
    font-size: 1em!important;
}
.type-tribe_events .entry2__thumbnail--month-and-day {
    visibility: hidden!important;
}
.type-tribe_events .entry2__thumbnail--day-of-week {
    visibility: hidden!important;
}
.h1 a:link, .h1 a:visited, .h2 a:link, .h2 a:visited, .h3 a:link, .h3 a:visited, .h4 a:link, .h4 a:visited, .h5 a:link, .h5 a:visited, .h6 a:link, .h6 a:visited, .type-contest .entry2__thumbnail--contest-type a:link, .type-contest .entry2__thumbnail--contest-type a:visited, .type-contest .entry2__thumbnail--end-date a:link, .type-contest .entry2__thumbnail--end-date a:visited, .type-tribe_events .entry2__thumbnail--event-date a:link, .type-tribe_events .entry2__thumbnail--event-date a:visited, body, h1 a:link, h1 a:visited, h2 a:link, h2 a:visited, h3 a:link, h3 a:visited, h4 a:link, h4 a:visited, h5 a:link, h5 a:visited, h6 a:link, h6 a:visited {
    color: #002a6e;
}
.h1 a:active, .h1 a:focus, .h1 a:hover, .h2 a:active, .h2 a:focus, .h2 a:hover, .h3 a:active, .h3 a:focus, .h3 a:hover, .h4 a:active, .h4 a:focus, .h4 a:hover, .h5 a:active, .h5 a:focus, .h5 a:hover, .h6 a:active, .h6 a:focus, .h6 a:hover, .type-contest .entry2__thumbnail--contest-type a:active, .type-contest .entry2__thumbnail--contest-type a:focus, .type-contest .entry2__thumbnail--contest-type a:hover, .type-contest .entry2__thumbnail--end-date a:active, .type-contest .entry2__thumbnail--end-date a:focus, .type-contest .entry2__thumbnail--end-date a:hover, .type-tribe_events .entry2__thumbnail--event-date a:active, .type-tribe_events .entry2__thumbnail--event-date a:focus, .type-tribe_events .entry2__thumbnail--event-date a:hover, h1 a:active, h1 a:focus, h1 a:hover, h2 a:active, h2 a:focus, h2 a:hover, h3 a:active, h3 a:focus, h3 a:hover, h4 a:active, h4 a:focus, h4 a:hover, h5 a:active, h5 a:focus, h5 a:hover, h6 a:active, h6 a:focus, h6 a:hover {
    color: #6699cc;
}
.show__nav h1 a {
    color: #ffffff;
}
.home__featured .featured__content--title {
    font-size: 1em;
}
.featured__article--heading {
    font-size: 1.1em;
}
.songs__group--list .song__time {
    color: #6699cc;
}
.header__main.headroom {
	background-image: url(../../images/wmjx-small-header.jpg);
	background-size: cover;
	background-position: top center;

	@include bp(medium) {
		background-image: url(../../images/magic-Header.jpg);
		background-size: auto;
	}
}
.mobile-nav__toggle--span, .mobile-nav__toggle--span::after, .mobile-nav__toggle--span::before {
    background-color: #ffffff;
}
.header__nav .format-fi > ul a.active, .header__nav .format-fi > ul a:focus, .header__nav .format-fi > ul a:hover, .header__nav .format-fw > ul a.active, .header__nav .format-fw > ul a:focus, .header__nav .format-fw > ul a:hover, .header__nav .format-sp > ul a.active, .header__nav .format-sp > ul a:focus, .header__nav .format-sp > ul a:hover, .header__nav .sub-menu a.active, .header__nav .sub-menu a:focus, .header__nav .sub-menu a:hover, .ui-menu a.active, .ui-menu a:focus, .ui-menu a:hover {
    color: #ffffff;
}
.header__search {
    color: #ffffff;
    padding-top: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    text-transform: uppercase;
    background-color: rgba(1,1,1,0.7);
}
.header__search:hover, .header__search:hover .header__search--btn::before {
    color: #6699cc;
}
.header__nav .format-fi > ul a.active, .header__nav .format-fi > ul a:focus, .header__nav .format-fi > ul a:hover, .header__nav .format-fw > ul a.active, .header__nav .format-fw > ul a:focus, .header__nav .format-fw > ul a:hover, .header__nav .format-sp > ul a.active, .header__nav .format-sp > ul a:focus, .header__nav .format-sp > ul a:hover, .header__nav .sub-menu a.active, .header__nav .sub-menu a:focus, .header__nav .sub-menu a:hover, .ui-menu a.active, .ui-menu a:focus, .ui-menu a:hover {
    background-color: #000033;
}
.main {
    background-image: url(../../images/bg-wmjx.jpg);
    background-attachment: fixed;
    background-color: #000000;
}
.header__nav > ul > li {
    background-color: rgba(255,255,255,0.7);
}
.header__main ul li a {
    color: #000000;
}
.header__nav .format-fi ul.header__nav-submenu--features li:hover
{
	background-color: #000033;
	color: #ffffff;
	p {
		color: #ffffff;
	}
}
.header__nav .mobile-nav .format-fi > ul a:active, .header__nav .mobile-nav .format-fi > ul a:hover, .header__nav .mobile-nav .format-fw > ul a:active, .header__nav .mobile-nav .format-fw > ul a:hover, .header__nav .mobile-nav .format-sp > ul a:active, .header__nav .mobile-nav .format-sp > ul a:hover, .mobile-nav .header__nav .format-fi > ul a:active, .mobile-nav .header__nav .format-fi > ul a:hover, .mobile-nav .header__nav .format-fw > ul a:active, .mobile-nav .header__nav .format-fw > ul a:hover, .mobile-nav .header__nav .format-sp > ul a:active, .mobile-nav .header__nav .format-sp > ul a:hover, .mobile-nav .sub-menu a:active, .mobile-nav .sub-menu a:hover {
    background-color: #303030;
    color: #ffffff;
}
