.main, %main {
    background-color: $primary-bg;
}

.header {
    border-bottom: 1px solid #58595b;
}

.home__featured {
    @include bp(medium) {
        background-position: left top;
        background-color: #561015;
        // background-size: cover; // Leave this out unless we want big crosshatches on WMGK. If we do want that, be sure to also add this to the .show__header
    }
}

.live-links {
    border-top: 0;
}

.single-gmr_gallery .gallery__paging--prev,
.single-gmr_gallery .gallery__paging--next {
    color: $light-gray;

    &:hover {
        color: $cardinal;
    }
}

.main .fyre .fyre-livecount {
    visibility: hidden;
}

.live-player__stream {
    border: 1px solid lighten($color-gray-medium-dark,50%);
    color: lighten($color-gray-medium-dark,50%);
    @include border-radius(1em);
    background-color: $liveplayer-bg;

    li {
        height: auto;
    }

    .live-player__stream--available {
        display: none;
    }

    .live-player__stream--current.open .live-player__stream--available {
        color: $dark-gray;
        border-top: 1px solid darken($color-gray-light, 10%);

        &:after {
            background: transparent;
        }

        .live-player__stream--item, .live-player__stream--desc {
            color: $dark-gray;
        }

        .live-player__stream--item {
            background-color: $liveplayer-bg;

            &:hover {
                background-color: $light-gray;
            }
        }

        li:last-child {
            @include border-bottom-radius(1em);
        }
    }

}

.live-player__container {
    border-bottom: 1px solid white;
}

.now-playing__artist {
    color: $color-gray-medium-dark;
}

.live-link__title, .live-link__title a:link, .live-link__title a:visited {
    color: $color-gray-medium;
}

.live-link__song:before {
    color: $medium-dark-gray;
}

.live-link__song--artist {
    color: $medium-dark-gray;
}

.live-link__song--title {
    color: $dark-gray;

    a, a:visited {
        color: $darker-gray;
    }
}

.live-link__title a:link, .live-link__title a:visited {
    color: $color-gray-medium;
}

.live-link__title a:hover, .live-link__title a:focus, .live-link__title a:active {
    color: $primary-link-hover;
}

.header__logo {
    @include bp(medium) {
        top: -7px;
    }
}
.home__highlights {
    border-bottom-color: $primary-border;
}

.highlights__events--more-btn {
    &:hover {
        color: $yellow ;
        border-color: $yellow;
    }
}

.highlights__event--item {
    background-color: #8c8c8c;
    color: $white;
}

.highlights__event--title, .highlights__event--date {
    color: $white;

    a:hover & {
        color: $yellow;
    }
}

.highlights__heading {
    color: $highlights-heading;
}

.type-contest .entry__title--tag {
    background-color: $light-gray;
    border-color: $light-gray;
}

.audio__progress-bar {
    background-color: $gray;
}

.footer {
    background-color: $primary-bg;
}

/*
// Denis's Changes - 4/24
*/

@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500);

/* CUSTOM OVERRIDES BELOW */

/*Show header and link */
.show__mini-nav {
        .show__header.has-thumbnail:before {
        background-image: linear-gradient(to bottom,rgba(3,104,172,1),rgba(78,132,192,1));
        background-image: -moz-linear-gradient(top,rgba(3,104,172,1),rgba(78,132,192,1));
        background-image: -o-linear-gradient(top,rgba(3,104,172,1),rgba(78,132,192,1));
        background-image: -ms-linear-gradient(top,rgba(3,104,172,1),rgba(78,132,192,1));
        background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(3,104,172,1)),to(rgba(78,132,192,1)));
        background-image: -webkit-linear-gradient(top,rgba(3,104,172,1),rgba(78,132,192,1));
        content: " ";
        }

        .show__header {
            padding: 3px;
        }
}

.show__header.has-thumbnail:before {
  background-image: linear-gradient(to bottom,rgba(0,42,110,.45),rgba(0,42,110,.45));
  background-image: -moz-linear-gradient(top,rgba(0,42,110,.45),rgba(0,42,110,.45));
  background-image: -o-linear-gradient(top,rgba(0,42,110,.45),rgba(0,42,110,.45));
  background-image: -ms-linear-gradient(top,rgba(0,42,110,.45),rgba(0,42,110,.45));
  background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(0,42,110,.45)),to(rgba(0,42,110,.45)));
  background-image: -webkit-linear-gradient(top,rgba(0,42,110,.45),rgba(0,42,110,.45));
  content: " ";
}


.show__nav h1 a:hover{color: #ffe513; text-decoration:none;}

/* end */

/*members profile pages */

.profile-page .profile-page__sidebar {background-color: #002a6e;}

.profile-page__sidebar .profile-header-link {color: #a8d6f7;}
.profile-page__sidebar .profile-header-link:hover {color: #ffe411;}

#profile-content .gigya-screen input[type="submit"] {background-color: #002a6e;}

/* end */


.highlights__heading {
    color: #C01C1C;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
}
.home__highlights{ background: #a0c5ff url("../../images/bg_babyblue.jpg") top }




/*mobile nav */
.mobile-nav .mobile-menu-submenu-header {background-color: #002a6e;color: #fff;padding: 18px 1.25em;}
.mobile-nav__list a:hover, .ui-menu .ui-state-focus {background-color: #002a6e;}
.mobile-nav .social__link:visited {color:#fff;border-color: #fff;}
.mobile-nav .social__link:hover{color:#a8d6f7;border-color: #a8d6f7;}

.social__link:hover {color:#a8d6f7;border-color: #a8d6f7;}

/* mobile contests */
.contest__prize--title {color: #002a6e;}
button.button {background-color: #002a6e;border: 1px solid #80b1ff;}
button.button:hover {background-color: #80b1ff;border: 1px solid #002a6e;}
.contest-attr--rules-toggler {background-color: #002a6e;border:solid 1px #002a6e;}
.contest-attr--rules-toggler:hover {background-color: #ffe513; color: #002a6e;}
a.contest-attr--rules-toggler.pjax-exclude:hover{background-color: #a8d6f7; color: #002a6e;border: 1px solid #002a6e;}


.h1 a:active, .h1 a:focus, .h1 a:hover,

.h3 a:active, .h3 a:focus, .h3 a:hover,
.h4 a:active, .h4 a:focus, .h4 a:hover,
.h5 a:active, .h5 a:focus, .h5 a:hover,
.h6 a:active, .h6 a:focus, .h6 a:hover,
.type-contest .entry2__thumbnail--contest-type a:active,
.type-contest .entry2__thumbnail--contest-type a:focus,
.type-contest .entry2__thumbnail--contest-type a:hover,
.type-contest .entry2__thumbnail--end-date a:active,
.type-contest .entry2__thumbnail--end-date a:focus,
.type-contest .entry2__thumbnail--end-date a:hover,
.type-tribe_events .entry2__thumbnail--event-date a:active,
.type-tribe_events .entry2__thumbnail--event-date a:focus,
.type-tribe_events .entry2__thumbnail--event-date a:hover,
h1 a:active,h1 a:focus, h1 a:hover,

h3 a:active, h3 a:focus, h3 a:hover,
h4 a:active, h4 a:focus, h4 a:hover,
h5 a:active, h5 a:focus, h5 a:hover,
h6 a:active, h6 a:focus, h6 a:hover {
  color: #002a6e;
}

a.social-share-link:hover, a.social__link:hover {color: #002a6e;border-color: #002a6e;}

.contest__prize--title {color: #002a6e;}
/* ------------- LIVE PLAYER BTN -------------------------------*/

div#live-player {background-color: #80b1ff;}

.live-player__stream{
    margin-top: 110px;
    z-index: 1001;
    background-color: rgba(0,0,0,.5);
    color: #fff;

    .live-player__stream--current.open{
        color:#fff;
    }

}
.live-stream__login {background-color: #002a6e;}
.live-stream__btn--play,
.live-stream__btn--pause,
.live-stream__btn--resume,
.live-stream__btn--loading  {
    background-color: #002a6e;
    color: #fff; border: 1px solid #fff;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.live-player__container, .no-volume-control{background-color: #002a6e;}

ul#live-links__blogroll {background-color: #002a6e;}

.live-links--more:before {
  background: -moz-linear-gradient(top,rgba(16,69,156,0)0,#002a6e 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(16,69,156,0)),color-stop(100%,#002a6e));
  background: -webkit-linear-gradient(top,rgba(16,69,156,0)0,#002a6e 100%);
  background: -o-linear-gradient(top,rgba(16,69,156,0)0,#002a6e 100%);
  background: -ms-linear-gradient(top,rgba(16,69,156,0)0,#002a6e 100%);
  background: linear-gradient(to bottom,rgba(16,69,156,0)0,#002a6e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0010458c', endColorstr='#002a6e', GradientType=0);
}


.live-links--more {
position: fixed;bottom: 0;height: 40px;padding: 5px 0;text-align: center;background-color: #002a6e;
-webkit-transition: all 200ms ease-in-out;-moz-transition: all 200ms ease-in-out; transition: all 200ms ease-in-out;
}

.live-links--more__btn {line-height: 1;margin-right: .5em;outline: 0;  background-color: transparent;border: 1px solid #ffe60e;  color: #ffe60e;}
.live-links--more__btn:hover:hover {background-color: transparent;border: 1px solid #ffe60e;  color: #ffe60e;}

.live-link__song--artist{color: #FFFFFF;}
.live-link__song--title {color: #EDED80;}
.live-link__song--artist:hover, .live-link__song--title:hover {color: #ffe50f;}

.live-link__song:before {margin-top: 10px;color: #FFFFFF;}

.live-player--open .live-links {margin-top:0px;padding: 0px 0px 0px;}
/* ------------- LIVE PLAYER BTN -------------------------------*/

/* ------------- HIGHLIGHTS -------------------------------*/

.highlights__heading {color: #002A63;}
/* END HIGHLIGHTS */

.header__main {
    border-top: none;
    background-color: #002a6e;
    border-bottom: none;
    height:82px;
}


.home__featured {


    background: url("../../images/bg_babyblue.jpg");
    .featured__article--heading {
        color: #FFFFFF;   font-family: 'Ubuntu', sans-serif;
    }
    .featured__article--content {
        background-color: #002a6e;
        &:hover {
            color: #fff;
        }
    }

    .featured__article:hover .featured__article--content  {

        background-color: #14499f;
        color: #fff;
        text-shadow: 2px 2px 1px rgba(9, 32, 64, .7);
    }



    .featured__content--block {
        background-color: #002a6e;

        &:hover{
            background-color: #a8d6f7;

        }
    }

    .featured__content--block:hover .featured__content--title {

        color: #99d8ff;
        text-shadow: 2px 2px 1px rgba(9, 32, 64, .7);

    }


}
.featured__article:hover .featured__article--heading {
    text-shadow: 2px 2px 1px rgba(9, 32, 64, .7);
    color: #fff;
}
/* ------------- END HIGHLIGHTS -------------------------------*/



/* ------------- MASTHEAD -------------------------------*/
.header {
    background-color: #002a6e;
    background-image: url("../../images/MAGIC_header_mobile.png");
    background-repeat: no-repeat;
    background-position: left top;
}


.header__nav { font-family: 'Ubuntu', sans-serif }

.header__logo {
        background:  url("../../images/logo_MAGIC_mobile.png") no-repeat;
        background-position: center top;
        border: solid 0px #fff;
        display: block;
        width: 85px;
        height: 48px;
        z-index: 1000;
        cursor: pointer;
        margin: 18px 37% 0px;
    }

.header__logo img {z-index: 1;display: none;}
.header__logo--img {z-index: 1;display: none;}

/* ------------- END MASTHEAD -------------------------------*/

.home__featured .featured__content--block { background-color: #002a6e; }
.home__featured .featured__content--block:hover { background-color: #14499f;  }


.highlights__event--item { background-color: #002a6e; }
.highlights__event--item:hover {background-color: #114598;}

.highlights__event--date,
.highlights__event--title {
    color: #ffffff;
    font-family: 'Ubuntu', sans-serif;
}

.featured__content--block:hover .featured__content--title{
    color: #ffe513;
}
.content__heading,
.sponsors__heading { color: #002a6e;font-family: 'Ubuntu', sans-serif }

.featured__content--btn {
    display: inline-block;
    line-height: 1;
    padding: .25em 1.2em;
    margin-right: .5em;
    outline: 0;
    background-color: #ffe50f;
    border: 1px solid #ffe50f;
    font-size: .7em;
    color: #002a6e;
    font-weight: 600;
    cursor: pointer;
    border-radius: 100em;
    text-transform: uppercase;
    white-space: nowrap;
}

.highlights__events--more-btn {
    background-color: #002a6e;
    border: 1px solid #a8d6f7;
    color: #fff!important;
    text-transform: uppercase;
    font-weight: 700;
    &:hover {
        background-color: #a8d6f7;
        border: 1px solid #002a6e;
        color: #002a6e!important;
    }
}

.contest__prize--title {
    margin: 0 0 .25em;
    font-size: 1.60181em;
    color: #d22228;
    font-family: 'Ubuntu' sans-serif;
}
.entry__title,
.page__title {
    margin: 0 0 20px;
    font-size: 1.60181em;
    font-family: 'Ubuntu' sans-serif;
}

h2.entry2__title a:link,
h2.entry2__title a:visited
                        {color: #002a6e;font-family: 'Ubuntu', sans-serif ; font-weight: 700;
                         &:hover {
                            color: #7fc7fb;
                         }

                    }



.entry2__footer--read-more:link,
.entry2__footer--read-more:visited {color: #002a6e;}

.entry2__footer--read-more:hover {color: #7fc7fb;}

.featured__content--btn {
    display:none!important;
}

.now-playing__info{


        .now-playing__title {color: #fff;font-size:.95em;font-weight: 700;text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);}
        .now-playing__artist {color: #fff;font-size: .90em;font-weight: 500;font-style: italic;text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);}

        .now-playing__title:before,
        .now-playing__title:after
        {
            content: '"';
        }

        .now-playing__artist:before{
            content: "by ";
        }

}


.live-player {background-color: #002a6e;}
.live-player--active.live-player--open {
    .live-player__stream {
        width: 90%;
    }
}

.entry2__thumbnail__overlay,
.entry2__thumbnail__icon,
.entry2__thumbnail--event-date,
.type-contest .entry2__thumbnail--contest-type,
.type-contest .entry2__thumbnail--end-date,
.type-contest .entry__title--tag
{
    display:none;
}

.type-tribe_events {

    .entry2__thumbnail {
        background-color: #002a6e;
    }
}
#tribe-events {
    .tribe-events-button {
        background-color: #002a6e!important;
        border: 1px solid #a8d6f7!important;
        color: #fff;

        &:hover {
            background-color: #a8d6f7!important;
            border: 1px solid #002a6e!important;
            color: #002a6e!important;
        }
    }
}

h2  {
    a:link, a:visited {
        color: #002a6e!important;


    }
    a:hover {
        color: #a8d6f7!important;
        text-shadow: 2px 2px 1px rgba(9, 32, 64, .7);
    }
}

time.show__feature--date {

    display: none;
}



.show__feature--primary{

    .show__feature--desc h3 {
        font-family: 'Ubuntu', sans-serif ; font-weight: 700;
        color: #002a6e;

        &:hover {
            color:#a8d6f7;
            text-shadow: 2px 2px 1px rgba(9, 32, 64, .7);
        }
    }
}

.show__feature--secondary {

    .show__feature--desc h3 {
        font-family: 'Ubuntu', sans-serif ; font-weight: 500;
        color: #002a6e;
        font-size: 1.50em;
        &:hover {
            color:#a8d6f7;
            text-shadow: 1px 1px 1px rgba(9, 32, 64, .7);
        }
    }
}


.gallery__slide--title {

    font-size: 1.20em;
}

.article__title {
        font-family: 'Ubuntu', sans-serif;
        font-weight: 500;
        color: #002a6e;
}

/*----------------------------------------------------------------------------------------------------------------------
media 400px
------------------------------------------------------------------------------------------------------------------------*/

@media screen and (min-width:400px) {

.footer__copyright--logo a:hover {color: #002a6e;}
.footer__copyright--logo a:visted {color: #929497;}

.footer a:hover {color:#002a6e;}
.footer a:visited {color:#929497;}

.footer__menu a.social__link:hover {border-color: #002a6e;color: #002a6e;}

}

/*-----------------------------------
media 768px
-----------------------------------*/
@media screen and (min-width:768px) {
    .live-stream__btn--play,
    .live-stream__btn--pause,
    .live-stream__btn--resume,
    .live-stream__btn--loading  {
        background-color: transparent;
        color: $yellow; border: 0px solid #a8d6f7;
        -webkit-transition: all 200ms ease-in-out;
        -moz-transition: all 200ms ease-in-out;
        transition: all 200ms ease-in-out;
    }
    .home__featured {

        background-color: #f2f2f2;

        .featured__content--block {
            border-radius: 0;
            -moz-border-radius: 0;
            -webkit-border-radius: 0;
            height: 100%;
        }

        .featured__content--image {
            float: left;
            display: block;
            width: 100%;
            margin-right: 0;
            padding-top: 66.6%;
        }

        .featured__content--meta {
            width: 100%;
            min-height: 4.8em;
        }

        .live-player--open {

            .live-player__stream {
                /*display: none;*/
            }

            .live-links {
                /*margin-top: 0;*/
            }

        }

    }



    .live-player--active .now-playing,
    .now-playing
    {
        padding: 45px 1em 0;
    }






    .widget--live-player a:hover>div{background-color: #114598;color:#0067b1;}

    .ad__leaderboard.desktop {

        border: 5px solid #002a6e;
        width:738px;
        height:100px;
        margin:20px auto;
        padding: 0px 0;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 1px 1px 20px 5px #002a6e;
        box-shadow: 1px 1px 20px 2px #002a6e;
        }



    .header {
        background-color: #002a6e;
        background-image:url("../../images/MAGIC_header.png");
      background-position: center top;

      -webkit-animation-name: no_name;
      animation-name: no_name;

    }

    .header__secondary {
      top: 0px;
      position: absolute;
    }
    span.icon-user { color: #fff;}




        div#live-player {background-color: transparent;}

        .live-stream {
        background: url("../../images/listen-live-bg.jpg") no-repeat;

        .on-air, .up-next {
              padding: 1px 1em;
              position: relative;
              top: -16px;
              background-color: rgba(0,0,0,.7);
              color: #fff;
              font-family: 'Oswald', sans-serif;

        }

        .live-stream__controls {
            padding-left: 3px;
            position: relative;
            top: 13px;
            color: $yellow;

            .live-stream__btn--play{
                left:2px;
            }
        }

    .now-playing__info{
            position: relative;
            top: 20px;

            .now-playing__title {color: #fff;font-size:.95em;font-weight: 700;text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);}
            .now-playing__artist {color: #fff;font-size: .90em;font-weight: 500;font-style: italic;text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);}

    }

    .live-stream__now-playing--btn {
            display: none;
        }
    }

    .home__featured .featured__article--content {background-color: #002a6e; color: #fff; }
    .home__featured .featured__article a:hover {background-color: #002a6e; color: #fff; }

    .live-stream__status{
        top:210px;
        .live-stream__login {background-color: transparent;color: #fff;}
    }



    .live-stream__listen-now--btn {
      display: inline-block;
      line-height: 1;
      padding: .5em 1em;
      margin-right: .5em;
      outline: 0;
      background-color: #a8d6f7;
      border: 1px solid #002a6e;
      font-size: .8888888889em;
      color: #002a6e!important;
      text-transform: uppercase;
      cursor: pointer;
      border-radius: 100em;
      font-weight: 700;
      z-index: 1;
      -webkit-transition: all 200ms ease-in-out;
      -moz-transition: all 200ms ease-in-out;
      transition: all 200ms ease-in-out;

      &:hover
        {
            background-color: #002a6e;
            border: 1px solid #0e2242;
            color: #a8d6f7!important;
        }
    }



    .live-stream__now-playing--btn {

      line-height: 1;
      padding: .5em 1em;
      margin-right: .5em;
      outline: 0;
      background-color: #a8d6f7;
      border: 1px solid #002a6e;
      font-size: .8888888889em;
      color: #002a6e!important;
      text-transform: uppercase;
      border-radius: 100em;
      font-weight: 700;
      z-index: 1;

      &:hover{

            line-height: 1;
            padding: .5em 1em;
            margin-right: .5em;
            outline: 0;
            background-color: #a8d6f7;
            border: 1px solid #002a6e;
            font-size: .8888888889em;
            color: #002a6e!important;
            text-transform: uppercase;
            border-radius: 100em;
            font-weight: 700;
            z-index: 1;
      }

    }
      .live-link__song {
            transition: all 200ms ease-in-out;
            -moz-transition: all 200ms ease-in-out;
            -webkit-transition: all 200ms ease-in-out;
        }

        .widget--live-player a:hover {
            color: #fff;
        }
        .widget--live-player a:hover > div {
            background: #80b1ff;
        }
        .widget--live-player a:hover .live-link__song:before {
            color: #fff;
        }
        .widget--live-player a:hover .live-link__song--title {
            color: #fff;
        }
        .live-links { background-color: #002a6e }
        .live-link__song { color: #fff }

        .live-link__song--artist,
        .live-link__song:before {
            color: #FDFEFF;
            font-weight: 500;
        }
        .live-link__song--title p:hover { color: #fff }
        .widget--live-player__title {
            color: #fff;
            font-weight: 500;
            font-family: 'Ubuntu', sans-serif;
        }
        .live-link__song--title { color: #EDED80 }

        .live-links--more {
            background-color: #002a6e;
            -webkit-transition: all 200ms ease-in-out;
            -moz-transition: all 200ms ease-in-out;
            transition: all 200ms ease-in-out;
        }

    .live-links--more:before {
      background: -moz-linear-gradient(top,rgba(16,69,156,0)0,#002a6e 100%);
      background: -webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(16,69,156,0)),color-stop(100%,#002a6e));
      background: -webkit-linear-gradient(top,rgba(16,69,156,0)0,#002a6e 100%);
      background: -o-linear-gradient(top,rgba(16,69,156,0)0,#002a6e 100%);
      background: -ms-linear-gradient(top,rgba(16,69,156,0)0,#002a6e 100%);
      background: linear-gradient(to bottom,rgba(16,69,156,0)0,#002a6e 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0010458c', endColorstr='#002a6e', GradientType=0);
    }

    .live-link__song:before,
    .live-link__type--audio:before,
    .live-link__type--gallery:before,
    .live-link__type--image:before,
    .live-link__type--link:before,
    .live-link__type--standard:before,
    .live-link__type--video:before
    {color: #fff;}

    .live-link__song:hover,
    .live-link__type--audio:hover,
    .live-link__type--gallery:hover,
    .live-link__type--image:hover,
    .live-link__type--link:hover,
    .live-link__type--standard:hover,
    .live-link__type--video:hover
    {background-color: #002a6e;}

    .live-link__title a:link, .live-link__title a:visited {color: #fff;}

    /* footer */
    .footer,
    .footer .container {background-color: #a8d6f7;}
    .footer__ad,
    .footer__content {padding-bottom: 10px;}



    #live-player--volume .noUi-base {background: #a8d6f7;}
    #live-player--volume.noUi-horizontal .noUi-handle {background: #002a6e;border: solid 1px #a8d6f7;}
    .on-air__show, .up-next__show {
        font-size: .85em;
        font-weight: 400;
        padding: 0 4px;
        width: 100%;
        line-height: 1.20em;
    }

}



/*-----------------------------------
media 1024px
-----------------------------------*/
@media screen and (min-width:1024px) {


    .header__logo {background-position: center top;border: solid 0px #fff;margin: 22px 0px 0px 20px;}
    .live-stream {margin: 0px auto;}
    .header__secondary {position: relative;}

    .live-link__song--artist, .live-link__song--title {font-weight: 500;font-size: .95em;}
    .live-link__song:before {margin-top: 10px;color: #FFFFFF;}


    .header__nav {

      padding-left: 20px;
    }
    .header__nav li {
        font-weight: 800;
        text-transform: uppercase;
    }
    .header__nav li:hover {
        font-weight: 800;
        text-transform: uppercase;
    }


    .header__account ul li a,
    .header__account ul li a:link,
    .header__account ul li a:visited,
    .header__nav ul li a,
    .header__nav ul li a:link,
    .header__nav ul li a:visited {

        padding: 33px .5em 32px;
    }


  .header__account ul li a:active,
  .header__account ul li a:focus,
  .header__account ul li a:hover,
  .header__account ul li:hover,
  .header__nav ul li a:active,
  .header__nav ul li a:focus,
  .header__nav ul li.active,
  .header__nav ul li.active a:hover,
  .header__nav ul li.active a:focus,
  .mobile-nav__list a:active,
  .mobile-nav__list a:focus,
  .mobile-nav__list a:hover,
  .ui-menu .ui-state-focus{background-color: #114598;}

  .header__account--links.sub-menu,
.header__nav .format-fi > ul,
.header__nav .format-fi > ul.header__account--links,
.header__nav .format-fw > ul,
.header__nav .format-fw > ul.header__account--links,
.header__nav .format-sp > ul,
.header__nav .format-sp > ul.header__account--links,
.header__nav .sub-menu, .ui-menu {
    position: absolute;
    border-top: 7px solid #ffe513;
    background-color: #fff;
    color: #333;
    min-width: 300px;
    z-index: 5000100;
}


.header__main {

    .header__search {
        padding: 0 16px;

        &:hover {
            background-color: #114598;
            color: #fff;
        }
    }

    .header__social {
        float:right;
        a.social__link{

            &:hover {
                color: #a8d6f7;
            }
        }
    }

}

.header__account:hover {
    background-color: #114598;
}

.header__main a:hover {
    color: #fff;

    .header__account--logged-in,
    .header__account--logged-out,
    .header__account--,
    {
        color: #fff;
    }
}

.header__nav .sub-menu {border-top: 7px solid #ffe513;}




}

/*-----------------------------------
media 1175px
-----------------------------------*/
@media screen and (min-width:1175px) {

    .header__nav { padding-left: 240px; }


    .header__logo {
      background:  url("../../images/logo_MAGIC_large.png") no-repeat;
      background-size: contain;
      background-position: center top;border: solid 0px #fff;
      width: 200px;
      height: 158px;
      display: block;
      position: absolute;
      top: -120px;
      margin: 0;
      padding: 0;
      z-index: 1000;
    }

  .header__logo img {display: none;}
  .header__logo--img {
      display: block;
      /*width: 200px;
      height: 158px;*/
      }
}

/*-----------------------------------
media 1252px
-----------------------------------*/
@media screen and (min-width:1252px) {

.header__nav { padding-left: 210px; }
.main {background: #a8d6f7 ;}



@-webkit-keyframes artist_animation{

        0%{background-image:url(../../images/img_Artist1-update.png);opacity:1;}
        50%{background-image:url(../../images/img_Artist2-update.png);opacity:1;}
        100%{background-image:url(../../images/img_Artist3-update.png);opacity:1;}
        /*99%{background-image:url(http://i.imgur.com/P1MjtZx.png);opacity:1;}*/

      }

@-moz-keyframes artist_animation{

        0%{background-image:url(../../images/img_Artist1-update.png);opacity:1;}
        50%{background-image:url(../../images/img_Artist2-update.png);opacity:1;}
        100%{background-image:url(../../images/img_Artist3-update.png);opacity:1;}
        /*99%{background-image:url(http://i.imgur.com/P1MjtZx.png);opacity:1;}*/

      }

@keyframes artist_animation{
        0%{background-image:url(../../images/img_Artist1-update.png);opacity:1;}
        50%{background-image:url(../../images/img_Artist2-update.png);opacity:1;}
        100%{background-image:url(../../images/img_Artist3-update.png);opacity:1;}
        /*99%{background-image:url(http://i.imgur.com/P1MjtZx.png);opacity:1;}*/

}


.ad__leaderboard.desktop:after {
  content: "";
  display: inline-block;
  background: url(../../images/img_Artist1-update.png) no-repeat;
  background-size: contain;
  position: absolute;

    width:325px;
    height:136px;
    top: -25px;
    right: -331px;

  -webkit-animation-name: artist_animation;
  -webkit-animation-duration: 12s;
  -webkit-animation-iteration-count: 5;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
  -webkit-animation-delay: 10s;
  -webkit-animation-time: 10s;

  -moz-animation-name: artist_animation;
  -moz-animation-duration: 12s;
  -moz-animation-iteration-count: 5;
  -moz-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
  -moz-animation-delay: 10s;
  -moz-animation-time: 10s;

  animation-name: artist_animation;
  animation-duration: 12s;
  animation-delay: 10s;
  animation-iteration-count: 5;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-time: 10s;
  }


}
/*-----------------------------------
media 1400px
-----------------------------------*/
@media screen and (min-width:1400px) {
.header__nav { padding-left: 250px; }
.header__logo {
      background:  url("../../images/logo_MAGIC_large.png") no-repeat;
      background-size: cover;
      top:-110px;
      left: 0px;
      width: 260px;
      height: 206px;
      max-width: 260px;

    }




}
