
@import url(http://fonts.googleapis.com/css?family=Arimo:400,700);

.main, %main {
color: #555;
}
.header {
	border-bottom: 0;
        background-color: #37080d;
}
.header__search {
            color: #fff;
}
.single-gmr_gallery .gallery__paging--prev,
.single-gmr_gallery .gallery__paging--next {
	color: $light-gray;

&:hover {
	color: $cardinal;
}
}
.live-player__stream {
	border: 1px solid lighten($color-gray-medium-dark,50%);
	color: lighten($color-gray-medium-dark,50%);
	@include border-radius(1em);
	background-color: $liveplayer-bg;

li {
	height: auto;
}

li:last-child {
	@include border-bottom-radius(1em);
}
}

.now-playing__artist {
	color: $color-gray-medium-dark;
}
.live-link__song:before {
	color: #FDFEFF;
	font-weight:700;
}
.live-link__song--artist {
	color: #ffc540;
        font-size: 1em;
}
.live-link__song--title {
	color: #ffc540;

a, a:visited {
	color: #777;
}
}
.live-link__title a:hover, .live-link__title a:focus, .live-link__title a:active {
	color: $primary-link-hover;
}
.header__logo {
	@include bp(medium) {
	/*top: -7px;*/
}
}
.home__highlights {
	border-bottom-color: $primary-border;
        padding-top: 2em 2.236em;
}
.highlights__events--more-btn {
	background-color: #d22228;
	border: 1px solid #d22228;
	color: #000!important;
	font-weight:700;
}
.highlights__events--more-btn:hover {
	background-color: #ffc540;
	border-color: #ffc540;
	color: #000 !important;
}
.highlights__event--item {
	background-color: #37080d;
	color: $white;
}
.highlights__event--title, .highlights__event--date {
	color: $white;

a:hover & {
	color: #ffc540;
}
}
.highlights__heading {
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	font-family: "Arimo", sans-serif;
}
.type-contest .entry__title--tag {
	background-color: $light-gray;
	border-color: $light-gray;
}

.audio__progress-bar {
	background-color: $gray;
}

.footer {
	background-color: $primary-bg;
}

/* CUSTOM OVERRIDES BELOW */

.highlights__heading {
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
   font-family: "Arimo", sans-serif;
}
.home__highlights,
.home__featured { background-color: #37080d}
.live-player__stream { display: none!important }
.header__main {
	height: 82px;
  	border-top: none;
 	background-color: #37080d;
	border-bottom: none;
}
a:hover
.highlights__community--title {
	color: #ffc540;
}

.home__featured .featured__article--content {
    	background-color: #37080d;
   	 color: #d0d2d3;
}
.home__featured .featured__article a:hover .featured__article--content {
    	background-color: #b30000;
}
.featured__article:hover
.featured__article--heading {
   	color: #fff;
    	font-family: "Arimo", sans-serif;

 .featured__article:hover .featured__article--heading {
    	color: #fff; }
}
.header {
    	background-color: #37080d;
   	background-repeat:no-repeat;
    	background-position-x: -50px;
}
.header__nav { font-family: "Arimo", sans-serif;}

.home__featured .featured__content--block {
	background-color: #37080d;
}
.highlights__event--item:hover {
    	background-color: #b30000;
}
.highlights__event--date,
.highlights__event--title {
   		color: #fff;
font-family: "Arimo", sans-serif;
}
.featured__content--block:hover {
    	background: #b30000;

}
.entry2__title { font-family: "Arimo", sans-serif;}
.content__heading,
.sponsors__heading { font-family: "Arimo", sans-serif;}
.featured__content--title {
    	color: #fff;
    	font-family: "Arimo", sans-serif;
}
.featured__content--link {
    	display:none;
}
.highlights__events--more-btn {
    	background-color: #561015;
    	border: 1px solid #561015;
    	color: #fff!important;
    	font-weight: 700;
}

.highlights__events--more-btn:hover {
	background-color: #ffc540;
	border-color: #ffc540;
	color: #000 !important;
}
.contest__prize--title {
    	margin: 0 0 .25em;
    	font-size: 1.60181em;
    	color: #d22228;
    	font-family: "Arimo", sans-serif;
}
.entry__title,
.page__title {
    	margin: 0 0 20px;
    	font-size: 1.60181em;
    	font-family: "Arimo", sans-serif;
}
@media screen and (min-width:768px) {

.header__social .social__list {
        padding: 0 20px;
}
.header__social .social__list li {
        padding: 0 5px;
}
.header__social a.social__link {
      	width: auto;
      	height: auto;
      	padding: 2.1875em 0;
      	border: none;
      	font-size: 1em;
     	color: #fff;
}
.header__social a.social__link:hover {
	border-color: #ffc540;
	color: #ffc540;
}
.header {
        background-image: url("http://greatermedianj.com/WMTR/WMTR-Header-Desktop.jpg");
        background-position: center top;  
}
.live-link__title, .live-link__title a:link, .live-link__title a:visited {
        color: $white;
}
.live-link__song:before {
        color: #FDFEFF;
	font-weight:700;
 }
.live-link__song--artist {
        color: $white;
 }
.live-link__song--title {
	color: $white;

     a, a:visited {
	color: $white;
}
}
.live-link__title a:link, .live-link__title a:visited {
        color: $white;
}
}
.live-link__song {
        transition: all 200ms ease-in-out;
        -moz-transition: all 200ms ease-in-out;
        -webkit-transition: all 200ms ease-in-out;
}
    .widget--live-player a:hover {
        color: #fff;
}
    .widget--live-player a:hover > div {
        background: #b30000;
}
.widget--live-player a:hover .live-link__song:before {
        color: #FDFEFF;
	font-weight:700;
}
.widget--live-player a:hover .live-link__song--title {
        color: #fff;
}
.live-links { background-color:#37080d;}
.live-link__song { color: #fff }
.on-air__show,
.up-next__show {
        font-size: .88889em;
	font-weight: 700;
	text-transform: uppercase;
	font-family: "Arimo", sans-serif;
}
.live-link__song--artist,
.live-link__song:before {
        color: #fdfeff;
        font-weight: 700;
}
.live-link__song--title p:hover { color: #fff }
.widget--live-player__title {
        color: #fff;
	font-weight: 700;
	font-family: "Arimo", sans-serif;
}
.live-link__song--title { color: #ffc540 }
.header__main {
        height: 82px;
    	border-top: none;
	background-color: #37080d;
	border-bottom: none;
}
.live-links--more {
        background-color: #000;
	-webkit-transition: all 200ms ease-in-out;
        -moz-transition: all 200ms ease-in-out;
        transition: all 200ms ease-in-out;
}
.live-links--more:before {
        background: -moz-linear-gradient(top,rgba(255,255,255,0) 0,#f2f2f2 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-	stop(0,rgba(255,255,255,0),color-stop(100%,#f2f2f2)));
	background: -webkit-linear-gradient(top,rgba(255,255,255,0) 0,#f2f2f2 100%);
	background: -o-linear-gradient(top,rgba(255,255,255,0) 0,#f2f2f2 100%);
	background: -ms-linear-gradient(top,rgba(255,255,255,0) 0,#f2f2f2 100%);
	background: linear-gradient(to bottom,rgba(219, 138, 138, 0) 0,#000 100%);
}
.home__featured .featured__article--content {
        background-color: #37080d;
	color: #d0d2d3;
}

@media screen and (min-width:1024px) {
.header__nav li {
        font-weight: 700;
        text-transform: uppercase;
}
.header__nav li:hover {
        font-weight: 700;
        text-transform: uppercase;
}
.header__account ul li a,
.header__account ul li a:link,
.header__account ul li a:visited,
.header__nav ul li a,
.header__nav ul li a:link,
.header__nav ul li a:visited {
        padding: 33px .5em 32px;
}
}
@media screen and (min-width:1175px) {
.header__nav {
        padding-left: 200px;
}
.header__logo {
        background: none;
        width: inherit;
        height: inherit;
        display:block;
        position:absolute;
        top:-89px;
        margin:0;
        padding:0;
}
.header__logo img {
        width: 100%;
        height: auto;
        max-height: inherit;
        max-width: inherit;
        z-index: 1;
        display:block;
        -webkit-transform:none;
        transform:none;
}
}
@media screen and (min-width:1252px) {
.header__account ul li a,
.header__account ul li a:link,
.header__account ul li a:visited,
.header__nav ul li a,
.header__nav ul li a:link,
.header__nav ul li a:visited {
        padding: 33px 1.125em 32px;
}
.main {
        background: #e1e1dd url("../../images/new_bg.jpg") repeat-y center top !important;
}
}

.featured__content--block:hover .featured__content--title {
    	color: #fff;
}
.home__featured .featured__content--title a:hover, .home__featured .featured__content--title a:focus {
  	color: #fff;
}
.single-gmr_gallery .gallery__paging--prev,
.single-gmr_gallery .gallery__paging--next {
	color: $light-gray;

&:hover {
	color: $cardinal;
}
}

li:last-child {
@include border-bottom-radius(1em);
}

.now-playing__artist {
	color: $color-gray-medium-dark;
}

.live-link__song:before {
	color: #FDFEFF;
	font-weight:700;
}
.live-link__song--artist {
	color: #ffc540;
        font-size: 1em;
}
.live-link__song--title {
	color: #ffc540;

a, a:visited {
	color: #777;
}
}

.live-link__title a:hover, .live-link__title a:focus, .live-link__title a:active {
	color: $primary-link-hover;
}

.header__logo {
@include bp(medium) {
	/*top: -7px;*/
}
}
.home__highlights {
	border-bottom-color: $primary-border;
        padding-top: 1em;
}

.highlights__events--more-btn {
	background-color: #d22228;
	border: 1px solid #d22228;
	color: #000!important;
	font-weight:700;
}

.highlights__event--item {
	background-color: #37080d;
	color: $white;
}

.highlights__event--title, .highlights__event--date {
	color: $white;

a:hover & {
	color: #ffc540;
}
}

.highlights__heading {
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	font-family: "Arimo", sans-serif;
}
.type-contest .entry__title--tag {
	background-color: $light-gray;
	border-color: $light-gray;
}
.audio__progress-bar {
	background-color: $gray;
}
.footer {
	background-color: $primary-bg;
}



.highlights__heading {
    	color: #fff;
    	font-weight: 700;
    	text-transform: uppercase;
   	font-family: "Arimo", sans-serif;
}

.home__featured .featured__article--content {
    	background-color: #37080d;
    	color: #d0d2d3;
}
.home__featured .featured__article a:hover .featured__article--content {
 	background-color: #b30000;
        

}
.featured__article--heading {
    	color: #fff;
    	font-family: "Arimo", sans-serif;

}
.header {
    	background-color:37080d;
   	background-image: url("http://greatermedianj.com/WMTR/WMTR-Header-Mobile.jpg");
    	background-position: center top;
    	background-repeat: no-repeat;
    	background-position: 0 -36px;
}

a:hover .highlights__event--date,
a:hover .highlights__event--title {
   		color: #fff;
		font-family: "Arimo", sans-serif;

}
.featured__content--btn {
    	background-color: #d22228;
    	border: 1px solid #d22228;
    	border-radius: 100em;
    	color: #fff !important;
    	cursor: pointer;
    	display: inline-block;
    	font-size: 0.7em;
    	line-height: 1;
   	margin-right: 0.5em;
    	outline: 0 none;
    	padding: 0.25em 1.2em;
    	text-transform: uppercase;
    	white-space: nowrap;
}
.featured__content--btn:focus, .featured__content--btn:hover {
    	background-color: #aa1c20;
    	border-color: #aa1c20;
    	color: #fff;
}
.featured__content--btn:last-of-type {
    	margin-right: 0;
}


.highlights__events--more-btn {
    	background-color: #561015;
    	border: 1px solid #561015;
    	color: #fff!important;
    	font-weight: 700;
}


.header {
        background-image: url("http://greatermedianj.com/WMTR/background2.jpg");
        background-position: center top;
}


.live-links--more__btn {
    background-color: #ffc540;
    border: 1px solid #999898;
    border-radius: 100em;
    color: #000 !important;
    cursor: pointer;
    display: inline-block;
    font-size: 0.88889em;
    line-height: 1;
    margin-right: 0.5em;
    outline: 0 none;
    padding: 0.5em 1em;
    text-transform: uppercase;
    transition: all 200ms ease-in-out 0s;
}