/**
 * Helpers
 */
.cf {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

/**
 * Hides text from sighted users
 */
.screen-reader-text {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}