.audio-stream {
	color: $liveplayer-color;
	cursor: pointer;
	flex: 1 1 auto;

	@include bp(large) {
		width: percentage(380/930);
	}

	.audio-stream__list {
		list-style: none;
		margin: 0;
		padding: 0;
		position: relative;
		z-index: 2;
	}

	.audio-stream__current {
		border-radius: 12px;
		display: block;
		font-size: ms(-1);
		line-height: 1;
		list-style: none;
		margin: 0;
		padding: 10px 10px 0 0;
		position: relative;
		text-transform: uppercase;
	}
	&.-multiple .audio-stream__current {
		border: 1px solid rgba(0,0,0,.25);
		padding: 10px;
	}

	&.-multiple .audio-stream__current:after {
		@include transform(rotate(90deg));
		content: "\e606";
		font-family: $icon-font;
		font-size: ms(-2);
		height: 0;
		position: absolute;
		right: 10px;
		top: 11px;
		width: 0;
	}

	&.-multiple.-open .audio-stream__current:after {
		@include transform(rotate(270deg));
		right: 18px;
		top: 19px;
	}

	.audio-stream__title {
		overflow: hidden;
		padding-right: 20px;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.audio-stream__available {
		background-color: $liveplayer-bg;
		border-bottom: 1px solid rgba(0,0,0,.25);
		border-left: 1px solid rgba(0,0,0,.25);
		border-right: 1px solid rgba(0,0,0,.25);
		display: none;
		left: -1px;
		list-style: none;
		margin: 0;
		padding: 30px 10px 20px 10px;
		position: absolute;
		right: -1px;
		top: calc(100% - 10px);
		z-index: -1;
	}
	&.-open .audio-stream__available {
		display: block;
	}

	.audio-stream__item {
		overflow: hidden;
		padding: 8px;
		text-overflow: ellipsis;
		text-transform: none;
		white-space: nowrap;

		&:hover {
			text-decoration: underline;
		}
	}

	&.-multiple .audio-stream__sponsored {
		line-height: 1;
		margin-left: 10px;
	}
	.audio-stream__sponsored--text {
		color: rgba(0,0,0,.5);
		font-size: ms(-4);
		text-transform: uppercase;
	}
	.audio-stream__sponsored--name {
		font-size: ms(-2);
	}
}