.audio-interface {
	@include clearfix;
	background-color: $liveplayer-bg;
	color: $liveplayer-color;
	display: block;
	position: relative;
	width: 100%;
	z-index: 2;

	.audio-interface__container {
		align-items: flex-start;
		display: flex;
		margin: 0 auto;
		max-width: 970px;
		padding: 10px;

		@include bp(medium) {
			padding: 10px 20px;
		}
	}
}