.audio-interface {
	@include clearfix;
	background-color: $liveplayer-bg;
	color: $liveplayer-color;
	display: block;
	position: relative;
	width: 100%;
	z-index: 2;

	.audio-interface__container {
		align-items: flex-start;
		display: flex;
		margin: 0 auto;
		max-width: 970px;
		padding: 10px;

		@include bp(medium) {
			padding: 10px 20px;
		}
	}
}

.live-stream__listen-now--btn {
	display: none;

	@include bp(medium) {
		display: block;
		margin-right: 0;
		@include btn($btn-bg, $color-text-white, $btn-bg, .5em, 1em, ms(-1));
		font-weight: 700;
		z-index: 1;
		@include transition(all 200ms ease-in-out);
	}

	.audio__playing & {
		max-width: 100px;
		@include transition(all 200ms ease-in-out);
		@include transition-delay(1s);
		text-align: center;

		@include bp(medium) {
			max-width: none;
		}
	}
}