/**
 * Theme Name:  FoxSports
 * Theme URI:   https://foxsportsradiocharlotte.com/
 * Description: Child theme of Greater Media for WMTR
 * Author:      10up
 * Author URI:  http://10up.com
 * Template:    greatermedia
 * Version:     0.1.0
 * Tags:
 *
 * License:     GPLv2+
 * License URI: http://www.gnu.org/licenses/gpl-2.0.html
 */