.episode-info {
	margin: 0 auto;
	max-width: 1071px;
	padding: 0 1rem 2.22rem;

	& .status {

		& button {
			background-color: transparent;
			border: 1px solid var(--brand-primary);
			height: 117px;
			width: 117px;
		}

		&.LIVE_PLAYING {
			& button svg rect {
				fill: var(--brand-primary);
			}
		}

		&.LIVE_STOP,
		&.LIVE_PAUSE {
			& button svg {
				fill: var(--brand-primary);
				height: 45px;
				max-height: none;
				width: 57px;
			}
		}
	}

	& .show-meta {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding-bottom: 1.72rem;

		@media (--min-small-viewport) {
			flex-wrap: nowrap;
			justify-content: flex-start;
		}

		& .show {
			flex: 0 1 100%;
			line-height: 1;
			margin-bottom: 1rem;

			@media (--min-small-viewport) {
				margin-bottom: 0;
				flex: 0 1 auto;
			}

			& a {
				color: var(--brand-primary);
				font-size: .889rem;
				font-weight: 600;
				line-height: 1;
				text-transform: uppercase;
			}
		}

		& button {
			color: var(--global-font-primary);
			flex: 0 1 100%;

			@media (--min-small-viewport) {
				flex: 0 1 auto;
			}
		}

		& > * {
			float: left;

			&:not(:first-child) {
				@media (--min-small-viewport) {
					padding-left: 1rem;
				}
			}
		}
	}

	& .show-actions {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding-bottom: 1.61rem;

		@media (--min-small-viewport) {
			flex-wrap: nowrap;
			justify-content: flex-start;
		}

		& > div {
			display: flex;
			flex: 0 1 100%;
			justify-content: center;
			padding-bottom: 1.72rem;

			@media (--min-small-viewport) {
				display: block;
				flex-basis: auto;
				padding-bottom: 0;
			}
		}

		& h1 {
			margin-bottom: 0;

			@media (--min-small-viewport) {
				padding-left: 2.78rem;
			}

			& span {
				display: block;
				padding-bottom: 1rem;

				@media (--min-medium-viewport) {
					display: inline;
					padding-bottom: 0;
				}
			}

			& .btn {

				@media (--min-medium-viewport) {
					display: inline-block;
					margin-left: 1rem;
					transform: translateY(-7px); /* Visually centers the button in text */
				}
			}
		}
	}

	& .episode-meta {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		font-size: .833rem;
		justify-content: space-between;

		@media (--min-medium-viewport) {
			justify-content: flex-start;
		}

		& > * {
			flex: 0 1 100%;
			min-width: 117px;
			padding: 0 0 1rem;
			text-align: center;

			@media (--min-small-viewport) {
				flex: 0 1 auto;
			}

			&:last-child {
				@media (--min-large-viewport) {
					padding-left: 4rem;
				}
			}
		}

		& .duration {
			color: var(--global-dove-gray);
			font-family: var(--global-font-family-secondary);
			font-weight: 600;
		}

		& .btn {
			font-family: var(--global-font-family-secondary);
			font-weight: 600;
		}

		& .date {
			color: #8f8f8f;
			font-size: .778rem;
		}

		& .share {
			justify-content: center;
			flex-wrap: wrap;

			& .facebook {
				margin-left: 0;
			}
		}
	}
}
