.episode-tile {
	align-items: center;
	display: flex;
	padding-bottom: 3.05rem;

	&:hover {
		& .meta [class*="share"] {
			@media (--min-medium-viewport) {
				display: inline-flex;
			}
		}
	}

	& .post-thumbnail {
		display: flex;
		justify-content: flex-start;
	}

	& .post-title h3 {
		margin-bottom: .278rem;
	}

	& .status {
		& button {
			background-color: transparent;
		}

		& svg {
			fill: var(--brand-primary);
		}
	}

	& .meta {
		color: var(--global-dove-gray);
		padding-left: 1rem;

		@media (--min-small-viewport) {
			padding-left: 2.437rem;
		}

		& p {
			color: var(--global-font-secondary);
			margin-bottom: 0;
		}

		& a {
			color: var(--global-font-primary);
		}

		& .duration {
			font-size: .833rem;
			font-weight: 600;

			& svg {
				transform: translateY(.08rem); /* visually center icon */
			}
		}

		& .date {
			font-size: .778rem;
			font-weight: 100;
			padding-left: 1.278rem;
		}

		& .download {
			color: var(--brand-primary);
			display: inline;
			font-size: .778rem;
			padding-left: 1.278rem;
		}

		& [class*="share"] {
			display: none;
			padding-left: 1.278rem;
			position: absolute;
		}
	}
}
