.featured__article--heading,
.featured__content--title {
	text-transform: uppercase;
}

.featured__article:hover .featured__article--heading,
.featured__content--block:hover .featured__content--title,
a:hover .highlights__community--title
{
	color: #ed2024;
}

.show__header {
	background-color: #ed2024;
}

.header__main {
	background-image: url("../../images/site-header-mobile.jpg");
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #ffffff;

	@include bp(medium) {
		background-image: url("../../images/site-header.jpg");
	}
}

@include bp(medium) {
	.header__search {
		background-color: rgba(255,255,255,.6);
		padding-left: 15px;

		label span {
			color: #000;
		}
	}

	.header__search--btn:before {
    color: #333333;
	}

	.header__nav--list > li {
		background-color: rgba(255,255,255,.6);
	}
}

.mobile-nav__toggle--span, .mobile-nav__toggle--span:before, .mobile-nav__toggle--span:after {
	background-color: #ffffff;
}

@include bp(large) {

    .main {
        background-image: url("../../images/kcye-wallpaper-2017.jpg");
        background-position: top center;
        background-repeat: no-repeat;
				background-color: #000000;
    }

}
