.featured__article--heading,
.featured__content--title {
	text-transform: uppercase;
}

.featured__article:hover .featured__article--heading,
.featured__content--block:hover .featured__content--title,
a:hover .highlights__community--title
{
	color: #d30007;
}

.show__header {
	background-color: #d30007;
}

@include bp(medium) {
	.home section.content {
		padding: 0;
	}
}

@include bp(large) {

    .main {
        background-image: url("../../images/wbcn-wallpaper-2017.jpg");
        background-position: top center;
        background-repeat: no-repeat;
				background-color: #ffffff;
    }

}

.audio-more {
	display: none;
}
