@import url('//fonts.googleapis.com/css?family=Oswald:400,300,700');
@include bp(large) {
    .main {
        background: url(../../images/pw_maze_white.png);
    }
}
.home__featured .featured__article--content, .home__featured .featured__content--block {
    background-color: #091f40;
}
.featured__article--heading {
    font-family: 'Oswald',sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 2px 2px 1px rgba(36,132,198,.7);
    color: #fff;
}
.featured__article:hover .featured__article--heading {
    text-shadow: 2px 2px 1px rgba(9,32,64,.7);
    color: #fff;
}
.featured__content--title {
    font-size: 1.23em;
    font-family: 'Oswald',sans-serif;
    font-weight: 400;
    text-shadow: 2px 2px 1px rgba(36,132,198,.5);
    color: #fff;
}
.featured__content--block:hover .featured__content--title {
    color: #99d8ff;
    text-shadow: 2px 2px 1px rgba(9,32,64,.7);
}
.home__highlights {
    background: url(../../images/pw_maze_gray.png);
    border-bottom-color: #d0d2d3;
}
.highlights__heading {
    text-transform: uppercase;
    font-family: Oswald,sans-serif;
    font-weight: 700;
    color: #182441;
    text-shadow: 2px 2px 2px rgba(80,131,194,.4);
}
.highlights__events--more-btn {
    background-color: #182441;
    border-color: #5083c2;
    color: #fff!important;
    text-transform: uppercase;
    &:hover {
        color: #fff!important;
        background-color: #5083c2;
        border-color: #182441;
    }
}
.highlights__event--item {
    background-color: rgba(0,0,0,.1);
    color: #092040;
    .highlights__event--date, .highlights__event--item, .highlights__event--title {
        color: #092040;
    }
    &:hover {
        .highlights__event--date, .highlights__event--item, .highlights__event--title {
            color: #2484c6;
        }
    }
}
.type-contest .entry2__thumbnail--end-date {
    visibility: hidden!important;
}
.type-contest .entry2__thumbnail--contest-type {
    visibility: hidden!important;
}
.entry2__thumbnail__icon {
    visibility: hidden!important;
}
.entry2__thumbnail__overlay {
    opacity: 0!important;
}
.songs__group--date {
    font-size: 1em!important;
}
.type-tribe_events .entry2__thumbnail--month-and-day {
    visibility: hidden!important;
}
.type-tribe_events .entry2__thumbnail--day-of-week {
    visibility: hidden!important;
}
.h1, .type-contest .entry2__thumbnail--contest-type, .type-contest .entry2__thumbnail--end-date, .type-tribe_events .entry2__thumbnail--event-date {
    visibility: hidden!important;
}
.header__main.headroom {
    background-image: url(../../images/wror-header-blue.jpg);
}
.header__nav > ul > li {
    background-color: rgba(255,255,255,0.7);
}
.header__nav .format-fi > ul a.active, .header__nav .format-fi > ul a:focus, .header__nav .format-fi > ul a:hover, .header__nav .format-fw > ul a.active, .header__nav .format-fw > ul a:focus, .header__nav .format-fw > ul a:hover, .header__nav .format-sp > ul a.active, .header__nav .format-sp > ul a:focus, .header__nav .format-sp > ul a:hover, .header__nav .sub-menu a.active, .header__nav .sub-menu a:focus, .header__nav .sub-menu a:hover, .ui-menu a.active, .ui-menu a:focus, .ui-menu a:hover {
    color: #ffffff;
}
.header__nav .format-fi > ul a.active, .header__nav .format-fi > ul a:focus, .header__nav .format-fi > ul a:hover, .header__nav .format-fw > ul a.active, .header__nav .format-fw > ul a:focus, .header__nav .format-fw > ul a:hover, .header__nav .format-sp > ul a.active, .header__nav .format-sp > ul a:focus, .header__nav .format-sp > ul a:hover, .header__nav .sub-menu a.active, .header__nav .sub-menu a:focus, .header__nav .sub-menu a:hover, .ui-menu a.active, .ui-menu a:focus, .ui-menu a:hover {
    background-color: #000000;
}
.mobile-nav__toggle--span, .mobile-nav__toggle--span::after, .mobile-nav__toggle--span::before {
    background-color: #ffffff;
}
.format-sp a:hover .meta-text {
    color: #ffffff;
}
.header__search {
    color: #ffffff;
    padding-top: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    text-transform: uppercase;
    background-color: rgba(1,1,1,0.7);
}
.header__search:hover, .header__search:hover .header__search--btn::before {
    color: #6699cc;
}
.main {
    background-image: url(../../images/wrorbg.jpg);
}
.header__main.headroom {
    background-color: #585858;
    background-image: url(../../images/wror-header.jpg);
    background-position: top center;
}
