@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);

@include bp(large){
	.main {
		background: url(../../images/pw_maze_white.png);
	}
}

.home__featured .featured__article--content,
.home__featured .featured__content--block {
	background-color: #091f40;
}

.featured__article--heading {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 2px 2px 1px rgba(36, 132, 198, .7);
  color: #fff;
}

.featured__article:hover .featured__article--heading {
	text-shadow: 2px 2px 1px rgba(9, 32, 64, .7);
	color: #fff;
}

.featured__content--title {
	font-size: 1.23em;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	text-shadow: 2px 2px 1px rgba(36, 132, 198, .5);
	color: #fff;
}

.featured__content--block:hover .featured__content--title {
	color: #99d8ff;
	text-shadow: 2px 2px 1px rgba(9, 32, 64, .7);
}

.home__highlights {
  background: url(../../images/pw_maze_gray.png);
  border-bottom-color: #d0d2d3;
}

.highlights__heading {
  text-transform: uppercase;
  font-family: Oswald,sans-serif;
  font-weight: 700;
  color: #182441;
  text-shadow: 2px 2px 2px rgba(80,131,194,.4);
}

.highlights__events--more-btn {
  background-color: #182441;
  border-color: #5083c2;
  color: #fff!important;
  text-transform: uppercase;

  &:hover {
    color: #fff!important;
    background-color: #5083c2;
    border-color: #182441;
  }
}

.highlights__event--item {
  background-color: rgba(0,0,0,.1);
	color: #092040;

	.highlights__event--date, .highlights__event--item, .highlights__event--title {
			color: #092040;
	}

	&:hover {
		.highlights__event--date, .highlights__event--item, .highlights__event--title {
		    color: #2484c6;
		}
	}
}
