/**
 * General Admin styles for Listmaster
 */

.gmr__option {
	width: 100%;
	padding: 1em 0;
	overflow: auto;
	border-bottom: 1px solid $soft-gray;
}

.gmr__option .hidden {
	display: none;
}

.gmr__option:last-of-type{
	border-bottom: none;
}

.gmr__option img{
	max-width: 100%;
	height: auto;
}

.gmr__option--preview {
	float: left;
	width: auto;
	max-width: 15%;
	margin: 0 2% 0 0;
}

.wpsm-preview-object{
	@include box-sizing(border-box);
	@include box-shadow(0 0 5px 0 rgba(0,0,0,.1));
	padding: 10px;
	margin: 5px;
	border: 1px solid $soft-gray;
}

.gmr__option--label {
	display: block;
	margin: 0 0 .75em;
	font-weight: 600;
}

.gmr__option--input {
	@include box-sizing(border-box);
	@include placeholder {
		color: $meta-gray;
	}
	width: 99%;
}

.gmr-option__field--desc {
	font-size: .75em;
	font-style: italic;
}

.gmr__option--upload-btn {
	margin: 1em 0;
}

.gmr-image-buttons {
	clear: both;
	padding-top: 1em;
}

#featured-footer-image-container img {

	width:  100%;
	height: auto;

}