.podcast-tile {

	& .excerpt {
		font-weight: 300;
		font-size: 1rem;
		line-height: 1.5;

		& p:last-of-type {
			margin-bottom: .667rem;
		}
	}

	& .status {
		float: left;
		padding-right: .667rem;

		& button {
			background-color: transparent;
			height: 24px;
			width: 24px;
		}

		& svg {
			fill: var(--brand-primary);
			height: 9px;
			width: 12px;
		}
	}

	& .latest,
	& .count {
		display: inline;
		font-size: .833rem;
		font-weight: 600;
	}

	& .latest {
		color: var(--brand-primary);
	}

	& .count {
		color: var(--global-font-secondary);
		padding-left: 1.389rem;
	}
}