// These are post list tweaks that should be applied to all post lists at some
// point, but for now are only applied to the post list on the home page. This
// is because the styles for post lists and single posts (home/_blog-roll.scss 
// and components/_posts.scss) are currently overlapping and need to be 
// separated. Once separated these styles can be applied to _posts.scss so they
// are available to all post lists on the site. 
 
.page-template-front-page-php {
	.hentry {
		
	}

	.ad__in-loop {
		margin: $base-line-height 0;
	}

	.entry__date,
	.entry__excerpt {
		display: none; 
	}
	.entry__title {
		margin-bottom: 0.5em;
		text-align: center;
	}	
	.entry__thumbnail {
		text-align: center;
		margin-bottom: 0;
		padding-bottom: 0;
		
		img {
			display: inline-block; 
		}
	}
	.entry__footer {
		text-align: center;
	}
	
	@include bp(small) {
		.entry__date,
		.entry__excerpt {
			display: block;
		}
		.entry__title {
			text-align: left;
		}
		.entry__footer {
			text-align: right;
		}
	}
	
	@include bp(medium) {
		.entry__title {
			margin-bottom: 0.4em;
		}
		.entry__thumbnail {
			padding-top: 0.5em; 
			padding-bottom: 0;
		}
		.entry__excerpt p {
			margin: 0;
		}
	}
}