// Make sure the bloglist lines up with the Featured and Highlights areas since
// they don't necessarily line up with the grid.
.page-template-front-page-php .content {
	@include span-columns(12 of 12);
	@include shift(0);	
	padding: 1em;
	@include bp(medium) {
		padding: 48px;
	}
}

.content__heading {
	margin-top: 0;
	margin-bottom: 24px;
	font-size: ms(1);
	font-weight: lighter;
	color: $secondary-heading;
}

.entry__thumbnail {
	position: relative;
	float: left;
	width: 100%;
	margin-bottom: 34px;
	@include bp(medium) {
		width: 35%;
		margin-bottom: 0;
	}
}

%entry__thumbnail--icon {
	@extend %gmr-icons;
	position: absolute;
	top: 10px;
	right: 10px;
	width: 42px;
	height: 42px;
	font-size: 2.625em;
	color: $color-text-white;
}

.entry__thumbnail--video:before {
	@extend %entry__thumbnail--icon;
	content: "\e613";
}

.entry__thumbnail--events:before {
	@extend %entry__thumbnail--icon;
	content: "\e614";
}

.entry__thumbnail--audio:before {
	@extend %entry__thumbnail--icon;
	content: "\e615";
}

.promoted .entry__thumbnail {
	@include bp(medium) {
		width: 100%;
	}
}

.entry__meta {
	position: relative;
	float: left;
	width: 100%;
	text-align: center;
	@include bp(medium) {
		width: 60%;
		margin-right: 5%;
		text-align: left;
	}
}

.entry__meta--fullwidth {
	position: relative;
	float: left;
	width: 100%;
	text-align: left
}

.promoted .entry__meta {
	@include bp(medium) {
		width: 100%;
		margin-right: 0;
	}
}

.entry__event--details {
	@extend %unordered-list;
}

.entry__event--item {
	@extend %list-item;
	list-style: none;
	display: inline-block;
	margin-right: 44px;
	font-weight: bold;
}

.entry__event--item:last-child {
	margin-right: 0;
}

.entry--video__thumbnail, .entry--gallery__thumbnail, .entry--link__thumbnail {
	position: relative;
	float: left;
	width: 100%;
	margin-bottom: 34px;
	@include bp(medium) {
		width: 35.454545454545%;
		margin-right: 3.636363636364%;
		margin-bottom: 0;
	}
}

.entry--video__meta, .entry--gallery__meta, .entry--link__meta {
	position: relative;
	float: right;
	width: 100%;
	text-align: center;
	@include bp(medium) {
		width: 60.909090909091%;
		text-align: left;
	}
}

.entry--standard__thumbnail {
	position: relative;
	float: right;
	width: 100%;
	margin-bottom: 34px;
	@include bp(medium) {
		width: 35.454545454545%;
		margin-bottom: 0;
	}
}

.entry__thumbnail {
	position: relative;
	float: left;
	width: 100%;
	margin-bottom: 34px;
	@include bp(medium) {
		width: 35%;
		 margin-bottom: 0;
	}
}

.entry--standard__meta {
	position: relative;
	float: left;
	width: 100%;
	text-align: center;
	@include bp(medium) {
		width: 60%;
		margin-right: 5%;
		text-align: left;
	}
}

.entry--audio__thumbnail {
	position: relative;
	float: left;
	width: 100%;
	margin-bottom: 34px;
	@include bp(medium) {
		width: 21.25%;
		margin-right: 3.636363636364%;
		margin-bottom: 0;
	}
}

.entry--audio__meta {
	position: relative;
	float: left;
	width: 100%;
	@include bp(medium) {
		width: 75.113636363636%;
	}
}