.featured {
	position: relative;
	@extend %main;
	padding: 48px 0;
	background: url(../../images/featured-bg.png) repeat center center $abbey;
	background-size: auto 40%;
}

.featured__artist, .featured__content {
	width: 100%;
}

.featured__artist {
	padding-bottom: 34px;
}

.featured__artist--image {
	width: 100%;
	background-color: $abbey;
}

.featured__artist--content {
	width: 100%;
	padding: 34px 2.898550724638%; // 28px
	overflow: auto;
	background-color: $coffee-bean;
	color: $iron;
}

.featured__artist--heading {
	float: left;
	width: 100%;
	@include bp(large) {
		width: 21.538461538462%; // 196px
		margin-right: 1.098901098901%; // 10px
	}
}

.featured__artist--title {
	margin-top: 0;
	margin-bottom: 10px;
	line-height: 1;
	font-family: $open-sans;
	font-size: ms(1);
	font-weight: normal;
}

.featured__artist--subtitle {
	margin: 0;
	line-height: 1;
	font-size: ms(7);
	color: $color-text-white;
}

$featured__artist--font-size: ms(-1);
$featured__artist--line-height: 1.5;
$featured__artist--lines-to-show: 3;

.featured__artist--bio {
	display: none;
	@include bp(large) {
		display: block;
		float: left;
		width: 77.362637362637%;
		font-size: ms(-1);
		line-height: 1.5;
	}
}

.featured__content--block {
	float: left;
	width: 100%;
	height: 90px;
	margin-bottom: 48px;
	overflow: hidden;
	background-color: $coffee-bean;
	@include bp(small) {
		width: 100%;
		height: 95px;
	}
	@include bp(large) {
		width: 31.055900621118%;
		height: 280px;
		margin-right: 3.416149068323%;
		margin-bottom: 0;
		overflow: visible;
	}
	@include bp(x-large) {
		height: 106px;
	}
}

.featured__content--block:last-of-type {
	margin: 0;
}

.featured__content--image {
	float: left;
	width: 30%;
	@include bp(small) {
		width: 35%;
	}
	@include bp(large) {
		width: 100%;
		height: 138px;
		overflow: hidden;
	}
	@include bp(x-large) {
		width: 35.333333333333%;
		height: 106px;
	}
}

.featured__content--image img {
	width: 100%;
	@include bp(x-large) {
		max-width: 100%;
	}
}

.featured__content--meta {
	float: left;
	width: 70%;
	padding: 12px 2.666666666667% 12px 10.666666666667%;
	color: $aluminium;
	@include bp(small) {
		width: 65%;
	}
	@include bp(large) {
		width: 100%;
		height: 142px;
	}
	@include bp(x-large) {
		width: 64.666666666667%;
		height: 100%;
	}
}

.featured__content--title {
	margin-top: 0;
	margin-bottom: 8px;
	line-height: 1;
	font-family: $open-sans;
	font-size: ms(0);
	@include bp(large) {
		font-size: ms(1);
	}
}

.featured__content--list {
	@extend %unordered-list;
	line-height: 1;
}

.featured__content--item {
	@extend %list-item;
	display: inline-block;
	width: 40%;
	margin-bottom: 4px;
	font-size: ms(-2);
	color: $sweet-corn;
	@include bp(large) {
		display: block;
		width: 100%;
		font-size: ms(-1);
	}
}

.featured__content--btn {
	@include btn($cardinal, $color-text-white, $cardinal, .25em, 1.5em, ms(-2));
	@include border-radius(1.5em);
	text-transform: uppercase;
}