/*doc
---
title: Featured Articles
name: featured-articles
category: Components - Front Page
---

Curated posts for Featured Articles

```html_example
<section id="featured" class="home__featured">
		<div class="featured__article">
			<div class="featured__article--image">
				<img src="http://placehold.it/2800x1000&text=featured+image">
			</div>
			<div class="featured__article--content">
				<div class="featured__article--heading">
					<h3 class="featured__article--subtitle">Artist of the Month</h3>
					<h2 class="featured__article--title">Minshara</h2>
				</div>
				<div class="featured__article--excerpt">
					Min•sha•ra (min SHä rə) 1. adj. the classification for a planet capable of supporting humanoid life; 2. n. electronic pop rock band from Harrisburg / Philadelphia, Pennsylvania From The Viper Room in LA to Webster Hall in NYC, Minshara has been spreading infectious pop melodies, dance grooves, and rock
				</div>
			</div>
		</div>
		<div class="featured__content">
			<div class="featured__content--block">
				<div class="featured__content--image">
					<img src="http://placehold.it/400x400&text=featured+image">
				</div>
				<div class="featured__content--meta">
					<h2 class="featured__content--title">MMR Rocks the Flyers</h2>
					<ul class="featured__content--list">
						<li class="featured__content--item">MMR Rocks the Flyers</li>
						<li class="featured__content--item">Flyers All Access</li>
					</ul>
				</div>
			</div>
			<div class="featured__content--block">
				<div class="featured__content--image">
					<img src="http://placehold.it/400x400&text=featured+image">
				</div>
				<div class="featured__content--meta">
					<h2 class="featured__content--title">Hitch a Ride with Pierre ...and Minerva</h2>
					<div class="featured__content--link">
						<a href="#" class="featured__content--btn">Enter To Win</a>
					</div>
				</div>
			</div>
			<div class="featured__content--block">
				<div class="featured__content--image">
					<img src="http://placehold.it/400x400&text=featured+image">
				</div>
				<div class="featured__content--meta">
					<h2 class="featured__content--title">Preston and Steve</h2>
					<ul class="featured__content--list">
						<li class="featured__content--item">Daily Rush</li>
						<li class="featured__content--item">Flyers All Access</li>
						<li class="featured__content--item">Studio Guests</li>
					</ul>
				</div>
			</div>
		</div>
</section>
```
*/

.home__featured {
	position: relative;
	@include span-columns(4);
	@include omega;
	padding: $base-line-height $gutter / 2;
	background-color: $featured-primary-bg;
	@include bp(small) {
		@include span-columns(6);
		@include omega;
	}
	@include bp(medium) {
		@include span-columns(8);
		@include omega;
		padding: $base-line-height * 2 $gutter * 2;
		background-image: url(../../images/featured-bg.png);
		background-repeat: repeat;
		background-position: center center;
		background-color: $featured-primary-bg;
		background-size: auto 40%;
	}
	@include bp(large) {
		@include span-columns(12);
		@include omega;
	}
	@include bp(x-large) {
		@include span-columns(12);
		@include omega;
	}
}

.featured__article{
	@include row();
}

.featured__content {
	padding-bottom: 0;
	@include row();
}

.featured__article--image {
	@include span-columns(4 of 4);
	@include omega;
	overflow: hidden;
	background-color: $featured-secondary-bg;	
	position: relative;  
	padding-top: 35.71%;	
	img {
		width: 100%;
		position: absolute;
		left: 50%;
		top: 50%;
		@include transform(translate(-50%, -50%));
	}
}

.featured__article--content {
	@include span-columns(4 of 4);
	@include omega;
	padding: 1em $gutter;
	overflow: auto;
	background: $secondary-link;
	@include bp(small) {
		@include span-columns(6 of 6);
		@include omega;
	}
	@include bp(medium) {
		@include span-columns(8 of 8);
		@include omega;
	}
	@include bp(large) {
		@include span-columns(12 of 12);
		@include omega;
		padding: 28px 3.921568627451%;
	}
	@include bp(x-large) {
		@include span-columns(12 of 12);
		@include omega;
		padding: 28px 2.898550724638%;
	}

	.home__featured & {
		background-color: $featured-secondary-bg;
		color: $secondary-link;
	}
}

.featured__article--heading {
	@include span-columns(4 of 4);
	@include omega;
	margin: 0;
	font-family: $open-sans;
	font-size: ms(2);
	line-height: 1.3;
	font-weight: bold;
	color: $color-text-white;
	
	.featured__article:hover & {
		color: $color-text-yellow;
	}
	
	@include bp(small) {
		font-size: ms(3); 
	}
	@include bp(medium) {
		font-size: ms(4);
	}
}

.featured__article--heading a, .featured__article--heading a:visited {
	color: $color-text-white;
}

.featured__article--heading a:hover, .featured__article--heading a:focus {
	color: $color-text-yellow;
}

.featured__article--heading a:active{
	color: darken($color-text-yellow, 9%);
}

.featured__article--excerpt {
	@include bp(large) {
		@include span-columns(8 of 12);
		@include omega;
		font-size: ms(-1);
		line-height: 1.5;
	}
	@include bp(x-large) {
		@include span-columns(8 of 12);
		@include omega;
	}
	display: none;
}

.featured__article--excerpt p {
	margin-bottom: 0;
	display: block;
	display: -webkit-box;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
}

.featured__content--block {
	@include span-columns(4 of 4);
	@include omega;
	overflow: hidden;
	background: $highlights-bg;
	height: 100px;
	margin: $base-line-height 0 0;
	@include bp(small) {
		@include span-columns(4 of 12);
		height: 100%;
	}
	@include bp(large) {
		@include span-columns(4 of 12);
		height: 110px;
		margin-top: $base-line-height * 1.5;
	}

	.home__featured & {
		background-color: $featured-secondary-bg;
		color: $secondary-link;
	}
}

.featured__content--block:last-of-type {
	@include omega;
}

.featured__content--image {
	@include span-columns(4 of 12);
	overflow: hidden;
	position: relative; 
	height: 100%;
	img {
		position: absolute;
		left: 50%;
		top: 50%;
		width: 100%;
		@include transform(translate(-50%, -50%));
		
		// Special hack to just stretch images vertically at really small sizes 
		// where the container is likely to be taller than wider. 
		@media ( max-width: 350px ) {
			width: auto;
			height: 100%;
			max-width: none;
			max-height: none;
		}
		
		@include bp(large) {
			width: auto;
			height: 100%;
			max-width: none;
			max-height: none;
		}
	}
	@include bp(small) {
		@include span-columns(4 of 4);
		@include omega;
		padding-top: 66.6%;
	}
	@include bp(large) {
		@include span-columns(4 of 12);
		padding-top: 0;
	}
	@include bp(x-large) {
		@include span-columns(4 of 12);
	}
}

.featured__content--meta {
	@include span-columns(8 of 12);
	padding: .8em $gutter / 2;
	font-size: ms(2);
	font-weight: lighter;
	overflow: hidden;
	@include bp(small) {
		@include span-columns(4 of 4);
		min-height: 6.8em 
	}
	@include bp(medium) {
		font-size: ms(1); 
	}
	@include bp(large) {
		@include span-columns(8 of 12);
		min-height: none; 
	}
	
	.home__featured & {
		color: $highlights-text;
	}
}

.featured__content--title {
	font-size: 1em;
	display: block;
	width: 100%;
	margin: 0 auto .15em;
	// Never show more than two lines of text (layout will break).
	line-height: 1.25;
	max-height: 2.5em;
	overflow: hidden; 
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	font-family: $open-sans;
	color: $color-text-white;
	
	.featured__content--block:hover & {
		color: $color-text-yellow;
	}
}

.featured__content--title a:link, .featured__content--title a:visited {
	color: $highlights-link;
}

.featured__content--title a:hover, .featured__content--title a:focus {
	color: $secondary-link-hover;
}

.featured__content--title a:active{
	color: darken($secondary-link-hover, 9%);
}


.home__featured {
.featured__content--title a:link, .featured__content--title a:visited {
	color: $color-text-white;
}

.featured__content--title a:hover, .featured__content--title a:focus {
	color: $color-text-yellow;
}

.featured__content--title a:active{
	color: darken($color-text-yellow, 9%);
}
}


.featured__content--link {
}

.featured__content--btn {
	@include btn($btn-bg, $color-text-white, $btn-bg, .25em, 1.2em, .7em);
	@include border-radius(1.5em);
	text-transform: uppercase;
	white-space: nowrap;
}

.featured__content--block:hover .featured__content--btn {
	@include btn($btn-hover, $color-text-black, $btn-hover, .25em, 1.2em, .7em);
}

.featured__content--block:active .featured__content--btn {
	@include btn($btn-active, $color-text-white, $btn-active, .25em, 1.2em, .7em);
}