.slideshow {
  .slide-content {
    position: relative;
    overflow: hidden;

    .slide-heading {
      background: #D22228;
      bottom: 0;
      color: $primary-bg;
      position: absolute;
      left: 0;
      margin: 0;
      padding-left: 10px;
      right: 0;
    }
  }
}

.slick-arrow {
  .slick-next,
  .slick-prev {
    background: transparent;
    border: none;
    color: transparent;
    cursor: pointer;
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 0;
    height: 25px;
    line-height: 0;
    outline: none;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 25px;
    z-index: 101;

    &:before {
      background: rgba(#fff, 0.6);
      border-radius: 50%;
      color: #000;
      font-family: sans-serif;
      font-size: 16px;
      line-height: 0;
      padding: 4px 5px;
    }
  }

  .slick-prev {
    left: 10px;
    &:before {
        content: '←';
    }
  }

  .slick-next {
    right: 10px;
    &:before {
        content: '→';
    }
  }
}

.slick-dots {
  display: block;
  width: 100%;
  padding-bottom: 10px;
  margin: 0;
  list-style: none;
  text-align: center;
  span {
    display: inline-block;
    margin: 0 5px;
    position: relative;
    font-size: 0;
    line-height: 0;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
    &:before {
      font-size: 26px;
      line-height: 20px;
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      content: '•';
      text-align: center;
      opacity: .25;
      color: #000;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    &:hover,
    &:focus {
      outline: none;
      &:before{
        opacity: 1;
      }
    }
    &.cycle-pager-active:before {
      opacity: .75;
      color: #000;
    }
  }
}


