/*doc
---
title: Featured Articles
name: featured-articles
category: Components - Front Page
---

Curated posts for Featured Articles

```html_example
<section id="featured" class="home__featured">
		<div class="featured__article">
			<div class="featured__article--image">
				<img src="http://placehold.it/2800x1000&text=featured+image">
			</div>
			<div class="featured__article--content">
				<div class="featured__article--heading">
					<h3 class="featured__article--subtitle">Artist of the Month</h3>
					<h2 class="featured__article--title">Minshara</h2>
				</div>
				<div class="featured__article--excerpt">
					Min•sha•ra (min SHä rə) 1. adj. the classification for a planet capable of supporting humanoid life; 2. n. electronic pop rock band from Harrisburg / Philadelphia, Pennsylvania From The Viper Room in LA to Webster Hall in NYC, Minshara has been spreading infectious pop melodies, dance grooves, and rock
				</div>
			</div>
		</div>
		<div class="featured__content">
			<div class="featured__content--block">
				<div class="featured__content--image">
					<img src="http://placehold.it/400x400&text=featured+image">
				</div>
				<div class="featured__content--meta">
					<h2 class="featured__content--title">MMR Rocks the Flyers</h2>
					<ul class="featured__content--list">
						<li class="featured__content--item">MMR Rocks the Flyers</li>
						<li class="featured__content--item">Flyers All Access</li>
					</ul>
				</div>
			</div>
			<div class="featured__content--block">
				<div class="featured__content--image">
					<img src="http://placehold.it/400x400&text=featured+image">
				</div>
				<div class="featured__content--meta">
					<h2 class="featured__content--title">Hitch a Ride with Pierre ...and Minerva</h2>
					<div class="featured__content--link">
						<a href="#" class="featured__content--btn">Enter To Win</a>
					</div>
				</div>
			</div>
			<div class="featured__content--block">
				<div class="featured__content--image">
					<img src="http://placehold.it/400x400&text=featured+image">
				</div>
				<div class="featured__content--meta">
					<h2 class="featured__content--title">Preston and Steve</h2>
					<ul class="featured__content--list">
						<li class="featured__content--item">Daily Rush</li>
						<li class="featured__content--item">Flyers All Access</li>
						<li class="featured__content--item">Studio Guests</li>
					</ul>
				</div>
			</div>
		</div>
</section>
```
*/

.home__featured {
	position: relative;
	@include span-columns(4);
	@include omega;
	padding: 40px 20px;
	background-color: $featured-primary-bg;
	@include bp(small) {
		@include span-columns(6);
		@include omega;
	}
	@include bp(medium) {
		@include span-columns(8);
		@include omega;
		padding: 55px 48px 0;
	}
	@include bp(large) {
		@include span-columns(12);
		@include omega;
		background-image: url(../../images/featured-bg.png);
		background-repeat: repeat;
		background-position: center center;
		background-color: $featured-primary-bg;
		background-size: auto 40%;
        padding-bottom: 55px;
	}
	@include bp(x-large) {
		@include span-columns(12);
		@include omega;
		padding: 40px;
	}
}

.featured__article{
	padding-bottom: 34px;
	@include row();
}

.featured__content {
	padding-bottom: 34px;
	@include row();
	@include bp(large) {
		padding-bottom: 0;
	}
}

.featured__article--image {
	@include span-columns(4 of 4);
	@include omega;
	overflow: hidden;
	background-color: $featured-secondary-bg;	
	position: relative;  
	padding-top: 35.71%;	
	img {
		width: 100%;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}

.featured__article--content {
	@include span-columns(4 of 4);
	@include omega;
	padding: 15px 3.928571428572%;
	overflow: auto;
	background: $secondary-link;
	@include bp(small) {
		@include span-columns(6 of 6);
		@include omega;
		padding: 15px 4.941176470588%;
	}
	@include bp(medium) {
		@include span-columns(8 of 8);
		@include omega;
	}
	@include bp(large) {
		@include span-columns(12 of 12);
		@include omega;
		padding: 33px 3.921568627451%;
	}
	@include bp(x-large) {
		@include span-columns(12 of 12);
		@include omega;
		padding: 36px 2.898550724638%;
	}

	.home__featured & {
		background-color: $featured-secondary-bg;
		color: $secondary-link;
	}
}

.featured__article--heading {
	@include span-columns(4 of 4);
	@include omega;
	margin-top: 0;
	margin-bottom: 10px;
	font-family: $open-sans;
	font-size: ms(1);
	font-weight: normal;
	@include bp(small) {
		@include span-columns(6 of 6);
		@include omega;
	}
	@include bp(medium) {
		@include span-columns(8 of 8);
		@include omega;
	}
	@include bp(large) {
		@include span-columns(4 of 12);
	}
	@include bp(x-large) {
		@include span-columns(4 of 12);
	}
}

.featured__article--heading a, .featured__article--heading a:visited {
	color: $color-text-white;
}

.featured__article--heading a:hover, .featured__article--heading a:focus {
	color: $color-text-yellow;
}

.featured__article--heading a:active{
	color: darken($color-text-yellow, 9%);
}

.featured__article--excerpt {
	display: none;
	@include bp(large) {
		@include span-columns(8 of 12);
		@include omega;
		font-size: ms(-1);
		line-height: 1.5;
	}
	@include bp(x-large) {
		@include span-columns(8 of 12);
		@include omega;
	}
}

.featured__article--excerpt p {
	margin-bottom: 0;
	display: block;
	display: -webkit-box;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
}

.featured__content--block {
	@include span-columns(4 of 4);
	@include omega;
	height: 90px;
	margin-bottom: 27px;
	overflow: hidden;
	background: $highlights-bg;
	@include bp(small) {
		@include span-columns(4 of 4);
		@include omega;
		height: 95px;
		margin-bottom: 25px;
	}
	@include bp(medium) {
		@include span-columns(4 of 12);
		height: 100%;
	}
	@include bp(large) {
		@include span-columns(4 of 12);
		height: 100px;
		margin-bottom: 0;
		overflow: visible;
	}
	@include bp(x-large) {
		@include span-columns(4 of 12);
		height: 106px;
	}

	.home__featured & {
		background-color: $featured-secondary-bg;
		color: $secondary-link;
	}
}

.featured__content--block:last-of-type {
	@include omega;
}

.featured__content--image {
	@include span-columns(4 of 12);
	height: 100%;
	overflow: hidden;
	@include bp(small) {
		@include span-columns(4 of 12);
	}
	@include bp(medium) {
		@include span-columns(4 of 4);
		@include omega;
		height: 138px;
	}
	@include bp(large) {
		@include span-columns(4 of 12);
		height: 100%;
	}
	@include bp(x-large) {
		@include span-columns(4 of 12);
	}
}

.featured__content--image img {
	width: 100%;
	max-width: none;
	@include bp(medium) {
		height: auto;
		width: 100%;
		max-width: 100%;
	}
	@include bp(large) {
		height: 100%;
		width: auto;
		max-width: none;
	}
}

.featured__content--meta {
	@include span-columns(8 of 12);
	@include omega;
	padding: 10px;
	font-size: ms(-2);
	font-weight: lighter;
	overflow: hidden;
	@include bp(small) {
		@include span-columns(8 of 12);
		@include omega;
	}
	@include bp(medium) {
		@include span-columns(4 of 4);
		@include omega;
	}
	@include bp(large) {
		@include span-columns(8 of 12);
		@include omega;
	}
	@include bp(x-large) {
		@include span-columns(8 of 12);
		@include omega;
	}
	
	.home__featured & {
		color: $highlights-text;
	}
}

.featured__content--title {
	display: block;
	display: -webkit-box;
	width: 100%;
	height: 38px;
	margin: 0 auto 13px;
	line-height: 1.25;
	overflow: hidden;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	font-family: $open-sans;
	font-size: ms(2);
	@include bp(small) {
		height: 48px;
		margin-bottom: 5px;
		font-size: ms(2);
	}
	@include bp(medium) {
		overflow: auto;
		margin-bottom: 0;
		font-size: ms(1);
	}
	@include bp(large) {
		height: 52px;
		overflow: hidden;
	}
	@include bp(x-large) {
		height: 52px;
		margin-bottom: 13px;
	}
}

.featured__content--title a:link, .featured__content--title a:visited {
	color: $highlights-link;
}

.featured__content--title a:hover, .featured__content--title a:focus {
	color: $secondary-link-hover;
}

.featured__content--title a:active{
	color: darken($secondary-link-hover, 9%);
}


.home__featured {
.featured__content--title a:link, .featured__content--title a:visited {
	color: $color-text-white;
}

.featured__content--title a:hover, .featured__content--title a:focus {
	color: $color-text-yellow;
}

.featured__content--title a:active{
	color: darken($color-text-yellow, 9%);
}
}


.featured__content--link {
	width: 100%;
	height: 19px;
	text-align: center;
	@include bp(small) {
		text-align: right;
	}
	@include bp(medium) {
		text-align: center;
	}
}

.featured__content--btn {
	@include btn($btn-bg, $color-text-white, $btn-bg, .25em, 1.5em, ms(-1));
	@include border-radius(1.5em);
	text-transform: uppercase;
}

.featured__content--btn:hover {
	@include btn($btn-hover, $color-text-black, $btn-hover, .25em, 1.5em, ms(-1));
}

.featured__content--btn:active {
	@include btn($btn-active, $color-text-white, $btn-active, .25em, 1.5em, ms(-1));
}