/*doc
---
title: Highlights
name: highlights
category: Components - Front Page
---

Community Highlights and Events

```html_example
	<section class="home__highlights">

			<div class="highlights__col">

				<div class="highlights__community">

					<h2 class="highlights__heading">93.3 WMMR Community Highlights<span class="highlights__heading--span">YouRock</span></h2>

					<div class="highlights__community--item">

						<div class="highlights__community--thumb">
							<img src="http://placehold.it/356x356&text=image">
						</div>

						<h3 class="highlights__community--title">title</h3>

					</div>

					<div class="highlights__community--item">

						<div class="highlights__community--thumb">
							<img src="http://placehold.it/356x356&text=image">
						</div>

						<h3 class="highlights__community--title">title</h3>

					</div>

					<div class="highlights__community--item">

						<div class="highlights__community--thumb">
							<img src="http://placehold.it/356x356&text=image">
						</div>

						<h3 class="highlights__community--title">title</h3>

					</div>

				</div>

				<div class="highlights__events">

					<h2 class="highlights__heading">Upcoming<span class="highlights__heading--span">Events</span></h2>

					<div class="highlights__event--item">

						<div class="highlights__event--thumb">
							<img src="http://placehold.it/156x156&text=image">
						</div>

						<div class="highlights__event--meta">
							<h3 class="highlights__event--title">Preston & Steve’s Camp Out For Hunger 2014</h3>
							<time datetime="" class="highlights__event--date">Dec 1 - Dec 5</time>
						</div>

					</div>

					<div class="highlights__event--item">

						<div class="highlights__event--thumb">
							<img src="http://placehold.it/156x156&text=image">
						</div>

						<div class="highlights__event--meta">
							<h3 class="highlights__event--title">A.B.A.T.E. Motorcycle Toy Run For The Kids!</h3>
							<time datetime="" class="highlights__event--date">Nov 2</time>
						</div>

					</div>

				</div>

			</div>

	</section>
```
*/
.home__highlights {
	@extend %main;
	padding: 0 $gutter / 2 $base-line-height;
	background-color: $highlights-bg;
	border-bottom: 1px solid darken( $highlights-bg, 3% );
	
	@include bp(medium) {
		padding: 0 $gutter * 2 $base-line-height * 2;
	}
}

// .highlights__col {
// 	@include span-columns(4);
// 	@include bp(small) {
// 		@include span-columns(6);
// 	}
// 	@include bp(medium) {
// 		@include span-columns(6);
// 		padding-right: 0;
// 		padding-left: 0;
// 	}
// 	@include bp(large) {
// 		@include span-columns(10);
// 	}
// 	@include bp(x-large) {
// 		@include span-columns(10);
// 	}
// }

.highlights__heading {
	margin: 0 0 $base-line-height / 2;
	font-family: $open-sans;
	font-size: ms(2);
	font-weight: lighter;
	color: $secondary-heading;
}

.highlights__community {
	padding-top: $base-line-height;
	@include bp(large) {
		@include span-columns(9 of 15);
		padding-top: $base-line-height * 1.5;
	}
}

.highlights__community--item {
	position: relative;
	@include span-columns(6 of 12);
	@include omega;
	
	&:nth-of-type(2n) {
		margin-left: 2.35765%;
	}
	&:nth-of-type(3) {
		display: none;
	}
 	@include bp(small) {
		@include span-columns(4 of 12);
		&:nth-of-type(2n) {
			margin-left: 0;
 		}
		&:nth-of-type(3) {
			display: block;
		}
	}
	@include bp(large) {
		@include span-columns(3 of 9);
	}
}

.highlights__community--thumb {
	position: relative;
	width: 100%;
	overflow: hidden;
	
	// Force aspect ratio.
	padding-top: 100%;
	
	background-size: 100%;
	background-size: cover; 
	background-position: center center;
}

.highlights__community--thumb:after {
	position: absolute;
	top: 50%;
	left: 50%;
	@include transform(translate(-50%, 0));
	width: 100%;
	height: 50%;
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .65) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, .65)));
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .65) 100%);
	background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .65) 100%);
	background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .65) 100%);
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .65) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=0);
	content: "";
}

.highlights__community--title {
	@include css-gradient(rgba(0,0,0,0), $darker-gray);
	background-color: transparent; // Override the background color set by css-gradient().
	position: absolute;	
	bottom: 0;
	left: 0;
	right: 0;
	padding: $base-line-height * 1.5 $gutter / 2 $base-line-height / 2;
	margin: 0;
	font-size: ms(0);
	font-weight: normal;
	color: $color-text-white;
	text-align: center;

	box-sizing: content-box; // So we can set the height relative to line height.
	line-height: 1.5;	
	max-height: 1.5em; // Exactly one line high. 
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	
	a:hover & {
		color: $yellow;	
	}
}

.highlights__events {
	padding-top: $base-line-height;
	clear: both; 
	@include bp(large) {
		padding-top: $base-line-height * 1.5;
		@include span-columns(6 of 15);
		clear: none; 
	}
}

.highlights__event--item {
	@include span-columns(4);
	background-color: $primary-bg;
	color: $primary-text;
	margin: 0 0 $base-line-height;
	position: relative; 
	
	font-size: ms(2); 
	height: 100px;
	
	@include bp(small) {
		@include span-columns(6 of 12);
		margin-bottom: 0;
	}
	
	@include bp(medium) {
		font-size: ms(0);
	}
	
	@include bp(large) {
		@include span-columns(6 of 6);
		// Force a specific height relative to the grid 
		height: 0;
		padding-bottom: 21.5%;
		margin: 0 0 5%;
	}
	
	// Ugly hack to make sure the <a> tag covers the entire block. The better 
	// fix would be to put the <a> tag around the entire block, instead of just
	// around the block's content, but the lousy grid causes problems here 
	// because it adds a :last-child to every grid block to remove margin from
	// the last item in a row. Of course, when the grid block is inside a 
	// wrapper it is _always_ the last child, so the margins get removed.  
	a { 
		position: absolute; 
		top: 0;	
		right: 0;
		bottom: 0;
		left: 0;
	}	
}

.highlights__event--item:last-of-type {
	margin-bottom: 0;
}

.highlights__event--thumb {
	@include span-columns(2 of 6);
	
	position: relative; 
	height: 100%;
	overflow: hidden; 
	background-size: 100%;
	background-size: cover;
	background-position: center center;
	
	@include bp(large) {
		@include span-columns(2 of 6);
		width: 21.5%;
		position: absolute;
		left: 0;
		top: 0; 
	}
}

.highlights__event--meta {
	@include span-columns(4 of 6);
	font-size: ms(0);
	padding: 6% $gutter 0 0; 
	
	@include bp(large) {
		width: auto;
		margin-left: 26.32916%;
		padding-top: 4%;
	}
}

.highlights__event--title {
	font-size: ms(0);
	color: $medium-dark-gray;
	margin: 0 0 .3em;
	
	// Never show more than two lines of text (layout will break).
	overflow: hidden;
	line-height: 1.25;
	max-height: 2.5em;
	
	@include bp(large) {
		// One line of text at this breakpoint because we need to fit the date.
		max-height: 1.25em;
	}
	
	@media(min-width: 1250px) {
		// Back to two lines. 
		max-height: 2.5em;
	}
	
	// Highlight on hover
	a:hover & {
		color: $primary-link-hover;
	}
}

.highlights__event--date {
	display: block; 
	text-transform: uppercase; 
	margin-top: -0.3em;
	font-size: ms(-2);
	color: $gray;
	
	@media(min-width: 1200px) {
		
	}
}
