/*doc
---
title: Highlights
name: highlights
category: Components - Front Page
---

Community Highlights and Events

```html_example
	<section class="home__highlights">

			<div class="highlights__col">

				<div class="highlights__community">

					<h2 class="highlights__heading">93.3 WMMR Community Highlights<span class="highlights__heading--span">YouRock</span></h2>

					<div class="highlights__community--item">

						<div class="highlights__community--thumb">
							<img src="http://placehold.it/356x356&text=image">
						</div>

						<h3 class="highlights__community--title">title</h3>

					</div>

					<div class="highlights__community--item">

						<div class="highlights__community--thumb">
							<img src="http://placehold.it/356x356&text=image">
						</div>

						<h3 class="highlights__community--title">title</h3>

					</div>

					<div class="highlights__community--item">

						<div class="highlights__community--thumb">
							<img src="http://placehold.it/356x356&text=image">
						</div>

						<h3 class="highlights__community--title">title</h3>

					</div>

				</div>

				<div class="highlights__events">

					<h2 class="highlights__heading">Upcoming<span class="highlights__heading--span">Events</span></h2>

					<div class="highlights__event--item">

						<div class="highlights__event--thumb">
							<img src="http://placehold.it/156x156&text=image">
						</div>

						<div class="highlights__event--meta">
							<h3 class="highlights__event--title">Preston & Steve’s Camp Out For Hunger 2014</h3>
							<time datetime="" class="highlights__event--date">Dec 1 - Dec 5</time>
						</div>

					</div>

					<div class="highlights__event--item">

						<div class="highlights__event--thumb">
							<img src="http://placehold.it/156x156&text=image">
						</div>

						<div class="highlights__event--meta">
							<h3 class="highlights__event--title">A.B.A.T.E. Motorcycle Toy Run For The Kids!</h3>
							<time datetime="" class="highlights__event--date">Nov 2</time>
						</div>

					</div>

				</div>

			</div>

	</section>
```
*/
.home__highlights {
	@extend %main;
	padding: $base-line-height $gutter / 2;
	background-color: $highlights-bg !important;
	border-bottom: 1px solid darken( $highlights-bg, 3% );

	@include bp(medium) {
		padding: 20px;
	}

	.news-site & {
		padding-top: 0;
		padding-bottom: 0;
		background-color: transparent !important;
		border-bottom: none;

		@include bp(medium) {
			padding: 0 1.5em;
		}
	}

}

// .highlights__col {
// 	@include span-columns(4);
// 	@include bp(small) {
// 		@include span-columns(6);
// 	}
// 	@include bp(medium) {
// 		@include span-columns(6);
// 		padding-right: 0;
// 		padding-left: 0;
// 	}
// 	@include bp(large) {
// 		@include span-columns(10);
// 	}
// 	@include bp(x-large) {
// 		@include span-columns(10);
// 	}
// }

.highlights__col {

	.news-site & {
		border-top: 1px solid $primary-border;
	}
}

.highlights__heading {
	margin: 0 0 $base-line-height / 2;
	line-height: 1;
	font-size: ms(1);
	font-weight: lighter;
	color: $secondary-heading;
	vertical-align: top;

	.news-site & {
		padding: .35em 0 .6em;
		margin: 0;
		font-size: ms(6);
		font-weight: lighter;
		text-transform: uppercase;

		@include bp(medium) {
			font-size: ms(3);
		}

		@include bp(large) {
			font-size: ms(3);
		}

		/*@include bp(larger) {
			font-size: ms(4);
		}*/

		/*@include bp(x-large) {
			font-size: ms(6);
		}*/
	}
}

.highlights__community {
	padding-bottom: 10px;
	/*@include bp(large) {
		@include span-columns(9 of 15);
	}*/

	.news-site & {
		@include span-columns(12 of 12);
		@include omega;
		padding-top: 0;

		@include bp(large) {
			@include span-columns(12 of 12);
			@include omega;
		}

		/*@include bp(larger) {
			@include span-columns(12 of 12);
			@include omega;
		}*/

		/*@include bp(x-large) {
			@include span-columns(8 of 12);
		}*/
	}
}

.highlights__community--item {
	float: left;
	position: relative;
	margin-right: 2%;
	width: 31.33333%;

	.news-site & {
		@include span-columns(12 of 12);
		@include omega;
		max-height: 75px;
		padding-top: 0;
		margin-bottom: 1em;

		&:nth-of-type(2n) {
			margin-left: 0;
		}
		&:nth-of-type(3) {
			display: block;
		}

		@include bp(small) {
			@include span-columns(12 of 12);
			@include omega;
		}

		@include bp(medium) {
			@include span-columns(12 of 12);
			@include omega;
		}

		@include bp(large) {
			@include span-columns(12 of 12);
			@include omega;
		}

		/*@include bp(larger) {
			@include span-columns(12 of 12);
			@include omega;
		}*/

		/*@include bp(x-large) {
			@include span-columns(12 of 12);
			@include omega;
		}*/
	}
}

.highlights__community--column {

	.news-site & {
		@include span-columns(12 of 12);
		@include omega;
		padding-top: 0;

		@include bp(large) {
			@include span-columns(6 of 12);
			clear: none;
			padding-top: 0;
		}

		/*@include bp(larger) {
			@include span-columns(6 of 12);
		}*/

		/*@include bp(x-large) {
			@include span-columns(6 of 12);
		}*/
	}
}

.highlights__community--thumb {
	position: relative;
	width: 100%;
	overflow: hidden;

	// Force aspect ratio.
	padding-top: 100%;

	background-size: 100%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;

	.news-site & {
		float: left;
		position: relative;
		top: auto;
		left: auto;
		width: 75px;
		height: 75px;
		padding-top: 0;
		margin-right: 1.25em;
	}
}

.highlights__community--thumb:after {
	position: absolute;
	top: 50%;
	left: 50%;
	@include transform(translate(-50%, 0));
	width: 100%;
	height: 50%;
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .65) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, .65)));
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .65) 100%);
	background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .65) 100%);
	background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .65) 100%);
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .65) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=0);
	content: "";

	.news-site & {
		display: none;
	}
}

.highlights__community--title {
	background-color: transparent; // Override the background color set by css-gradient().
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 5px;
	margin: 0;
	font-size: ms(0);
	font-weight: normal;
	color: $color-text-white;
	text-align: center;
	box-sizing: content-box; // So we can set the height relative to line height.
	line-height: 1.5;
	max-height: 1.5em; // Exactly one line high.
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	@include bp(ie9medium) {
		@include css-gradient(rgba(0, 0, 0, 0), $darker-gray);
	}

	@include bp(medium) {
		font-size: ms(-1);
	}

	a:hover & {
		color: $yellow;
	}

	.news-site & {
		float: left;
		position: relative;
		top: auto;
		bottom: auto;
		left: auto;
		right: auto;
		@include transform(none);
		width: calc(100% - 75px - 1.25em);
		max-height: 5em;
		white-space: normal;
		padding: 0;
		margin-left: 0;
		line-height: 1.3;
		text-align: left;
		text-overflow: initial;
		font-size: ms(0);
		font-weight: normal;
		color: $color-text-black;
		text-transform: uppercase;

		@include bp(ie9medium) {
			@include css-gradient(transparent, transparent);
		}

		@include bp(large) {
			font-size: ms(0);
		}

		/*@include bp(x-large) {
			max-height: 3.9em;
			margin-top: -5px;
			font-size: ms(2);
		}*/
	}
	.news-site a:hover & {
		color: $color-text-red;
	}
}

.highlights__events,
.highlights__contests {
	clear: both;
	padding-top: 1.5em;
	/*@include bp(large) {
		@include span-columns(6 of 15);
		clear: none;
		padding-top: 0;
	}*/

	.news-site & {
		@include span-columns(12 of 12);
		@include omega;
		padding-top: 0;

		@include bp(large) {
			@include span-columns(6 of 12);
			clear: none;
			padding-top: 0;
		}

		/*@include bp(larger) {
			@include span-columns(6 of 12);
		}*/

		/*@include bp(x-large) {
			@include span-columns(4 of 12);
		}*/
	}
}

.highlights__contests {

	.news-site & {
		padding-top: 1.5em;

		@media (min-width: 768px) and (max-width: 1399px) {
			@include omega;
		}

		@include bp(large) {
			padding-top: 0;
		}
	}
}

.highlights__events .highlights__heading {
	display: inline-block;

	.news-site & {
		display: block;
	}
}

.highlights__events--more-btn {
	@include btn(transparent, lighten($gray, 10%), lighten($gray, 10%), .25em, 1em, .8em);
	margin-left: .5em;
	margin-top: 0;
	vertical-align: top;
	text-transform: none;

	@include bp(large) {
		margin-top: .05em;
	}

	&:hover {
		color: $primary-link-hover !important;
		border-color: $primary-link-hover;
	}
}

.highlights__event--item,
.highlights__contest--item {
	@include span-columns(4);
	background-color: $primary-bg;
	color: $primary-text;
	margin: 0 0 .75em;
	position: relative;
	height: 100px;

	@include bp(x-small) {
		margin-bottom: .65em;
	}

	@include bp(small) {
		@include span-columns(6 of 12);
		margin-bottom: 0;
	}

	/*@include bp(large) {
		@include span-columns(6 of 6);
		// Force a specific height relative to the grid
		height: 0;
		padding-bottom: 21.5%;
		margin: 0 0 5%;
	}*/

	// Ugly hack to make sure the <a> tag covers the entire block. The better
	// fix would be to put the <a> tag around the entire block, instead of just
	// around the block's content, but the lousy grid causes problems here
	// because it adds a :last-child to every grid block to remove margin from
	// the last item in a row. Of course, when the grid block is inside a
	// wrapper it is _always_ the last child, so the margins get removed.
	> a {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	.news-site & {

		@include bp(medium) {
			@include span-columns(3 of 6);
			height: auto;
			padding-bottom: 0;
		}

		@include bp(large) {
			@include span-columns(6 of 6);
			height: auto;
			padding-bottom: 0;
			margin: 0 0 1.375em;
		}

		> a {
			position: relative;
			display: block;
			top: auto;
			right: auto;
			bottom: auto;
			left: auto;
			width: 100%;
			height: 100%;
		}
	}
}

.highlights__contest--item {

	.news-site & {

		@include bp(medium) {
			@include span-columns(6 of 6);
			height: auto;
			padding-bottom: 0;
		}
	}
}

.highlights__event--item:last-of-type {
	margin-bottom: 0;
}

.highlights__event--thumb,
.highlights__contest--thumb {
	@include span-columns(2 of 6);

	position: relative;
	height: 100%;
	overflow: hidden;
	background-size: 100%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;

	@include bp(large) {
		@include span-columns(2 of 6);
		width: 21.5%;
		position: absolute;
		left: 0;
		top: 0;
	}

	.news-site & {
		position: relative;
		top: auto;
		left: auto;
		width: 75px;
		height: 75px;
		margin-right: 1.25em;
	}
}

.highlights__event--meta,
.highlights__contest--meta {
	@include span-columns(4 of 6);
	position: absolute;
	top: 50%;
	@include transform(translateY(-50%));
	padding: 0 $gutter 0 0;
	margin-left: 35%;

	@include bp(large) {
		width: auto;
		margin-left: 26.32916%;
		padding-top: 0;
	}

	.news-site & {
		position: relative;
		top: auto;
		@include transform(none);
		width: calc(100% - 75px - 1.25em);
		padding-top: 0;
		margin-left: 0;
	}
}

.highlights__event--title,
.highlights__contest--title {
	font-size: ms(0);
	color: $medium-dark-gray;
	margin: 0 0 .3em;

	// Never show more than two lines of text (layout will break).
	overflow: hidden;
	line-height: 1.25;
	max-height: 3.5em;

	@include bp(medium) {
		font-size: ms(-1);
	}
	@include bp(large) {
		// One line of text at this breakpoint because we need to fit the date.
		max-height: 1.25em;
	}

	/*@media(min-width: 1250px) {
		// Back to two lines.
		max-height: 2.5em;
	}*/

	// Highlight on hover
	a:hover & {
		color: $primary-link-hover;
	}

	.news-site & {
		font-size: ms(-1);
		font-weight: normal;
		text-transform: uppercase;

		@include bp(large) {
			font-size: ms(0);
		}

		/*@include bp(x-large) {
			margin-top: -5px;
			font-size: ms(2);
		}*/
	}
}

.highlights__event--date,
.highlights__contest--date {
	display: block;
	text-transform: uppercase;
	margin-top: -0.3em;
	font-size: ms(-2);
	color: $gray;

	@include bp(large) {
		font-size: ms(-3);
	}

	.news-site & {
		font-size: ms(-3);
		text-transform: none;

		@include bp(large) {
			font-size: ms(-2);
		}

		/*@include bp(x-large) {
			font-size: ms(1);
		}*/
	}
}

.highlights__event--time,
.highlights__contest--time {

	.news-site & {
		font-size: ms(-3);
		text-transform: uppercase;

		@include bp(large) {
			font-size: ms(-1);
		}

		/*@include bp(x-large) {
			font-size: ms(1);
		}*/
	}
}

.highlights__contests--more-btn {
	@include btn(transparent, lighten($gray, 10%), lighten($gray, 10%), .25em, 1em, .8em);
	margin-left: .5em;
	margin-top: 0;
	vertical-align: top;
	text-transform: none;

	@include bp(large) {
		margin-top: .05em;
	}

	&:hover {
		color: $primary-link-hover !important;
		border-color: $primary-link-hover;
	}
}

.highlights__contest--item:last-of-type {
	margin-bottom: 0;
}

a.highlights__contest--btn {
	@include btn($btn-bg, $color-text-white, $btn-bg, .5em, 1em, .875em);
	@include border-radius(4px);
	margin-top: 1em;
	text-align: center;

	@include bp(medium) {
		font-size: ms(-2);
	}

	@include bp(large) {
		font-size: ms(-1);
	}
}

.highlights__ad {
		clear: both;

	.news-site & {
		clear: both;
		padding-top: 1.5em;

		@include bp(medium) {
			@include fill-parent();
			margin: 0 auto;
			text-align: center;
		}

		/*@include bp(x-large) {
			@include span-columns(4 of 12);
			@include omega;
			clear: none;
		}*/
	}

	.highlights__ad--mobile {
		display: block;
		text-align: center;

		@include bp(large) {
			display: none;
		}
	}

	.highlights__ad--desktop {
		display: none;
		text-align: center;

		@include bp(large) {
			display: block;
		}
	}
}
