<ul class="constraint-toolbar">
	<li>
		<a
			data-id="<%- constraint.id %>"
			alt="f105"
			class="dashicons dashicons-admin-page copy-constraint"
			href="#"
			title="Duplicate"
		/>

		<a
			data-id="<%- constraint.id %>"
			alt="f105"
			class="dashicons dashicons-trash remove-constraint"
			href="#"
			title="Remove"
		/>
	</li>
</ul>
