.mobile-nav {
	background-color: $color-gray-medium-dark;
}

.mobile-nav__list a:hover, .mobile-nav__list a:focus, .mobile-nav__list a:active {
	background-color: $color-red;
}

.mobile-nav__list .menu-item {
	border-bottom-color: $color-gray-medium;
}

.header__nav ul > li.active > a:hover,
.header__nav ul > li > a:focus,
.header__nav ul > li > a:active,
.header__nav ul > li.active,
.header__account ul li a:hover,
.header__account ul li a:focus,
.header__account ul li a:active,
.header__account ul li:hover,
.ui-menu .ui-state-focus {
	background-color: white;
	color: black;
}

.header__nav ul li.active {

	> a {
		color: black;
	}
}