.header__nav .sub-menu,
.header__account--links.sub-menu,
.ui-menu {
	border-top-color: $color-red-dark;
}

.mobile-nav {
	.mobile-menu-submenu-header {
		background-color: $color-red;
	}

	.show-subnavigation {
		border-left-color: $color-gray-medium;
	}
}