.live-stream {
	background-color: transparent;

	@include bp(medium) {
		background-color: $liveplayer-bg;
	}
}

.live-player__stream {
	color: $color-gray-medium-lighter;
}

.live-player__stream--current {
	color: $color-gray-medium-lighter;
}

.live-player__stream--current:after {
	color: $primary-border;
}

.live-player__stream--item {
	color: $color-gray-medium-lighter;
}

.live-player__container {
	border-bottom-color: $primary-border;
}

.on-air__title {
	color: $color-gray-medium-lighter;
}

.on-air__show {
	color: $color-gray-dark;
}

.now-playing__artist {
	color: $color-gray-dark;
}

.live-stream__listen-now--btn {
	background-color: transparent;
	border-color: $btn-bg;
	color: $color-text-red !important;

	&:hover {
		background-color: $btn-bg;
		border-color: $btn-bg;
		color: white !important;
	}
}

.live-links {
	background-color: transparent;

	@include bp(medium) {
		border-top-color: $primary-border;
		background-color: $liveplayer-bg;
	}
}

.live-link__type--show {
	background: none;
}

.live-link__title {
	color: $primary-text;

	a:link,
	a:visited {
		color: $primary-text;
	}

	a:hover,
	a:active,
	a:focus {
		color: $primary-link-hover;
	}
}


.live-links--more {

	&:before {
		background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0), color-stop(100%,rgba(255,255,255,1))));
		background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
		background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
		background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
		background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	}
}

.live-links--more__btn:hover {
	background-color: $color-red !important;
	border-color: $color-red !important;
}