@include bp(large){
	.main {
		background: url(../../images/home-featured.png);
	}
}

.home__featured .featured__article--content,
.home__featured .featured__content--block {
	background: -webkit-gradient(linear,left top,left bottom,color-stop(10%,#004794),color-stop(100%,#2f93ff))!important;
  background: -o-linear-gradient(top,#004794 10%,#2f93ff 100%);
  background: -ms-linear-gradient(top,#004794 10%,#2f93ff 100%);
  background: linear-gradient(to bottom,#004794 10%,#2f93ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00004794', endColorstr='#ce1141', GradientType=0);
}

.home__featured .featured__article--heading {
  color:#fff;
  font-family: 'Ubuntu', sans-serif;
  font-weight:600;
  text-transform:uppercase
}

.featured__article:hover .featured__article--heading {
    text-shadow: 2px 2px 1px rgba(9, 32, 64, .7);
    color: #fff;
}

.home__featured .featured__content--title {
  color:#fff;
  font-family:'Ubuntu',sans-serif;
  font-size:1.23em;
  font-weight:400
}

.featured__content--block:hover .featured__content--title {
  color: #fff;
  text-shadow: 2px 2px 1px rgba(9, 32, 64, .7);
}

.home__highlights {
  border-bottom-color: #d0d2d3;
  background: url(../../images/home-highlights.png);
}

.highlights__heading {
  color:#ce1141;
  font-weight:700;
  text-transform:uppercase;
  font-family:'Ubuntu',sans-serif;
  padding:0;
  background-color:transparent;
  text-shadow:2px 2px 2px rgba(139,128,146,.3)
}

.highlights__events--more-btn {
  background-color:rgba(0,71,148,.2);
  border:2px solid #004794;
  color:#004794!important;
  text-transform:uppercase;
  font-weight:400;
  float:right;
  margin-top:0
}

.highlights__events--more-btn:hover {
  background-color:rgba(0,71,148,.5);
  color:#fff;
  border-color:#004794
}
