/**
 * When the Nav Toggle is clicked, a body class is added.
 * When the body classes of `mobile-nav--open` is added to the body
 * the Style Guide off-canvas nav will slide from the left and the toggle
 * button will slide over to accommodate the nav.
 */
.mobile-nav__toggle {
	@include transition(all 200ms ease-in-out);
	box-sizing: border-box;
	cursor: pointer;
	height: 19px;
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	width: 25px;
	padding: 0;
	z-index: 2;

	@include bp(medium) {
		height: 28px;
		right: 20px;
		width: 40px;
	}
	@include bp(large) {
		display: none;
	}
}

.mobile-nav__toggle--span,
.mobile-nav__toggle--span:before,
.mobile-nav__toggle--span:after {
	@include transition(all 200ms ease-in-out);
	background: $color-text-black;
	content: "";
	display: block;
	height: 3px;
	position: absolute;
	top: 8px;
	width: 25px;

	@include bp(medium) {
		height: 4px;
		width: 40px;
		top: 12px;
	}
}

.mobile-nav__toggle--span:before {
	top: -8px;

	@include bp(medium) {
		top: -12px;
	}
}

.mobile-nav__toggle--span:after {
	bottom: -8px;
	top: auto;

	@include bp(medium) {
		bottom: -12px;
	}
}

.mobile-nav {
	bottom: 0;
	display: none;
	position: fixed;
	width: 100%;
	background-color: $header-bg;
	z-index: 1;
	overflow-y: auto;
	top: 105px;
	-webkit-overflow-scrolling: touch;

	.mobile-nav--open & {
		display: block;
	}
	@include bp(medium) {
		top: 276px;
	}
	@include bp(large) {
		display: none;
	}
}

#mobile-nav {
	z-index: 25;
}

#mobile-nav-blocker {
	//background-color: rgba(0,0,0,0.75);
	//z-index: 20;
	//position: fixed;
	//display: none;
	//height: 100%;
	//width: 100%;
}

.mobile-nav--open {
	.mobile-nav__toggle {
		display: block;
	}
}

.mobile-nav--open {
	overflow: hidden;

	.site-wrap,
	.page-wrap {
		height: 100%;
		//overflow: hidden;
		position: fixed;
	}
}
/*.mobile-nav--open.admin-bar {
	.site-wrap {
		top: 32px;
		height: calc( 100% - 32px ); !* doesn't work in IE8, but probably ok. Just don't edit the site and expect the front-end to be bug-free in IE8 *!

		!* Matches, exactly, the media query for the admin bar, so when it changes height, the menu also does *!
		@media screen and (max-width: 782px) {
			top: 46px;
			height: calc(100% - 46px); !* doesn't work in IE8, but probably ok. Just don't edit the site and expect the front-end to be bug-free in IE8 *!
		}
	}
}*/

.mobile-nav--open .mobile-nav {
	@include transform(translate(0, 0));
}

.mobile-nav--open .mobile-nav__toggle--span {
	background-color: transparent;
}

.mobile-nav--open .mobile-nav__toggle--span:before {
	top: 0;
	@include transform(rotate(45deg));
}

.mobile-nav--open .mobile-nav__toggle--span:after {
	top: 0;
	@include transform(rotate(-45deg));
}

.mobile-nav__list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.mobile-nav__list .menu-item {
	padding: 0;
	margin: 0;
	border-bottom: 1px solid $header-nav-border;
	line-height: 0; /* the anchor inside the <li> provides all the box model sizing */
}

.mobile-nav__list a {
	background-color: $header-bg;
	color: $color-text-black;
	display: block;
	padding: 18px 1.25em;
	line-height: 1;
	font-size: ms(2);
}

.mobile-nav__list a:hover, .mobile-nav__list a:focus, .mobile-nav__list a:active {
	background-color: $header-nav-bg;
	color: $color-text-white;
}

.mobile-nav .social__list {
	padding: 18px 0;
	width: 100%;
}

.mobile-nav .social__link {
	color: $color-text-black;
	border-color: $color-text-black;
	font-size: ms(3);
	margin: 0 0 0 1em;
}

.mobile-nav .social__link:last-child {
	margin: 0 0 0 1em;
}

// main header navigation
.header__nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.header__nav > ul > li {
	padding: 0;
	margin: 0;
	list-style: none;
	display: inline-block;
	font-size: ms(-1);
	float: left;

	@include bp(large) {
		font-size: ms(0);
	}
}

.header__main a, .header__main a:visited {
	color: $color-text-black;
}

.header__nav > ul li a {
	display: block;
	padding: 10px;
	text-transform: uppercase;
}

.header__main ul li a:hover,
.header__main ul li:hover a,
.header__main ul li a:active {
	background-color: $header-nav-bg;
	color: $color-text-white;
}

/*ul.sub-menu li:not(.mobile-menu-submenu-header):hover {
	background-color: transparent;
}*/

// main header navigation mega-menu dropdowns
.header__nav ul li ul {
	display: none;
}
