/**
 * When the Nav Toggle is clicked, a body class is added.
 * When the body classes of `mobile-nav--open` is added to the body
 * the Style Guide off-canvas nav will slide from the left and the toggle
 * button will slide over to accommodate the nav.
 */
.mobile-nav__toggle {
	position: absolute;
	top: 20px;
	left: 20px;
	width: 32px;
	height: 32px;
	box-sizing: border-box;
	padding: 0;
	@include transition(all 500ms ease-in-out);
	cursor: pointer;
	z-index: 2;
	@include bp(medium) {
		top: 25px;
	}
	@include bp(large) {
		display: none;
	}
}

.mobile-nav__toggle--span {
	position: absolute;
	top: 14px;
	display: block;
	width: 32px;
	height: 4px;
	@include transition(all 500ms ease-in-out);
	background: $color-text-white;
	content: "";
}

.mobile-nav__toggle--span:before {
	position: absolute;
	top: -10px;
	display: block;
	width: 32px;
	height: 4px;
	@include transition(all 500ms ease-in-out);
	background: $color-text-white;
	content: "";
}

.mobile-nav__toggle--span:after {
	position: absolute;
	bottom: -10px;
	display: block;
	width: 32px;
	height: 4px;
	@include transition(all 500ms ease-in-out);
	background: $color-text-white;
	content: "";
}

.mobile-nav {
	position: fixed;
	top: 0;
	width: 78%;
	height: 100%;
	@include transform(translate(-100%, 0));
	@include transition(all 100ms ease-out);
	background-color: $secondary-bg;
	z-index: 1;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	@include bp(large) {
		display: none;
	}
}

#mobile-nav {
	z-index: 25;
}

#mobile-nav-blocker {
	background-color: rgba(0,0,0,0.4);
	/*background-color: red;*/
	/*opacity: 0.7;*/
	z-index: 20;
	position: absolute;
	display: none;
}

.mobile-nav--open {
	.mobile-nav__toggle {
		display: block;
	}
}

.admin-bar .mobile-nav {
	top: 32px;
	height: calc( 100% - 32px ); /* doesn't work in IE8, but probably ok. Just don't edit the site and expect the front-end to be bug-free in IE8 */

	/* Matches, exactly, the media query for the admin bar, so when it changes height, the menu also does */
	@media screen and (max-width: 782px) {
		top: 46px;
		height: calc(100% - 46px); /* doesn't work in IE8, but probably ok. Just don't edit the site and expect the front-end to be bug-free in IE8 */
	}
}

.mobile-nav--open {
	overflow: hidden;

	.site-wrap {
		position: fixed;
		overflow: hidden;
	}
}

.mobile-nav--open .mobile-nav {
	@include transform(translate(0, 0));
}

.mobile-nav--open .mobile-nav__toggle--span {
	background-color: transparent;
}

.mobile-nav--open .mobile-nav__toggle--span:before {
	top: 0;
	@include transform(rotate(45deg));
}

.mobile-nav--open .mobile-nav__toggle--span:after {
	top: 0;
	@include transform(rotate(-45deg));
}

.mobile-nav--open .page-wrap {
	@include transform(translate(78%, 0));
	width: 100%;
	@include transition(transform 100ms ease-out);
}

.mobile-nav--open .header__search--open {
	@include transform(translate(78%, 0));
}

.moble-nav--open .header__search--form {
	@include transform(translate(78%, 0));
	@include bp('medium') {
		@include transform(translate(78%, -200%));
	}
}

.mobile-nav--open .footer {
	display: none;
}

.mobile-nav--open .live-player {
	@include transform(translate(78%, 0));
	@include bp(medium) {
		@include transform(translate(178%, 0));
	}
}

.mobile-nav--open .page-wrap {
	top: 40px;

}


/**
 * Provides an overlay mask to help focus attention on the menu
 * z-index is 2 so that it sits under the close button, but above most content
 */
.mobile-nav--open .page-wrap:before {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.4);
	content: " ";
	z-index: 2;
}

.mobile-nav--open .live-player:before {
	position: absolute;
	top: 0;
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.4);
	content: " ";
	z-index: 2;

	@include bp(medium) {
		display: none;
	}
}

.mobile-nav__list {
	padding: 0;
	margin: 0;
}

.mobile-nav__list .menu-item {
	padding: 0;
	margin: 0;
	border-bottom: 1px solid $header-border;
	line-height: 0; /* the anchor inside the <li> provides all the box model sizing */
}

.mobile-nav__list a:link, .mobile-nav__list a:visited {
	display: block;
	padding: 18px 1.25em;
	line-height: 1;
	font-size: ms(2);
	color: $color-text-white;
}

.mobile-nav__list a:hover, .mobile-nav__list a:focus, .mobile-nav__list a:active {
	background-color: $color-text-red;
}

.mobile-nav .social__list {
	padding: 18px 0;
	width: 100%;
}

.mobile-nav .social__link {
	margin: 0 0 0 1em;
	font-size: ms(3);
}

.mobile-nav .social__link:last-child {
	margin: 0 0 0 1em;
}

.mobile-nav .social__link {
	color: #fff;
	border-color: #fff;
}

// main header navigation
.header__nav ul, .header__account ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.header__nav > ul > li,
.header__account > ul > li {
	padding: 0;
	margin: 0;
	list-style: none;
	display: inline-block;
	font-size: ms(-1);
	float: left;

	@include bp(larger) {
		font-size: ms(0);
	}

	.news-site  & {

		@include bp(large) {
			font-weight: 900;
			text-transform: uppercase;
		}

		@include bp(larger) {
			font-size: ms(1);
		}

		@include bp(x-large) {
			font-size: ms(2);
		}
	}
}

.header__main a, .header__main a:visited {
	color: $color-text-white;
}

.header__main a:hover, .header__main a:active {
	color: $color-text-white;
}

.header__nav ul li a,
.header__nav ul li a:link,
.header__nav ul li a:visited,
.header__account ul li a,
.header__account ul li a:link,
.header__account ul li a:visited, {
	display: block;
	padding: 34px .5em 33px;

	@include bp(larger) {
		padding: 33px .5em 32px;
	}

	.news-site & {
		padding-top: 32px;
		padding-bottom: 31px;
		border-right: 1px solid $header-nav-border;

		@include bp(larger) {
			padding-top: 31px;
			padding-bottom: 30px;
		}

		@include bp(x-large) {
			padding-top: 29px;
			padding-bottom: 29px;
		}
	}
}

.header__account ul li a,
.header__account ul li a:link,
.header__account ul li a:visited, {

	.news-site & {
		border-right: none;
	}
}

.header__nav ul li.active a:hover,
.header__nav ul li a:focus,
.header__nav ul li a:active,
.header__nav ul li.active,
.header__account ul li a:hover,
.header__account ul li a:focus,
.header__account ul li a:active,
.header__account ul li:hover,
.ui-menu .ui-state-focus {
	background-color: $header-nav-bg;
}

ul.sub-menu li:not(.mobile-menu-submenu-header):hover {
	background-color: transparent;
}

// main header navigation mega-menu dropdowns
.header__nav ul li ul {
	display: none;
}
