/**
 * When the Nav Toggle is clicked, a body class is added.
 * When the body classes of `mobile-nav--open` is added to the body
 * the Style Guide off-canvas nav will slide from the left and the toggle
 * button will slide over to accommodate the nav.
 */
.mobile-nav--toggle {
	position: absolute;
	top: 75%;
	@include transform(translate(0, -50%));
	width: 32px;
	height: 32px;
	@include box-sizing(border-box);
	padding: 0;
	@include transition(all 500ms ease-in-out);
	background-color: color(secondary-bg);
	cursor: pointer;
	z-index: 2;
	@include bp(large) {
		display: none;
	}
}

.mobile-nav--toggle--span {
	position: absolute;
	top: 14px;
	display: block;
	width: 32px;
	height: 4px;
	@include transition(all 500ms ease-in-out);
	@include border-top-radius(4px);
	@include border-right-radius(4px);
	@include border-bottom-radius(4px);
	@include border-left-radius(4px);
	background: color(primary-border);
	content: '';
}

.mobile-nav--toggle--span:before {
	position: absolute;
	top: -10px;
	display: block;
	width: 32px;
	height: 4px;
	@include transition(all 500ms ease-in-out);
	@include border-top-radius(4px);
	@include border-right-radius(4px);
	@include border-bottom-radius(4px);
	@include border-left-radius(4px);
	background: color(primary-border);
	content: '';
}

.mobile-nav--toggle--span:after {
	position: absolute;
	bottom: -10px;
	display: block;
	width: 32px;
	height: 4px;
	@include transition(all 500ms ease-in-out);
	@include border-top-radius(4px);
	@include border-right-radius(4px);
	@include border-bottom-radius(4px);
	@include border-left-radius(4px);
	background: color(primary-border);
	content: '';
}

.mobile-nav {
	@include position(fixed, 0 null null null);
	@include size(90% 100%);
	@include transform(translate(-100%, 0));
	@include transition(all 500ms ease-in-out);
	background-color: color(secondary-bg);
	z-index: 1;
	@include bp(large) {
		display: none;
	}
}

.mobile-nav--open {
	overflow: hidden;
}

.mobile-nav--open .mobile-nav {
	@include transform(translate(0, 0));
}

.mobile-nav--open .mobile-nav--toggle--span {
	background-color: transparent;
}

.mobile-nav--open .mobile-nav--toggle--span:before {
	@include position(null, 0 null null null);
	@include transform(rotate(45deg));
}

.mobile-nav--open .mobile-nav--toggle--span:after {
	@include position(null, 0 null null null);
	@include transform(rotate(-45deg));
}

.mobile-nav--open .page-wrap {
	@include transform(translate(90%, 0));
	@include size(100% null);
	@include transition(all 500ms ease-in-out);
}

.header-nav--main {
	@include size(null 60px);
	display: none;
	line-height: 1;
	@include bp(large) {
		@include span-columns(7);
		display: initial;
	}
}

.header-secondary {
	@include position(absolute, 2em 1em null null);
	@include size(2em 2em);
	line-height: 1;
	color: color(secondary-link);
	text-align: right;
	@include bp(large) {
		@include position(relative, auto auto null null);
		@include span-columns(4);
		@include size(null 60px);
	}
}

.header-secondary--nav {
	display: none;
	@include bp(large) {
		display: inline-block;
	}
}

.header-nav--main ul, .header-secondary--nav ul {
	@include margin(0);
	list-style: none;
}

.header-nav--main ul li, .header-secondary--nav ul li {
	@include padding(em(22px) 0);
	@include margin(0 1em 0 0);
	list-style: none;
	display: inline-block;
	font-size: ms(-2);
}

.header-nav--main ul li a, .header-nav--main ul li a:visited, .header-secondary--nav ul a, .header-secondary--nav ul a:visited {
	color: color(secondary-link);
}

.header-nav--main ul li a:hover, .header-nav--main ul li a:active, .header-secondary--nav ul a:hover, .header-secondary--nav ul a:active {
	color: darken(color(secondary-link), 10%);
}

.header-secondary--social{
	display: inline-block;
	color: color(secondary-link);
	@include bp(large) {
		font-size: ms(0);
	}
}

.header-social--list {
	@include margin(0);
	list-style: none;
}

.header-social--item {
	@include padding(em(22px) 0);
	@include margin(0 1em 0 0);
	list-style: none;
	display: inline-block;
	font-size: ms(0);
}

.header-social--item a,.header-social--item a:visited {
	color: color(secondary-link);
}

.header-social--item a:hover,.header-social--item a:focus {
	color: darken(color(secondary-link), 10%);
}

.header-social--item a:active {
	color: darken(color(secondary-link), 10%);
}

.header-secondary--search{
	display: inline-block;
	font-size: ms(1);
	color: color(secondary-link);
}
