// Sans-Serif Font: Open Sans
@include font-face(OpenSans, '../fonts/opensans/opensans-regular-webfont');
@include font-face(OpenSans, '../fonts/opensans/opensans-italic-webfont', normal, italic);
@include font-face(OpenSans, '../fonts/opensans/opensans-bold-webfont', bold);
@include font-face(OpenSans, '../fonts/opensans/opensans-bolditalic-webfont', bold, italic);
@include font-face(OpenSans, '../fonts/opensans/opensans-light-webfont', lighter);
@include font-face(OpenSans, '../fonts/opensans/opensans-lightitalic-webfont', lighter, italic);

// Serif Font: Playfair Display
@include font-face(Playfair, '../fonts/playfair/playfair-regular-webfont');
@include font-face(Playfair, '../fonts/playfair/playfair-italic-webfont', normal, italic);
@include font-face(Playfair, '../fonts/playfair/playfair-bold-webfont', bold);
@include font-face(Playfair, '../fonts/playfair/playfair-bolditalic-webfont', bold, italic);

// Font Icons: Font-Awesome
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

// Global font sizes based on breakpoints
body{
	font-size: 80%;
	@include media($mobile){
		font-size: 85%;
	}
	@include media($tablet){
		font-size: 90%;
	}
	@include media($desktop){
		font-size: 100%;
	}
}

/******************************************************************
H1, H2, H3, H4, H5, H6 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	font-family: $sans-serif;
	text-rendering: optimizelegibility;
	font-weight: 700;
	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 2.5rem;
	line-height: 1.1em;
}

h2, .h2 {
	font-size: 2.25rem;
	line-height: 1.4em;
	margin-bottom: 0.375em;
}

h3, .h3 {
	font-size: 1.75rem;
}

h4, .h4 {
	font-size: 1.5rem;
}

h5, .h5 {
	font-size: 1.25rem;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

h6, .h6 {
	font-size: 1rem;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}