.livestream-oembed {
	@include ratio-percent(315, 560);
	margin: 0 auto 1em;
	max-width: 100%;

	> iframe,
	> object,
	> embed,
	.video-js {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
}
