.widget--live-player {
	padding: 0;
	margin: 0 0 1em;
	overflow: auto;

	.live-player--open & {
		margin-bottom: 58px;
	}

	.news-site & {
		padding: 0 5%;

		@include bp(medium) {
			padding: 0;
		}
	}
	.liveplayer-disabled & {
		visibility: hidden;

		@include bp(medium) {
			visibility: visible;
		}
	}

	.liveplayer-disabled.live-player--open & {
		visibility: visible;
		display: block;
		height: auto !important;
		max-height: 48vh;
		padding-bottom: 40px;
		margin-bottom: 0;

		@include bp(small) {
			max-height: 35vh;
		}
	}
}

.widget--live-player__title {
	display: none;

	@include bp(large) {
		display: block;
		margin: 0 0 1em;
		font-size: ms(0);
		font-weight: 600;
		text-transform: uppercase;
	}

	.news-site & {
		@include bp(medium) {
			margin-bottom: 0;
			line-height: 1;
			font-size: ms(5);
			font-weight: lighter;
			text-transform: uppercase;
		}
	}

	.liveplayer-disabled & {
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		width: calc(100% - 58px);
		padding: 21px 0 21px 3.75%;
		margin: 0;
		border-bottom: 1px solid white;
		line-height: 1;
		font-size: ms(1);
		font-weight: bold;
		text-align: left;

		@include bp(medium) {
			position: relative;
			top: auto;
			left: auto;
			width: 100%;
			padding: 0;
			margin: 0 0 1em;
			border-bottom: none;
			font-size: ms(0);
			font-weight: normal;
			text-align: center;
		}
	}
}

.widget--live-player ul {
	padding: 0;
	margin: 0;
}

.widget--live-player li {
	list-style: none;
	display: block;
	padding: 0;
	margin: 0;
	line-height: 1;

	.news-site & {
		margin-top: 2.125em;

		&:hover {
			div:before {
				color: $primary-link-hover;
				border-color: $primary-link-hover;
			}
		}
	}
}

.widget_rss {
	overflow: inherit;

	li {
		margin: 0 0 1em 0;

		a {
			line-height: 1.2em;
		}

		.rss-date {
			display:block;
			font-size: .8em;
			line-height: 1.6em;
		}
	}
}
