/**
 * WordPress Specific Styles
 */

.alignleft,
img.alignleft {
	display: block;
	margin: 0 1em 1em 1em;
	float: left;

	@include bp(large) {
		margin: 0 1em 1em 0;
		max-width: 50%; /* we want text to wrap around, don't we? */
	}
}

.alignright,
img.alignright {
	display: block;
	float: right;
	margin: 0 1em 1em 1em;

	@include bp(large) {
		margin: 0 0 1em 1em;
		max-width: 50%; /* we want text to wrap around, don't we? */
	}
}

.aligncenter,
img.aligncenter {
	margin: 0 auto 1em;
}

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%;
	height: auto;
}

.wp-caption {
	max-width: 100%;
	padding: 0;
	background: $extra-light-gray;
	color: $black;
}

.wp-caption img {
	width: 100%;
	margin-bottom: 0;
	max-width: 100%;
}

.wp-caption .wp-caption-text {
	padding: 16px 1.25em 20px;
	margin: 4px .5em;
	font-size: ms(-2);
	text-align: left;
}

// Override the default provided by _typography.scss
blockquote {
	background: url( $asset-root + '../images/article__blockquote-icon.svg') no-repeat 0 .35em;
	border: none;
	padding: 0 0 0 4em;
	min-height: 6.4em; // Four lines, assuming line height of 1.6.

	&, p {
		color: $medium-dark-gray;
	}
}

// Styles needed for sign up, password reset, and user notifications
.main {
	.widecolumn {
		@extend %container;

		h2 {
			@include fill-parent;
			@include omega;
			padding: 1em $gutter / 2 0;

			@include bp(medium) {
				padding: 1em $gutter 0;
				margin-bottom: 0;
			}
		}
	}

	.lead-in,
	#signup-welcome,
	.view {
		@extend %content;
	}

}