.featured__article--heading,
.featured__content--title {
	text-transform: uppercase;
}

.header__main {
	background-image: url("../../images/site-header-mobile.jpg");
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #000000;
}

@media only screen and (max-width: 374px) {
    .header__main {
        background-image: none;
    }
}

@include bp(medium) {

	.header__main {
		background-image: url("../../images/site-header.jpg");
		background-position: middle center;
		background-repeat: no-repeat;
		background-size: cover;

		.header__search {
			background-color: rgba(255,255,255,.6);
			padding-left: 15px;

			label span {
				color: #000;
			}
		}

		.header__nav--list > li {
			background-color: rgba(255,255,255,.6);
		}
	}

  .main {
      background-image: url("../../images/wbz-fm-wallpaper-2017.jpg");
      background-position: top center;
      background-repeat: no-repeat;
			background-color: #000000;
  }

}

.header__nav ul > li.active > ul > li.active {
	background: none;
}

.format-sp a:hover .meta-text {
	color: #fff;
}

.mobile-nav__toggle--span, .mobile-nav__toggle--span:before, .mobile-nav__toggle--span:after {
	background-color: #ffffff;
}

.audio-more {
	display: none;
}
