.header__nav .format-sp {
	@extend %format-fw;
}

.format-sp {
	a:hover {
		color: $color-text-white;

		.meta-text {
			color: $color-text-white;
		}

	}

	.meta-text {
		display: block;
		font-size: ms(-2);
		color: $color-text-gray;
		margin-top: .5em;
	}

	li .group {
		display: inline-block;
		vertical-align: middle;
	}

	li {
		min-height: 71px; /* the 40px img (below) + the padding, so that all the containers are the same height and flow */
	}

	li img {
		display: inline-block;
		vertical-align: middle;
		border-radius: 50%;
		margin-right: 1em;
		max-height: 40px;
		width: auto;
	}
}
