%format-fw {
	& > ul {
		@extend .sub-menu;
		left: 0;
		padding: 1em;
		width: 100%;
	}

	& > ul > li {
		width: 32.666%; /* 100% - 2% (for margins, below) / 3 (3 columns) */
		float: left;
	}

	& > ul > li:not(:nth-child(3n+1)) {
		border-left: 1px solid $primary-border;
		padding-left: 1%;
		margin-left: 1%;
	}

}

.header__nav .format-fw {
	@extend %format-fw;
}