.header__nav .format-fi {

	& > ul {
		@extend .sub-menu;
		left: 0;
		padding: 1em;
		width: 100%;
	}


	/* Yes, I'm in over-specific selector hell */
	ul.header__nav-submenu--features,
	ul.header__nav-submenu--list {
		display: inline-block;
		vertical-align: top;
		float: left;
	}

	.header__nav-submenu--list {
		width: 33%;
		padding-right: 1em;

		li {
			display: inline-block;
			vertical-align: top;
			width: 49%;
		}
	}

	.header__nav-submenu--features {
		@extend .cf;
		width: 66%;
		border-left: 1px solid $primary-border;

		li {
			display: block;
			width: 25%;
			float: left;
			padding: 2%;

			&:hover {

				a {
					background-color: transparent;
				}

				p {
					color: $primary-link-hover;
				}
			}
		}

		 a {
			 padding: 0 !important;
		 }
	}

	p {
		margin-top: .5em;
	}

	.entry2__thumbnail {
		float: none;
		margin: 0;
		width: 100%;

		@include bp(small) {
			float: none;
			margin: 0;
			width: 100%;
		}

		a {
			position: absolute;
			width: 100%;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			z-index: 20;
		}

		// Force aspect ratio
		position: relative;

		&:after {
			content: '';
			display: block;
			padding-top: 66.666%;
		}

		.has-excerpt &:after {
			padding-top: 75%;
		}

		background-size: 100%;
		background-size: cover;
		background-position: center center;
	}

}

.format-fi {

	.menu__featured-post--mobile {
		float: left;
		width: 100%;

		a {
			border-bottom: 1px solid $primary-border;
			padding: 0;
			margin: 18px 5% 0;
			float: left;
			width: 90%;

			@include bp(small) {
				padding-bottom: 20px;
				margin: 18px 1.25em 0;
			}

			&:hover {
				background-color: transparent;

				p {
					color: $primary-link-hover;
				}
			}
		}

		& + li {
			clear: left;
		}

	}
}