.header__nav > ul > li:hover:after {
	content: ' ';
	display: block;
	position: relative;
	bottom: 40px;
	right: -40px;
	float: right;
	width: 40px;
	height: 40px;
}

.header__nav ul li:hover .sub-menu {
	display: block;
}

.header__nav .sub-menu,
.header__account--links.sub-menu {
	position: absolute;
	border-top: 7px solid $color-text-red;
	background-color: $primary-bg;
	color: $color-text-black;
	min-width: 300px;
	z-index: 5000000; /* IAB z-index standard for drop nav is 5000000 - 5999999 */

	li {
		display: block;
	}

	a {
		color: $color-text-black;

		/*
		 * Important used here to override a declaration on .header__nav ul li a
		 * We could make the selector more specific here, but I felt it was important
		 * to keep this as a component (e.g. context independent). - TD
		 */
		padding: 1em !important;

		&:visited {
			color: $color-text-black;
		}

		&:hover {
			color: $color-text-white;
		}

	}

}


.mobile-nav {
	//position: relative;

	.sub-menu {
		display: none;
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		bottom: 0;
		background-color: grey;
		padding: 0;

		& li {
			list-style-type: none;
		}
	}

	.sub-menu.is-visible {
		display: block;
	}

}