/**
 * Z-indexes
 *
 * IAB standards for z-indexes set the baseline, with drop nav occupying a range between 5000000 and 5999999
 * Within that range, we're stepping by 100s.
 * The overlay mask sits at the bottom of the range: 5000000
 * Above the top level menu item is the sub-menu and top level menu item (only while hovered) at 5000100
 *
 */

/* Psuedo element helps with selection by preventing the menu from collapsing on just a bit of a mouse-out */
.header__nav .menu-item-has-children:hover:after {
	content: ' ';
	display: block;
	position: relative;
	bottom: 40px;
	right: -40px;
	float: right;
	width: 40px;
	height: 40px;
}

.menu-overlay-mask {
	visibility: hidden;
	background-color: rgba(0, 0, 0, .333);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 5000000; /* IAB z-index standard for drop nav is 5000000 - 5999999 */
	opacity: 0;
	@include transition(visibility 0s linear, opacity 100ms ease-out);

	&.is-visible {
		visibility: visible;
		opacity: 1;
		@include transition(visibility 0s linear, opacity 100ms ease-out);
	}
}

/**
 * This is not ideal, we should be doing this on the top level <li>
 * Unfortunately, doing so means that the full-width menus, aren't. They are 100% the width of the <li>
 * Which is no good. So here we are.
 */
.header__main {
	position: relative;

	&:hover {
		z-index: 5000100; /* IAB z-index standard for drop nav is 5000000 - 5999999 */
	}
}


.header__nav ul li:hover .sub-menu {
	display: block;
}

.header__nav .sub-menu,
.header__account--links.sub-menu,
.ui-menu {
	position: absolute;
	border-top: 7px solid $color-text-red;
	background-color: $primary-bg;
	color: $color-text-black;
	min-width: 300px;
	z-index: 5000100; /* IAB z-index standard for drop nav is 5000000 - 5999999 */

	li {
		display: block;
	}

	a {
		color: $color-text-black;

		/*
		 * Important used here to override a declaration on .header__nav ul li a
		 * We could make the selector more specific here, but I felt it was important
		 * to keep this as a component (e.g. context independent). - TD
		 */
		padding: 1em !important;

		&:visited {
			color: $color-text-black;
		}

		&:hover {
			color: $color-text-white;
		}

	}

}

.header__account--container {
	display: none;
	.gmr-user & {

	}
}


.mobile-nav {

	.sub-menu {
		@include transition(left 100ms ease-out);
		position: absolute;
		height: 100%;
		width: 100%;
		left: -100%;
		top: 0;
		bottom: 0;
		background-color: #fff;
		padding: 0;

		& li:not(.mobile-menu-submenu-header) {
			list-style-type: none;
			border: none;
			background-color: $primary-bg;
		}

		a {
			&:link, &:visited {
				color: #000;
			}
			&:hover, &:active {
				color: #fff;
			}
		}
	}

	.sub-menu.is-visible {
		display: block;
		left: 0;
		z-index: 1;
	}

	.menu-item-has-children {
		@extend .cf;
	}

	.menu-item-has-children > a:first-child {
		float: left;
		width: 75%;
	}

	.show-subnavigation {
		float: right;
		width: 25%;
		text-align: center;
		border-left: 1px solid $header-border;
	}

	.mobile-menu-submenu-header {
		background-color: $primary-link;
		color: #fff;
		padding: 18px 1.25em;
	}

	a.mobile-menu-submenu-back-link {
		display: inline-block;
		width: 33%;
		padding: 0;

		&:link, &:visited {
			color: #fff;			
		}

		.icon-arrow-prev:before {
			position: relative;
			bottom: -0.09em; /* optical, vertical, centering next to "Back" */
		}
	}

	.mobile-menu-submenu-heading {
		display: inline-block;
		width: 65%;
		text-align: right;
		line-height: 1;
		font-size: ms(4);
		color: #fff;
	}
}

