.search-form {
	margin: 1.375rem 1.1rem 1.6667rem;
	position: relative;

	& input[type="search"] {
		background-color: transparent;
		border: none;
		border-bottom: 1px solid var(--global-mercury);
		color: var(--global-theme-font-tertiary);
		font-size: 1rem;
		font-weight: 500;
		padding: .6667rem 1rem .6667rem 1.6rem;
		width: 100%;

		@media(--min-medium-viewport) {
			font-size: .7778rem;
		}

		&::-webkit-input-placeholder {
			color: var(--global-silver-chalice);
			font-size: 0.875rem;
			font-weight: 500;
		}

		&:focus {
			border-bottom: 1px solid var(--brand-secondary);
			outline: 0;

			&::-webkit-input-placeholder {
				color: var(--global-theme-font-tertiary);
			}
		}
	}

	& button[type="submit"] {
		background-color: transparent;
		border: none;
		color: var(--brand-secondary);
		height: 14px;
		left: 2px;
		padding: 0;
		position: absolute;
		top: 0;
		transform: translateY(50%);
		width: 14px;
	}
}