// global breakpoints
$mobile: new-breakpoint(min-width 481px 6);
$tablet: new-breakpoint(min-width 769px 8);
$desktop: new-breakpoint(min-width 1201px 12);

$breakpoints: (
	x-small: new-breakpoint(min-width 320px 4),
	small: new-breakpoint(min-width 480px 6),
	medium: new-breakpoint(min-width 768px 8),
	large: new-breakpoint(min-width 1024px 12),
	x-large: new-breakpoint(min-width 1200px 12),
);