/**
 * Font Styles
 */

$open-sans:     'Open Sans', sans-serif;
$droid-sans:    'Droid Sans', sans-serif;
$icon-font:     'gmr-icons';

@font-face {
	font-family: 'gmr-icons';
	src:url('../fonts/icon-font/gmr-icons.eot?ivfz3x');
	src:url('../fonts/icon-font/gmr-icons.eot?#iefixivfz3x') format('embedded-opentype'),
	url('../fonts/icon-font/gmr-icons.woff?ivfz3x') format('woff'),
	url('../fonts/icon-font/gmr-icons.ttf?ivfz3x') format('truetype'),
	url('../fonts/icon-font/gmr-icons.svg?ivfz3x#gmr-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'gmr-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-camera:before {
	content: "\e600";
}
.icon-clipboard:before {
	content: "\e601";
}
.icon-link:before {
	content: "\e602";
}
.icon-minus:before {
	content: "\e603";
}
.icon-music:before {
	content: "\e604";
}
.icon-play-circle:before {
	content: "\e605";
}
.icon-play:before {
	content: "\e606";
}
.icon-stop:before {
	content: "\e60b";
}
.icon-plus:before {
	content: "\e607";
}
.icon-post:before {
	content: "\e608";
}
.icon-radio:before {
	content: "\e609";
}
.icon-user:before {
	content: "\e60a";
}
.icon-volume:before {
	content: "\e60c";
}
.icon-volume-mute:before {
	content: "\e60d";
}
.icon-volume-up:before {
	content: "\e60e";
}