/*doc
---
title: Icons
name: icons
category: Base - Typography
---

```html_example
<span class="icon-camera"></span>
<span class="icon-clipboard"></span>
<span class="icon-link"></span>
<span class="icon-minus"></span>
<span class="icon-music"></span>
<span class="icon-play-circle"></span>
<span class="icon-play"></span>
<span class="icon-plus"></span>
<span class="icon-post"></span>
<span class="icon-radio"></span>
<span class="icon-user"></span>
<span class="icon-stop"></span>
<span class="icon-volume"></span>
<span class="icon-volume-mute"></span>
<span class="icon-volume-up"></span>
<span class="icon-facebook"></span>
<span class="icon-twitter"></span>
<span class="icon-google-plus"></span>
<span class="icon-search"></span>
<span class="icon-post-format-video"></span>
<span class="icon-post-format-events"></span>
<span class="icon-post-format-audio"></span>
<span class="icon-instagram"></span>
<span class="icon-youtube"></span>
<span class="icon-arrow-next"></span>
<span class="icon-arrow-prev"></span>
<span class="icon-post-format-gallery"></span>
<span class="icon-post-format-link"></span>
<span class="icon-post-format-video2"></span>
<span class="icon-post-format-image"></span>
<span class="icon-video-camera"></span>
<span class="icon-gallery"></span>
<span class="icon-ticket"></span>
<span class="icon-contest"></span>
<span class="icon-pause"></span>
<span class="icon-download-arrow"></span>
```

*/

/**
 * Font Styles
 */
$primary-font:	'Open Sans', sans-serif !default;
$icon-font:		'gmr-icons';

@font-face {
	font-family: 'gmr-icons';
	src:url('#{$asset-root}fonts/icon-font/gmr-icons.eot?-yuus17');
	src:url('#{$asset-root}fonts/icon-font/gmr-icons.eot?#iefix-yuus17') format('embedded-opentype'),
		url('#{$asset-root}fonts/icon-font/gmr-icons.woff?-yuus17') format('woff'),
		url('#{$asset-root}fonts/icon-font/gmr-icons.ttf?-yuus17') format('truetype'),
		url('#{$asset-root}fonts/icon-font/gmr-icons.svg?-yuus17#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"], %gmr-icons, .gmr-icon {
	font-family: 'gmr-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-camera:before {
	content: "\e600";
}

.icon-clipboard:before {
	content: "\e601";
}

.icon-link:before {
	content: "\e602";
}

.icon-minus:before {
	content: "\e603";
}

.icon-music:before {
	content: "\e604";
}

.icon-play-circle:before {
	content: "\e605";
}

.icon-play:before {
	content: "\e606";
}

.icon-plus:before {
	content: "\e607";
}

.icon-post:before {
	content: "\e608";
}

.icon-radio:before {
	content: "\e609";
}

.icon-user:before {
	content: "\e60a";
}

.icon-stop:before {
	content: "\e60b";
}

.icon-volume-up:before {
	content: "\e900";
}
.icon-volume-down:before {
	content: "\e901";
}
.icon-volume-off:before {
	content: "\e902";
}
.icon-volume-medium:before {
	content: "\e903";
}

.icon-facebook:before {
	content: "\e60f";
}

.icon-twitter:before {
	content: "\e610";
}

.icon-google-plus:before {
	content: "\e611";
}

.icon-search:before {
	content: "\e612";
}

.icon-post-format-video:before {
	content: "\e613";
}

.icon-post-format-events:before {
	content: "\e614";
}

.icon-post-format-audio:before {
	content: "\e615";
}

.icon-instagram:before {
	content: "\e616";
}

.icon-youtube:before {
	content: "\e617";
}

.icon-arrow-next:before {
	content: "\e618";
}

.icon-arrow-prev:before {
	content: "\e619";
}

.icon-post-format-gallery:before {
	content: "\e61a";
}

.icon-post-format-link:before {
	content: "\e61b";
}

.icon-post-format-video2:before {
	content: "\e61c";
}

.icon-post-format-image:before {
	content: "\e61d";
}

.icon-download-arrow:before {
	content: "\e61e";
}

.icon-pause:before {
	content: "\e61f";
}

.icon-video-camera:before {
	content: "\e620";
}

.icon-gallery:before {
	content: "\e621";
}

.icon-ticket:before {
	content: "\e622";
}

.icon-contest:before {
	content: "\e623";
}

.icon-close:before {
	content: "\e624";
}

.icon-close-circle:before {
	content: "\e625";
}

.icon-radio-tower:before {
	content: "\e626";
}

.icon-schedule:before {
	content: "\e627";
}

.icon-stocks:before {
	content: "\e628";
}

.icon-traffic:before {
	content: "\e629";
}

.icon-weather:before {
	content: "\e62a";
}

.icon-loading:before {
	content: "\e62b";
}

.icon-spinner:before {
		content: "\e62c";
}

.icon-ellipsis-v:before {
	content: "\e62d";
}

.icon-album:before {
	content: "\e62e";
}

.icon-post-format-album:before {
	content: "\e62f";
}

.icon-clock:before {
	content: "\e904";
}

.icon-spin {
	-webkit-animation: icon-spin 2s infinite linear;
	animation: icon-spin 2s infinite linear;
}

@-webkit-keyframes icon-spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}

@keyframes icon-spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}