// global grid variables
$column: golden-ratio(1em, 4) !default;
$gutter: golden-ratio(1em, 1) !default;
$grid-columns: 4 !global;
// this will give us a mobile first approach

// add the visual grid for dev purposes
$visual-grid: true !global;
$visual-grid-color: #6e76ee !global;
$visual-grid-index: front !global;

// max-width for the site
$max-width: em(1150) !global;
$max-site-width: 1400px;

// simple css effect to make images responsive and fluid while also retaining proper aspect ratio
img {
	max-width: 100%;
	@include display(block); // block display will remove additional padding on images
	@include size(null auto); // this will keep images from being stretched at lower resolutions
}

#site-wrap {
	max-width: 100%;
	margin: 0 auto;
	background-color: $secondary-bg;
}

// The `.page-wrap` class is being used in conjunction with the off-canvas mobile navigation. On click of the
// `.mobile-nav--toggle` button, the contents of `.page-wrap` will be pushed to the left by a particular value. This
.page-wrap {
	@include transform(translate(0, 0));
	width: 100%;
	padding-bottom: 58px;
	@include transition(all 100ms ease-out);
	overflow: hidden;
	background-color: $secondary-bg;
	@include bp(medium) {
		@include transform(none);
		padding-bottom: 0;
	}
}

.container, %container {
	@include outer-container(100%);
	padding-right: 0;

	@include bp(medium) {
		@include outer-container(100%);
		padding-right: 225px;
	}
	
	@include bp(x-large) {
		@include outer-container(1400px);
	}
}

.main, %main {
	float: left;
	width: 100%;
	margin: 0;
	background-color: $secondary-bg;
}

.main .container {
	background-color: $primary-bg;
}

.content, %content {
	@include fill-parent;
	@include omega;
	padding: $base-line-height $gutter / 2;

	@include bp(medium) {
		padding: $base-line-height * 2 $gutter * 2;
	}
	// @include bp(large) {
	// }
	// @include bp(x-large) {
	// }
}

.live-player {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	background-color: $liveplayer-bg;
	color: $liveplayer-color;
	cursor: pointer;
	@include bp(medium){
		position: absolute;
		top: 238px;
		bottom: auto;
		right: 0;
		left: auto;
		width: 225px;
		height: 100%;
		@include box-sizing(border-box);
		cursor: default;
	}
	@include bp(x-large) {
		@include calc(right, '50% - 700px');
	}
}

.live-player:after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	//background-color: $secondary-bg;
	content: "";
	z-index: 10;
}

.logged-in .live-player {
	@include media(min-width 782px) {
		top: 270px;
	}
}

.row {
	@include row();
}

.col__inner--right {
	@include span-columns(12 of 12);

	@include bp(large) {
		@include span-columns(4 of 12);
		@include omega;
	}
}

.col__inner--left {
	@include span-columns(12 of 12);

	@include bp(large) {
		border-right: 1px solid $primary-border;
		padding-right: 2em;
		@include span-columns(8 of 12);
	}
}