%unordered-list {
	padding: 0;
	margin: 0;
}

%list-item {
	list-style: none;
	padding: 0;
	margin: 0;
}

// reduce visual importance of text
%mute {
	color: $gray;
	font-size: ms(1);
	font-style: italic;
}

%live-audio__btn {
	width: 34px;
	height: 34px;
	margin: 0 auto;
	@include border-radius(50%);
	background-color: $liveplayer-controls;
	border: 2px solid $liveplayer-controls;
	outline: none;
	font-size: 1.25em;
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: auto;
	color: $color-text-white;
	cursor: pointer;
	z-index: 1;

	@include bp(medium) {
		width: 56px;
		height: 56px;
		z-index: initial;
	}
}