%unordered-list {
	padding: 0;
	margin: 0;
}

%list-item {
	list-style: none;
	padding: 0;
	margin: 0;
}

// reduce visual importance of text
%mute {
	color: $gray;
	font-size: ms(1);
	font-style: italic;
}

%audio-controls__button {
	background-color: $liveplayer-color-secondary;
	border: 2px solid $liveplayer-color-secondary;
	border-radius: 50%;
	color: $white;
	cursor: pointer;
	font-size: 1.25em;
	font-style: normal;
	font-weight: normal;
	height: 30px;
	margin: 0 auto;
	outline: none;
	padding: 0;
	width: 30px;
	z-index: 1;

	@include bp(small) {
		height: 40px;
		width: 40px;
	}
	@include bp(medium) {
		height: 48px;
		width: 48px;
	}

	&:hover,
	&:focus {
		background-color: $white;
		color: $liveplayer-color-secondary;
	}
}