// Color Array
// By default, these colors can be called using `map-get($color, key)`. To avoid continually calling `map-get`, a
// function has been written. Reference the `color` function located in `_functions.scss`.
//
// @author Allen Moore
// @since 0.1.0
//
// @type String
//
$colors: (
	black: #000000,
	white: #ffffff,
	light-gray: #f5f5f5,
	soft-gray: #eeeeee,
	meta-gray: #dddddd,
	gray: #888888,
	dark-gray: #333333,
	red: #d32329
);

// Variables for site wide usage
//
// @author Allen Moore
// @since 0.1.0
//
$text-color: color(black);

$link-color: color(red);
$link-hover: color(gray);

$border-color: color(soft-gray);
$dark-border-color: color(dark-gray);

$nav-link-color: color(white);

/*********************
Misc
*********************/

// Site Max Width
$max-site-width:	1200px;