/* Navigation font color */
.header__main a, .header__main a:active, .header__main a:hover, .header__main a:visited {color: #fff;}

.header__nav li {
  font-weight: 600;
}

.header__nav li:hover {
  font-weight: 600;
}

.header__nav > ul li a {
    display: block;
    padding: 7px;
    text-transform: uppercase;
}

.header__account--links.sub-menu, .header__nav .format-fi > ul, .header__nav .format-fi > ul.header__account--links, .header__nav .format-fw > ul, .header__nav .format-fw > ul.header__account--links, .header__nav .format-sp > ul, .header__nav .format-sp > ul.header__account--links, .header__nav .sub-menu, .ui-menu {
  border-top: 3px solid #f5a81c;
  color: #000;
  min-width: 300px;
  position: absolute;
  z-index: 5000100;
}

.header__nav .format-fi .header__nav-submenu--features li:hover p {
    color: #fff;
}

/* Header search color */      
 .header__search {
  color: #f0f0f0;
  font-weight: bold}

.header__search--btn:before {
    color: #f0f0f0;
    font-size: 1em;
    content: "\e612";
}

/* Home page feature items */
.featured__article--heading {
  color: #fff;
  text-transform: uppercase;
  font-family: 'Istok+Web', sans-serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

.home__featured .featured__article a:hover .featured__article--content {background-color: #007abd;}

.featured__article:hover .featured__article--heading {color: #fff;}

.featured__content--title {
    font-size: 1em;
    display: block;
    width: 100%;
    margin: 0 auto .15em;
    line-height: 1.25;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    color: #fff;
}

.home__featured .featured__content--meta {
    width: 100%;
    min-height: 4.2em;
}  

.featured__content--block:hover .featured__content--title {
    color: #fff;
}

.featured__content--block:hover {
  background: #007abd;
}

.highlights__heading {
    margin: 0 0 0.75em;
    line-height: 1;
    font-size: 1.125em;
    font-weight: lighter;
    color: #fff;
    vertical-align: top;
}

a:hover .highlights__community--title {color:#f5a81c;}

@media screen and (min-width:320px) {

}

@media screen and (min-width: 480px) {

}

@media screen and (min-width:768px) {

.header {
  background-color: #40b9fd!important;
  background-image: url("../../images/WMGQ-Header-Background3.jpg")!important;
  background-position: center top;
}     

}

@media screen and (min-width:1024px) {

}

@media screen and (min-width:1175px) {

}

@media screen and (min-width:1252px) {

}

@media screen and (min-width:1400px) {

}

