.header {
  background-color: #40b9fd !important;
  background-image: url("../../images/WMGQ-Header-Background3.jpg") !important;
  background-repeat: repeat-x;
  background-position: center top;
  border-bottom: none;
} 

.header__main {
    border-top: none;
    background-color: rgba(0, 0, 0, 0) !important;
}       

/* Navigation */
.header__main a, .header__main a:active, .header__main a:hover, .header__main a:visited {color: #fff;}

.header__nav li {
  font-weight: 600;
}

.header__nav li:hover {
  font-weight: 600;
}

.header__nav > ul li a {
    display: block;
    padding: 7px;
    text-transform: uppercase;
}

.header__nav ul li {
    background-color: rgba(0,0,0,.5);
}

.header__account--links.sub-menu, .header__nav .format-fi > ul, .header__nav .format-fi > ul.header__account--links, .header__nav .format-fw > ul, .header__nav .format-fw > ul.header__account--links, .header__nav .format-sp > ul, .header__nav .format-sp > ul.header__account--links, .header__nav .sub-menu, .ui-menu {
  border-top: 3px solid #f5a81c;
  color: #000;
  min-width: 300px;
  position: absolute;
  z-index: 5000100;
}

.header__nav .sub-menu a, .header__nav .format-fw > ul a, .header__nav .format-sp > ul a, .header__nav .format-fi > ul a, .ui-menu a {
    color: #ffffff;
    font-size: 0.7901234568em;
    font-weight: bold;
    text-transform: none;
}

.header__nav .format-fi .header__nav-submenu--features li:hover p {
    color: #fff;
}

.mobile-nav__toggle--span, .mobile-nav__toggle--span::before, .mobile-nav__toggle--span::after {
    background: #002449;
}

.mobile-nav .show-subnavigation {
    background-color: #007abd;
    float: right;
    width: 25%;
    text-align: center;
    border-left: 1px solid #282827;
}

.mobile-nav .sub-menu a:link, .mobile-nav .header__nav .format-fw > ul a:link, .header__nav .mobile-nav .format-fw > ul a:link, .mobile-nav .header__nav .format-sp > ul a:link, .header__nav .mobile-nav .format-sp > ul a:link, .mobile-nav .header__nav .format-fi > ul a:link, .header__nav .mobile-nav .format-fi > ul a:link, .mobile-nav .sub-menu a:visited, .mobile-nav .header__nav .format-fw > ul a:visited, .header__nav .mobile-nav .format-fw > ul a:visited, .mobile-nav .header__nav .format-sp > ul a:visited, .header__nav .mobile-nav .format-sp > ul a:visited, .mobile-nav .header__nav .format-fi > ul a:visited, .header__nav .mobile-nav .format-fi > ul a:visited {
    color: #fff;
}

/* Header search color */      
 .header__search {
  color: #f0f0f0;
  font-weight: bold}

.header__search--btn:before {
    color: #f0f0f0;
    font-size: 1em;
    content: "\e612";
}

/* Listen live */
.audio-controls__play, .audio-controls__pause, .audio-controls__loading, .audio-controls__resume {
    background-color: #f5a81c;
    border: 2px solid #f5a81c;
}

.audio-controls__play:hover, .audio-controls__pause:hover, .audio-controls__loading:hover, .audio-controls__resume:hover, .audio-controls__play:focus, .audio-controls__pause:focus, .audio-controls__loading:focus, .audio-controls__resume:focus {
    background-color: #ffffff;
    color: #f5a81c;
}

/* Home page feature items */
.featured__article--heading {
  color: #fff;
  text-transform: uppercase;
  font-family: 'Istok+Web', sans-serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

.home__featured .featured__article a:hover .featured__article--content {background-color: #007abd;}

.home__featured { 
  background: url("../../images/wmgq-body-bkg2.jpg") no-repeat;
  background-color: #103368;
}

.featured__article:hover .featured__article--heading {color: #fff;}

.featured__content--title {
    font-size: 1em;
    display: block;
    width: 100%;
    margin: 0 auto .15em;
    line-height: 1.25;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    color: #fff;
}

.home__featured .featured__content--meta {
    width: 65%;
    min-height: 4.2em;
} 

.featured__content--block:hover .featured__content--title {
    color: #fff;
}

.featured__content--block:hover {
  background: #007abd;
}

.highlights__heading {
    margin: 0 0 0.75em;
    line-height: 1;
    font-size: 1.125em;
    font-weight: lighter;
    color: #fff;
    vertical-align: top;
}

a:hover .highlights__community--title {color:#f5a81c;}

.highlights__events--more-btn {
  background-color: #103368;
  border: 1px solid #103368;
  color: #fff !important;
  font-weight: 700;
}

.highlights__events--more-btn:hover {
  background-color: #40b9fd;
  border-color: #40b9fd;
  color: #fff !important;
}
