.is-IOS .bottom-adhesion-container {
	position: fixed;
	bottom: 0;
	bottom: env(safe-area-inset-bottom);
}

.bottom-adhesion-container {
	bottom: 0;
	left: 0;
	right: 0;
	position: fixed;
	z-index: 110;
	justify-content: center;
	background-color: var(--global-theme-secondary);
}

.ad-button-holder {
	position: absolute;
	right: 0;
	top: 0;
	height: 20px;
	z-index: 110;
}
