/*doc
---
title: Leaderboard
name: leaderboard
category: Components - Ads
---

```html_example
<div class="ad__leaderboard">
	<img src="http://placehold.it/728x90&amp;text=leaderboard">
</div>
```

*/

/// Apply to an advertisement for a bit of text that calls it out as an advertisement.
%advertisement-disclosure {
	&:after {
		content: 'Advertisement';
		display:block;
		font-size: 10px;
		text-transform: uppercase;
		color: lighten( $color-text-gray, 25%);
	}
}

.ad__leaderboard {
	line-height: 0;
	position: relative;
	text-align: center;

	&.desktop { display: none; }
	&.mobile {
		display: block;
	}

	@include bp(medium) {
		&.desktop { display: block; }
		&.mobile { display: none; }
	}
}

.ad__leaderboard img {
	margin: 0 auto;
}

/*doc
---
title: Inline Ad
name: inline-ad
category: Components - Ads
---

```html_example
<img class="ad__inline--right" src="http://placehold.it/300x250&amp;text=inline ad">
```
*/
.ad__inline--right {
	float: none;
	margin: 0 auto;
	text-align: center;
	@extend %advertisement-disclosure;

	@include bp(medium) {
		float: none;
		margin: 0 0 1em 1em;
	}

	@include bp(large) {
		float: right;
		margin: 0 0 1em 1em;
	}

	/*@include bp(x-large) {
		float: right;
		margin: 0 0 1em 1em;
	}*/
}

.ad__in-loop {
	text-align: center;
	@extend %advertisement-disclosure;
}
	.ad__in-loop--mobile {}
	.ad__in-loop--desktop {
		display: none;
	}

	@media ( min-width: 1051px ) {
		.ad__in-loop--mobile {
			display: none;
		}
		.ad__in-loop--desktop {
			display: block;
		}
	}

.ad__events-sponsorship {
	text-align: center;

	iframe {
		width: 100%;
		height: 75px;

		@include bp(small) {
			height: 124px;
		}

		@include bp(medium) {
			height: 150px;
		}

		@include bp(large) {
			height: 175px;
		}

		/*@include bp(x-large) {
			height: 200px;
		}*/
	}
}

.ad__in-content {
	&.ad__in-content--mobile {
		display: block;

		@include bp(large) {
			display: none;
		}
	}

	iframe {
		display: block;
		margin: 0 auto 1.5em;
	}
}

.ad__wallpaper {
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;

	// The below targets the DFP ad, and overrides any inline height/width values.
	> div,
	> div > div,
	> div > div > iframe {
		bottom: 0;
		height: 100% !important;
		left: 0;
		position: fixed;
		right: 0;
		top: 0;
		width: 100% !important;
	}
}