/*doc
---
title: Leaderboard
name: leaderboard
category: Components - Ads
---

```html_example
<div class="ad__leaderboard">
	<img src="http://placehold.it/728x90&amp;text=leaderboard">
</div>
```

*/

/// Apply to an advertisement for a bit of text that calls it out as an advertisement.
%advertisement-disclosure {
	&:after {
		content: 'Advertisement';
		display:block;
		font-size: 10px;
		text-transform: uppercase;
		color: lighten( $color-text-gray, 25%);
	}
}

.ad__leaderboard {
	position: relative;
	padding: em(20px) 0;
	text-align: center;

	&.desktop { display: none; }
	&.mobile {
		display: block;
		height: 50px;
		padding: 0;
	}

	@include bp(medium) {
		height: 132px;

		&.desktop { display: block; }
		&.mobile { display: none; }
	}

	.news-site & {
		@include bp(medium) {
			height: 104px;
			padding: 7px 0;
		}
	}
}

.ad__leaderboard img {
	margin: 0 auto;
}

/*doc
---
title: Inline Ad
name: inline-ad
category: Components - Ads
---

```html_example
<img class="ad__inline--right" src="http://placehold.it/300x250&amp;text=inline ad">
```
*/
.ad__inline--right {
	float: none;
	margin: 0 auto;
	text-align: center;
	@extend %advertisement-disclosure;

	@include bp(medium) {
		float: none;
		margin: 0 0 1em 1em;
	}

	@include bp(large) {
		float: right;
		margin: 0 0 1em 1em;
	}

	@include bp(x-large) {
		float: right;
		margin: 0 0 1em 1em;
	}
}

.ad__in-loop {
	text-align: center;
	@extend %advertisement-disclosure;
}
	.ad__in-loop--mobile {}
	.ad__in-loop--desktop {
		display: none;
	}

	@media ( min-width: 1051px ) {
		.ad__in-loop--mobile {
			display: none;
		}
		.ad__in-loop--desktop {
			display: block;
		}
	}

