/*doc
---
title: Article Header
name: article-header
category: Components - Article
---

```html_example
<img src="http://placehold.it/600x400&amp;text=image" alt="placeholder" class="entry__featured-image">
<header class="entry__header">
	<time datetime="2014-11-10T20:11:28+00:00" class="entry__date">10 November</time>
    <h2 class="entry__title"><a href="">Test Show Post</a></h2>
</header>
<a href="http://www.facebook.com/sharer/sharer.php?u=[URL]&title=[TITLE]" class="icon-facebook social-share-link"></a>
<a href="http://twitter.com/home?status=[TITLE]+[URL]" class="icon-twitter social-share-link"></a>
<a href="https://plus.google.com/share?url=[URL]" class="icon-google-plus social-share-link"></a>
<a href="" class="icon-volume-up social-share-link"></a>
```

*/

.entry__header {
	margin-bottom: 2em;
	
}

.entry__featured-image {
	width: 100%;
	height: auto;
	margin-bottom: 1em;
}

.entry__date {
	display: block;
	margin-bottom: 0.75em; 
	font-size: ms(0); 
	
	@include bp(medium) {
		font-size: ms(-1); 
	}
}

.entry__title {
	font-size: ms(9);
	line-height: 1.2;
	margin: 0;
	margin-bottom: 0.65em;
	
	@include bp(medium) {
		font-size: ms(7);
	}
}

.entry-content {
	font-size: ms(1);
}

.entry_footer {
	padding: 0;
	margin-top: 3em;
}

#comments {
	margin-top: 4em; 	
}

/*doc
---
title: Article Footer
name: article-footer
category: Components - Article
---

```html_example
<footer class="entry__tags">
	<a href="">Category</a> / <a href="">tag one</a>,<a href="">tag two</a>,<a href="">tag three</a>
</footer>
```

*/

.entry__tags, .entry__tags a {

}