.article {}

.article__header {
	margin-bottom: 2em; 
}
	.article__date {
		display: block;
		margin-bottom: 0.5em; 
		font-size: ms(0); 
		text-transform: uppercase; 
		color: $gray;
		
		@include bp(medium) {
			font-size: ms(-1); 
		}
	}	
	.article__title {
		font-size: ms(9);
		line-height: 1.2;
		margin: 0 0 0.65em;
		
		@include bp(medium) {
			font-size: ms(7);
		}
	}

.article__content {
	margin-bottom: 1.5em;
	
	// Using pixel-based size for now rather than fighting with the theme's
	// relative sizing (where I will have to add sizes for all breakpoints). 	
	font-size: 16px;
	line-height: 1.6;
	
	@include bp(large) {
		margin-bottom: 4.5em;
	}
}
	
.article .ad__inline--right {
	@include bp(large) {
		margin-left: $gutter * 2;	
	}
}

.article__footer {
	@include span-columns(4);
	margin: 0 0 3em;
	padding: 0;
	border: none; 
	line-height: 1.5;
}	

.article__categories, .article__tags, .article__shows {
	overflow: auto;
	clear: both;
	margin-bottom: 1.25em;
	font-size: ms(1);
	color: $gray;
	
	@include bp(medium) {
		font-size: ms(-1); 
	}
}

.article__list, %article__list {
	display: inline;
	padding: 0;
	margin: 0;
	list-style: none;
}
	.article__list:before, %article__list--before {
		text-transform: uppercase;
	}
	
	.article__list--item, %article__list--item {
		display: inline; 
		list-style: none;
		margin-right: .5em;
	}
		.article__list--item a, .article__list--item a:visited, .article__list--show a, .article__list--show a:visited {
			color: $gray;
		}
			.article__list--item a:hover, .article__list--item a:focus, .article__list--item a:active, .article__list--show a:hover, .article__list--show a:focus, .article__list--show a:active {
				color: $primary-link-hover;
			}
			
	.article__list--title {
		display: inline-block;
		font-weight: 800;
	}
		.article__list--title:after {
			content: "/";
			margin: 0 .25em 0 .5em;
		}

	.article__list--categories, .article__list--tags, .article__list--shows {
		@extend %article__list;
	}

	.article__list--show {
		@extend %article__list;
		margin-right: .5em;
		display: inline-block;
	}

	.article__show--logo {
		display: inline-block;
		float: left;
		width: 24px;
		height: 24px;
		margin-right: .5em;
		@include border-radius(50%);
		background-color: $secondary-border;
	}	
		.article__show--logo img {
			@include border-radius(50%);
		}		
		.article__show--name {
			display: inline-block;
		}
		
	// Bump up the spacing at larger breakpoints
	@include bp(large) {
		.article__list--item,
		%article__list--item,
		.article__list--show,
		.article__show--logo {
			margin-right: 1.5em;
		}
		
		.article__list--title:after {
			margin: 0 1.25em 0 1.5em;
		}
	} 


.article__content {
	.alignleft, img.alignleft {
		display: block;
		margin: 0 1em 16px;
		float: left;
	}	
	.alignright, img.alignright {
		display: block;
		margin: 0 0 16px 1em;
		float: right;
	}	
	.aligncenter, img.aligncenter {
		margin: 0 auto 1em;
	}	
	.size-auto,
	.size-full,
	.size-large,
	.size-medium,
	.size-thumbnail {
		max-width: 100%;
		height: auto;
	}
	.wp-caption {
		max-width: 100%;
		padding: 0;
		margin: 0 0 16px;
		background: $primary-border;
	}	
	.wp-caption img {
		width: 100%;
		margin-bottom: 0;
		max-width: 100%;
	}	
	.wp-caption p.wp-caption-text {
		padding: 16px 1.25em 20px;
		margin: 4px .5em;
		font-size: ms(-2);
		text-align: left;
	}
}

.article__comments {
	margin: 3em 0; 	
}
