.article {}

.article__header {
	margin-bottom: 2em;

	.article__thumbnail {
		@include bp(large) {
			width: calc(100% - 355px);
		}

		&:after {
			padding-top: 0;
		}
	}
}

.article__date {
	display: block;
	margin-bottom: 0.5em;
	font-size: ms(0);
	text-transform: uppercase;
	color: $gray;

	@include bp(medium) {
		font-size: ms(-1);
	}
}

.article__title {
	font-size: ms(9);
	line-height: 1.2;
	margin: 0 0 0.65em;

	@include bp(medium) {
		font-size: ms(7);
	}
}

.article__thumbnail {
	position: relative;
}

.article__content {
	margin-bottom: 1.5em;

	@include bp(large) {
		margin-bottom: 4.5em;
	}

	.article__thumbnail {
		margin-bottom: 2em;

		@include bp(large) {
			width: calc(100% - 355px);
		}

		&:after {
			padding-top: 0;
		}
	}
}

.article .ad__inline--right {
	&.desktop {
		display: none;
	}

	&.mobile {
		display: block;
	}

	@include bp(large) {
		&.desktop {
			display: block;
			width: 300px;
			min-height: 250px;
		}

		&.mobile {
			display: none;
		}
	}

	@include bp(large) {
		margin-left: $gutter * 2;
	}
}

.article__footer {
	@include span-columns(4);
	margin: 0 0 3em;
	padding: 0;
	border: none;
	line-height: 1.5;

	.contest & {
		margin: 30px 0 0;
	}
}

.article__categories, .article__tags, .article__shows {
	overflow: auto;
	clear: both;
	margin-bottom: 1.25em;
	font-size: ms(1);
	line-height: 1.6;
	color: $gray;

	@include bp(medium) {
		font-size: ms(-1);
	}
}

.article__shows {
	margin-bottom: 0;
}

.article__list, %article__list {
	display: inline;
	padding: 0;
	margin: 0;
	list-style: none;
}
	.article__list:before, %article__list--before {
		text-transform: uppercase;
	}

	.article__list--item, %article__list--item {
		display: inline-block;
		white-space: nowrap;
		list-style: none;
		margin-right: .5em;
	}
		.article__list--item a, .article__list--item a:visited, .article__list--show a, .article__list--show a:visited {
			color: $gray;
		}
			.article__list--item a:hover, .article__list--item a:focus, .article__list--item a:active, .article__list--show a:hover, .article__list--show a:focus, .article__list--show a:active {
				color: $primary-link-hover;
			}

	.article__list--title {
		display: inline;
		font-weight: 800;

		.news-site & {
			font-weight: normal;
			color: $primary-text;
		}
	}
		.article__list--title:after {
			content: "/";
			margin: 0 .25em 0 .5em;
		}

	.article__list--categories, .article__list--tags, .article__list--shows {
		@extend %article__list;
	}

	.article__list--shows {
		width: auto;
		max-width: 75%;

		@include bp(medium) {
			max-width: 85%;
		}

		@include bp(x-large) {
			max-width: none;
		}

		.contest & {

			@include bp(large) {
				max-width: 80%;
			}

			@include bp(x-large) {
				max-width: 85%;
			}
		}
	}

	.article__list--show {
		@extend %article__list;
		margin-right: .5em;
		display: inline-block;
	}

	.article__show--logo {
		display: block;
		float: left;
		width: 24px;
		height: 24px;
		margin-right: .5em;
		@include border-radius(50%);
		background-color: $secondary-border;
	}
		.article__show--logo img {
			@include border-radius(50%);
		}
		.article__show--name {
			display: block;
			float: left;
			width: auto;
			max-width: 80%;

			@include bp(medium) {
				max-width: 85%;
			}

			@include bp(x-large) {
				max-width: none;
			}

			.contest & {

				@include bp(large) {
					max-width: 80%;
				}

				@include bp(x-large) {
					max-width: 85%;
				}
			}
		}

	// Bump up the spacing at larger breakpoints
	@include bp(large) {
		.article__list--item,
		%article__list--item,
		.article__list--show,
		.article__show--logo {
			margin-right: 1.5em;
		}

		.article__list--title:after {
			margin: 0 1.25em 0 1.5em;
		}
	}


.article__content {

	// Using pixel-based size for now rather than fighting with the theme's
	// relative sizing (where I will have to add sizes for all breakpoints).
	$font-size: 16px;
	$line-height: 1.6;
	$line-height-computed: $font-size * $line-height;

	font-size: $font-size;
	line-height: $line-height;

	h1, h2, h3, h4, h5, h6 {
		// Tighten up spacing on headings.
		margin: $line-height-computed 0;

		// Reset base styles.
		line-height: 1.5;
		letter-spacing: normal;
	}

	h1 {
		font-size: ms(5);
	}

	h2 {
		font-size: ms(4);
	}

	h3 {
		font-size: ms(3);
		letter-spacing: 2px;
	}

	h4 {
		font-size: ms(2);
		letter-spacing: 2px;
	}

	h5, h6 {
		font-weight: bold;
		font-size: 1em;
		line-height: $line-height;
	}

	.livefyre-poll {
		margin: 1.5em 0;
	}

	/**
	 * This selects every direct child of the article content
	 * We apply overflow: auto to force a new block formatting context
	 * This way, things will float around the ad as we expect
	 * It's a bit heavy-handed (universal selector and all), but seems to do the trick
	 *
	 * @see https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Block_formatting_context
	 */
	& > * {
		overflow: auto;
	}
}

.article__comments {
	margin: 3em 0;
}
