.breaking-news-banner {
	padding: 10px 0;
}
	.breaking-news-banner__inner {
		padding: 0 20px;
		margin: 0 auto; 
		max-width: 1400px;
		font-size: 14px;
		line-height: 20px; 
		
		@include bp(small) {
			overflow: hidden; 
			text-overflow: ellipsis;
			white-space: nowrap;
			height: 20px;
		}
		
		@include bp(medium) {
			font-size: 15px; 
		}
		
		@include bp(large) {
			font-size: 16px; 
			padding: 0 $gutter;
		}		
	}
	
	.breaking-news-banner__title {
		color: $color-text-yellow; 
		text-transform: uppercase; 
	}
	
	.breaking-news-banner__excerpt {
		display: block;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		height: 20px;
		
		@include bp(small) {
			display: inline; 
			white-space: normal;
		}
	}
	
	a:hover .breaking-news-banner {
		color: $color-text-yellow; 
	}
	