.busy-mask {
	visibility: hidden;
	background-color: rgba( #fff, .85 );
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 7000000;
	opacity: 0;
	@include transition( visibility 0s 50ms, opacity 50ms linear );
	
	body.is-busy & {
		visibility: visible;
		opacity: 1;
		@include transition( opacity 250ms linear );
	}
	
	.fa {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate( -50%, -50% );
		font-size: 60px;
		color: #bbb;		
	}
}