.single__featured-img--contest {
	margin-bottom: 2em;
}

.contest {

}

.contest-attr--title {

}

.contest-attr--img {

}

.contest-attr--content {

}

.contest-attr--excerpt {

}

.contest-attr--enter {

}

.contest-attr--tags {

}

.contest-attr--categories {

}

.contest-submissions {
	clear: both;
}

.contest-submissions--title {

}

.contest-submissions--list {
	margin: 0;
	padding: 0;
}

.contest-submission {
	margin: 0 1em 1em 0;
	list-style: none;
	display: inline-block;
}