.contest__thumbnail {
	@include span-columns(4 of 4);
	background-color: lighten($primary-border, 9%);
	margin: 0 auto 2em;
	text-align: center;

	@include bp(small) {
		@include span-columns(6 of 6);
	}
	@include bp(medium) {
		@include span-columns(8 of 8);
	}
	@include bp(large) {
		@include span-columns(8 of 8);
	}
	@include bp(x-large) {
		@include span-columns(8 of 8);
	}
}

.single__featured-img--contest {
	margin: 0 auto;
}

.type-contest,
.type-survey {
	.col__inner--left {
		border-right-width: 0;
	}

	&.collapsed {
		.col__inner--left {
			width: 100%;
			margin-right: 0;
			padding-right: 0;
		}
		
		.col__inner--right {
			display: none;
		}

		.contest__entry--link {
			display: none;
		}
	}
}

.contest__entry--link {
	display: block;
	margin-bottom: 2em;
	@include bp(large) {
		display: none;
	}
}

.contest__entry--btn {
	@include btn($btn-bg, $color-text-white, $btn-bg, .5em, 1em, ms(1));
	width: 100%;
	@include border-radius(17px);
	text-transform: uppercase;
	text-align: center;
}

.contest__entry--btn:hover {
	@include btn($btn-hover, $color-text-black, $btn-hover, .5em, 1em, ms(1));
}

.contest__entry--btn:active {
	@include btn($btn-active, $color-text-white, $btn-active, .5em, 1em, ms(1));
}

.contest__description  {
	margin-bottom: 40px;
}

.contest__description:last-of-type  {
	margin-bottom: 0;
}

.contest__prize--title {
	margin: 0 0 18px;
	font-family: $droid-sans;
	font-size: ms(4);
	color: $color-text-red;
}

.contest__form--heading {
	margin: 0 0 30px;
	font-family: $droid-sans;
	font-size: ms(4);
}

.contest__form--row {
	margin-bottom: 30px;
}

.contest__restrictions {
	.contest__restriction--age,
	.contest__restriction--age-fails,
	.contest__restriction--finished,
	.contest__restriction--max-entries,
	.contest__restriction--not-started,
	.contest__restriction--one-entry,
	.contest__restriction--signin {
		display: none;
	}

	&.age .contest__restriction--age {
		display: block;
	}

	&.age-fails .contest__restriction--age-fails {
		display: block;
	}

	&.finished .contest__restriction--finished {
		display: block;
	}

	&.max-entries .contest__restriction--max-entries {
		display: block;
	}

	&.not-started .contest__restriction--not-started {
		display: block;
	}

	&.one-entry .contest__restriction--one-entry {
		display: block;
	}

	&.signin .contest__restriction--signin {
		display: block;
	}
}

.contest__restriction--min-age-yes,
.contest__restriction--min-age-no {
	display: block !important;
	line-height: 1;
	padding: .25em 1em;
	margin-top: 0 !important;
	margin-bottom: 1em !important;
	margin-right: 0 !important;
	outline: none;
	background-color: $btn-bg !important;
	border: 1px solid $btn-bg !important;
	font-family: $open-sans;
	font-size: ms(-1);
	color: $color-text-white !important;
	text-transform: uppercase;
	cursor: pointer;
	@include border-radius(3px);

	@include bp(medium) {
		display: inline-block !important;
		margin-bottom: 0 !important;
		margin-right: .5em !important;
	}

	&:last-of-type {
		margin-right: 0 !important;
	}

	&:hover {
		background-color: $btn-hover !important;
		border: 1px solid $btn-hover !important;
		color: $color-text-black !important;
	}

	&:active {
		background-color: $btn-active !important;
		border: 1px solid $btn-active !important;
		color: $color-text-white !important;
	}
}

.contest-attr--rules {
	padding: 2em;
	margin: 0 0 1.5em;
	border: 1px solid $primary-border;
	border-right: none;
	border-left: none;
	font-size: ms(-1);

	p {
		margin-bottom: 0.75em;
		
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.contest-attr--rules-toggler {
	@include btn($btn-muted, $color-text-white, $btn-muted, 0.5em, 1em, ms(-2));
	@include border-radius(1em);
}

.contest-attr--rules-toggler:hover {
	@include btn($btn-muted-hover, $color-text-white, $btn-muted-hover, 0.5em, 1em, ms(-2));
}

.contest-attr--rules-toggler:active {
	@include btn($btn-muted-active, $color-text-white, $btn-muted-active, 0.5em, 1em, ms(-2));
}

.contest-attr--excerpt {

}

.contest__sponsors {
	display: block;
	width: 100%;
	margin-bottom: 3.75em;
	overflow: auto;
}

.contest__sponsors--heading {
	margin: 0 0 1.4em;
	font-family: $open-sans;
	font-size: ms(-1);
	font-weight: normal;
	text-transform: uppercase;
	color: $secondary-heading;
}

.contest__sponsors--list {
	@extend %unordered-list;
}

.contest__sponsor {
	@extend %list-item;
	display: inline-block;
	margin-right: 50px;
}

.contest__form--label {
	display: block;
	width: 100%;
	margin-bottom: 10px;

	abbr {
		text-decoration: none;
		border-bottom: 0;
		color: $color-text-red;
	}
}

.contest__form {
	fieldset {
		legend,
		label {
			display: block;
			width: 100%;
			margin-left: 0;
			margin-bottom: 10px;
		}
	}

	input[type="text"],
	input[type="url"],
	input[type="email"],
	input[type="number"],
	textarea {
		width: 100%;
		padding: 18px 20px;
		@include box-sizing(border-box);
		border: none;
		outline: none;
		background-color: $form-bg;
		font-family: $open-sans;
		color: $dark-gray;
	}

	button[type="submit"],
	input[type="submit"] {
		@include btn($btn-bg, $color-text-white, $btn-bg, .625em, 1em, ms(3));
		width: 100%;
		@include border-radius(28px);
		text-transform: uppercase;

		&:hover {
			@include btn($btn-hover, $color-text-black, $btn-hover, .625em, 1em, ms(3));
		}

		&:active {
			@include btn($btn-active, $color-text-white, $btn-active, .625em, 1em, ms(3));
		}

		i.fa {
			display: none;
		}
	}

	select {
		width: 174px;
		padding: 18px 20px;
		@include border-radius(0);
		border: none;
		outline: none;
		background-color: $form-bg;
		background-image: url(../../images/select-arrow.png);
		background-repeat: no-repeat;
		background-position: 90% center;
		background-size: auto 10px;
		font-family: $open-sans;
		color: $dark-gray;
		display: inline-block;
		-webkit-appearance:none;
		-moz-appearance:none;
		appearance:none;
		cursor:pointer;
	}
}

.contest__submissions {
	clear: both;
	position: relative;
}

.contest__submissions--title {

}

.contest__submissions--list {
	margin: 0;
	padding: 0;
	@include clearfix;
}

.contest__submissions--load-more {
	@include btn($btn-bg, $color-text-white, $btn-bg, 0.5em, 1em, ms(-1));
	@include border-radius(1em);
	clear: both;
	margin: 1em auto 0;
	display: block;

	&:last-of-type{
		margin-right: auto;
	}

	.fa {
		display: none;
		margin-right: 0.5em;
	}

	&.loading {
		.fa {
			display: inline-block;
		}
	}
}

.contest__submission {
	width: 100%;
	margin: 0;
	padding: 0 0.25em 1em 0;
	@include box-sizing(border-box);
	list-style: none;
	vertical-align: top;

	.contest__submission--link {
		border: none;
		outline: none;
		display: block;
		position: relative;

		.contest__submission--thumbnail {
			height: 156px;
			background-position: center center;
			background-repeat: no-repeat;
			-webkit-background-size: cover;
			background-size: cover;
		}

		.contest__submission--date,
		.contest__submission--author {
			text-align: center;
			line-height: 1.5em;
			display: block;
		}

		.contest__submission--author {
			color: $dark-gray;
			font-size: ms(-1);
		}

		.contest__submission--date {
			color: $gray;
			font-size: ms(-2);
		}

		.contest__submission--rating {
			position: absolute;
			top: 0;
			right: 0;
			color: $white;
			background-color: $dark-gray;
			padding: 5px 10px;
			line-height: 1em;
			border-bottom-left-radius: 0.5em;
			font-size: ms(-2);

			b {
				font-weight: normal;
			}
		}

		.contest__submission--winner {
			position: absolute;
			top: 0;
			left: 0;
			color: gold;
			background-color: crimson;
			padding: 5px 10px;
			line-height: 1em;
			border-bottom-right-radius: 0.5em;
			font-size: ms(-2);
			display: none;
		}
	}

	&.expanded {
		.contest__submission--link:after {
			top: auto;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-bottom-color: #ddd;
			border-width: 1em;
			left: 50%;
			margin: -0.75em 0 0 -15px;
		}
	}

	.col__inner--left {

	}

	.col__inner--right {
		*:first-child {
			margin-top: 0;
		}
	}

	.contest__submission--author {
		font-size: ms(-1);
		font-style: italic;
		color: $gray;
	}

	.contest__submission--vote,
	.contest__submission--unvote {
		@include btn($btn-bg, $color-text-white, $btn-bg, 0.5em, 1em, ms(-1));
		@include border-radius(1em);
	}

	.contest__submission--unvote {
		display: none;
	}

	&.voted {
		.contest__submission--vote {
			display: none;
		}

		.contest__submission--unvote {
			display: inline-block;
		}

		.contest__submission--rating {
			background-color: $cardinal;
		}
	}

	&.winner {
		.contest__submission--winner {
			display: block;
		}
	}

	.preview {
		position: absolute;
		background: #ddd;
		top: auto;
		height: auto;
		left: 0;
		width: 100%;
		margin-top: 1em;
		text-align: left;
		overflow: hidden;
		z-index: 10;

		.preview-inner {
			@extend .cf;
			padding: 30px;
			height: 100%;
		}

		.preview-close {
			position: absolute;
			width: 30px;
			height: 30px;
			top: 10px;
			right: 10px;
			cursor: pointer;

			&:before,
			&:after {
				content: '';
				position: absolute;
				width: 100%;
				top: 50%;
				height: 1px;
				background: #888;
				@include transform(rotate(45deg));
			}

			&::after {
				@include transform(rotate(-45deg));
			}

			&:hover::before,
			&:hover::after {
				background: #333;
			}
		}

		.gallery {
			.container {
				padding: 0;
				margin: 0;

				.gallery__meta {
					margin-top: 20px;
				}

				.gallery__thumbnails {
					.gallery__paging--left,
					.gallery__paging--right {
						top: 12px;
					}
				}

				.gallery__slide--title {
					display: none;
				}

				.gallery__slide--images {
					margin-top: 0;
					margin-bottom: 0;
				}
			}
		}
	}
}

.contest__submission--entries-title {
	margin-bottom: 0;
}

.contest__submission--entries {
	@include clearfix;

	dl {
		margin-top: 0;
	}

	dt,
	dd {
		float: left;
	}

	dt {
		clear: both;
		display: inline-block;
		margin-right: 0.5em;
		font-weight: bold;

		&::after {
			content: ': ';
		}
	}

	dd {
		margin: 0;
	}
}

@include bp(small) {
	.contest__submission {
		width: 50%;
		float: left;
		
		&:nth-child(2n+1) {
			clear: both;
		}

		.contest__submission--thumbnail {
			height: 118px;
		}
	}
}

@include bp(medium) {
	.contest__submission {
		width: 33.333333333333336%;
		float: left;

		&:nth-child(2n+1) {
			clear: none;
		}

		&:nth-child(3n+1) {
			clear: both;
		}

		.contest__submission--thumbnail {
			height: 129px;
		}

		&.expanded {
			.contest__submission--link:after {
				margin-top: -1em;
			}
		}

		.preview {
			margin-top: 0.75em;
		}
	}
}

@include bp(large) {
	.contest__submission {
		width: 25%;
		float: left;

		&:nth-child(2n+1),
		&:nth-child(3n+1) {
			clear: none;
		}

		&:nth-child(4n+1) {
			clear: both;
		}

		.contest__submission--thumbnail {
			height: 145px;
		}

		.preview {
			margin-top: 1em;
		}
	}
}

@include bp(x-large) {
	.contest__submission {
		width: 20%;
		float: left;

		&:nth-child(2n+1),
		&:nth-child(3n+1),
		&:nth-child(4n+1) {
			clear: none;
		}

		&:nth-child(5n+1) {
			clear: both;
		}

		.contest__submission--thumbnail {
			height: 117px;
		}
	}
}
