.contest__thumbnail {
	position: relative;
	margin-bottom: 2em;
}

.single__featured-img--contest {
	margin: 0 auto;
}

.type-contest,
.type-survey {
	.entry__title--tag {
		@include btn($color-gray-light, $color-text-white, $color-gray-light, .25em, .45em, ms(-4));
		font-size: 50%;
		font-weight: normal;
		padding-bottom: 0.15em;
	}

	.col__inner--left {
		border-right-width: 0;

		@include bp(large) {
			width: calc(100% - 300px - 2.35765%);
		}

		@include bp(x-large) {
			@include span-columns(8 of 12);
		}
	}

	.col__inner--right {
		padding-bottom: 30px;

		@include bp(large) {
			width: 300px;
		}

		@include bp(x-large) {
			@include span-columns(4 of 12);
			@include omega;
		}

		.desktop {
			text-align: center;

			@include bp(large) {
				text-align: left;
			}
		}
	}

	&.collapsed {
		.col__inner--left {
			width: 100%;
			margin-right: 0;
			padding-right: 0;
			float: none;
		}

		.col__inner--right {
			display: none;
		}

		.contest__entry--link {
			display: none;
		}
	}
}

.contest__entry--link {
	@include bp(large) {
		display: none;
	}
}

.contest__description:last-of-type {
	margin-bottom: 0;
}

.contest__prize--title {
	margin: 0 0 .25em;
	font-size: ms(4);
	color: $color-text-red;
}

.contest__form--heading {
	margin: 0 0 30px;
	font-size: ms(4);
}

.contest__form--row {
	margin-bottom: 30px;
}

.contest__restrictions {
	.contest__restriction--age,
	.contest__restriction--age-fails,
	.contest__restriction--finished,
	.contest__restriction--max-entries,
	.contest__restriction--not-started,
	.contest__restriction--one-entry,
	.contest__restriction--signin {
		display: none;
	}

	.contest__restriction--finished p,
	.contest__restriction--max-entries p,
	.contest__restriction--not-started p,
	.contest__restriction--age-fails p,
	.contest__restriction--one-entry p {
		font-weight: bold;
	}

	.contest__restriction--age p:first-child {
		font-weight: bold;
	}

	.contest__restriction--signin {
		p:first-child {
			font-weight: bold;
		}

		a {
			@include btn($btn-bg, $color-text-white, $btn-bg, 0.5em, 1em, ms(-1));
		}
	}

	&.age .contest__restriction--age {
		display: block;
	}

	&.age-fails .contest__restriction--age-fails {
		display: block;
	}

	&.finished .contest__restriction--finished {
		display: block;
	}

	&.max-entries .contest__restriction--max-entries {
		display: block;
	}

	&.not-started .contest__restriction--not-started {
		display: block;
	}

	&.one-entry .contest__restriction--one-entry {
		display: block;
	}

	&.signin .contest__restriction--signin {
		display: block;
	}
}

.contest__restriction--min-age-yes,
.contest__restriction--min-age-no {
	@include btn($btn-bg, $color-text-white, $btn-bg, .625em, 1em, ms(-1));

	&:hover {
		@include btn($btn-hover, $color-text-black, $btn-hover, .625em, 1em, ms(-1));
	}

	&:active {
		@include btn($btn-active, $color-text-white, $btn-active, .625em, 1em, ms(-1));
	}

	&:last-of-type {
		margin-right: 0;
	}
}

.contest-attr--rules {
	padding: 2em;
	margin: 0 0 1.5em;
	border: 1px solid $primary-border;
	border-right: none;
	border-left: none;
	font-size: ms(-1);

	p {
		margin-bottom: 0.75em;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.contest-attr--rules-toggler {
	@include btn($btn-muted, $color-text-white, $btn-muted, 0.5em, 1em, ms(-2));
}

.contest-attr--rules-toggler:hover {
	@include btn($btn-muted-hover, $color-text-white, $btn-muted-hover, 0.5em, 1em, ms(-2));
}

.contest-attr--rules-toggler:active {
	@include btn($btn-muted-active, $color-text-white, $btn-muted-active, 0.5em, 1em, ms(-2));
}

.contest-attr--excerpt {

}

.contest__sponsors {
	display: block;
	width: 100%;
	margin-bottom: 3.75em;
	overflow: auto;
}

.contest__sponsors--heading {
	margin: 0 0 1.4em;
	font-size: ms(-1);
	font-weight: normal;
	text-transform: uppercase;
	color: $secondary-heading;
}

.contest__sponsors--list {
	@extend %unordered-list;
}

.contest__sponsor {
	@extend %list-item;
	display: inline-block;
	margin-right: 50px;
}

.contest__form--label {
	display: block;
	width: 100%;
	margin-bottom: 10px;

	abbr {
		text-decoration: none;
		border-bottom: 0;
		color: $color-text-red;
	}
}

.contest__form--description {
	display: block;
	width: 100%;
	margin: 5px 0 0;
	line-height: 1em;
	font-size: ms(-2);
	font-style: italic;
	color: $color-text-gray;
}

.contest__form {

	// These two declarations work together for consistent bottom margins
	margin-bottom: 60px;
	p.submit {
		margin-bottom: 0;
	}

	fieldset {
		legend,
		label {
			display: block;
			width: 100%;
			margin-left: 0;
			margin-bottom: 10px;
		}
	}

	input[type="text"],
	input[type="url"],
	input[type="email"],
	input[type="number"],
	input[type="date"],
	textarea {
		width: 100%;
		padding: 18px 20px;
		box-sizing: border-box;
		border: 1px solid transparent;
		outline: none;
		background-color: $form-bg;
		color: $dark-gray;
	}

	button[type="button"],
	button[type="submit"],
	input[type="submit"] {
		@include btn($btn-bg, $color-text-white, $btn-bg, .625em, 1em, ms(3));
		text-transform: uppercase;

		&:hover {
			@include btn($btn-hover, $color-text-black, $btn-hover, .625em, 1em, ms(3));
		}

		&:active {
			@include btn($btn-active, $color-text-white, $btn-active, .625em, 1em, ms(3));
		}

		i.gmr-icon {
			display: none;
		}

		&.disabled {
			i.gmr-icon {
				display: inline-block;
			}

			@include btn($btn-inactive, $color-text-black, $btn-active, .625em, 1em, ms(3));

			&:hover {
				@include btn($btn-inactive, $color-text-black, $btn-active, .625em, 1em, ms(3));
			}

			&:active {
				@include btn($btn-inactive, $color-text-black, $btn-active, .625em, 1em, ms(3));
			}
		}
	}

	select {
		width: 174px;
		padding: 18px 20px;
		@include border-radius(0);
		border: none;
		outline: none;
		background-color: $form-bg;
		background-image: url($asset-root + '../images/select-arrow.png');
		background-repeat: no-repeat;
		background-position: 90% center;
		background-size: auto 10px;
		color: $dark-gray;
		display: inline-block;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		cursor: pointer;
	}

	input,
	select,
	textarea {
		&.parsley-error {
			border-color: rgba(255, 0, 0, 0.5);
			background-color: rgba(255, 0, 0, 0.15);
			color: $cardinal;
		}
	}

	.parsley-errors-list {
		margin: 0.5em 0;
		padding: 0;
		list-style-type: none;
		font-size: ms(-1);
		line-height: 1em;
		@include opacity(0);
		@include transition(all .3s ease-in);

		&.filled {
			@include opacity(1);
		}

		li {
			color: $cardinal;
		}
	}

	.contest__submission--entries,
	.contest__form--user-info {
		background-color: $extra-light-gray;
		border: 1px solid $light-gray;
		padding: 15px;
		margin: 0 0 30px;
		position: relative;

		a {
			max-width: 49%;
			position: absolute;
			top: 1.4em;
			right: 15px;
			font-size: ms(-2);
			line-height: 1em;
		}

		i {
			max-width: 50%;
			font-size: ms(-2);
			line-height: 1em;
			margin-bottom: 15px;
			display: block;
		}

		.contest__form--row {
			margin-bottom: 15px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		dl, dt, dd {
			margin: 0;
			padding: 0;
		}

		dt {
			margin-top: 1em;
			line-height: 1.25em;
			font-size: ms(-2);
			color: $color-text-gray;

			&:first-child {
				margin-top: 0;
			}
		}

		dd {
			color: $color-text-black;
			font-weight: bold;
			font-size: ms(-1);
		}

		.meta-title {
			font-size: 1.2em;
			font-weight: bold;
		}

		.meta-subtitle {
			font-style: italic;
			font-size: 0.8em;
		}
	}

}

.gmr-user .contest__form--user-info a {
	top: 2em;
}

.contest__submissions {
	clear: both;
	position: relative;
}

.contest__submissions--title {

}

.contest__submissions--list {
	margin: 0;
	padding: 0;
	@include clearfix;
}

.contest__submissions--load-more {
	@include btn($btn-bg, $color-text-white, $btn-bg, 0.5em, 1em, ms(-1));
	clear: both;
	margin: 1em auto 0;
	display: block;

	&:last-of-type {
		margin-right: auto;
	}

	.gmr-icon {
		display: none;
		margin-right: 0.5em;
	}

	&.loading {
		.gmr-icon {
			display: inline-block;
		}
	}
}

.contest__submission {
	width: 100%;
	margin: 0;
	padding: 0 0.25em 1em 0;
	box-sizing: border-box;
	list-style: none;
	vertical-align: top;

	.contest__submission--link {
		border: none;
		outline: none;
		display: block;
		position: relative;

		.contest__submission--thumbnail {
			height: 156px;
			background-position: center center;
			background-repeat: no-repeat;
			-webkit-background-size: cover;
			background-size: cover;
		}

		.contest__submission--date,
		.contest__submission--author {
			text-align: center;
			line-height: 1.5em;
			display: block;
		}

		.contest__submission--author {
			color: $dark-gray;
			font-size: ms(-1);
		}

		.contest__submission--date {
			color: $gray;
			font-size: ms(-2);
		}

		.contest__submission--rating {
			position: absolute;
			top: 0;
			right: 0;
			color: $white;
			background-color: $dark-gray;
			padding: 5px 10px;
			line-height: 1em;
			border-bottom-left-radius: 0.5em;
			font-size: ms(-2);

			b {
				font-weight: normal;
			}
		}

		.contest__submission--winner {
			position: absolute;
			top: 0;
			left: 0;
			color: gold;
			background-color: crimson;
			padding: 5px 10px;
			line-height: 1em;
			border-bottom-right-radius: 0.5em;
			font-size: ms(-2);
			display: none;
		}
	}

	&.expanded {
		.contest__submission--link:after {
			top: auto;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-bottom-color: #ddd;
			border-width: 1em;
			left: 50%;
			margin: -0.75em 0 0 -15px;
		}
	}

	.col__inner--left {

	}

	.col__inner--right {
		*:first-child {
			margin-top: 0;
		}
	}

	.contest__submission--author {
		font-size: ms(-1);
		font-style: italic;
		color: $gray;
	}

	.contest__submission--vote,
	.contest__submission--unvote {
		@include btn($btn-bg, $color-text-white, $btn-bg, 0.5em, 1em, ms(-1));
	}

	.contest__submission--unvote {
		display: none;
	}

	&.voted {
		.contest__submission--vote {
			display: none;
		}

		.contest__submission--unvote {
			display: inline-block;
		}

		.contest__submission--rating {
			background-color: $cardinal;
		}
	}

	&.winner {
		.contest__submission--winner {
			display: block;
		}
	}

	.preview {
		position: absolute;
		background: $extra-light-gray;
		top: auto;
		height: auto;
		left: 0;
		width: 100%;
		margin-top: 1em;
		text-align: left;
		overflow: hidden;
		z-index: 10;

		.preview-inner {
			@extend .cf;
			padding: 30px;
			height: 100%;
		}

		.preview-close {
			@extend .gmr-icon;
			@extend .icon-close;

			position: absolute;
			top: 10px;
			right: 10px;
			cursor: pointer;
			color: #aaa;
			font-size: 25px;

			&:hover {
				color: #555;
			}
		}

		.gallery {
			.container {
				padding: 0;
				margin: 0;

				.gallery__meta {
					margin-top: 20px;
				}

				.gallery__thumbnails {
					.gallery__paging--left,
					.gallery__paging--right {
						top: 12px;
					}
				}

				.gallery__slide--title {
					display: none;
				}

				.gallery__slide--images {
					margin-top: 0;
					margin-bottom: 0;
				}
			}
		}
	}
}

.contest__submission--entries-title {
	margin-bottom: 15px;
}

.contest__submission--entries {
	margin: 0 0 30px;
	padding: 0;

	dt, dd {
		margin: 0;
		padding: 0;
	}

	dt {
		margin-top: 1em;
		line-height: 1.25em;
		font-size: ms(-2);
		color: $color-text-gray;

		&::after {
			content: ': ';
		}

		&:first-child {
			margin-top: 0;
		}
	}

	dd {
		color: $color-text-black;
		font-weight: bold;
		font-size: ms(-1);
	}
}

@include bp(small) {
	.contest__submission {
		width: 50%;
		float: left;

		&:nth-child(2n+1) {
			clear: both;
		}

		.contest__submission--thumbnail {
			height: 118px;
		}
	}
}

@include bp(medium) {
	.contest__submission {
		width: 33.333333333333336%;
		float: left;

		&:nth-child(2n+1) {
			clear: none;
		}

		&:nth-child(3n+1) {
			clear: both;
		}

		.contest__submission--thumbnail {
			height: 129px;
		}

		&.expanded {
			.contest__submission--link:after {
				margin-top: -1em;
			}
		}

		.preview {
			margin-top: 0.75em;
		}
	}
}

@include bp(large) {
	.contest__submission {
		width: 25%;
		float: left;

		&:nth-child(2n+1),
		&:nth-child(3n+1) {
			clear: none;
		}

		&:nth-child(4n+1) {
			clear: both;
		}

		.contest__submission--thumbnail {
			height: 145px;
		}

		.preview {
			margin-top: 1em;
		}
	}
}

@include bp(x-large) {
	.contest__submission {
		width: 20%;
		float: left;

		&:nth-child(2n+1),
		&:nth-child(3n+1),
		&:nth-child(4n+1) {
			clear: none;
		}

		&:nth-child(5n+1) {
			clear: both;
		}

		.contest__submission--thumbnail {
			height: 117px;
		}
	}
}

/**
 * @file override some default styles in the jQuery UI datepicker so it looks less broken
 * taken from contests plugin to reduce load
 */
.ui-datepicker {
	background-color: $white;
}

.ui-datepicker .ui-datepicker-next {
	right: 1em;
}
