.entries {
	@include span-columns(4);
	@include omega;
	padding: $base-line-height $gutter / 2;
	
	@include bp(medium) {
		padding: $base-line-height $gutter * 2;
	}
}

.entry2 {
	@include span-columns(6 of 6);
	@include omega; 
	margin-bottom: $base-line-height * 1.5;
	border-bottom: 1px solid $primary-border;

	&:last-of-type {
		border-bottom: none;
	}
}
 
.entry2__thumbnail {	
	margin-bottom: $base-line-height * .75; 
	
 	@include bp(small) {
		@include span-columns(2 of 6);
		margin-bottom: 0; 
	}
	
	a {
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 20;
	}
	
	// Force aspect ratio 
	position: relative;
	
	&:after {
		content: '';
		display: block;
		padding-top: 66.666%;
	}
	
	.has-excerpt &:after {
		padding-top: 75%;
	}
	
	background-size: 100%;
	background-size: cover;
	background-position: center center;
}

	.entry2__thumbnail__overlay {
		background-color: $btn-bg;
		@include opacity(0.6); 
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;		
	}

.entry2__meta {
	@include bp(small) {
		@include span-columns(6 of 6);
		@include omega;
		 
		.has-post-thumbnail &,
		.type-contest &,
		.type-tribe_events & {
			@include span-columns(4 of 6);
			@include omega; 
		}
	}
}
	.entry2__date {
		font-size: ms(0);
		font-weight: lighter;
		color: $secondary-heading;
		text-transform: uppercase;
		display: block; 
		margin: -0.3em 0 0.5em;
		
		@include bp(small) {
			font-size: ms(-1);
		}
		
		@include bp(large) {
			font-size: ms(-2);
		}
	}
	
	.entry2__title {
		margin: 0;
		font-size: ms(6);
		line-height: 1.2;
	}
	
	.entry2__excerpt {
		margin: .75em 0 0;
		
		p {
			margin: 0;
		}
		
		@include bp(medium) {
			display: block;
		}
	}
	
.entry2__event--details {
	margin-top: $base-line-height / 2;
	padding: 0;
	font-weight: bold;
	list-style: none; 
}

.entry2__footer {
	margin-top: $base-line-height * 1.5;
	padding: 0 0 $base-line-height / 2;
	
	@include omega; 
	@include span-columns(4);
}
	.entry2__footer--category:link, .entry2__footer--category:visited {
		display: inline-block; 
		line-height: 1;
		font-weight: bold;
		font-size: ms(1);
		color: $secondary-heading;
		
		@include bp(medium) {
			font-size: ms(0);
		}
		
		@include bp(large) {
			font-size: ms(-1);
		}
	}
	
	.entry2__footer--category:hover, .entry2__footer--category:focus, .entry2__footer--category:active {
		color: $secondary-link-hover;
	}

// Special tweaks for the standard type
// Basically just puts the image on the right instead of the left. 
.entry2.format-standard {
	@include bp(small) {
		.entry2__thumbnail {
			float: right;
			margin-right: 0;
		}
	}	
}

// Layout tweaks for audio posts.
.entry2.format-audio.has-post-thumbnail {
	@include bp(small) {
		.entry2__thumbnail {
			@include span-columns(2 of 9);
			
			&:after {
				padding-top: 100%;
			}
		}
		.entry2__meta {
			@include span-columns(7 of 9);
			@include omega; 
		}
	}	
}


// Post type icons
.entry2__thumbnail a {
	.format-audio &,
	.format-gallery &,
	.format-video &,
	.type-contest &,
	.type-tribe_events & {
		@extend %gmr-icons;
		
		&:before {
			position: absolute; 
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			padding: 3%;
			text-align: right;	
			color: #fff;	
			z-index: 30;
			font-size: 4em;
			
			@include bp(small) {
				font-size: 2.5em;
			}
			@include bp(large) {
				font-size: 3em;
			}
		}
	}
	
	.format-audio & {
		@extend .icon-post-format-audio;
	}
	.format-gallery & {
		@extend .icon-post-format-gallery;
	}
	.format-video & {
		@extend .icon-post-format-video;
	}
	.type-contest & {
		@extend .icon-contest;
	}
	.type-tribe_events & {
		@extend .icon-post-format-events;
	}
}

// Special handling for date information in event thumbnail
.type-tribe_events {
	.entry2__thumbnail {
		background-color: $btn-bg;
	}
	
	.entry2__thumbnail--event-date {
		@extend .h1;
		font-size: ms(0); 
		line-height: 1;
		text-transform: uppercase; 
		color: #fff;
		position: absolute;
		left: 0;
		bottom: 0;
		padding: 4% 6%;
		z-index: 20;		
	}
	.entry2__thumbnail--day-of-week {
		font-weight: normal;	
	}
	.entry2__thumbnail--month-and-day {
		font-size: 2.5em;
		margin-top: .15em;
	}
}

// Special handling for date information in contest thumbnail
.type-contest {
	.entry2__thumbnail {
		background-color: $btn-bg;
	}

	.entry2__thumbnail--end-date,
	.entry2__thumbnail--contest-type {
		@extend .h1;
		font-size: ms(0);
		line-height: 1;
		text-transform: uppercase;
		color: #fff;
		position: absolute;
		padding: 4% 6%;
		z-index: 20;
	}

	.entry2__thumbnail--end-date {
		right: 0;
		bottom: 0;
		text-align: right;
	}
	
	.entry2__thumbnail--contest-type {
		font-weight: normal;
		left: 0;
		top: 0;
	}

	.entry2__thumbnail--day-of-week {
		font-weight: normal;
	}

	.entry2__thumbnail--month-and-day {
		font-size: 2em;
		margin-top: .15em;
	}
}

// Special handling for ad-wrapped items
.entry2-ad-wrap {
	clear: both; 
	position: relative;
	
	.entry2__thumbnail {
		@include bp(small) {
			@include span-columns(2 of 6)
		}
	}
	
	.entry2__meta {
		@include span-columns(4 of 6);
	}
		.entry2.has-post-thumbnail .entry2__meta, 
		.entry2.type-contest .entry2__meta,
		.entry2.type-tribe_events .entry2__meta {
			@include span-columns(2 of 6);
		}
	
	// Move the ad logic bits to _ads.scss
	.entry2-ad-wrap__ad {
		@include span-columns(2 of 6);
		@include omega; 
		position: absolute; 
		right: 0;
		top: 0;
		
		&.desktop {
			display: none; 
		}
		
		@include bp(large) {
			&.mobile {
				display: none; 
			}
			&.desktop {
				display: block;	
			}
		}
	}
}

// Special handling for ad-wrapped standard post
.entry2-ad-wrap .entry2.format-standard {
	@include bp(small) {
		.entry2__thumbnail {
			float: left;
			margin-right: $gutter * 2;
		}
	}	
}