.events-archive {
	#tribe-events-pg-template {
		max-width: 100%;
	}

	.tribe-events-day-time-slot {
		clear: both;
	}
}

#tribe-events-pg-template {
	max-width: 100% !important;
	padding: 0 !important;
}

.event__thumbnail {
	@include span-columns(4 of 4);
	background-color: lighten($primary-border, 9%);
	margin: 0 auto 2em;
	text-align: center;
	position: relative;

	@include bp(small) {
		@include span-columns(6 of 6);
	}
	@include bp(medium) {
		@include span-columns(8 of 8);
	}
	@include bp(large) {
		@include span-columns(8 of 8);
	}
	@include bp(x-large) {
		@include span-columns(8 of 8);
	}
}

.event__thumbnail-inline {
	.event__thumbnail {
		@include bp(large) {
			width: calc(100% - 355px);
		}
	}
}

.event__thumbnail img {
	margin: 0 auto;
}

.event__info {
	@include row();
	margin-bottom: 2em;

	@include bp(large) {
		padding-right: 320px;
	}
}

.tribe-events-single {
	.ad__inline--right.desktop {
		display: none;

		@include bp(large) {
			display: block;
		}
	}
	.ad__inline--right.mobile {
		display: block;
		margin-top: 20px;

		@include bp(large) {
			display: none;
			margin-top: 0;
		}
	}
}

.tribe-events-button {
	display: block !important;
	line-height: 1;
	padding: .25em 1em;
	margin-top: 0 !important;
	margin-bottom: 1em !important;
	margin-right: 0 !important;
	outline: none;
	background-color: $btn-bg !important;
	border: 1px solid $btn-bg !important;
	font-family: $primary-font;
	font-size: ms(-1);
	color: $color-text-white !important;
	text-transform: uppercase;
	cursor: pointer;

	@include bp(medium) {
		display: inline-block !important;
		margin-bottom: 0 !important;
		margin-right: .5em !important;
	}
}

.tribe-events-button:last-of-type {
	margin-right: 0 !important;
}

.tribe-events-button:hover {
	background-color: $btn-hover !important;
	border: 1px solid $btn-hover !important;
	color: $color-text-black !important;
}

.tribe-events-button:active {
	background-color: $btn-active !important;
	border: 1px solid $btn-active !important;
	color: $color-text-white !important;
}

.single-tribe_events .tribe-events-event-meta {
	padding: 0 !important;
	margin: 0 !important;
	border: none;
	background-color: transparent;
}

#tribe-events-content {
	margin-bottom: 0 !important;
}

.tribe-events-event-meta .tribe-events-meta-group {
	padding: 0;
}

.tribe-events-event-meta .tribe-events-meta-group-details {
	@include span-columns(4 of 4);
	@include omega;
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 10px;
	margin-bottom: 10px;

	@include bp(small) {
		@include span-columns(6 of 6);
		@include omega;
	}
	@include bp(medium) {
		@include span-columns(4 of 8);
		padding-bottom: 0;
		margin-bottom: 0;
		border-bottom: none;
	}
	@include bp(large) {
		@include span-columns(4 of 8);
	}
	@include bp(x-large) {
		@include span-columns(4 of 8);
	}
}

.tribe-events-event-meta .tribe-events-meta-group-venue {
	@include span-columns(4 of 4);
	padding-bottom: 10px;
	margin-bottom: 10px;

	@include bp(small) {
		@include span-columns(6 of 6);
		@include omega;
	}
	@include bp(medium) {
		@include span-columns(4 of 8);
		padding-bottom: 0;
		margin-right: 0 !important;
		margin-bottom: 0;
	}
	@include bp(large) {
		@include span-columns(4 of 8);
		@include omega;
	}
	@include bp(x-large) {
		@include span-columns(4 of 8);
		@include omega;
	}
}

.single-tribe_events .tribe-events-venue-map {
	padding: 0;
	background: transparent;
	@include border-radius(0);
}

.tribe-events-event-meta .tribe-events-meta-group-gmap {
	@include span-columns(4 of 4);
	@include omega;
	margin-bottom: 20px;

	@include bp(small) {
		@include span-columns(6 of 6);
		@include omega;
	}
	@include bp(medium) {
		@include span-columns(8 of 8);
		@include omega;
		margin-bottom: 0;
	}
	@include bp(large) {
		@include span-columns(8 of 8);
		@include omega;
	}
	@include bp(x-large) {
		@include span-columns(8 of 8);
		@include omega;
	}

}

.tribe-events-event-meta .tribe-events-meta-group-gmap,
.tribe-events-event-meta .tribe-events-venue-map,
.tribe-events-event-meta div[id^="tribe-events-gmap"],
.tribe-events-event-meta div[id*="tribe-events-gmap"] {

	.site-wrap.pjax--active & {
		display: none;
	}
}

.tribe-events-single-section-title {
	font-family: $primary-font;
}

.tribe-events-single-section.tribe-events-event-meta.primary.tribe-clearfix {
	float: left !important;
	width: 100%;

	&:after {
		content: " ";
		display: none !important;
	}
}

.single-tribe_events #tribe-events-footer {
	border-top: none;
	padding-top: 0;
}

#tribe-events-bar {

	.site-wrap.pjax--active & {
		display: none;
	}
}

.tribe-events-list .type-tribe_events {
	padding: 0 0 2.25em;

	.entry2__meta p {
		margin: 0;
	}
}
