.footer {
	width: 100%;
	margin: 0 auto 58px;
	overflow: auto;
	background-color: $secondary-bg;
	@include bp(medium) {
		margin-bottom: 0;
	}
}

.footer a:link, .footer a:visited {
	color: $footer-text;
}

.footer a:hover, .footer a:focus, .footer a:active {
	color: $primary-link;
}

.footer .container {
	background-color: $primary-bg;
}

.footer__content {
	@include span-columns(4);
	padding: 40px 5.5%;
	background-color: $primary-bg;
	border-top: 1px solid $primary-border;
	color: $footer-text;
	text-align: center;
	@include bp(small) {
		@include span-columns(6);
	}
	@include bp(medium) {
		@include span-columns(8);
		text-align: initial;
	}
	@include bp(large) {
		@include span-columns(12);
	}
	@include bp(x-large) {
		@include span-columns(12);
	}
}

.footer__copyright {
	padding: 13px 0;
	font-size: ms(-3);
	@include bp(large) {
		@include span-columns(5 of 12);
	}
}

.footer__copyright--span:first-of-type {
	padding-right: 5px;
}
.footer__copyright--span:last-of-type {
	padding-left: 5px;
}

.footer__copyright--logo {
	// Sorry, I don't understand this function so I have to use an em for now.
	// font-size: ms(4);
	font-size: 2.3em;
	line-height: 1.2;
	margin-bottom: .25em; 
	font-weight: lighter;
	color: $footer-text;
	text-transform: uppercase;
	
	a:link, 
	a:visited {
		color: $footer-text;
	}
	
	a:hover, 
	a:focus, 
	a:active {
		color: $primary-link;
	}
}

.footer__menu {
	@include bp(medium) {
		padding: 26px 0 13px;
	}
	@include bp(large) {
		@include span-columns(7 of 12);
	}
}

.footer__nav {
	@include bp(medium){
		float: right;
		padding-top: 24px;
	}
}

.footer__nav--list {
	@extend %unordered-list;
	padding: 13px 0;
	font-size: ms(-3);
	@include bp(medium) {
		padding: 0;
	}
}

.footer__nav--list .menu-item {
	@extend %list-item;
	display: inline-block;
	margin-right: 2.5em;
}

.footer__nav--list .menu-item:last-of-type {
	margin-right: 0;
	@include bp(medium) {
		margin-right: 2.5em;
	}
}

.footer__menu .social__list {
	@include bp(medium) {
		float: right;
		padding: 0;
	}
}

.footer__menu a.social__link {
	border-color: $footer-text; 
	color: $footer-text; 
	margin-right: 0;
	margin-left: 6px;
	
	&:hover {
		border-color: $primary-link;
		color: $primary-link;
	}
}

.footer__menu li:first-of-type a.social__link {
	margin-left: 0;

	@include bp(medium) {
		margin-left: 6px;
	}
}