.footer {
	width: 100%;
	margin: 0 auto;
	overflow: auto;
	background-color: $secondary-bg;
}

.footer a:link, .footer a:visited {
	color: $footer-text;
}

.footer a:hover, .footer a:focus, .footer a:active {
	color: $primary-link;
}

.footer .container {
	background-color: $primary-bg;
}

.footer__content {
	@include span-columns(4);
	padding: 40px 5.5%;
	background-color: $primary-bg;
	border-top: 1px solid $primary-border;
	color: $footer-text;
	@include bp(small) {
		@include span-columns(6);
	}
	@include bp(medium) {
		@include span-columns(8);
	}
	@include bp(large) {
		@include span-columns(12);
	}
	@include bp(x-large) {
		@include span-columns(12);
	}
}



.footer__copyright {
	padding: 13px 0;
	font-size: ms(-3);
	@include bp(large) {
		@include span-columns(5 of 12);
	}
}

.footer__copyright--span:first-of-type {
	padding-right: 5px;
}
.footer__copyright--span:last-of-type {
	padding-left: 5px;
}

.footer__copyright--logo {
	// Sorry, I don't understand this function so I have to use an em for now.
	// font-size: ms(4);
	font-size: 2.3em;
	line-height: 1.2;
	margin-bottom: .25em; 
	font-weight: lighter;
	color: $footer-text;
	text-transform: uppercase;
	
	a:link, 
	a:visited {
		color: $footer-text;
	}
	
	a:hover, 
	a:focus, 
	a:active {
		color: $primary-link;
	}
}

.footer__menu {
	@include bp(large) {
		@include span-columns(7 of 12);
	}
}

.footer__nav {
	float: right;
}

.footer__nav--list {
	@extend %unordered-list;
	padding: 13px 0;
	font-size: ms(-3);
}

.footer__nav--list .menu-item {
	@extend %list-item;
	display: inline-block;
	margin-right: 2.5em;
}

.footer__menu .social__list {
	float: right;
	padding: 4px 0 7px;
}

.footer__menu .social__link {
	margin: 0 0 0 30px;
	
	a {
		box-sizing: content-box;
		display: inline-block; 
		padding: 5px 4px 3px;
		width: 22px; 
		height: 22px;
		line-height: 22px; 
		font-size: ms(2);
		border: 1px solid $footer-text; 
		border-radius: 100px;
		text-align: center; 
		
		&:hover {
			border-color: $primary-link;
			color: $primary-link;
		}
	}
	
	&:last-child {
		margin: 0 0 0 30px;
	}
}
