.header{
	position: relative;
	width: 100%;
	padding: 0;
	border-bottom: 3px solid $primary-border;
	background-color: $cod-gray;
	@include transition(all 200ms linear);
}

.header--pinned {
	@include transform(translateY(0%));
}

.header--unpinned {
	@include transform(translateY(-100%));
}

.header .container {
	padding: 0 .714285714286%;
}

.header__main {
	width: 100%;
	height: 82px;
	padding: 0;
	background-color: $secondary-bg;
	border-top: 1px solid $mine-shaft;
}

#breaking-news-banner {
	display: none;
	@include bp(medium) {
		display: block;
	}
}

.header__logo{
	@include span-columns(4);
	@include omega;
	height: 82px;
	padding: 12px 0 13px;
	line-height: 1;
	@include bp(medium) {
		@include span-columns(1);
		width: auto;
	}
}

.header__logo--img{
	margin: 0 auto;
	max-height: 57px;
	text-align: center;
	@include bp(large){
		text-align: left;
	}
}

// container for main header navigation
.header__nav {
	height: 82px;
	display: none;
	line-height: 1;
	@include bp(medium) {
		display: block;
		float: left;
		width: auto;
	}
}

// container for secondary navigation -- gigya registration, social links, search
.header__secondary {
	position: absolute;
	top: 50%;
	right: 1em;
	@include transform(translate(0, -50%));
	line-height: 1;
	text-align: right;
	@include bp(medium) {
		position: relative;
		display: block;
		float: right;
		top: auto;
		right: auto;
		width: auto;
		height: 82px;
		@include transform(none);
	}
}

// container for account links
.header__account {
	display: none;
	@include bp(medium) {
		display: block;
		float: left;
	}
}

// gigya dependencies
.register, .login {
	visibility: hidden;
}

// container for social links
.header__social {
	display: none;
	@include bp(medium) {
		display: block;
		float: left;
		height: 82px;
		margin-right: 2.125em;
		font-size: ms(0);
	}
}

// container for search button
.header__search {
	display: block;
	color: $color-text-white;
	cursor: pointer;
	@include bp(medium) {
		position: relative;
		display: block;
		float: left;
		height: 82px;
	}
}

.header__search--span {
	display: none;
	@include bp(medium) {
		display: block;
		float: left;
		height: 82px;
		padding: 36px 0;
		margin-right: .625em;
		font-size: ms(-1);
	}
}

.header__search--btn {
	display: block;
	float: left;
	height: 82px;
	padding: 34px 0 30px;
}
.header__search--btn:before {
	@extend %gmr-icons;
	font-size: ms(1);
	content: "\e612";
}

.header__search--form {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 132px;
	padding: 16px 0;
	background-color: $secondary-bg;
}

.header__search--form.open {
	display: block;
}

.header__search--input {
	width: 90%;
	height: 100px;
	background-color: $secondary-bg;
	border: none;
	outline: none;
	font-size: ms(7);
	color: $color-text-white;
	text-align: center;
	@include placeholder {
		color: $secondary-link;
	}
}

.header__search--submit {
	position: relative;
	width: 5%;
	height: 100px;
	border: none;
	background-color: transparent;
	color: $color-text-white;
}

.header__search--submit:before {
	@extend %gmr-icons;
	font-size: ms(5);
	content: "\e612";
}