.header{
	position: relative;
	width: 100%;
	padding: 0;
	background-color: $header-bg;
	@include transition(all 200ms linear);
	@include bp(medium) {
		border-bottom: 1px solid $primary-border;
	}

	.news-site & {
		border-bottom: none;
	}
}

.header--pinned {
	@include transform(translateY(0%));
}

.header--unpinned {
	@include transform(translateY(-100%));
}

.header .container {
	padding: 0 .714285714286%;
	position: relative;
	min-height: 0;

	&.container__leaderboard {
		padding: 0;

		@include bp(medium) {
			padding: 0 .714285714286%;
		}
	}

	.news-site & {
		padding: 0;
	}
}

.header__leaderboard {
	width: auto;
}

.header__sub {
	display: none;
	width: auto;
	height: 40px;

	@include bp(medium) {
		height: 48px;
	}

	.news-site & {
		display: block;

		&.is-visible {
			z-index: 5000101;
		}
	}
}

.header__subnav {
	position: absolute;
	display: block;
	width: auto;
	padding: 4px 1em;
	margin: 0;
	line-height: 1;
	font-size: ms(0);
	text-transform: uppercase;

	@include bp(medium) {
		padding: 0 1em;
		font-size: ms(-2);
	}

	@include bp(large) {
		position: relative;
		left: auto;
		float: left;
		height: 48px;
		margin-right: 1.25em;
	}

	@include bp(larger) {
		font-size: ms(0);
	}

}

.secondary-nav {
	display: inline-block;
	width: auto;
	padding: 0;
	margin: 0;
}


.secondary-nav-list {
	width: 100%;
	padding: 0;
	margin: 0;
}

.secondary-nav .menu-item {
	display: inline-block;
	width: auto;
	height: 32px;
	vertical-align: middle;
	padding: 0;
	margin: 0;
	color: $color-text-white;

	a, a:visited {
		display: block;
		height: 32px;
		padding: 4px .5em 4px 0;
		margin: 0;
		color: $color-text-white;

		@include bp(medium) {
			padding-top: 8px;
			padding-bottom: 8px;
		}
	}

	&:last-of-type {

		a {
			padding-right: 0;
		}
	}

	a:hover, a:focus, a:active {
		color: $primary-link;
	}

	@include bp(medium) {
		display: table-cell;
		width: auto;
		height: 48px;
		padding-right: 0;
		padding-left: 1.25em;

		a, a:visited {
			height: 48px;
			padding: 14px 0 16px 0;
		}
	}
}

%header__subnav--icon {
	@extend %gmr-icons;
	display: block;
	width: 24px;
	height: 24px;
	padding-right: .25em;
	vertical-align: middle;
	font-size: ms(6);

	@include bp(medium) {
		display: table-cell;
		width: 0;
		height: 18px;
		padding-right: .75em;
		font-size: ms(2);
	}
}

// These are related to the secondary navigation of the News/Sports theme. We are targeting either the class option or
// the title option that is available for the WordPress wp_nav_menu items.
.secondary-nav .menu-item.schedule a:before,
.secondary-nav .menu-item a[title*="schedule"]:before,
.secondary-nav .menu-item a[title*="Schedule"]:before,
.secondary-nav .menu-item a[title*="SCHEDULE"]:before {
	@extend %header__subnav--icon;
	@extend .icon-schedule;
}

.secondary-nav .menu-item.stocks a:before,
.secondary-nav .menu-item a[title*="Stocks"]:before,
.secondary-nav .menu-item a[title*="stocks"]:before,
.secondary-nav .menu-item a[title*="STOCKS"]:before {
	@extend %header__subnav--icon;
	@extend .icon-stocks;
}

.secondary-nav .menu-item.traffic a:before,
.secondary-nav .menu-item a[title*="Traffic"]:before,
.secondary-nav .menu-item a[title*="TRAFFIC"]:before,
.secondary-nav .menu-item a[title*="traffic"]:before {
	@extend %header__subnav--icon;
	@extend .icon-traffic;
}

.secondary-nav .menu-item.weather a:before,
.secondary-nav .menu-item a[title*="Weather"]:before,
.secondary-nav .menu-item a[title*="Weather"]:before,
.secondary-nav .menu-item a[title*="Weather"]:before {
	@extend %header__subnav--icon;
	@extend .icon-weather;
}

.secondary-link {
	display: table-cell;
	padding-top: 3px;
}

.header__link--search:before {
	@extend %header__subnav--icon;
	@extend .icon-search;
}

.header__link--text {
	display: none;

	@include bp(medium) {
		display: table-cell;
		width: auto;
		height: 18px;
		vertical-align: middle;
	}
}

.header__main {
	width: 100%;
	height: 70px;
	padding: 0;
	border-bottom: 1px solid $header-border;
	@include bp(medium) {
		height: 82px;
		border-top: 1px solid $header-border;
	}

	.news-site & {
		border-top: none;
		border-bottom: none;

		@include bp(medium) {
			height: 78px;
		}
	}
}

.header__logo{
	@include span-columns(2);
	@include shift(1);
	@include omega;
	height: 70px;
	padding: $header-logo-padding 0;
	line-height: 1;
	position: relative;

	@include bp(medium) {
		@include shift(0);
		max-width: 200px;
		height: 82px;
	}

	@include bp(large) {
		@include span-columns(2);
		padding-left: $header-logo-padding;
	}

	.news-site & {
		top: 40px;
		width: 20%;
		margin-left: 40%;
		z-index: 1;

		@include bp(medium) {
			top: 48px;
			height: 78px;
		}

		@include bp(large) {
			top: auto;
			height: 126px;
			padding-right: 1.5em;
			padding-left: 1.5em;
			margin-right: 0;
			margin-left: 0;
		}

		&.is-visible {
			z-index: 5000101;
		}
	}
}

.header__logo--img{
	margin: 0 auto;
	max-height: 100%;
	max-width: 100%;
	height: auto;
	width: auto;
	position: relative;
	top: 50%;
	@include transform(translateY(-50%));

	@include bp(medium){
		margin-left: 70px; /* space enough for the mobile menu */
		text-align: left;
	}

	@include bp(large) {
		margin-left: auto;
	}

	.news-site & {
		margin-left: auto;
	}
}

// container for main header navigation
.header__nav {
	height: 82px;
	display: none;
	line-height: 1;

	@include bp(large) {
		display: block;
		float: left;
		width: auto;
	}

	.news-site & {
		height: 78px;
	}
}

// container for secondary navigation -- gigya registration, social links, search
.header__secondary {
	position: absolute;
	top: 22px;
	right: 20px;
	line-height: 1;
	text-align: right;
	@include bp(medium) {
		right: 0;
		top: auto;
		height: 82px;
		float: right;
		width: auto;
		position: relative;
		@include transform(none);
	}
	// @include bp(large) {
	// 	@include span-columns(3);
	// 	@include omega;
	// }
	// @include bp(larger) {
	// 	@include span-columns(4);
	// 	@include omega;
	// }

	.news-site & {

		@include bp(medium) {
			position: absolute;
			right: 0;
			top: auto;
			float: none;
			height: 78px;
		}

		@include bp(large) {
			position: relative;
			right: auto;
			float: left;
		}
	}
}

// container for account links
.header__account {
	display: block;
	float: right;
	margin: 0 auto;
	color: $color-text-white;
	cursor: pointer;
	@include bp(medium) {
		width: 64px;
		height: 82px;
		color: $secondary-heading;
	}

	@include bp(larger) {
		width: auto;
	}

	.news-site & {

		@include bp(medium) {
			width: auto;
			height: 78px;
		}
	}

}

.header__account--mobile {
	display: block;

	@include bp(medium) {
		display: none;
	}
}

.header__account--small {
	display: none;

	@include bp(medium) {
		display: block;
	}

	@include bp(larger) { // Bourbon Neat mixin for media queries
		display: none;
	}

	&:hover {

		.header__account--container {
			display: block;
		}

	}
}

.header__account--large {
	display: none;

	@include bp(larger) {
		display: block;

		.header__account--container {
			display: none;
		}

		&.logged-in {
			.header__account--container {
				display: block;
			}
		}

		.gmr-user & {
			.header__account--container {
				display: block;
			}
		}
	}
}

.header__account:hover {
	@include bp(medium) {
		background-color: $color-text-red;
		color: $color-text-white;
	}
}

.header__account--btn {
	display: block;
	margin: 0 auto;
	text-align: center;
	font-size: 30px;

	@include bp(medium) {
		height: 82px;
		width: 64px;
		padding: 32px 0;
		font-size: ms(3);
	}

	@include bp(large) {
		font-size: ms(1);
	}

	@include bp(larger) {
		width: auto;
		padding: 32px 16px;

		> span {
			display: table-cell;
			vertical-align: middle;
		}
	}

	&.avatar {

		@include bp(medium) {
			padding-top: 25px;
			padding-bottom: 25px;
		}
	}

	.news-site & {

		@include bp(medium) {
			width: auto;
			height: 78px;
			padding: 26px 1.5em;
		}

		@include bp(large) {
			font-size: ms(4);
		}

		@include bp(larger) {
			padding: 28px .25em;
		}

		@media screen and (min-width: 1260px) {
			padding-right: 1.5em;
			padding-left: 1.5em;
		}

		@include bp(x-large) {
			padding-top: 26px;
			padding-bottom: 26px;
		}
	}
}

.header__account--span,
.header__account--logged-in,
.header__account--logged-out {
	color: $light-gray;

	@include bp(larger) {
		font-size: 12.65px;
		padding-left: 12px;
	}

	.news-site & {
		font-weight: 900;
		font-size: ms(-2);
		text-transform: uppercase;
		color: white;

		@include bp(larger) {
			font-size: ms(-3);
		}

		@include bp(x-large) {
			font-size: ms(-2);
		}
	}
}

.header__account--logged-in {
	display: none !important;

	.gmr-user & {
		display: table-cell !important;
	}
}

.header__account--logged-out {
	display: table-cell !important;

	.gmr-user & {
		display: none !important;
	}
}

/** An image is shown if the current user is logged in and Gigya gives us a thumbnail URL **/
.header__account--btn img {
	display: inline-block;
	max-height: 28px;
	width: auto;
	border: 1px solid white;

	@include bp(medium) {
		max-height: 32px;
	}
}

.header__account--links {
	display: none;
}

.header__account:hover .header__account--links {
	display: none;
	@include bp(medium) {
		position: absolute;
		display: block;
		top: 80px;
		right: 0;
		min-width: 300px;
	}

	.news-site & {
		top: 78px;
	}
}

.header__account--open {
	display: block;
}

// gigya dependencies
.register, .login {
	visibility: hidden;
}

// container for social links
.header__social {
	display: none;
	@include bp(x-large) {
		display: block;
		float: right;
		height: 82px;
		margin-right: 2em;
		font-size: ms(0);
	}

	.news-site & {

		@include bp(medium) {
			height: 48px;
		}
	}
}

.header__social > .social__list {
	padding: 0;
}

.header__social > .social__list > li {
	margin-right: 1em;

	&:last-of-type {
		margin-right: 0;
	}
}

.header__social a.social__link {

	@include bp(large) {
		width: auto;
		height: auto;
		padding: 2.1875em 0;
		border: none;
		font-size: 1em;
		color: white;
	}

	.news-site & {

		@include bp(large) {
			padding: 15px 0 14px;
			font-size: 1.25em;
		}
	}
}

// container for search button
.header__search {
	display: none;
	color: $primary-border;
	cursor: pointer;
	@include bp(medium) {
		position: relative;
		display: block;
		float: right;
		height: 82px;
		margin-right: 1em;
	}

	.news-site & {
		display: inline-block;
		padding-left: 1.25em;
		margin-right: 0;
		color: white;

		@include bp(medium) {
			height: 48px;
		}
	}
}

.header__search--span {
	display: none;
	@include bp(x-large) {
		display: block;
		float: left;
		height: 82px;
		padding: 36px 0;
		margin-left: .625em;
		font-size: ms(0);
	}

	@include bp(large) {
		font-size: ms(-2);
	}

	.news-site & {
		text-transform: uppercase;

		@include bp(medium) {
			height: 48px;
			padding: 16px 0;
			margin: 0;
		}

		@include bp(large) {
			font-size: ms(0);
		}
	}

	.news-site .header__search:hover & {

		color: $primary-link;
	}
}

.header__search--btn {
	display: block;
	float: left;
	height: 82px;
	padding: 34px 0 30px;

	.news-site & {
		height: 48px;
		padding: 16px 1.25em 14px 0;
	}

	.news-site .header__search:hover & {

		color: $primary-link;
	}
}

.header__search--btn:before {
	@extend %gmr-icons;
	font-size: ms(3);
	content: "\e612";

	@include bp(large) {
		font-size: ms(1);
	}

	.news-site & {
		font-size: ms(0);
	}
}
