// Headroom.js Specific Settings
.header__main.headroom {
	background-color: $header-bg;
	z-index: 5000001;

	&.headroom--unpinned {
		display: none;
	}
	&.headroom--pinned {
		position: fixed;
	}

	@include bp(medium) {

		&.headroom--pinned,
		&.headroom--unpinned,
		&.headroom--not-top {
			display: block;
			position: fixed;
			transition: transform 200ms linear;
		}
		&.headroom--pinned {
			transform: translateY(0);
		}

		&:not(.headroom--pinned):not(.headroom--unpinned) {
			transition: none;
		}

		// Reset
		&.headroom--top {
			position: relative;
			transform: translateY(0);
		}

		// Make the header smaller
		&.headroom--not-top {

			.header__logo {
				padding: 10px 0;
			}

			.header__logo--img {
				max-height: 32px;
			}

			.header__search {
				display: none;
			}
			
			.header__nav {
				padding-top: 0;
			}
		}
		&.headroom--top .header__logo--img {
			//transition: all 200ms linear;
		}
	}
}