.header {
	@include transition(all 200ms linear);
	background-color: $header-bg;
	border-bottom: 2px solid $primary-border;
	padding: 0;
	position: relative;
	width: 100%;

	@include bp(medium) {
		border-bottom: 3px solid $primary-border;
	}
}

.header .container {
	align-items: center;
	display: flex;
	min-height: 0;
	justify-content: space-between;
	padding: 0 10px;
	position: relative;
	width: 100%;

	@include bp(medium) {
		align-items: flex-end;
		padding-left: 20px;
	}
}

.container__leaderboard {
	@include clearfix;

	@include bp(large){
		margin: 5px 0;
	}
}

.header__link--text {
	display: none;

	@include bp(medium) {
		display: table-cell;
		width: auto;
		vertical-align: middle;
	}
}

.header__main {
	display: flex;
	height: 50px;
	padding: 0;
	width: 100%;

	@include bp(medium) {
		display: block;
		height: auto;
	}
}

.header__logo {
	display: block;
	float: left;
	line-height: 1;
	padding: 5px 0;
	position: relative;

	@include bp(medium) {
		padding: $header-logo-padding 0;
	}
	@include bp(large) {
		padding-top: 30px 0 $header-logo-padding 0;
	}
}

.header__logo--img {
	height: auto;
	margin: 0 auto;
	max-height: 40px;
	max-width: 70px;
	position: relative;
	width: auto;

	@include bp(medium) {
		max-height: 120px;
		max-width: 200px;
	}
}

// container for main header navigation
.header__main--navwrap {
	flex: 1 1 auto;
	padding-bottom: 5px;
}

.header__nav {
	clear: right;
	display: none;
	line-height: 1;
	padding-top: 15px;

	@include bp(large) {
		display: block;
		float: right;
		width: auto;
	}
}

// container for search button
.header__search {
	cursor: pointer;
	display: none;
	float: right;
	padding-right: 10px;
	position: relative;

	@include bp(large) {
		display: block;
	}

	&:hover,
	&:hover .header__search--btn:before {
		color: $primary-link;
	}
}

.header__search--span {
	display: inline-block;
	font-size: ms(-2);
	margin-right: 2px;
}

.header__search--btn {
	display: inline-block;
	vertical-align: middle;
}

.header__search--btn:before {
	@extend %gmr-icons;
	color: $secondary-link;
	font-size: ms(3);
	content: "\e612";

	@include bp(large) {
		font-size: ms(1);
	}
}
