.header{
	@include position(relative, null null null null);
	@include size(100% 80px);
	@include padding(em(10px) 0);
	margin: 0 auto;
	@include border-color(null null color(primary-border) null);
	@include border-style(null null solid null);
	@include border-width(null null 1px null);
	background-color: color(secondary-bg);
}

.header .container {
	max-width: $max-site-width;
}

.header-logo{
	@include span-columns(4);
	@include omega;
	@include size(null 60px);
	line-height: 1;
	@include bp(large) {
		@include span-columns(1);
	}
}

.header-logo--img{
	@include margin(0 auto);
	max-height: 60px;
	text-align: center;
	@include bp(large){
		text-align: left;
	}
}

.register, .login {
	visibility: hidden;
}