.header{
	position: relative;
	width: 100%;
	padding: 0;
	background-color: $header-bg;
	@include transition(all 200ms linear);
	@include bp(medium) {
		border-bottom: 1px solid $primary-border;
	}

	.news-site & {
		border-bottom: none;
	}
}

.header--pinned {
	@include transform(translateY(0%));
}

.header--unpinned {
	@include transform(translateY(-100%));
}

.header .container {
	padding: 0 .714285714286%;
	position: relative;
	min-height: 0;

	&.container__leaderboard {
		padding: 0;

		@include bp(medium) {
			padding: 0 .714285714286%;
		}
	}

	.news-site & {
		padding: 0;
	}
}

.header__leaderboard {
	width: auto;
}

.header__sub {
	display: none;
	width: auto;
	height: 48px;

	.news-site & {
		display: block;
	}
}

.header__subnav {
	float: right;
	height: 48px;
	padding: 0;
	margin: 0 20px 0 0;
	line-height: 1;
	font-size: ms(0);
	text-transform: uppercase;
}

.header__subnav li {
	display: inline-block;
	height: 48px;
	padding: 14px 0 16px;
	margin: 0;
	color: $color-text-white;

	a, a:visited {
		display: inline-block;
		height: 16px;
		padding-top: 3px;
		vertical-align: top;
		color: $color-text-white;
	}
}

%header__subnav--icon {
	@extend %gmr-icons;
	width: 0;
	height: 0;
	margin-right: 10px;
	font-size: ms(2);
}

.header__subnav--schedule:before {
	@extend %header__subnav--icon;
	content: "\e627";
}

.header__main {
	width: 100%;
	height: 70px;
	padding: 0;
	border-bottom: 1px solid $header-border;
	@include bp(medium) {
		height: 82px;
		border-top: 1px solid $header-border;
	}

	.news-site & {
		border-top: none;
		border-bottom: none;

		@include bp(medium) {
			height: 78px;
		}
	}
}

.header__logo{
	@include span-columns(2);
	@include shift(1);
	@include omega;
	height: 70px;
	padding: $header-logo-padding 0;
	line-height: 1;
	position: relative;
	
	@include bp(medium) {
		@include shift(0);
		max-width: 200px;
		height: 82px;
	}

	@include bp(large) {
		@include span-columns(2);
		padding-left: $header-logo-padding;
	}

	.news-site & {

		@include bp(medium) {
			height: 126px;
			padding-right: 24px;
			padding-left: 24px;
			margin-top: -48px;
		}
	}
}

.header__logo--img{
	margin: 0 auto;
	max-height: 100%;
	max-width: 100%;
	height: auto;
	width: auto;
	position: relative;
	top: 50%;
	@include transform(translateY(-50%));

	@include bp(medium){
		margin-left: 70px; /* space enough for the mobile menu */
		text-align: left;
	}

	@include bp(large) {
		margin-left: auto;
	}
}

// container for main header navigation
.header__nav {
	height: 82px;
	display: none;
	line-height: 1;

	@include bp(large) {
		display: block;
		float: left;
		width: auto;
	}

	.news-site & {
		height: 78px;
	}
}

// container for secondary navigation -- gigya registration, social links, search
.header__secondary {
	position: absolute;
	top: 22px;
	right: 20px;
	line-height: 1;
	text-align: right;
	@include bp(medium) {
		right: 0;
		top: auto;
		height: 82px;
		float: right;
		width: auto;
		position: relative;
		@include transform(none);
	}
	// @include bp(large) {
	// 	@include span-columns(3);
	// 	@include omega;
	// }
	// @include bp(larger) {
	// 	@include span-columns(4);
	// 	@include omega;
	// }

	.news-site & {

		@include bp(medium) {
			height: 78px;
		}
	}
}

// container for account links
.header__account {
	display: block;
	float: right;
	margin: 0 auto;
	color: $color-text-white;
	cursor: pointer;
	font-family: $open-sans;
	@include bp(medium) {
		width: 64px;
		height: 82px;
		color: $secondary-heading;
	}

	@include bp(larger) {
		width: auto;
	}

	.news-site & {

		@include bp(medium) {
			height: 78px;
		}
	}

}

.header__account--mobile {
	display: block;

	@include bp(medium) {
		display: none;
	}
}

.header__account--small {
	display: none;

	@include bp(medium) {
		display: block;
	}

	@include bp(larger) { // Bourbon Neat mixin for media queries
		display: none;
	}

	&:hover {

		.header__account--container {
			display: block;
		}
		
	}
}

.header__account--large {
	display: none;

	@include bp(larger) {
		display: block;

		.header__account--container {
			display: none;
		}

		&.logged-in {
			.header__account--container {
				display: block;
			}
		}

		.gmr-user & {
			.header__account--container {
				display: block;
			}
		}
	}
}

.header__account:hover {
	@include bp(medium) {
		background-color: $color-text-red;
		color: $color-text-white;
	}
}

.header__account--btn {
	display: block;
	margin: 0 auto;
	text-align: center;
	font-size: 30px;

	@include bp(medium) {
		height: 82px;
		width: 64px;
		padding: 32px 0;
		font-size: ms(3);
	}

	@include bp(large) {
		font-size: ms(1);
	}

	@include bp(larger) {
		width: auto;
		padding: 32px 16px;

		> span {
			display: table-cell;
			vertical-align: middle;
		}
	}

	&.avatar {

		@include bp(medium) {
			padding-top: 25px;
			padding-bottom: 25px;
		}
	}

	.news-site & {

		@include bp(medium) {
			height: 78px;
			padding-top: 26px;
			padding-bottom: 26px;
		}

		@include bp(large) {
			font-size: ms(4);
		}
	}
}

.header__account--span {
	font-family: $primary-font;
	color: $light-gray;

	@include bp(larger) {
		font-size: 12.65px;
		padding-left: 12px;
	}

	.news-site & {
		color: white;
	}
}

/** An image is shown if the current user is logged in and Gigya gives us a thumbnail URL **/
.header__account--btn img {
	display: inline-block;
	max-height: 28px;
	width: auto;
	border: 1px solid white;

	@include bp(medium) {
		max-height: 32px;
	}
}

.header__account--links {
	display: none;
}

.header__account:hover .header__account--links {
	display: none;
	@include bp(medium) {
		position: absolute;
		display: block;
		top: 80px;
		right: 0;
		min-width: 300px;
	}

	.news-site & {
		top: 78px;
	}
}

.header__account--open {
	display: block;
}

// gigya dependencies
.register, .login {
	visibility: hidden;
}

// container for social links
.header__social {
	display: none;
	@include bp(medium) {
		display: block;
		float: right;
		height: 82px;
		font-size: ms(0);
	}

	.news-site & {

		@include bp(medium) {
			height: 78px;
		}
	}
}

// container for search button
.header__search {
	display: none;
	color: $primary-border;
	cursor: pointer;
	@include bp(medium) {
		position: relative;
		display: block;
		float: right;
		height: 82px;
		margin-right: 1em;
	}

	.news-site & {

		color: white;

		@include bp(medium) {
			height: 78px;
		}
	}
}

.header__search--span {
	display: none;
	@include bp(medium) {
		display: block;
		float: left;
		height: 82px;
		padding: 36px 0;
		margin-left: .625em;
		font-size: ms(0);
	}

	@include bp(large) {
		font-size: ms(-2);
	}

	.news-site & {
		padding: 31px 0 29px;
		text-transform: uppercase;

		@include bp(medium) {
			height: 78px;
		}

		@include bp(large) {
			font-size: ms(-1);
		}
	}
}

.header__search--btn {
	display: block;
	float: left;
	height: 82px;
	padding: 34px 0 30px;

	.news-site & {
		height: 78px;
		padding-top: 28px;
		padding-bottom: 27px;
	}
}

.header__search--btn:before {
	@extend %gmr-icons;
	font-size: ms(3);
	content: "\e612";

	@include bp(large) {
		font-size: ms(1);
	}

	.news-site & {

		@include bp(large) {
			font-size: ms(3);
		}
	}
}