.header{
	position: relative;
	width: 100%;
	padding: 0;
	border-bottom: 3px solid palette(header, primary-border);
	background-color: palette(header, primary-bg);
	@include transition(all 200ms linear);
}

.header--pinned {
	@include transform(translateY(0%));
}

.header--unpinned {
	@include transform(translateY(-100%));
}

.header .container {
	padding: 0 .714285714286%;
}

.header__main {
	width: 100%;
	height: 82px;
	padding: 0;
	background-color: palette(header, secondary-bg);
	border-top: 1px solid palette(header, primary-border);
}

.header .container {
	max-width: $max-site-width;
}

#breaking-news-banner {
	display: none;
	@include bp(medium) {
		display: block;
	}
}

.header__logo{
	@include span-columns(4);
	@include omega;
	height: 82px;
	padding: 12px 0 13px;
	line-height: 1;
	@include bp(medium) {
		@include span-columns(1);
		width: auto;
	}
}

.header__logo--img{
	margin: 0 auto;
	max-height: 57px;
	text-align: center;
	@include bp(large){
		text-align: left;
	}
}

// container for main header navigation
.header__nav {
	height: 82px;
	display: none;
	line-height: 1;
	@include bp(medium) {
		display: block;
		float: left;
		width: auto;
	}
}

// container for secondary navigation -- gigya registration, social links, search
.header__secondary {
	position: absolute;
	top: 50%;
	right: 1em;
	@include transform(translate(0, -50%));
	line-height: 1;
	text-align: right;
	@include bp(medium) {
		position: relative;
		display: block;
		float: right;
		top: auto;
		right: auto;
		width: auto;
		height: 82px;
		@include transform(none);
	}
}

// container for account links
.header__account {
	display: none;
	@include bp(medium) {
		display: block;
		float: left;
	}
}

// gigya dependencies
.register, .login {
	visibility: hidden;
}

// container for social links
.header__social {
	display: none;
	@include bp(medium) {
		display: block;
		float: left;
		height: 82px;
		margin-right: 2.125em;
		font-size: 1em;
	}
}

// container for search button
.header__search {
	display: block;
	color: palette(header, primary-text);
	@include bp(medium) {
		position: relative;
		display: block;
		float: left;
		height: 82px;
	}
}

.header__search--span {
	display: none;
	@include bp(medium) {
		display: block;
		float: left;
		height: 82px;
		padding: 36px 0;
		margin-right: .625em;
		font-size: .8125em;
	}
}

.header__search--btn {
	display: block;
	float: left;
	height: 82px;
	padding: 34px 0 30px;
}
.header__search--btn:before {
	@extend %gmr-icons;
	font-size: 1.125em;
	content: "\e612";
}