.image__attribution {
	position: absolute;
	bottom: 10px;
	right: 10px;
	margin-left: 10px;
	padding: .5em 1em;
	background-color: $color-text-black;
	font-size: ms(-1);
	color: $color-text-white;
	
	a, a:visited {
		color: $secondary-link;
		text-decoration: underline;
	}
	
	a:hover, a:active, a:focus {
		color: $secondary-link-hover;
	}
}