.keyword-search {
	clear: both;
	line-height: 1.5;
	margin: 0 -20px;
	padding: 1.5em 20px;
	background: $primary-bg;
	border-top: 1px solid $light-gray;

	@include bp(medium) {
		margin: 0 -2.5%;
		padding: 1.5em 2.5% .5em;
	}
}
	.keyword-search__header {
		font-weight: bold;
		border-bottom: 5px solid $light-gray;
		margin: 0 -.5em;
		padding: 0 .5em 1em;
	}

	.keyword-search-item {
		border-bottom: 1px solid $extra-light-gray;
		margin: 0 -.5em;
		padding: 1em .5em;
		color: $color-text-black;
	}
		.keyword-search-item__article {
			color: $primary-link;
		}

		// Hover states
		.is-hoverable a:hover,
		.is-hoverable a:focus,
		.is-highlighted {
			.keyword-search-item {
				background: $cardinal;
			}
			.keyword-search-item__keyword,
			.keyword-search-item__article {
				color: $white;
			}
		}

		// at larger breakpoints
		@include bp(medium) {
			.keyword-search-item__keyword {
				display: inline-block;
				min-width: 12em;
			}
			.keyword-search-item__article {
				display: inline-block;
			}
		}

	.keyword-search__btn {
		@include btn($btn-bg, $color-text-white, $btn-bg, 0.5em, 1em, ms(-1));
		text-transform: none;
	}

	.keyword-search__footer {
		margin-top: 1.5em;
		text-align: center;
	}
