.keyword-search {
	clear: both;
	line-height: 1.5;
	margin: 0 -20px;
	padding: 0 20px 1.5em;
	background: $primary-bg;
	text-align: left;

	@include bp(medium) {
		border-top: 1px solid $light-gray;
		margin: 0 -2.5%;
		padding: 1.5em 2.5%;
	}
}
	.keyword-search__header {
		font-weight: bold;
		border-bottom: 5px solid $light-gray;
		margin: 0 -.5em;
		padding: 0 .5em 1em;
	}
	
	// Fix ugly looking :focus border in some browsers. 
	.keyword-search__items > a {
		display: block; 
	}

	.keyword-search-item {
		border-bottom: 1px solid $extra-light-gray;
		margin: 0 -.5em;
		padding: 1em .5em;
		color: $color-text-black;
	}
		.keyword-search-item__article {
			color: $primary-link;
		}

		// Hover states
		.is-hoverable a:hover,
		.is-hoverable a:focus,
		.is-highlighted {
			.keyword-search-item {
				background: $cardinal;
			}
			.keyword-search-item__keyword,
			.keyword-search-item__article {
				color: $white;
			}
		}

		// at larger breakpoints
		@include bp(medium) {
			.keyword-search-item__keyword {
				display: inline-block;
				min-width: 12em;
			}
			.keyword-search-item__article {
				display: inline-block;
			}
		}