.video-container{
	width: 100%;
	position: relative;
	padding: 56.3% 0 0 0;  //56.3% = 16:9 ratio
}

.video-container > .video{
	position: absolute;
	top: 0;
}

.video-container .innerWrapper{
	position: absolute !important;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.video-js.vjs-hls-quality-selector {
	display: block;
}
