/*doc
---
title: Personalities
name: personalities
category: Components - Shows
---

```html_example
<div class="personality">
	<div class="personality__avatar">
		<img alt="" src="http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=96" class="avatar avatar-96 photo avatar-default" height="96" width="96">
	</div>
	<div class="personality__meta">
		<span class="personality__name h1">Dan Blaker</span>
		<div class="personality__bio"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio minus unde temporibus libero cupiditate sint quaerat. Rem minima, culpa odit, quis nesciunt cum, repellendus saepe laboriosam nihil totam debitis velit pariatur!</p><p>Libero quidem minima hic. Odio libero delectus placeat iure nam provident rem quaerat, sapiente corporis repudiandae praesentium, et commodi hic pariatur minus officia blanditiis accusamus fugiat quae! At, voluptatum!</p></div>
	</div>
</div>
```

*/

.show__personalities {
	@include row();
	background-color: $primary-bg;
	margin-top: -4em;
	margin-bottom: 10%;
}

.personality {
	padding: 1.5em;
	margin-bottom: 2em;
	position: relative;
	@include row();

	&.open {
		background-color: $primary-border;
	}

	@include bp(medium) {
		padding: 1.5em 3em;
	}
}

.personality__avatar {
	@include span-columns(4 of 12);
	margin-bottom: 2.35765%;

	img {
		@include border-radius(50%);
		width: 80%;
		height: auto;
	}

	@include bp(medium) {
		@include span-columns(3 of 12);
		margin-bottom: 0;
	}

}

.personality__meta {
	float: none;
	width: auto;
	transition: all 100ms ease-out 0s;

	p + p {
		display: none;

		.personality.open & {
			display: block;
		}
	}
	
	.more-btn {
		right: auto;
		bottom: auto;
		position: relative;
		left: 0;
	}

	@include bp(medium) {
		@include span-columns(9 of 12);
		@include omega;
	}
}

.personality__btn {
	float: left;
	width: 100%;
	text-align: center;
	padding-top: 1em;

}