/*doc
---
title: Personalities
name: personalities
category: Components - Shows
---

```html_example
<div class="personality">
	<div class="personality__avatar">
		<img alt="" src="http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=96" class="avatar avatar-96 photo avatar-default" height="96" width="96">
	</div>
	<div class="personality__meta">
		<span class="personality__name h1">Dan Blaker</span>
		<div class="personality__bio"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio minus unde temporibus libero cupiditate sint quaerat. Rem minima, culpa odit, quis nesciunt cum, repellendus saepe laboriosam nihil totam debitis velit pariatur!</p><p>Libero quidem minima hic. Odio libero delectus placeat iure nam provident rem quaerat, sapiente corporis repudiandae praesentium, et commodi hic pariatur minus officia blanditiis accusamus fugiat quae! At, voluptatum!</p></div>
	</div>
</div>
```

*/

.show__personalities {
	// @include row();
	background-color: $primary-bg;
	margin-top: -8em;
}

.personality {
	padding: 4em 3em;
	position: relative;
	@include row();

	.more-btn {
		// right: 40%;
		// bottom: 40px;
		display: none;
	}
}

.personality__avatar {
	@include span-columns(4 of 12);

	@include bp(medium) {
		@include span-columns(3 of 12);
	}

	img {
		width: 80%;
		height: auto;
		@include border-radius(50%);
	}
}

.personality__meta {
	float: none;
	width: auto;

	@include bp(medium) {
		@include span-columns(9 of 12);
		@include omega;
	}
}