/*doc
---
title: Podcast Excerpt
name: podcast-excerpt
category: Components - Shows
---

```html_example
<article class="podcast">
	<div class="podcast__play">
		<button class="podcast__btn--play"></button>
		<button class="podcast__btn--pause"></button>
		<span class="podcast__runtime">57:14</span>
	</div>
	<div class="podcast__meta">
		<time datetime="">September 12</time>
		<button class="podcast__download">Download</button>
		<h3>Preston & Steve Daily Feed</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, ratione, molestias possimus eos in nobis vero aliquid optio deserunt ipsam.</p>
	</div>
</article>
```
*/

/*doc
---
title: Podcast Playing
name: podcast-playing
category: Components - Shows
---

```html_example
<article class="podcast">
	<div class="podcast__play">
		<button class="podcast__btn--play playing"></button>
		<button class="podcast__btn--pause playing"></button>
		<span class="podcast__runtime">57:14</span>
	</div>
	<div class="podcast__meta">
		<time datetime="">September 12</time>
		<button class="podcast__download">Download</button>
		<h3>Preston & Steve Daily Feed</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, ratione, molestias possimus eos in nobis vero aliquid optio deserunt ipsam.</p>
	</div>
</article>
```

*/

.podcast {
	@include row();
}

.podcast__play {
	@include span-columns(2 of 12);
}

.podcast__btn--play,
.podcast__btn--pause{
	position: relative;
	@extend %live-stream__btn;
}

.podcast__btn--play, .podcast__btn--pause, .podcast__runtime {
	display: block;
	margin: 0 auto;
	text-align: center;
}

.podcast__btn--play:before,
.podcast__btn--pause:before {
	position: absolute;
	top: 50%;
	left: 50%;
	@include transform(translate(-50%, -50%));
	font-family: $icon-font !important;
}
.podcast__btn--play {
	&:before {
		content: "\e606" !important;
	}

	&.playing {
		display: none;
	}
}

.podcast__btn--pause {
	&:before {
	 content: "\e60b" !important;
	}

	display: none; // Will be shown w/ JS when necessary

	&.playing {
		display: block;
	}
}

.podcast__meta {
	@include span-columns(9 of 12);

	h3 {
		margin: 0;
		clear: both;
	}

	time {
		float: left;
		margin-right: 1em;
	}
}

.podcast__download {
	@extend .live-stream__listen-now--btn;
	background-color: #fff;
	border: 1px solid grey;
	color: grey !important;
	text-transform: none;
}

.podcast__subscribe {
	@extend .live-stream__listen-now--btn;
	text-transform: none;
}

// For Podcasts Archive Lists
.podcast-archive--list {

}

.podcast-archive--list_tags {

}

// For individual Podcasts in the list
.podcast-archive--item_excerpt {

}

.podcast-archive--item_tags {

}

.podcast-archive--list_link {

}

// Individual Podcast Page
.podcast-page--name {

}

.podcast-page--content {

}

.podcast-page--tags {

}

.podcast-page--itunes {

}

.podcast-page--latest {

}

.podcast-episode--title {

}

.podcast-episode--date {

}

.podcast-episode--runtime {

}

.podcast-episode--excerpt {

}

.podcast-episode--content {

}

.podcast-episode--show_notes {

}

.podcast-episode--img {

}

.podcast-episode--play {

}

.podcast-episode--tags {

}