/*doc
---
title: Podcast Excerpt
name: podcast-excerpt
category: Components - Shows
---

```html_example
<article class="podcast">
	<div class="podcast__play">
		<button class="podcast__btn--play"></button>
		<button class="podcast__btn--pause"></button>
		<span class="podcast__runtime">57:14</span>
	</div>
	<div class="podcast__meta">
		<time datetime="">September 12</time>
		<button class="podcast__download">Download</button>
		<h3>Preston & Steve Daily Feed</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, ratione, molestias possimus eos in nobis vero aliquid optio deserunt ipsam.</p>
	</div>
</article>
```
*/

/*doc
---
title: Podcast Playing
name: podcast-playing
category: Components - Shows
---

```html_example
<article class="podcast">
	<div class="podcast__play">
		<button class="podcast__btn--play playing"></button>
		<button class="podcast__btn--pause playing"></button>
		<span class="podcast__runtime">57:14</span>
	</div>
	<div class="podcast__meta">
		<time datetime="">September 12</time>
		<button class="podcast__download">Download</button>
		<h3>Preston & Steve Daily Feed</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, ratione, molestias possimus eos in nobis vero aliquid optio deserunt ipsam.</p>
	</div>
</article>
```

*/

// SEE _mobile-podcasts.scss FOR ADDITIONAL MOBILE-SPECIFIC STYLES

.podcast {
	@include row();
	margin-bottom: 68px;
}

.podcast__play {
	@include span-columns(4 of 12);

	@include bp(large) {
		@include span-columns(2 of 12);
	}
}

.podcast__cover {
	@include fill-parent;
	height: 0;
	padding-bottom: 100%;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: auto 100%;
	position: relative;
	margin-bottom: 1em;

	.podcast-player.playing & {
		margin-bottom: 4px;
	}

	.podcast-player.podcast-player--compact & {
		margin-bottom: 0;
	}
}

.podcast__btn--play,
.podcast__btn--pause{
	position: absolute;
	@extend %live-stream__btn;
	width: 45%;
	margin: 0px;
	position: absolute;
	top: 28%;
	left: 28%;
	height: 45%;
	border-width: 3px;
	background-color: rgba($primary-bg, 0.5);
}

.podcast__btn--play:hover, .podcast__btn--pause:focus {
	border-color: darken($btn-bg, 9%);
	color: darken($btn-bg, 9%);
}

.podcast__btn--play:active {
	border-color: $btn-active;
	color: $btn-active;
}

.podcast__btn--play, .podcast__btn--pause, .podcast__runtime {
	display: block;
	margin: 0 auto;
	text-align: center;
	padding-top: 1em;
}

.podcast__btn--play:before,
.podcast__btn--pause:before {
	position: absolute;
	top: 50%;
	left: 50%;
	@include transform(translate(-50%, -50%));
	font-family: $icon-font !important;
	font-size: ms(5);
}
.podcast__btn--play:before {
	left: 55%;
}
.podcast__btn--play {
	&:before {
		content: "\e606" !important;
	}

	&.playing {
		display: none;
	}
}

.podcast__btn--pause {
	&:before {
		content: "\e61f" !important;
	}

	display: none; // Will be shown w/ JS when necessary

	&.playing {
		display: block;
	}
}

.podcast__runtime {
	padding-top: 0;
	padding-bottom: 1em;

	.podcast-player.playing & {
		display: none;
	}
}

.podcast__meta {
	@include span-columns(8 of 12);
	@include omega;
	padding-left: 1em;

	@include bp(large) {
		@include span-columns(10 of 12);
		@include omega;
	}
}

.podcast__title {
	font-size: ms(3);
	line-height: 1.25;
	margin: 0;
	clear: left;

	@include bp(large) {
		margin: 20px 0 26px;
		line-height: 1;
		font-size: ms(5);
	}
}

.podcast__parent {
	margin-bottom: 10px;
}

.podcast__parent--title {
	display: inline-block;
	font-weight: bold;
}

.podcast__date {
	font-size: ms(-2);
	line-height: 1;
	float: left;
	margin-bottom: 10px;
	color: $color-gray;
	text-transform: uppercase;
}

a.podcast__rss:link, a.podcast__rss:visited {
	@include btn(transparent, $gray, $gray, .5em, 1em, ms(-1));
	display: inline-block;
	margin-left: 10px;
	font-weight: normal;
	text-transform: none;
}

a.podcast__rss:hover, a.podcast__rss:focus {
	@include btn($btn-bg, $color-text-white, $btn-bg, .5em, 1em, ms(-1));
	text-transform: none;
}

a.podcast__rss:active {
	@include btn($btn-active, $color-text-white, $btn-active, .5em, 1em, ms(-1));
	text-transform: none;
}

.podcast__desc {
	font-size: ms(-1);
}

.podcast__download {
	@include fill-parent;
	padding-top: 0;
	margin: 0 auto;
	text-align: center;

	a {
		width: 100% !important;
		margin: 0 0 10px !important;

		@include bp(large) {
			width: auto !important;
			margin: 10px 0 !important;
		}

		.podcast-player.playing & {

			@include bp(large) {
				margin-top: 0 !important;
			}

		}
	}
}

.podcast__download--btn {
	@include btn(transparent, $gray, $gray, .5em, 1em, ms(-1));
	@include border-radius(1em);
	text-transform: none;
}

.podcast__download--btn:hover {
	@include btn($btn-bg, $color-text-white, $btn-bg, .5em, 1em, ms(-1));
	text-transform: none;
}

.podcast__download--btn:active {
	@include btn($btn-active, $color-text-white, $btn-active, .5em, 1em, ms(-1));
	text-transform: none;
}

.podcast__subscribe {
	@extend .live-stream__listen-now--btn;
	margin: 0 0 0 10px;
	text-transform: none;
}

.gmr-mediaelement-fallback {
	max-height: 100px;
}

// For Podcasts Archive Lists
.podcast-archive--list {

}

.podcast-archive--list_tags {

}

// For individual Podcasts in the list
.podcast-archive--item_excerpt {

}

.podcast-archive--item_tags {

}

.podcast-archive--list_link {

}

// Individual Podcast Page
.podcast-page--name {

}

.podcast-page--content {

}

.podcast-page--tags {

}

.podcast-page--itunes {

}

.podcast-page--latest {

}

.podcast-episode--title {

}

.podcast-episode--date {

}

.podcast-episode--runtime {

}

.podcast-episode--excerpt {

}

.podcast-episode--content {

}

.podcast-episode--show_notes {

}

.podcast-episode--img {

}

.podcast-episode--play {

}

.podcast-episode--tags {

}

// Compact player
.podcast-player--compact {
	position: relative;
	display: block;
	width: 92.5%;
	border: 1px solid $light-gray;
	border-width: 1px 0;
	margin: 1.5em 0;
	padding: 1em 0;
	
	.podcast__play,
	.podcast__meta {
		float: none;
		display: table-cell;
		width: auto;
		vertical-align: middle;
	}
	
	.podcast__play {
		width: 1px;
	}	
		.podcast__cover {
			width: 50px;
			height: 50px;
			padding: 0;
		}			
			.podcast__btn--play, 
			.podcast__btn--pause {
				border-width: 2px;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				&:before {
					font-size: 150%;
				}
			}
		.podcast__runtime {
			position: absolute; 
			right: 0;
			top: .2em;
			font-size: 20px;
			font-weight: lighter;
			color: $gray;
			display: none;
		}
		
	.podcast__meta {
		display: table-cell;
		vertical-align: middle;
		padding-left: 1em; 
	}
		.podcast__title {
			margin: 0;
			font-size: ms(3);
			line-height: 1.4;
		}
	
	.gmr-mediaelement-fallback {
		display: none; 
	}
	
	@include bp( medium ) {
		.podcast-player {
			padding: 1.5em .5em;
		}
			.podcast__runtime {
				display: block; 
			}
			.podcast__cover {
				width: 80px;
				height: 80px;
				padding: 0;
			}
				.podcast__btn--play, 
				.podcast__btn--pause, {
					border-width: 3px;
					
					&:before {
						font-size: 200%;
					}
				}
			.podcast__meta {
				padding-left: 1.5em;
				padding-right: 8em;
			}
				.podcast__title {
					font-size: ms(5); 
				}
	}
	
	@include bp( large ) {
		.podcast-player {
			max-width: 60%;
		}
	}
}
