/*doc
---
title: Podcast Excerpt
name: podcast-excerpt
category: Components - Shows
---

```html_example
<article class="podcast">
	<div class="podcast__play">
		<button class="podcast__btn--play"></button>
		<button class="podcast__btn--pause"></button>
		<span class="podcast__runtime">57:14</span>
	</div>
	<div class="podcast__meta">
		<time datetime="">September 12</time>
		<button class="podcast__download">Download</button>
		<h3>Preston & Steve Daily Feed</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, ratione, molestias possimus eos in nobis vero aliquid optio deserunt ipsam.</p>
	</div>
</article>
```
*/

/*doc
---
title: Podcast Playing
name: podcast-playing
category: Components - Shows
---

```html_example
<article class="podcast">
	<div class="podcast__play">
		<button class="podcast__btn--play playing"></button>
		<button class="podcast__btn--pause playing"></button>
		<span class="podcast__runtime">57:14</span>
	</div>
	<div class="podcast__meta">
		<time datetime="">September 12</time>
		<button class="podcast__download">Download</button>
		<h3>Preston & Steve Daily Feed</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, ratione, molestias possimus eos in nobis vero aliquid optio deserunt ipsam.</p>
	</div>
</article>
```

*/

// SEE _mobile-podcasts.scss FOR ADDITIONAL MOBILE-SPECIFIC STYLES

.podcast {
	@include row();
	margin-bottom: 68px;
}

.podcast__play {
	@include span-columns(4 of 12);

	@include bp(large) {
		@include span-columns(2 of 12);
	}
}

.podcast__cover {
	@include fill-parent;
	height: 0;
	padding-bottom: 100%;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: auto 100%;
	position: relative;
	margin-bottom: 1em;

	.podcast-player.playing & {
		margin-bottom: 4px;
	}

	.podcast-player.podcast-player--compact & {
		margin-bottom: 0;
	}
}

.podcast__btn--play,
.podcast__btn--pause {
	background-color: rgba($primary-bg, 0.5);
	border: 3px solid $liveplayer-color-secondary;
	border-radius: 50%;
	color: $liveplayer-color-secondary;
	cursor: pointer;
	font-size: 1.25em;
	font-style: normal;
	font-weight: normal;
	height: 40px;
	left: 50%;
	outline: none;
	padding: 0;
	position: absolute;
	top: 50%;
	@include transform(translate(-50%, -50%));
	width: 40px;
	z-index: 1;

	&:hover,
	&:focus {
		background-color: $white;
		color: $liveplayer-color-secondary;
	}
}

.podcast__btn--play:before,
.podcast__btn--pause:before {
	position: absolute;
	top: 50%;
	left: 50%;
	@include transform(translate(-50%, -50%));
	font-family: $icon-font !important;
}
.podcast__btn--play:before {
	left: 54%;
}
.podcast__btn--play {
	&:before {
		content: "\e606" !important;
	}

	&.playing {
		display: none;
	}
}

.podcast__btn--pause {
	&:before {
		content: "\e61f" !important;
	}

	display: none; // Will be shown w/ JS when necessary

	&.playing {
		display: block;
	}
}

.podcast__runtime {
	display: block;
	margin: 0 auto;
	padding-top: 0;
	padding-bottom: 1em;
	text-align: center;
	@include opacity(1);
	@include transition(all 200ms ease-in-out);

	&.playing {
		height: 0;
		padding-bottom: 0;
		@include opacity(0);
		@include transition(all 200ms ease-in-out);
	}
}

.podcast__meta {
	@include span-columns(8 of 12);
	@include omega;
	padding-left: 1em;

	@include bp(large) {
		@include span-columns(10 of 12);
		@include omega;
	}
}

.podcast__title {
	font-size: ms(3);
	line-height: 1.25;
	margin: 0;
	clear: left;

	@include bp(large) {
		margin: 20px 0 26px;
		line-height: 1;
		font-size: ms(5);
	}
}

.show__blogroll {
	.podcast__title {
		@include bp(large) {
			margin-bottom: 13px;
		}
	}

	.episode {
		padding-bottom: $base-line-height * 1.5;
		margin-bottom: $base-line-height * 1.5;
		border-bottom: 1px solid $primary-border;
	}
}

.podcast__parent {
	margin-bottom: 10px;
}

.podcast__parent--title,
.podcast__child--title {
	display: inline-block;
	font-weight: bold;
	margin-right: 10px;
}

.show__blogroll {
	.podcast__parent--title {
		display: block;
		margin-bottom: 0.5em;
	}
}

.podcast__date {
	font-size: ms(-2);
	line-height: 1;
	float: left;
	margin-bottom: 10px;
	color: $color-gray;
	text-transform: uppercase;
}

a.podcast__rss:link, a.podcast__rss:visited {
	@include btn(transparent, $gray, $gray, .5em, 1em, ms(-1));
	display: inline-block;
	font-weight: normal;
	text-transform: none;

	.podcast__download & {
		display: block;

		@include bp(large) {
			display: none;
		}
	}

	.podcast__parent & {
		display: none;

		@include bp(large) {
			display: inline-block;
		}
	}
}

a.podcast__rss:hover, a.podcast__rss:focus {
	@include btn($btn-bg, $color-text-white, $btn-bg, .5em, 1em, ms(-1));
	text-transform: none;
}

a.podcast__rss:active {
	@include btn($btn-active, $color-text-white, $btn-active, .5em, 1em, ms(-1));
	text-transform: none;
}

.podcast__desc {
	font-size: ms(-1);
}

.podcast__download {
	@include fill-parent;
	padding-top: 0;
	margin: 0 auto;
	text-align: center;

	a {
		width: 100% !important;
		margin: 0 0 10px !important;

		@include bp(large) {
			width: auto !important;
			margin: 10px 0 !important;
		}

		.podcast-player.playing & {

			@include bp(large) {
				margin-top: 0 !important;
			}

		}
	}
}

a.podcast__link,
a.podcast__download--btn {
	@include btn(transparent, $gray, $gray, .5em, 1em, ms(-1));
	@include border-radius(1em);
	@include transition(all 200ms linear);
	text-transform: none;
}

a.podcast__link:hover,
a.podcast__download--btn:hover {
	@include btn($btn-bg, $color-text-white, $btn-bg, .5em, 1em, ms(-1));
	text-transform: none;
}

a.podcast__link:active,
a.podcast__download--btn:active {
	@include btn($btn-active, $color-text-white, $btn-active, .5em, 1em, ms(-1));
	text-transform: none;
}

a.podcast__subscribe {
	display: block;
	@include btn($btn-bg, $color-text-white, $btn-bg, .5em, 1em, ms(-1));
	font-weight: 700;
	z-index: 1;
	@include transition(all 200ms ease-in-out);
	margin: 0 10px 0 0;
	text-transform: none;

	.podcast__download & {
		display: block;

		@include bp(large) {
			display: none;
		}
	}

	.podcast__parent & {
		display: none;

		@include bp(large) {
			display: inline-block;
		}
	}
}

.podcast__rss {
	@extend .audio-status__btn;
}

.gmr-mediaelement-fallback {
	max-height: 100px;

	.home & {
		max-height: none;
	}
}

// Compact player
.podcast-player--compact {
	position: relative;
	display: table;
	border: 1px solid $light-gray;
	border-width: 1px 0;
	margin: 1.5em 0;
	padding: 1em 0;

	.podcast__play,
	.podcast__meta {
		float: none;
		display: table-cell;
		width: auto;
		vertical-align: middle;
	}

	.podcast__play {
		width: 1px;
	}
		.podcast__cover {
			width: 50px;
			height: 50px;
			padding: 0;
		}
			.podcast__btn--play,
			.podcast__btn--pause {
				border-width: 2px;
				width: 100%;
				height: 100%;
				/* Commented out by Steve on 3/9/17 to fix play button on inline audio
				left: 0;
				top: 0;*/
				&:before {
					font-size: 150%;
				}
			}
		.podcast__runtime {
			position: absolute;
			right: 0;
			top: .2em;
			font-size: 20px;
			font-weight: lighter;
			color: $gray;
			display: none;
		}

	.podcast__meta {
		display: table-cell;
		vertical-align: middle;
		padding-left: 1em;
	}
		.podcast__title {
			margin: 0;
			font-size: ms(3);
			line-height: 1.4;
		}

	.gmr-mediaelement-fallback {
		display: none;
	}

	@include bp( medium ) {
		.podcast-player {
			padding: 1.5em .5em;
		}
			.podcast__runtime {
				display: block;
				@include opacity(1);
				@include transition(all 1s ease-in-out);

				&.playing {
					position: absolute;
					@include opacity(0);
					@include transform(translate(-120px, 105px));
				}
			}
			.podcast__cover {
				width: 80px;
				height: 80px;
				padding: 0;
			}
				.podcast__btn--play,
				.podcast__btn--pause, {
					border-width: 3px;

					&:before {
						font-size: 40px;
					}
				}
			.podcast__meta {
				padding-left: 1.5em;
				padding-right: 8em;
			}
				.podcast__title {
					font-size: ms(5);
				}
	}

	@include bp( large ) {
		.podcast-player {
			max-width: 60%;
		}
	}
}

.podcast__archive_title {
	margin-bottom: 10px;
}

.podcast__child--title {
	margin-bottom: 10px;
}

.podcast__archive {
	.podcast__date {
		width: 100%;
		display: block;
		margin-bottom: 0;
		float: none;
	}

	.podcast__title {
		margin-top: 0;
	}
	.podcast__desc {
		margin-bottom: 10px;
	}

	a.podcast__subscribe,
	a.podcast__rss {
		font-size: 0.7em;
		vertical-align: top;
	}
}

.post-type-archive-podcast {
	.podcast__archive {

		.podcast__meta {

			.podcast__date {
				margin: 0;
				display: block;
				float: none;
				width: auto;
				line-height: 1.5;
				font-weight: bold;
				font-size: 1em;
				color: $primary-text;
				text-transform: none;

				@include bp(large) {
					display: inline;

					&:before {
						width: 0;
						height: 0;
						margin: 0 5px;
						content: " - ";
					}
				}
			}

			.podcast__title {
				margin: 0 0 .5em;
			}

			.podcast__rss {
				display: none;

				@include bp(large) {
					display: inline-block;
					margin-top: 2px;
					margin-bottom: 0;
					margin-right: 1em;
				}
			}

			.podcast__parent {

				@include bp(large) {
					margin-top: .5em;
				}
			}

			.podcast__parent--title {
				display: block;
				margin-right: 0;

				@include bp(large) {
					display: inline;
				}
			}

			.podcast__subscribe {
				display: none;

				@include bp(large) {
					display: inline-block;
					margin-top: 2px;
					margin-bottom: 0;
					margin-right: 1em;
					margin-left: 0;
				}
			}
		}
	}
}

.podcast__archive--episode-count {
	font-size: ms(-2);
	line-height: 1;
	margin-bottom: 10px;
	color: $color-gray;
	text-transform: uppercase;

	.podcast__download & {
		display: block;

		@include bp(large) {
			display: none;
		}
	}

	.podcast__meta & {
		display: none;

		@include bp(large) {
			display: inline-block;
			width: auto;
			margin-top: 8px !important;
			vertical-align: top;
		}
	}
}

.single-podcast {
	.podcast__header {
		margin-bottom: 1.75em;

		@include bp(medium) {
			margin-bottom: 0;
		}

		a.podcast__subscribe,
		a.podcast__rss {
			vertical-align: text-bottom;
		}
	}

	.podcast__parent--title {
		@extend .article__title;
		margin-right: 10px;
	}

	.podcast__subscribe {
		display: inline-block;
	}
}

.episode {

	.home & {
		@extend .entry2;
		display: block;
		width: 100%;
		height: auto;
	}

}

.episode__buttons {
	margin-top: 1.5em;
}
