/*doc
---
title: Podcast Excerpt
name: podcast-excerpt
category: Components - Shows
---

```html_example
<article class="podcast">
	<div class="podcast__play">
		<button class="podcast__btn--play"></button>
		<button class="podcast__btn--pause"></button>
		<span class="podcast__runtime">57:14</span>
	</div>
	<div class="podcast__meta">
		<time datetime="">September 12</time>
		<button class="podcast__download">Download</button>
		<h3>Preston & Steve Daily Feed</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, ratione, molestias possimus eos in nobis vero aliquid optio deserunt ipsam.</p>
	</div>
</article>
```
*/

/*doc
---
title: Podcast Playing
name: podcast-playing
category: Components - Shows
---

```html_example
<article class="podcast">
	<div class="podcast__play">
		<button class="podcast__btn--play playing"></button>
		<button class="podcast__btn--pause playing"></button>
		<span class="podcast__runtime">57:14</span>
	</div>
	<div class="podcast__meta">
		<time datetime="">September 12</time>
		<button class="podcast__download">Download</button>
		<h3>Preston & Steve Daily Feed</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, ratione, molestias possimus eos in nobis vero aliquid optio deserunt ipsam.</p>
	</div>
</article>
```

*/

.podcast {
	@include row();
	margin-bottom: 68px;
}

.podcast__play {
	@include span-columns(2 of 12);
}

.podcast__btn--play,
.podcast__btn--pause{
	position: relative;
	@extend %live-stream__btn;
	width: 82px;
	height: 82px;
	border-width: 3px;
}

.podcast__btn--play:hover, .podcast__btn--pause:focus {
	border-color: darken($btn-bg, 9%);
	color: darken($btn-bg, 9%);
}

.podcast__btn--play:active {
	border-color: $btn-active;
	color: $btn-active;
}

.podcast__btn--play, .podcast__btn--pause, .podcast__runtime {
	display: block;
	margin: 0 auto;
	text-align: center;
}

.podcast__btn--play:before,
.podcast__btn--pause:before {
	position: absolute;
	top: 50%;
	left: 50%;
	@include transform(translate(-50%, -50%));
	font-family: $icon-font !important;
	font-size: ms(5);
}
.podcast__btn--play {
	&:before {
		content: "\e606" !important;
	}

	&.playing {
		display: none;
	}
}

.podcast__btn--pause {
	&:before {
	 content: "\e60b" !important;
	}

	display: none; // Will be shown w/ JS when necessary

	&.playing {
		display: block;
	}
}

.podcast__meta {
	@include span-columns(9 of 12);
}

.podcast__title {
	margin: 20px 0 26px;
	line-height: 1;
	font-size: ms(5);
}

.podcast__parent {
	margin-bottom: 10px;
}

.podcast__parent--title {
	display: inline-block;
	font-weight: bold;
}

.podcast__date {
	font-size: ms(-2);
	color: $color-gray;
}

.podcast__rss {
	display: inline-block;
	margin-left: 10px;
}

a.podcast__rss:link, a.podcast__rss:visited {
	color: $color-text-red;
}

a.podcast__rss:hover, a.podcast__rss:focus, a.podcast__rss:active {
	color: $color-text-black;
}

.podcast__desc {
	font-size: ms(-1);
}

.podcast__download {
	@include fill-parent;
	padding-top: 1em;
	margin: 0 auto;
	text-align: center;
}

.podcast__download--btn {
	@include btn(transparent, $gray, $gray, .25em, 1em, ms(-1));
	@include border-radius(1em);
}

.podcast__download--btn:hover {
	@include btn($btn-bg, $color-text-white, $btn-bg, .25em, 1em, ms(-1));
}

.podcast__download--btn:active {
	@include btn($btn-active, $color-text-white, $btn-active, .25em, 1em, ms(-1));
}

.podcast__subscribe {
	@extend .live-stream__listen-now--btn;
	margin: 0 0 0 10px;
	text-transform: none;
}

.gmr-mediaelement-fallback {
	max-height: 100px;
}

// For Podcasts Archive Lists
.podcast-archive--list {

}

.podcast-archive--list_tags {

}

// For individual Podcasts in the list
.podcast-archive--item_excerpt {

}

.podcast-archive--item_tags {

}

.podcast-archive--list_link {

}

// Individual Podcast Page
.podcast-page--name {

}

.podcast-page--content {

}

.podcast-page--tags {

}

.podcast-page--itunes {

}

.podcast-page--latest {

}

.podcast-episode--title {

}

.podcast-episode--date {

}

.podcast-episode--runtime {

}

.podcast-episode--excerpt {

}

.podcast-episode--content {

}

.podcast-episode--show_notes {

}

.podcast-episode--img {

}

.podcast-episode--play {

}

.podcast-episode--tags {

}