/*doc
---
title: Standard Post
name: standard-post
category: Components - Post Excerpts
---

Standard posts are mostly text based but can include images. They can also optionally have a featured image.

```html_example 
<article class="post-1162 post type-post status-publish format-standard hentry category-uncategorized tag-post-tag cf" role="article" itemscope="" itemtype="http://schema.org/BlogPosting">
	<section class="entry--standard__thumbnail">
		<img src="http://placehold.it/600x400&amp;text=standard">
	</section>

	<section class="entry--standard__meta">
		<time datetime="2014-11-23T17:17:54+00:00" class="entry__date">23 November</time>
		<h2 class="entry__title" itemprop="headline"><a href="http://wmmr.greatermedia.10uplabs.com/asdfasdf/">asdfasdf</a></h2>
	</section>
	<footer class="entry__footer">
		<a href="http://wmmr.greatermedia.10uplabs.com/category/uncategorized/" class="entry__footer--category">Uncategorized</a>
	</footer>
</article>
```
*/

/*doc
---
title: Gallery Post
name: gallery-post
category: Components - Post Excerpts
---

Gallery posts are mostly image based but can include some text. They can also optionally have a featured image.

```html_example 
<article id="post-922" class="post-922 post type-post status-publish format-gallery hentry category-uncategorized cf" role="article" itemscope="" itemtype="http://schema.org/BlogPosting">
	<section class="entry--gallery__meta" itemprop="articleBody">
		<time datetime="2014-11-10T20:11:28+00:00" class="entry__date">10 November</time>
		<h2 class="entry__title"><a href="">Test Show Post</a></h2>
	</section>

	<section class="entry--gallery__thumbnail">	
		<img src="http://placehold.it/400x400&amp;text=gallery">
	</section>
	<footer class="entry__footer">
		<a href="http://wmmr.greatermedia.10uplabs.com/category/uncategorized/" class="entry__footer--category">Uncategorized</a>
	</footer>
</article>
```
*/

/*doc
---
title: Video Post
name: video-post
category: Components - Post Excerpts
---

Video posts display a video and minimal text. They can also optionally have a featured image.

```html_example 
<article id="post-581" class="post-581 post type-post status-publish format-video has-post-thumbnail hentry category-uncategorized cf" role="article" itemscope="" itemtype="http://schema.org/BlogPosting">
	<section class="entry--video__meta" itemprop="articleBody">
		<time datetime="2014-11-05T00:13:14+00:00" class="entry__date">5 November</time>
		<h2 class="entry__title"><a href="">Gladys Knight &amp; The Pips “Midnight Train To Georgia”</a></h2>
	</section>

	<section class="entry--video__thumbnail">
		<img src="http://placehold.it/600x400&amp;text=video">
	</section>
	<footer class="entry__footer">
		<a href="http://wmmr.greatermedia.10uplabs.com/category/uncategorized/" class="entry__footer--category">Uncategorized</a>
	</footer>
</article>
```
*/

/*doc
---
title: Image Post
name: image-post
category: Components - Post Excerpts
---

Standard posts are mostly text based but can include images. They can also optionally have a featured image.

```html_example 
<article id="post-558" class="post-558 post type-post status-publish format-image has-post-thumbnail hentry category-uncategorized cf" role="article" itemscope="" itemtype="http://schema.org/BlogPosting">
	<section class="entry--standard__thumbnail">
		<img src="http://placehold.it/600x400&amp;text=image">
	</section>

	<section class="entry--standard__meta">
		<time datetime="2014-11-03T22:34:27+00:00" class="entry__date">3 November</time>
		<h2 class="entry__title" itemprop="headline"><a href="http://wmmr.greatermedia.10uplabs.com/hey-its-a-blog-post/">Hey it’s a blog post!</a></h2>
	</section>

	<footer class="entry__footer">
		<a href="http://wmmr.greatermedia.10uplabs.com/category/uncategorized/" class="entry__footer--category">Uncategorized</a>
	</footer>
</article>
```
*/

/*doc
---
title: Link Post
name: link-post
category: Components - Post Excerpts
---

Link posts contain a link to an external site. They can also optionally have a featured image.

```html_example 
<article id="post-886" class="post-886 post type-post status-publish format-link has-post-thumbnail hentry category-uncategorized cf" role="article" itemscope="" itemtype="http://schema.org/BlogPosting">
	<section class="entry--link__meta" itemprop="articleBody">
		<time datetime="2014-11-10T04:07:56+00:00" class="entry__date">10 November</time>
		<h2 class="entry__title"><a href="">Ontario Highway 401 – Wikipedia, the free encyclopedia</a></h2>
	</section>

	<footer class="entry__footer">
		<a href="http://wmmr.greatermedia.10uplabs.com/category/uncategorized/" class="entry__footer--category">Uncategorized</a>
	</footer>
</article>
```
*/

// Reusable Post Classes
.hentry {
	margin-bottom: 58px;
	@include bp(medium) {
		margin-bottom: 90px;
	}

	.single-gmr_album & {
		margin-bottom: 0;
	}
}

// Thumbnail
.entry__thumbnail {
	position: relative;
	padding-bottom: 32px;

	.single-gmr_album & {
		width: 100%;
		padding-top: 2em;
		padding-bottom: 3.625em;
	}
}

// Content
.entry__content {
	padding: 1.5em 0;
	font-family: $open-sans;
}

.entry__date {
	font-size: ms(-2);
	font-weight: lighter;
	color: $secondary-heading;
	text-transform: uppercase;
}

// Shows container - individual attributes are located in _shows.scss
.entry__show {
	position: relative;
	margin-bottom: 8px;
}

// Personalities container - individual attributes are located in _personalities.scss
.entry__personality {
	position: relative;
	margin-bottom: 8px;
}

// Titles
.entry__title {
	margin: 0 0 20px;
	font-size: ms(4);
}

// Entry Footer
.entry__footer {
	@include span-columns(4);
	padding: 16px 0;
	border-bottom: 1px solid $primary-border;
	@include bp(small) {
		@include span-columns(6);
	}
	@include bp(medium) {
		@include span-columns(8);
	}
	@include bp(large) {
		@include span-columns(12);
		padding-top: 40px;
	}

	.single-gmr_album & {
		border-bottom: none;
	}
}

.entry__footer--category:link, .entry__footer--category:visited {
	float: right;
	line-height: 1;
	font-family: $droid-sans;
	font-weight: bold;
	font-size: ms(0);
	color: $secondary-heading;
}

.entry__footer--category:hover, .entry__footer--category:focus, .entry__footer--category:active {
	color: $secondary-link-hover;
}

// Post Formats
.entry__type {
	@include span-columns(2);
	padding-top: .75em;
	padding-bottom: .75em;
	text-align: center;
	@include bp(small) {
		@include span-columns(4);
	}
	@include bp(medium) {
		@include span-columns(6);
	}
	@include bp(large) {
		@include span-columns(8);
	}
}

%entry__type {
	position: relative;
	padding-left: 1.875em;
	font-size: ms(-2);
}

%entry__type--before {
	position: absolute;
	width: 0;
	height: 0;
	font-family: dashicons;
	font-size: ms(0);
}

.entry__type--gallery, .entry__type--link, .entry__type--image, .entry__type--video, .entry__type--audio, .entry__type--standard {
	@extend %entry__type;
}

.entry__categories, .entry__tags, .entry__shows {
	overflow: auto;
	clear: both;
	margin-bottom: 28px;
	font-size: ms(-1);
	color: $gray;
}

.entry__list, %entry__list {
	display: inline-block;
	padding: 0;
	margin: 0;
	list-style: none;
}

.entry__list:before, %entry__list--before {
	margin-right: .25em;
	text-transform: uppercase;
}

.entry__list--item, %entry__list--item {
	padding: 0 2px 0 0;
	list-style: none;
	display: inline-block;
}

.entry__list--item:last-of-type{
	padding: 0;
}

.entry__list--item a, .entry__list--item a:visited, .entry__list--show a, .entry__list--show a:visited {
	color: $gray;
}

.entry__list--item a:hover, .entry__list--item a:focus, .entry__list--item a:active, .entry__list--show a:hover, .entry__list--show a:focus, .entry__list--show a:active {
	color: $primary-link-hover;
}

.entry__list--title {
	display: inline-block;
	float: left;
	font-weight: 800;
}

.entry__list--title:after {
	margin: 0 14px 0 18px;
	content: "/";
}

.entry__list--categories, .entry__list--tags, .entry__list--shows {
	@extend %entry__list;
	float: left;
}


.entry__list--show {
	@extend %entry__list;
	float: left;
	margin-right: 30px;
}

.entry__list--show:last-of-type {
	margin-right: 0;
}

.entry__show--logo {
	display: inline-block;
	float: left;
	width: 24px;
	height: 24px;
	margin: 0 14px;
	@include border-radius(50%);
	background-color: $secondary-border;
}

.entry__show--logo img {
	@include border-radius(50%);
}

.entry__show--name {
	display: inline-block;
	padding: 3px 0;
}

// Comments
.entry__comments {
	@include span-columns(1);
	padding: 8px 0;
	@include bp(small) {
		@include span-columns(1);
	}
	@include bp(medium) {
		@include span-columns(1);
	}
	@include bp(large) {
		@include span-columns(2);
	}
}

.entry__comments--count {
	position: relative;
	display: block;
	float: right;
	text-align: center;
	font-size: ms(-3);
}

.entry__comments--count a:link, .entry__comments--count a:visited {
	display: block;
	width: 24px;
	height: 16px;
	margin: 0 auto;
	@include border-radius(3px);
	background-color: $primary-border;
	color: $color-text-white;
}

.entry__comments--count a:link:after, .entry__comments--count a:visited:after {
	position: absolute;
	bottom: 3px;
	left: -8px;
	@include arrow(top-left, palette(base, primary-border), 8px, 10px);
	content: " ";
}

.entry__comments--count a:hover, .entry__comments--count a:focus {
	display: block;
	background-color: $primary-link;
	color: $primary-text;
}

.entry__comments--count a:hover:after, .entry__comments--count a:focus:after {
	position: absolute;
	bottom: 3px;
	left: -8px;
	@include arrow(top-left, palette(base, primary-link), 8px, 10px);
	content: " ";
}

.entry__comments--count a:active {
	display: block;
	background-color: $secondary-bg;
	color: $color-text-white;
}

.entry__comments--count a:active:after{
	position: absolute;
	bottom: 3px;
	left: -8px;
	@include arrow(top-left, palette(base, secondary-bg), 8px, 10px);
	content: " ";
}

// Standard Post Format
.entry__standard--content {
	@include span-columns(4);
	@include bp(small) {
		@include span-columns(6);
	}
	@include bp(medium) {
		@include span-columns(6);
	}
	@include bp(large) {
		@include span-columns(7);
	}
}

.entry__standard--thumbnail {
	@include span-columns(4);
	@include bp(small) {
		@include span-columns(6);
	}
	@include bp(medium) {
		@include span-columns(2);
		@include omega;
	}
	@include bp(large) {
		@include span-columns(5);
		@include omega;
	}
}

// Video Post Format
.entry__video--content {
	@include span-columns(4);
	@include bp(small) {
		@include span-columns(6);
	}
	@include bp(medium) {
		@include span-columns(6);
		@include omega;
	}
	@include bp(large) {
		@include span-columns(7);
		@include omega;
	}
}

.entry__-full_width {
	@include span-columns(4);
	@include bp(small) {
		@include span-columns(6);
	}
	@include bp(medium) {
		@include span-columns(8);
	}
	@include bp(large) {
		@include span-columns(12);
	}
}

.entry__video--content  .entry__header {
	@include bp(medium) {
		padding-top: 48px;
	}
}

.entry__video--thumbnail {
	@include span-columns(4);
	@include bp(small) {
		@include span-columns(6);
	}
	@include bp(medium) {
		@include span-columns(2);
	}
	@include bp(large) {
		@include span-columns(5);
	}
}

// Concert Content Type
.entry__concert--thumbnail {
	@include span-columns(4);
	@include bp(small) {
		@include span-columns(6);
	}
	@include bp(medium) {
		@include span-columns(2);
	}
	@include bp(large) {
		@include span-columns(5);
	}
}

.entry__concert--content {
	@include span-columns(4);
	@include bp(small) {
		@include span-columns(6);
	}
	@include bp(medium) {
		@include span-columns(6);
		@include omega;
	}
	@include bp(large) {
		@include span-columns(7);
		@include omega;
	}
}

.entry__concert--content .entry__title {
	margin-top: 0;
	line-height: 1;
}


.entry__concert--meta_list {
	padding: 0;
	margin: 0;
}

.entry__concert--meta_item {
	list-style: none;
	display: inline-block;
	padding-left: 1em;
	margin: 0;
	font-weight: bold;
}

// CD Release Content Type
.entry__cdrelease--thumbnail {
	@include span-columns(4);
	@include bp(small) {
		@include span-columns(6);
	}
	@include bp(medium) {
		@include span-columns(2);
	}
	@include bp(large) {
		@include span-columns(3);
	}
}

.entry__cdrelease--content {
	@include span-columns(4);
	@include bp(small) {
		@include span-columns(6);
	}
	@include bp(medium) {
		@include span-columns(6);
		@include omega;
	}
	@include bp(large) {
		@include span-columns(9);
		@include omega;
	}
}

.entry__cdrelease--content .entry__title {
	margin-top: 0;
	line-height: 1;
}

// WordPress Styles
.alignleft, img.alignleft {
	display: block;
	margin: 0 1em 16px;
	float: left;
}

.alignright, img.alignright {
	display: block;
	margin: 0 0 16px 1em;
	float: right;
}

.aligncenter, img.aligncenter {
	margin: 0 auto 1em;
}

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%;
	height: auto;
}

.wp-caption {
	max-width: 100%;
	padding: 0;
	margin: 0 0 16px;
	background: $primary-border;
}

.wp-caption img {
	width: 100%;
	margin-bottom: 0;
	max-width: 100%;
}

.wp-caption p.wp-caption-text {
	padding: 16px 1.25em 20px;
	margin: 4px .5em;
	font-size: ms(-2);
	text-align: left;
}

// Pagination
.posts-pagination {
	width: 100%;
	font-size: ms(-1);
	float: left;
	margin-top: 3em;
}

.posts-pagination--previous {
	float: left;
	width: 50%;
}

.posts-pagination--previous .fa {
	margin-right: .5em;
}

.posts-pagination--next {
	float: right;
	width: 50%;
	text-align: right;
}

.posts-pagination--next .fa {
	margin-left: .5em;
}