// Reusable Post Classes
.hentry {
	@include margin(null null 1em null);
}

// Thumbnail
.entry-thumbnail {
	@include position(relative, null null null null);
	@include padding(null null em(32px));
}

// Content
.entry-content {
	@include padding(1.5em 0);
	font-family: $open-sans;
}

// Shows container - individual attributes are located in _shows.scss
.entry-show {
	@include position(relative, null null null null);
	@include margin(null null .5em null);
}

// Personalities container - individual attributes are located in _personalities.scss
.entry-personality {
	@include position(relative, null null null null);
	@include margin(null null .5em null);
}

// Titles
.single-title, .page-title, .entry-title {
	@include margin(.5em 0);
}

.single-title {
}

.page-title {
}

.entry-title {
}

.archive-title {
}

//  Read More Button
.read-more--btn{
	@include btn(default, red, base, 1em, 1.5em, em(14px));
}

// Entry Footer
.entry-footer {
	@include span-columns(4);
	@include padding(em(5px) 0);
	@include margin(2em null 3em);
	@include border-color(palette(gray, light) null palette(gray, light) null);
	@include border-style(solid null solid null);
	@include border-width(1px null 1px null);
	@include bp(small) {
		@include span-columns(6);
	}
	@include bp(medium) {
		@include span-columns(8);
	}
	@include bp(large) {
		@include span-columns(12);
	}
}

// Byline
.entry-author {
	@include span-columns(1);
	font-size: ms(-3);
	color: palette(gray);
	@include bp(small) {
		@include span-columns(1);
	}
	@include bp(medium) {
		@include span-columns(1);
	}
	@include bp(large) {
		@include span-columns(2);
	}
}

.entry-author--img {
	float: left;
	@include size(40px 40px);
	@include margin(null em(10px) null null);
	@include border-top-radius(50%);
	@include border-right-radius(50%);
	@include border-bottom-radius(50%);
	@include border-left-radius(50%);
	background-color: palette(gray, light);
}

.entry-author--meta{
	float: left;
}

.entry-author--name {
	float: left;
	@include size(100% null);
}

.entry-date {
	float: left;
	@include size(100% null);
}

// Post Formats
.entry-type {
	@include span-columns(2);
	@include padding(.75em null);
	color: palette(gray, dark);
	text-align: center;
	@include bp(small) {
		@include span-columns(4);
	}
	@include bp(medium) {
		@include span-columns(6);
	}
	@include bp(large) {
		@include span-columns(8);
	}
}

%entry-type {
	@include position(relative, null null null null);
	@include padding(null null null em(30px));
	font-size: ms(-2);
}

%entry-type--before {
	@include position(absolute, 0 null null 0 );
	@include size(0 0);
	font-family: dashicons;
	font-size: ms(0);
	color: palette(default, red);
}

.entry-type--gallery, .entry-type--link, .entry-type--image, .entry-type--video, .entry-type--audio, .entry-type--standard {
	@extend %entry-type;
}

.entry-categories, .entry-tags {
	@include margin(null null .5em);
}

.entry-list, %entry-list {
	@include padding(0);
	@include margin(0);
	list-style: none;
	font-size: ms(-2);
}

.entry-list:before, %entry-list--before {
	@include margin(null 4px null null null);
	text-transform: uppercase;
}

.entry-list--item, %entry-list--item {
	@include padding(0);
	@include margin(0 1em 0 0);
	list-style: none;
	display: inline-block;
}

.entry-list--item:last-of-type, %entry-list--item--last {
	@include margin(0);
}

.entry-list--item:after, %entry-list--item--after {
	@include margin(null null null 1em);
	content: "|";
}

.entry-list--item:last-of-type:after{
	@include margin(0);
	content: "";
}

.entry-list--categories:before {
	@extend %entry-list--before;
	content: "Categories:";
}

.entry-list--tags:before {
	@extend %entry-list--before;
	content: "Tags:";
}

// Comments
.entry-comments {
	@include span-columns(1);
	@include padding(8px 0);
	color: palette(gray);
	@include bp(small) {
		@include span-columns(1);
	}
	@include bp(medium) {
		@include span-columns(1);
	}
	@include bp(large) {
		@include span-columns(2);
	}
}

.entry-comments--count {
	@include position(relative, null null null null);
	float: right;
	@include display(block);
	text-align: center;
	font-size: ms(-3);
}

.entry-comments--count a:link, .entry-comments--count a:visited {
	@include display(block);
	@include size(24px 16px);
	@include margin(0 auto);
	@include border-top-radius(3px);
	@include border-right-radius(3px);
	@include border-bottom-radius(3px);
	@include border-left-radius(3px);
	background-color: palette(gray, light);
	color: palette(default, black);
}

.entry-comments--count a:link:after, .entry-comments--count a:visited:after {
	@include position(absolute, null null -8px 3px);
	@include arrow(top-left, palette(gray, light), 8px, 10px);
	content: " ";
}

.entry-comments--count a:hover, .entry-comments--count a:focus {
	@include display(block);
	background-color: palette(default, red);
	color: palette(default);
}

.entry-comments--count a:hover:after, .entry-comments--count a:focus:after {
	@include position(absolute, null null -8px 3px);
	@include arrow(top-left, palette(default, red), 8px, 10px);
	content: " ";
}

.entry-comments--count a:active {
	@include display(block);
	background-color: palette(default, black);
	color: palette(default);
}

.entry-comments--count a:active:after{
	@include position(absolute, null null -8px 3px);
	@include arrow(top-left, palette(default, black), 8px, 10px);
	content: " ";
}

// Standard Post Format
.entry-content--standard {
	@include span-columns(4);
	@include bp(small) {
		@include span-columns(6);
	}
	@include bp(medium) {
		@include span-columns(6);
	}
	@include bp(large) {
		@include span-columns(7);
	}
}

.entry-thumbnail--standard {
	@include span-columns(4);
	@include bp(small) {
		@include span-columns(6);
	}
	@include bp(medium) {
		@include span-columns(2);
		@include omega;
	}
	@include bp(large) {
		@include span-columns(5);
		@include omega;
	}
}

// Video Post Format
.entry-video--content {
	@include span-columns(4);
	@include bp(small) {
		@include span-columns(6);
	}
	@include bp(medium) {
		@include span-columns(6);
		@include omega;
	}
	@include bp(large) {
		@include span-columns(7);
		@include omega;
	}
}

.entry-video--content  .entry-header {
	@include bp(medium) {
		@include padding(3em null null);
	}
}

.entry-video--thumbnail {
	@include span-columns(4);
	@include bp(small) {
		@include span-columns(6);
	}
	@include bp(medium) {
		@include span-columns(2);
	}
	@include bp(large) {
		@include span-columns(5);
	}
}

// Concert Content Type
.entry-concert--thumbnail {
	@include span-columns(4);
	@include bp(small) {
		@include span-columns(6);
	}
	@include bp(medium) {
		@include span-columns(2);
	}
	@include bp(large) {
		@include span-columns(5);
	}
}

.entry-concert--content {
	@include span-columns(4);
	@include bp(small) {
		@include span-columns(6);
	}
	@include bp(medium) {
		@include span-columns(6);
		@include omega;
	}
	@include bp(large) {
		@include span-columns(7);
		@include omega;
	}
}

.entry-concert--content .entry-title {
	@include margin(0 null null null);
	line-height: 1;
}


.entry-concert--meta_list {
	@include padding(0);
	@include margin(0);
}

.entry-concert--meta_item {
	list-style: none;
	display: inline-block;
	@include padding(0 0 0 1em);
	@include margin(0);
	font-weight: bold;
}

// Blockquote styles
blockquote {
	@include padding(em(8px) em(10px));
	@include margin(em(24px) em(10px));
	@include border-color(null null null palette(gray));
	@include border-style(null null null solid);
	@include border-width(null null null em(10px));
	quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
	@include margin(null em(4px) null null);
	color: palette(gray, light);
	content: open-quote;
	font-size: ms(12);
	line-height: 0.1em;
	vertical-align: em(-4px);
}

blockquote p {
	display: inline;
	font-style: italic;
	color: palette(gray, dark);
}

// WordPress Styles
.alignleft, img.alignleft {
	@include display(block);
	@include margin(0 1em 1em);
	float: left;
}

.alignright, img.alignright {
	@include display(block);
	@include margin(0 0 1em 1em);
	float: right;
}

.aligncenter, img.aligncenter {
	@include margin(0 auto 1em)
}

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%;
	@include size(null auto);
}

pre {
	@include padding(em(24px));
	@include margin(0 0 em(24px));
	@include border-top-radius(em(4px));
	@include border-right-radius(em(4px));
	@include border-bottom-radius(em(4px));
	@include border-left-radius(em(4px));
	background: palette(gray, light);
	color: palette(default, black);
	font-size: ms(-1);
}

.wp-caption {
	max-width: 100%;
	@include padding(0);
	@include margin(0 0 em(16px));
	background: palette(gray, light);
}

.wp-caption img {
	@include size(100% null);
	@include margin(null null 0);
	max-width: 100%;
}

.wp-caption p.wp-caption-text {
	@include padding(em(16px) em(20px) em(20px) em(20px));
	@include padding(em(4px) em(8px));
	font-size: ms(-2);
	text-align: left;
}

// Pagination
.posts-pagination {
	@include size(100% null);
	font-size: ms(-1);
}

.posts-pagination--previous {
	@include size(50% null);
	float: left;
}

.posts-pagination--previous .fa {
	@include margin(null em(8px) null null);
}

.posts-pagination--next {
	@include size(50% null);
	float: right;
	text-align: right;
}

.posts-pagination--next .fa {
	@include margin(null null null em(8px));
}