/*doc
---
title: Related Post
name: related-post
category: Components - Article
---

```html_example
<article class="related-post">
	<div class="related-post__img">
		<img src="http://placehold.it/267x200" alt="4:3" />
	</div>
	<div class="related-post__meta">
		<p class="related-post__title">Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet</p>
		<time class="related-post__date" datetime="2014-01-15">15 JAN</time>
	</div>
</article>
```

*/
// some layout

// Layout
.related-posts {

	// No stupid grid system is the boss of me!
	@include bp(small) {
		margin-right: -2%;
	}

	.related-post {
		@include span-columns(3 of 6);
		width: 48%;
		margin-right: 2%;

		// Select first four.
		&:nth-child(-n+4) {
			display: block;
		}

		// Select all, but in a way that they won't get selected if nth-child doesn't work anyway.
		&:nth-child(n+0) {
			display: none;
		}

		// Select first four.
		&:nth-child(-n+4) {
			display: block;
		}
	}
}

	.related-posts__title {
		color: $gray;
		font-weight: lighter;
	}

.related-post {
	display: block;
	color: $color-text-white;
	margin-bottom: 1em;

	@include bp(medium) {
		margin-bottom: 1.5em;
	}
}

.related-post__item {
	position: relative;
	display: block;
	margin-bottom: 0;
}

	.related-post__img {
		position: relative;
		.thumbnail {
			background-position: center center;
			background-size: 100%;
			background-size: cover;
			padding-bottom: 66.666%;
            background-repeat: no-repeat;
		}
	}

	.related-post__meta {
		position: absolute;
		bottom: 0;
		width: 100%;
		padding: 1em;
		background-color: rgba($dark-gray, .8);
		font-weight: lighter;
	}

	.related-post__title {
		max-height: 4em;
		font-size: 14px;
		line-height: 1.4;
		overflow: hidden;
		color: $color-text-white;

		@include bp(medium) {
			font-size: 16px;
		}

		@include bp(large) {
			max-height: 4.4em;
		}
	}

	.related-post__date {
		display: block;
		font-size: 14px;
		margin-top: 1em;
		color: $gray;
		text-transform: uppercase;

		@include bp(medium) {
			margin-top: 1.5em;
		}
	}

	// Hover state
	.related-post:hover {
		.related-post__title,
		.related-post__date {
			color: $color-text-yellow;
		}
	}
