/*doc
---
title: Related Post
name: related-post
category: Components - Article
---

```html_example
<article class="related-post">
	<div class="related-post__img">
		<img src="http://placehold.it/267x200" alt="4:3" />
	</div>
	<div class="related-post__meta">
		<p class="related-post__title">Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet</p>
		<time class="related-post__date" datetime="2014-01-15">15 JAN</time>
	</div>
</article>
```

*/
// some layout

// Layout
.related-posts {
	
	// No stupid grid system is the boss of me!
	@include bp(small) {
		margin-right: -2%;	 
	}
	
	.related-post {
		// Select all, but in a way that they won't get selected if nth-child doesn't work anyway. 
		&:nth-child(n+0) {
			display: none;
		}
		
		// Select first four. 
		&:nth-child(-n+4) {
			display: block;
		}
		
		@include bp(small) {
			@include span-columns(3 of 6);
			width: 48%;
			margin-right: 2%;
			
			// Select first four.
			&:nth-child(-n+4) {
				display: block; 
			}
		}
		
		@include bp(medium) {
			@include span-columns(3 of 9);
			width: 31.3333%;
			margin-right: 2%; 
					
			// Select first six.
			&:nth-child(-n+6) {
				display: block; 
			}
		}
		
		@include bp(large) {
			@include span-columns(3 of 12);
			width: 23%; 
			margin-right: 2%;
			 
			// Select first eight.
			&:nth-child(-n+8) {
				display: block; 
			}
		}
	}
}

	.related-posts__title {
		color: $gray;
		font-family: $open-sans;
		font-weight: lighter;
	}

.related-post {
	display: block; 
	background: $dark-gray;
	color: $color-text-white; 
	margin-bottom: 1.5em;
}

	.related-post__img {
		.thumbnail {
			@include proportional-thumbnail( 66% );
		}
	}

	.related-post__meta {
		padding: 1.5em $gutter;
		font-family: $open-sans;
		font-weight: lighter;
	}

	.related-post__title {
		font-size: 22px;
		line-height: 1.5;
		height: 4.5em; // Three lines
		overflow: hidden;
		color: $color-text-white;
		
		@include bp(small) {
			font-size: 16px;
			line-height: 1.4;
			height: 4.2em; // Three lines
		}
	}

	.related-post__date {
		display: block;
		font-size: 14px;
		margin-top: 1.5em; 
		color: $gray;
		text-transform: uppercase;
	}
	
	// Hover state
	.related-post:hover {
		.related-post__title,
		.related-post__date {
			color: $color-text-yellow;
		}
	}
	