.header__search--form {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 132px;
	padding: 16px 2.5%;
	background-color: $primary-bg;
	@include transition(opacity 1.0s ease-in 0s);
	@include opacity(0);
	z-index: 28000;
}

.header__search--open {
	display: block;
	@include transition(opacity 1.0s ease-in 0s);
	@include opacity(1);
}

.header__search--input {
	float: left;
	width: 90% !important;
	height: 100px;
	background-color: $primary-bg !important;
	border: none !important;
	outline: none;
	font-size: ms(7);
	color: $color-text-black;
	text-align: center;
	@include placeholder {
		color: $secondary-link;
	}
}

.header__search--submit {
	position: relative;
	float: right;
	width: 10%;
	height: 100px;
	border: none;
	background-color: transparent;
	color: $color-text-black;
}

.header__search--submit:before {
	@extend %gmr-icons;
	font-size: ms(5);
	content: "\e612";
}

.page-wrap.search--active:before  {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.4);
	content: "";
}

.search__results--count {
	padding-bottom: 12px;
	margin: 0;
	line-height: 1;
	border-bottom: 6px solid $color-text-gray;
	font-family: $open-sans;
	font-size: ms(-1);
	font-weight: lighter;
	color: $color-text-gray;
}

.search__keyword {
	padding: 0;
	margin-top: 26px;
	margin-bottom: 0;
	font-size: ms(1);
	color: $color-text-gray;
	text-transform: uppercase;
}

.search__keyword--term {
	color: $color-text-red;
}

.keyword__search--results {
	margin-bottom: 26px;
}

.search__title {
	padding-bottom: 12px;
	margin: 0;
	line-height: 1;
	border-bottom: 6px solid $primary-border;
	font-family: $open-sans;
	font-size: ms(-1);
	font-weight: lighter;
	color: $color-text-gray;
}

.search__result {
	width: 100%;
	padding-top: 26px;
	padding-bottom: 26px;
	margin: 0;
	overflow: auto;
	border-bottom: 1px solid $primary-border;
}

.search__result:last-of-type {
	padding-bottom: 0;
	border-bottom: none;
}

.search__result--date {
	@include span-columns(1 of 4);
	padding: 5px 0;
	font-size: ms(-1);
	color: $secondary-heading;
	@include bp(small) {
		@include span-columns(2 of 6);
	}
	@include bp(medium) {
		@include span-columns(2 of 6);
	}
	@include bp(large) {
		@include span-columns(2 of 10);
	}
	@include bp(x-large) {
		@include span-columns(2 of 10);
	}
}

.search__result--title {
	@include span-columns(3 of 4);
	@include omega;
	margin-top: 0;
	margin-bottom: 0;
	font-family: $open-sans;
	font-size: ms(2);
	font-weight: normal;
	color: $color-text-red;
	@include bp(small) {
		@include span-columns(4 of 6);
		@include omega;
	}
	@include bp(medium) {
		@include span-columns(4 of 6);
		@include omega;
	}
	@include bp(large) {
		@include span-columns(8 of 10);
		@include omega;
	}
	@include bp(x-large) {
		@include span-columns(8 of 10);
		@include omega;
	}
}

.search__result--title a:link, .search__result--title a:visited {
	color: $color-text-red;
}

.search__result--title a:hover, .search__result--title a:focus, .search__result--title a:active {
	color: $color-text-black;
}

.search__result--term {
	font-weight: bold;
}