.show {

}

.show-attr--name {
	@include position(absolute, 50% null null null);
	@include size(null 60px);
	@include transform(translate(0, -25%));
	display: inline-block;
}

.show-attr--logo {
	@include size(60px 60px);
	@include margin(null .5em null null);
	display: inline-block;
	background-color: color(base, primary-border);
}

.show-attr--next_air_time {

}

.show-attr--description {

}

.show-attr--personality_link {

}

.show-attr--categories {

}

.show-attr--tags {

}