.show__live-links {

	.group-date {
		@include span-columns(2 of 12);
		font-size: 3em;
		font-weight: 700;
		color: $secondary-heading;
		clear: both;
		margin-top: 24px;
	}

	.ll-archive-list {
		@include span-columns(10 of 12);
		@include omega;
		margin-top: 24px;

		li {

		}
	}

}


