.single-show {
	.content {
		@include bp(medium) {
			padding: $base-line-height $gutter / 2;
		}

		@include bp(larger) {
			padding: $base-line-height * 2 $gutter * 2;
		}
	}

	.featured__content {
		margin: 0.75em 0 1em;
	}

	.featured__content--block {
		@include fill-parent;
		margin-top: 1em;
		margin-bottom: 1em;

		@include bp(small) {
			@include fill-parent;
		}

		@include bp(large) {
			@include span-columns(4 of 12);
		}

		.highlights__event--date {
			text-transform: uppercase;
		}

		&:hover {
			.featured__content--title {
				color: $secondary-link-hover;
			}
		}

	}

	.featured__content--image {
		img {
			width: auto;
			height: 100%;
			max-width: none;
		}

		@include bp(small) {
			@include span-columns(4 of 12);
			padding-top: 0;
		}

		// @include bp(large) {
		// 	@include span-columns(4 of 12);
		// 	padding-top: 0;
		// }
	}

	.featured__content--meta {
		@include bp(small) {
			@include span-columns(8 of 12);
		}
		// @include bp(large) {
		// 	@include span-columns(8 of 12);
		// }
	}

	.featured__content--title {
		color: $secondary-border;
		margin-bottom: 0.5em;
	}

	.home__highlights {
		background-color: transparent !important;
		border-bottom: none;
		padding: 0;
		margin-bottom: 3em;
	}

	.highlights__events .highlights__heading {
		display: block;
	}

	@include bp(large) {
		.highlights__community, .highlights__events {
			padding-top: 0;
		}
	}

	.highlights__heading {
		font-size: ms(1);
		color: $secondary-heading;
	}

	.highlights__event--item {
		background-color: #F1F1F3;

		.highlights__event--title, .highlights__event--date {
			color: $primary-heading;
		}

		.highlights__event--title:hover {
			color: $primary-link-hover;
		}
	}

	.highlights__community--item:hover {
		.highlights__community--title {
			color: $btn-hover;
		}
	}

	.entry2__meta {
		float: none !important;
		width: auto !important;
	}

	.entry2__thumbnail {
		margin-bottom: 0.5em;

	}

	.format-standard .entry2__thumbnail {
		margin-top: 1.75em;

		@include bp(medium) {
			margin-left: 0.75em;
		}
	}
}

.show-attr--name {
	position: absolute;
	top: 50%;
	height: 60px;
	@include transform(translate(0, -25%));
	display: inline-block;
}

.show-attr--logo {
	width: 60px;
	height: 60px;
	margin-right: .5em;
	display: inline-block;
	background-color: $primary-border;
}

/*doc
---
title: Show Header
name: show-header
category: Components - Shows
---

```html_example
<div class="show__header">
	<div class="show__cast">
		<img src="http://placehold.it/135x135&text=cast">
	</div>
	<nav class="show__nav">
		<a href=""><h1 class="show__title">Show Title Here</h1></a>
		<ul>
			<li><a href="">about</a></li>
			<li><a href="">podcasts</a></li>
			<li><a href="">galleries</a></li>
		</ul>
	</nav>
	<div class="show__meta">
		<em>Weekdays (todo)</em>
		<em>5:30am - 10:30am (todo)</em>
		<a href="http://www.facebook.com/sharer/sharer.php?u=[URL]&title=[TITLE]" class="icon-facebook social-share-link"></a>
		<a href="http://twitter.com/home?status=[TITLE]+[URL]" class="icon-twitter social-share-link"></a>
		<a href="https://plus.google.com/share?url=[URL]" class="icon-google-plus social-share-link"></a>
	</div>
</div>

```
*/

.show__header {
	background-color: rgb(86, 16, 21);
	background-repeat: repeat;
	position: relative;
	padding: 38px 1em;
	@include fill-parent();
	@include row();
	@include display-context(table);
	color: $secondary-text;

	&.has-thumbnail {
		background-repeat: no-repeat;
		background-size: 100% auto;
		background-size: cover;
		background-position: center;

		&:before {
			position: absolute;
			display: block;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: linear-gradient(to bottom, rgba(86, 16, 21, .85), rgba(86, 16, 21, .85));
			background-image: -moz-linear-gradient(top, rgba(86, 16, 21, .85), rgba(86, 16, 21, .85));
			background-image: -o-linear-gradient(top, rgba(86, 16, 21, .85), rgba(86, 16, 21, .85));
			background-image: -ms-linear-gradient(top, rgba(86, 16, 21, .85), rgba(86, 16, 21, .85));
			background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(86, 16, 21, .85)), to(rgba(86, 16, 21, .85)));
			background-image: -webkit-linear-gradient(top, rgba(86, 16, 21, .85), rgba(86, 16, 21, .85));
			content: " ";
		}
	}

	> div {
		vertical-align: middle;
	}

	@include bp(medium) {
		padding: $gutter * 4 $gutter * 2;
	}

	@include bp(large) {
		background-image: url('../../images/featured-bg.png');
		background-position: center center;
		background-color: $featured-primary-bg;
		background-size: auto 65%;

	}
}

.show__header-content {
	@include bp(large) {
		display: table;
		table-layout: fixed;
		width: 100%;
	}
}

.show__cast {
	@include fill-parent;
	position: relative;
	height: 100%;

	@include bp(large) {
		width: 150px;
		display: table-cell;
		vertical-align: middle;
	}

	img {
		@include border-radius(50%);
		margin: 0 auto;
	}
}

.show__nav {
	@include fill-parent;
	overflow: auto;
	position: relative;
	text-align: center;
	margin: 1.5em 0 .5em;

	.show__title {
		line-height: 1.3;
		margin: 0;
	}

	h1 a {
		color: $secondary-text;
		text-transform: uppercase;
	}

	ul {
		display: inline-block;
		padding-left: 0;
		text-align: center;
		position: relative;
		margin: 0;
		width: 100%;
		list-style-type: none;
	}

	li {
		display: inline-block;
		text-align: center;

		a {
			font-size: ms(0);
			font-weight: bold;
			padding: 5px;
			border-radius: 20px;
			display: inline-block;
			text-transform: uppercase;
			color: $secondary-text;

			&:hover  {
				background-color: $secondary-text;
				color: $heath;
			}

		}

		&.current-menu-item a {
			background-color: $secondary-text;
			color: $secondary-link-hover;
		}

	}

	@include bp(large) {
		width: auto;
		display: table-cell;
		vertical-align: middle;
		text-align: left;
		padding-left: 3em;
		padding-right: 3em;
		overflow: visible;

		.show__title {
			margin-top: 0;
			margin-bottom: 0;
		}

		ul {
			position: absolute;
			text-align: left;
			margin-left: -9px;
			padding-top: 8px;
			width: auto;
		}
	}

	@include bp(larger) {
		ul {
			text-align: justify;
			width: auto;

			li {
				a {
					padding: 9px;
				}
			}
		}
	}
}

.show__nav--mobile {
	display: none;
	border-bottom: 4px solid $secondary-border;
	padding: 10px 0;

	ul {
		padding-left: 0;
	}

	li {
		display: block;
		text-align: center;

		a {
			font-size: ms(4);
			font-weight: bold;
			display: inline-block;
			text-transform: uppercase;
			color: $secondary-border;

			&:hover  {
				color: $secondary-link-hover;
			}

		}
	}

	@include bp(medium) {
		display: none;
	}
}

.show__title {
	font-size: 2em;
}

.show__meta {
	@include fill-parent;
	position: relative;
	text-align: center;
	float: none;

	@include bp(large) {
		width: 180px;
		white-space: nowrap;
		display: table-cell;
		vertical-align: middle;
		text-align: right;
	}

	em {
		display: block;
		line-height: 1.5;
		font-weight: 200;
	}

	.social-share-link {
		color: $secondary-text;
		border: 1px solid $secondary-text;
		margin-top: 1.5em;
		width: 35px;
		height: 35px;
		font-size: 16px;
		padding: 8px;

		&.icon-google-plus {
			padding-left: 10px;
		}

		&:hover, &:active {
			color: $heath;
			background: $secondary-text;
			border-color: $secondary-text;
		}
	}
}

.show__featured-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: -1;
}

.show__mini-nav {
	.show__header {
		padding: 5px;

		.show__cast {
			width: 40px;
			float: left;
			margin-top:5px;

			img {
				width: 30px;
				height: 30px;
			}
		}

		.show__nav {
			padding: 0;
			margin: 0 0 0 -40px;
			display: block;
			float: left;

			@include bp(large) {
				margin: 0;
			}

			.show__title {
				font-size: 1em;
				display: inline-block;
				line-height: 15px;
				padding: 0 10px 0 0;
				max-width: 250px;

				@include bp(large) {
					line-height: 30px;
					max-width: none;

					&:after {
						content: "\0003a";
						font-weight: bold;
					}
				}

				a {
					padding-right: 0px;
					text-transform: uppercase;
					color: #fff;
					font-weight: bold;
					padding: 5px;
					border-radius: 20px;
					display: inline-block;

					&:hover  {
						background-color: $secondary-text;
						color: $heath;
					}
				}

			}

			ul {
				display: inline-block;
				margin: 0;
				padding: 0;

				li a {
					padding: 0 5px;
					line-height: 30px;
				}

				@include bp(large) {
					position: relative;
				}
			}
		}
	}
}

/*doc
---
title: Show Features
name: show-features
category: Components - Shows
---


```html_example
<div class="show__features">
	<div class="show__feature--primary">
		<a href=""><div class="show__feature">
			<img src="http://placehold.it/570x315&text=show-feature" alt="">
			<div class="show__feature--desc">
				<h3>The Title of the Featured Post on the Show Homepage</h3>
				<span class="show__feature--date">23 SEP</span>
			</div>
		</div></a>
	</div>
	<div class="show__feature--secondary">
		<a href=""><div class="show__feature">
			<img src="http://placehold.it/570x315&text=show-feature" alt="">
			<div class="show__feature--desc">
				<h3>The Title of the Featured Post on the Show Homepage</h3>
				<span class="show__feature--date">15 NOV</span>
			</div>
		</div></a>
		<a href=""><div class="show__feature">
			<img src="http://placehold.it/570x315&text=show-feature" alt="">
			<div class="show__feature--desc">
				<h3>The Title of the Featured Post on the Show Homepage</h3>
				<span class="show__feature--date">02 DEC</span>
			</div>
		</div></a>
	</div>
</div>
```

*/

// Layout

.show__features {
	@include row();
}

.show__feature--primary {

	@include bp(large) {
		@include span-columns(8 of 12);
	}

}

.show__feature--secondary {

	@include bp(large) {
		@include span-columns(4 of 12);
		@include omega;
	}
}

.show__feature {
	margin-bottom: 5.6%;

 	.thumbnail {
		background-color: $dark-gray;
		padding-bottom: 66%;
		background-position: center center;
		background-size: 100%;
		background-size: cover;
        background-repeat: no-repeat;

		.inner-wrap {
			position: absolute;
			left: 0;
			top: 0;
		}
	}

	&:hover {
		h3 {
			color: $primary-link-hover;
		}
	}

	@include bp(large) {
		padding-bottom: 75%;
		position: relative;

		.thumbnail {
			position: absolute;
			width: 100%;
			left: 0;
			top: 0;
		}
	}
}

.show__feature--desc {
	background-color: $show-highlights-bg;
	color: $primary-heading;

	h3 {
		margin: 0;
		font-size: ms(3);
		line-height: 1.2;
	}

	.show__feature--primary & h3 {
		font-size: ms(5);
	}

	time {
		font-size: ms(0);
		text-transform: uppercase;
		color: $primary-heading;
	}

	.inner-wrap {
		padding: $base-line-height $gutter;

		.show__feature--secondary & {
			padding: 1em;
		}
	}

	@include bp( large ) {
		// padding-bottom: 22%; // 3/10 the height of our 4:3 unit.
		position: absolute;
		width: 100%;
		left: 0;
		bottom: 0;

		h3 {
			font-size: ms(1);
		}

		.show__feature--primary & h3 {
			font-size: ms(6);
		}

		time {
			font-size: ms(-1);
		}
	}
}

/*doc
---
title: Related Events
name: related-events
category: Components - Shows
---

*/

.show__blogroll {
	.section-header {
		font-size: ms(1);
	}

	@include bp(large) {
		width: 100%;
		padding-right: 330px;
	}

	@include bp(larger) {
		@include span-columns(8 of 12);
		padding-right: 25px;
	}
}

.inner-right-col {
	//background-color: $color-gray-extra-light;
	border-top: 1px solid $primary-border;
	border-bottom: 1px solid $primary-border;
	float: none;
	margin-left: -.809em; /* this is the padding on .content */
	margin-right: -.809em;
	padding: 0 .809em;
	margin-bottom: 3em;

	@extend .cf;

	@include bp(large) {
		border: none;
		margin: 0;
		padding: 0;
		float: right;
		width: 300px;
	}

	@include bp(larger) {
		@include span-columns(4 of 12);
		@include omega;
		float: right;
	}
}

.show__ad {
	padding-top: 3em;
	margin: 0 auto;
	text-align: center;

	@include bp(large) {
		padding-top: 0;
	}
}

.show__favorites {
	.featured__content--block {
		@include span-columns(12 of 12);
		margin-bottom: 1em;
		margin-top: 0;
		background: none;
		padding-top: 0;

		@include bp(large) {
			margin-top: 0em;
	}
	}

	.featured__content--image img {
		// @include bp(medium) {
		// 	height: auto;
		// 	width: 100%;
		// }

		@include bp(large) {
			max-width: none;
		}
	}

	.featured__content--title {
		& a:link, & a:visited {
			color: $primary-text;
		}

		& a:hover, & a:active {
			color: $primary-link-hover;
		}
	}
}

.show__live-links {
	margin-top: 20px;
	position: relative;
	@include span-columns(12 of 12);
	@include omega();


	.section-header {
		font-size: ms(1);
		margin-bottom: 0.6em;
	}

	ul {
		margin-top: 0;
		margin-bottom: 0;
		padding-left: 2em;
	}

	li[class^="live-link__type"] {
		margin-bottom: 1em;
		padding: 0;

		&:before {
			position: absolute;
			left: -24px;
			top: 14px;
			font-size: 1.25em;

			@include bp(large) {
				left: -30px;
				top: 8px;
				font-size: ms(-1);
			}

		}

		a {
			color: $primary-text;

			&:hover {
				color: $primary-link-hover;
			}
		}
	}

	.news-site & {

		li[class^="live-link__type"] {
			min-height: 30px;
			margin-left: 0;
			border-bottom: none;

			&:before {
				top: auto;
				font-size: .675em;

				@include bp(large) {
					top: auto;
					font-size: .675em;
				}
			}
		}

		.live-link__title {
			padding-left: 20px;
		}
	}

}

.show__live-links--more {
	position: relative;
	float: left;
	width: 100%;
	margin: 20px 0;

	.more-btn {
		position: relative;
		color: $primary-text;
		bottom: auto;
	}
}

.more-btn {
	position: absolute;
	bottom: -35px;
	right: 0;
	background: none repeat scroll 0 0 transparent;
	border: 1px solid $primary-text;
	border-radius: 1em;
	outline: none;
	color: $primary-text;
	padding: 0.25em 0.85em;
	font-size: 12px;
	text-transform: capitalize;

	&:hover {
		color: $primary-link-hover;
		border: 1px solid $primary-link-hover;
	}
}

.show-attr--next_air_time {

}

.show-attr--description {

}

.show-attr--personality_link {

}

.show-attr--categories {

}

.show-attr--tags {

}

.show__paging {
	clear: both;
	width: 100%;
	font-size: ms(-1);
	margin: 0 0 $base-line-height;
	text-align: center;

	.page-numbers {
		display: none;

		&.next,
		&.prev {
			display: inline;
		}
	}

	.prev {
		float: left;
		width: 50%;
		text-align: left;
	}

	.next {
		float: right;
		width: 50%;
		text-align: right;
	}
}

@mixin show-schedule-columns($visible-columns) {
	$shedule-column-width: 100% / $visible-columns;

	width: $shedule-column-width;

	@for $i from 1 through 7 {
		#{'&'}:nth-child(#{$i}) {
			left: $shedule-column-width * ($i - 1);

			@if $visible-columns < $i {
				&.fixed {
					.shows__schedule--dayofweek {
						display: none;
					}
				}
			} @else {
				&.fixed {
					.shows__schedule--dayofweek {
						display: block;
					}
				}
			}
		}
	}
}

.shows__schedule--days {
	@include clearfix;
	position: relative;
	overflow: hidden;
	height: 1499px;
	box-sizing: border-box;
}

.shows__schedule--day {
	top: 0;
	left: 0;
	position: absolute;
	border: 1px solid $light-gray;
	border-left-width: 0;
	box-sizing: border-box;
	@include show-schedule-columns(1);
	@include user-select(none);

	&:first-child {
		border-left-width: 1px;

		&.fixed {
			.shows__schedule--dayofweek {
				border-left: 1px solid $light-gray;
			}
		}
	}
}

@include bp(small) {
	.shows__schedule--day {
		@include show-schedule-columns(2);
	}
}

@include bp(medium) {
	.shows__schedule--day {
		@include show-schedule-columns(3);
	}
}

@include bp(large) {
	.shows__schedule--day {
		@include show-schedule-columns(4);
	}
}

@include bp(x-large) {
	.shows__schedule--day {
		@include show-schedule-columns(5);
	}
}

.shows__schedule--dayofweek {
	background: $primary-bg;
	border-bottom: 2px solid $black;
	text-align: center;
	padding: 15px 0;
	height: 54px;
	box-sizing: border-box;
	z-index: 99999;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
}

.shows__schedule--day.fixed .shows__schedule--dayofweek {
	position: fixed;
	border-top: 1px solid $primary-border;
}

.shows__schedule--episodes {
	position: relative;
	height: 1440px;
	margin-top: 54px;
}

.shows__schedule--episode {
	position: absolute;
	left: 0;
	right: 0;
	border-bottom: 1px solid $primary-border;
	padding: 0.5em 1em;

	&:hover {
		background-color: $extra-light-gray;
	}
}

.shows__schedule--episode-title a {
	display: block;
	font-weight: bold;
	font-size: ms(-2);
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;

	&.not-link {
		color: $color-text-black;
		cursor: default;
	}
}

.shows__schedule--episode-time {
	font-size: ms(-3);
	cursor: default;
}

.shows__schedule--now {
	position: absolute;
	left: 0;
	right: 0;
	z-index: 9999;
	border: 1px solid $cardinal;
	margin: 0 -1px;
}

.entry__related-posts .section-header {

	.gmr_gallery & {

		font-size: ms(2);
		font-weight: bold;
		color: $medium-dark-gray;

		a, a:visited {
			color: $dark-gray;
		}

		a:hover, a:active, a:focus {
			color: $primary-link-hover;
		}

	}

}

.guitar-month-show .show__header {

	&.has-thumbnail {

		&:before {
			display: none;
			background-image: none;
		}

	}

}
