.show {

}

.show-attr--name {
	@include position(absolute, 50% null null null);
	@include size(null 60px);
	@include transform(translate(0, -25%));
	display: inline-block;
}

.show-attr--logo {
	@include size(60px 60px);
	@include margin(null .5em null null);
	display: inline-block;
	background-color: $primary-border;
}

/*doc
---
title: Show Header
name: show-header
category: Components - Shows
---

```html_example
<div class="show__header">
	<div class="show__cast">
		<img src="http://placehold.it/135x135&text=cast">
	</div>
	<nav class="show__nav">
		<a href=""><h1 class="show__title">Show Title Here</h1></a>
		<ul>
			<li><a href="">about</a></li>
			<li><a href="">podcasts</a></li>
			<li><a href="">galleries</a></li>
		</ul>
	</nav>
	<div class="show__meta">
		<em>Weekdays (todo)</em>
		<em>5:30am - 10:30am (todo)</em>
		<a href="http://www.facebook.com/sharer/sharer.php?u=[URL]&title=[TITLE]" class="icon-facebook social-share-link"></a>
		<a href="http://twitter.com/home?status=[TITLE]+[URL]" class="icon-twitter social-share-link"></a>
		<a href="https://plus.google.com/share?url=[URL]" class="icon-google-plus social-share-link"></a>
	</div>
</div>

```
*/

.show__header {
	background-color: rgb(86, 16, 21);
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	padding: 2em;
	@include fill-parent();
	@include row();
	@include display-context(table);
	color: $secondary-text;

	> div {
		vertical-align: middle;
	}

	@include bp(medium) {
		padding: 5em 2em;
	}
}

.show__cast {
	@include fill-parent;
	height: 100%;

	@include bp(medium) {
		@include span-columns(2 of 12);
	}

	img {
		@include border-radius(50%);
		margin: 0 auto;
	}
}

.show__nav {
	@include fill-parent;
	text-align: center;

	@include bp(medium) {
		padding-left: 4em;
		text-align: left;
		@include span-columns(6 of 12);
	}

	ul {
		list-style-type: none;
		padding-left: 0;
		text-align: justify;
		margin: 0;
	}

	// this psuedo element makes the text-align: justify work on the <ul>. via: http://stackoverflow.com/a/16901348
	ul:after {
		content: "";
		width: 100%;
		display: inline-block;
		height: 0;
	}

	li {
		display: block;
		text-align: center;

		a { font-size: ms(4); }

		@include bp(medium) {
			display: inline-block;
			
			a { font-size: ms(0); }
		}

		&:hover, &.current-menu-item {
			text-decoration: underline;
		}
	}
	a {
		color: $secondary-text;
		text-transform: uppercase;
	}
}

.show__title {
	font-size: 2em;
	font-family: $droid-sans;
}

.show__meta {
	@include fill-parent;
	text-align: center;

	@include bp(medium) {

		@include span-columns(4 of 12);
		text-align: right;
	}

	em {
		display: block;
	}

	.social-share-link {
		color: $secondary-text;
		border: 1px solid $secondary-text;
		margin-top: 1em;
	}
}

.show__featured-img {

}

/*doc
---
title: Show Features
name: show-features
category: Components - Shows
---


```html_example
<div class="show__features">
	<div class="show__feature--primary">
		<a href=""><div class="show__feature">
			<img src="http://placehold.it/570x315&text=show-feature" alt="">
			<div class="show__feature--desc">
				<h3>The Title of the Featured Post on the Show Homepage</h3>
				<span class="show__feature--date">23 SEP</span>
			</div>
		</div></a>
	</div>
	<div class="show__feature--secondary">
		<a href=""><div class="show__feature">
			<img src="http://placehold.it/570x315&text=show-feature" alt="">
			<div class="show__feature--desc">
				<h3>The Title of the Featured Post on the Show Homepage</h3>
				<span class="show__feature--date">15 NOV</span>
			</div>
		</div></a>
		<a href=""><div class="show__feature">
			<img src="http://placehold.it/570x315&text=show-feature" alt="">
			<div class="show__feature--desc">
				<h3>The Title of the Featured Post on the Show Homepage</h3>
				<span class="show__feature--date">02 DEC</span>
			</div>
		</div></a>
	</div>
</div>
```

*/

.show__features {
	@include row();
}

.show__feature {
	margin-bottom: 2em;

	h3 {
		margin-top: 0;
	}

	img {
		width: 100%;
		height: auto;
	}
}

.show__feature--primary {
	@include bp(medium) {
		@include span-columns(8 of 12);

		h3 { font-size: 2em; }
	}
}

.show__feature--secondary {
	@include bp(medium) {
		@include span-columns(4 of 12);
		@include omega;

		h3 { font-size: 1em; }
		time { font-size: 0.8em; }
	}

}

.show__feature--desc {
	background-color: $header-bg;
	color: $secondary-text;
	padding: 1em 2em 1em;
}

/*doc
---
title: Related Events
name: related-events
category: Components - Shows
---

*/

.show__blogroll {
	@include bp(medium) {
		@include span-columns(8 of 12);
	}
}

.inner-right-col {
	float: none;

	@include bp(medium) {
		@include span-columns(4 of 12);
		@include omega;
		float: right;
	}
}

.show__favorites {
	.featured__content--block {
		@include span-columns(12 of 12);
		margin-bottom: 1em;
		background: none;
	}

	.featured__content--title {
		& a:link, & a:visited {
			color: $primary-text;
		}

		& a:hover, & a:active {
			color: $primary-link-hover;
		}
	}
}

.show__live-links {
	position: relative;

	ul {
		margin-top: 0;
		padding-left: 2em;
	}

	li[class^="live-link__type"] {
		margin-bottom: 1em;

		&:before {
			position: absolute;
			left: -30px;
			top: 8px;
		}

		a {
			color: $primary-text;

			&:hover {
				color: $primary-link-hover;
			}
		}
	}

	.more-btn {
		left: 40%;
		right: auto;
		top: 0;
		bottom: auto;
		color: $primary-text;
	}
}

.more-btn {
	position: absolute;
	bottom: -35px;
	right: 0;
	background: none repeat scroll 0 0 transparent;
	border: 1px solid $primary-text;
	border-radius: 1em;
	outline: none;
	color: $primary-text;
	padding: 0.25em 0.5em;
	font-size: 0.75em;

	&:hover {
		color: $primary-link-hover;
		border: 1px solid $primary-link-hover;
	}
}

.show-attr--next_air_time {

}

.show-attr--description {

}

.show-attr--personality_link {

}

.show-attr--categories {

}

.show-attr--tags {

}