.songs__group {
	@include row();

	&.songs__group--new-date {
		margin-top: 2em;
	}
}

.songs__group--date {
	font-size: ms(10);
	font-weight: 700;
	color: $secondary-heading;

	@include bp(large) {
		@include span-columns(3 of 12);
		clear: both;
	}

}

.songs__group--list {
	list-style: none;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;

	@include bp(large) {
		margin-top: 12px;
		@include span-columns(9 of 12);
		@include omega;
	}

	li {
		margin-bottom: 0.75em;
		overflow: auto;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.song__time,
	.song__title,
	.song__artist {
		margin: 0px;
		font-family: "Open Sans", sans-serif;
	}

	.song__title {
		font-size: ms(0);
		font-weight: bold;
	}

	.song__time {
		float: left;
		display: block;
		width: auto;
		max-width: 30%;
		margin-right: 1em;
		color: $light-gray;

		@include bp(small) {
			max-width: 20%;
		}
	}

	.song__meta {
		float: left;
		display: block;
		width: auto;
		max-width: 65%;

		@include bp(small) {
			max-width: 75%;
		}
	}

	.song__artist {
		font-size: ms(-1);
	}
}

@include bp(large) {
	.post-type-archive-songs .posts-pagination {
		margin-top: 2em;
	}
}