.widget_triton_song_history {
	// don't show on mobile
	display: none;

	// show on desktop
	@include bp(large) {
		display: block;
		margin-bottom: 2em;

		.td-song-history__header {
			background: none;
			line-height: inherit;
			height: auto;
			padding: inherit;

			.td-song-history__header__title {
				text-transform: uppercase;
			}
		}

		.td-song-history__song__buy {
			display: none;
		}

		.td-song-history__song__picture img {
			margin-left: 0;
		}

		.td-song-history__song__infos {
			text-transform: uppercase;
		}
	}
}

article > .triton-song-history {
	margin-bottom: 2em;

	.td-song-history__header {
		background: none;
		line-height: inherit;
		height: auto;
		padding: inherit;

		.td-song-history__header__title {
			display: none;
		}
	}

	.td-song-history__song__buy {
		display: none;
	}

	.td-song-history__song__picture img {
		margin-left: 0;
	}
}
