.widget--live-player {
	padding: 0;
	margin: 0 0 1em;
	overflow: auto;

	.live-player--open & {
		margin-bottom: 58px;
	}
}

.widget--live-player__title {
	display: none;
	@include bp(medium) {
		display: block;
		margin: 0 0 1em;
		font-size: ms(0);
		font-weight: normal;
	}

	.news-site & {

		@include bp(medium) {
			margin-bottom: 0;
			line-height: 1;
			font-size: ms(5);
			font-weight: lighter;
			text-transform: uppercase;
		}
	}
}

.widget--live-player ul {
	padding: 0;
	margin: 0;
}

.widget--live-player li {
	list-style: none;
	display: block;
	padding: 0;
	margin: 0;
	line-height: 1;

	.news-site & {
		padding: 2.125em 0 1.875em;
		margin: 0 0 0 50px;
		border-bottom: 1px solid $primary-border;

		&:hover {

			.live-link__title {
				color: $primary-link-hover;
			}

			div:before {
				color: $primary-link-hover;
				border-color: $primary-link-hover;
			}
		}
	}
}