.widget--live-player {
	margin: 0 1em 1em;
}

.widget--live-player__title {
	margin: 0 0 1em;
	font-family: $open-sans;
	font-size: 1em;
	font-weight: normal;
	text-transform: uppercase;
}

.widget--live-player li {
	list-style: none;
	display: block;
	padding: 0;
	margin: 0;
	font-family: $open-sans;
	font-size: ms(0);
	font-weight: normal;
}

.widget--live-player li a:link, .widget--live-player li a:visited {
	color: color(tertiary-link);
}

.widget--live-player li a:hover, .widget--live-player li a:focus, .widget--live-player li a:active {
	color: color(primary-link);
}

// On-air Schedule
.widget-onair--current {

}

.widget-onair--listen_now {

}

.widget-onair--upcoming_shows {

}

// Link Roll
.widget-link--icon {

}

.widget-link--filter {

}

.widget-link--title {

}

// Calendar (event list)
.widget-calendar--title {

}

.widget-calendar--list {

}

.widget-calendar--event_date {

}

.widget-calendar--event_time {

}

.widget-calendar--event_title {

}

.widget-calendar--event_location {

}

// Weather Summary
.widget-weather--temp_high {

}

.widget-weather--temp_low {

}

.widget-weather--excerpt {

}

.widget-weather--link {

}

// Live Webcam
.widget-webcam--title {

}

.widget-webcam--player {

}

// Traffic Map
.widget-traffic--title {

}

.widget--weather--map {

}

.widget-traffic--link {

}