.user-preference-info {
    margin-bottom: 20px;
 & p{
      margin-bottom: 10px;
  }
   & button.preference-link-btn{
        background: none!important;
        border: none;
        padding: 0!important;
        font-family: arial, sans-serif;
        color: var(--brand-primary);
        text-decoration: underline;
        cursor: pointer;
        margin-left: 5px;
    }
    & span {
        margin-left: 10px;
        font-size: 12px;
        color: red;
       }
}

.page-template-myaccount{
    & header.post-info {
        padding: 0 1rem 1rem;

        & p{
            margin:0px 0px 15px 0px;
        }
    } 

    & .entry-content{
        & .description{
            & .info_account{
                & p{
                    margin-bottom: 10px;
                }
            }
        }
    }

} 