:root {
	--global-black: #000000;
	--global-mine-shaft: #333333;
	--global-dove-gray: #737373;
	--global-silver: #cccbcb;
	--global-silver-chalice: #afafaf;
	--global-mercury: #e1e1e1;
	--global-gallery: #f0f0f0;
	--global-white: #ffffff;

	--social-twiiter: #55acee;
	--social-facebook: #3b5999;
	--social-google: #dd4b39;

	--global-alert: #ff0000;

	--global-font-family-primary: "Libre Franklin", sans-serif;
	--global-font-family-secondary: "Open Sans", sans-serif;
	--global-font-primary: #202124;
	--global-font-secondary: #8f8f8f;

	/* Light is default theme */
	--global-theme-primary: #f1f1f1;
	--global-theme-secondary: #fcfcfc;

	--global-theme-font-primary: #444444;
	--global-theme-font-secondary: var(--global-font-primary);
	--global-theme-font-tertiary: var(--global-dove-gray);

	/* Set default brand colors */
	--brand-primary: red;
	--brand-secondaary: green;
	--brand-tertiary: blue;
}

@custom-media --min-xlarge-viewport (min-width: 1060px);
@custom-media --min-large-viewport (min-width: 900px);
@custom-media --min-medium-viewport (min-width: 768px);
@custom-media --min-small-viewport (min-width: 480px);
