:root {
	--global-black: #000000;
	--global-dove-gray: #737373;
	--global-silver: #cccbcb;
	--global-silver-chalice: #afafaf;
	--global-gallery: #f0f0f0;
	--global-white: #ffffff;

	--global-alert: #ff0000;

	--global-font-family-primary: 'Libre Franklin', sans-serif;
	--global-font-primary: #202124;
	--global-font-secondary: #8f8f8f;

	--brand-primary: #ff0000;
	--brand-secondary: #ffe964;
	--brand-tertiary: #ffffff;
}

.-dark {
	--global-theme-primary: #1a1a1a;
	--global-theme-secondary: #282828;

	--global-theme-font-primary: var(--global-white);
	--global-theme-font-secondary: #a5a5a5;
	--global-theme-font-tertiary: var(--global-dove-gray);
}

.-light {
	--global-theme-primary: #f1f1f1;
	--global-theme-secondary: #fcfcfc;

	--global-theme-font-primary: #444444;
	--global-theme-font-secondary: var(--global-font-primary);
	--global-theme-font-tertiary: var(--global-dove-gray);
}

@custom-media --min-xlarge-viewport (min-width: 1060px);
@custom-media --min-large-viewport (min-width: 900px);
@custom-media --min-medium-viewport (min-width: 768px);
@custom-media --min-small-viewport (min-width: 480px);