.audio-readout {
	align-items: center;
	display: flex;
	flex: 1 0 auto;
	justify-content: space-between;
	margin-left: 5px;
	position: relative;

	@include bp(small) {
		margin-left: 15px;
		min-height: 50px;
		width: 320px;
	}

	.audio-readout__notification {
		display: none;
		width: 100%;

		&.-show {
			display: block;
		}
	}

	.audio-readout__notification--listen {
		font-size: ms(3);
		text-transform: uppercase;
	}

	.audio-readout__notification--preroll {
		font-size: ms(-2);
	}
}