.audio-player {
	border-top: 1px solid rgba(0, 0, 0, .25);
	display: flex;
	order: 1;
	width: 100%;
	z-index: 2;

	@include bp(medium) {
		align-items: center;
		box-shadow: none;
		border: 0 none;
		flex: 0 1 auto;
		width: auto;
	}
	@include bp(large) {
		flex: 1 1 auto;
		order: 2;
		width: percentage(550/930);
	}
}