$heartbeat-color: $cardinal;
$heartbeat-size: 48px; // must be divisible by 2 and 3
$heartbeat-rotation: rotate(0);

@mixin keyframes($name) {
	@-webkit-keyframes #{$name} { @content }
	@-moz-keyframes #{$name} { @content }
	@-o-keyframes #{$name} { @content }
	@keyframes #{$name} { @content }
}

@mixin experimental($property, $value, $moz: true, $webkit: true, $o: true, $ms: true, $khtml: true, $official: true) {
	@if $webkit   { -webkit-#{$property} : $value; }
	@if $khtml    {  -khtml-#{$property} : $value; }
	@if $moz      {    -moz-#{$property} : $value; }
	@if $ms       {     -ms-#{$property} : $value; }
	@if $o        {      -o-#{$property} : $value; }
	@if $official {         #{$property} : $value; }
}

@mixin animation($value) {
	@include experimental(animation, $value);
}

@include keyframes(heartbeat) {
	0%  { @include transform($heartbeat-rotation scale(1));   }
	14% { @include transform($heartbeat-rotation scale(1.2)); }
	28% { @include transform($heartbeat-rotation scale(1));   }
	42% { @include transform($heartbeat-rotation scale(1.2)); }
	70% { @include transform($heartbeat-rotation scale(1));   }
}

@include keyframes(heartbeat-pulse) {
	0% { @include transform(scale(1)) }
	14% { @include transform(scale(2)); opacity: .3 }
	28% { @include transform(scale(3)); opacity: .1 }
	42% { @include transform(scale(4)); opacity: 0 }
	100% { @include transform(scale(1)); opacity: 0 }
}

/* Styles for old versions of IE */
.play-btn--heartbeat {
	font-family: sans-serif;
	font-weight: 100;
}

/* :not(:required) hides this rule from IE9 and below */
.play-btn--heartbeat {
	@include animation(heartbeat 3000ms ease-out 0s infinite normal);

	width: $heartbeat-size;
	height: $heartbeat-size;
	border-radius: 50%;
}

.play-btn--heartbeat:after {
	content: ' ';
	display: block;
	position: absolute;
	top: 0;
	height: $heartbeat-size;
	width: $heartbeat-size;
	background-color: $btn-bg;
	opacity: .5;
	border-radius: 50%;
	@include animation( heartbeat-pulse 3000ms ease-out 0ms infinite normal );
}
