@import url(//fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(//fonts.googleapis.com/css?family=Istok+Web:400,700);

.header {
  background-color: #781214 !important;
  background-image: url("../../images/WDHA_header2.jpg") !important;
  background-repeat: repeat-x;
  background-position: center top;
  border-bottom: none;
}

.header__main {
    border-top: none;
    background-color: rgba(0, 0, 0, .3) !important;

		-webkit-transition: transform 200ms linear, background-color 1s !important; /* Safari */
    transition: transform 200ms linear, background-color 1s !important;

		&.headroom--not-top {
			background-color: rgba(0, 0, 0, .8) !important;
		}
}

/* Navigation */

.header__account ul li a:active, .header__account ul li a:focus, .header__account ul li a:hover, .header__account ul li:hover, .header__nav ul li a:active, .header__nav ul li a:focus, .header__nav ul li.active, .header__nav ul li.active a:hover, .ui-menu .ui-state-focus {background-color: #c20000;}
.header__account--links.sub-menu, .header__nav .format-fi > ul, .header__nav .format-fi > ul.header__account--links, .header__nav .format-fw > ul, .header__nav .format-fw > ul.header__account--links, .header__nav .format-sp > ul, .header__nav .format-sp > ul.header__account--links, .header__nav .sub-menu, .ui-menu {
  border-top: 7px solid #c20000;
  color: #fff;
  min-width: 300px;
  position: absolute;
  z-index: 5000100;
}

.header__nav .sub-menu a.active, .header__nav .format-fw > ul a.active, .header__nav .format-sp > ul a.active, .header__nav .format-fi > ul a.active, .header__nav .sub-menu a:focus, .header__nav .format-fw > ul a:focus, .header__nav .format-sp > ul a:focus, .header__nav .format-fi > ul a:focus, .header__nav .sub-menu a:hover, .header__nav .format-fw > ul a:hover, .header__nav .format-sp > ul a:hover, .header__nav .format-fi > ul a:hover, .ui-menu a.active, .ui-menu a:focus, .ui-menu a:hover {
    color: #fff;
}

.format-sp a:hover .meta-text {
    color: #fff;
}

.header__nav {font-family: 'Oswald', sans-serif;}

.header__main a, .header__main a:active, .header__main a:hover, .header__main a:visited {color: #fff;}

.header__nav li {
  font-weight: 600;
}

.header__nav li:hover {
  font-weight: 600;
}

.header__nav > ul li a {
    display: block;
    padding: 7px;
    text-transform: uppercase;
}

.header__account--links.sub-menu, .header__nav .format-fi > ul, .header__nav .format-fi > ul.header__account--links, .header__nav .format-fw > ul, .header__nav .format-fw > ul.header__account--links, .header__nav .format-sp > ul, .header__nav .format-sp > ul.header__account--links, .header__nav .sub-menu, .ui-menu {
  border-top: 3px solid #c00000;
  color: #000;
  min-width: 300px;
  position: absolute;
  z-index: 5000100;
}

.header__nav .sub-menu a, .header__nav .format-fw > ul a, .header__nav .format-sp > ul a, .header__nav .format-fi > ul a, .ui-menu a {
    color: #ffffff;
    font-size: 0.7901234568em;
    font-weight: bold;
    text-transform: none;
}

.header__nav .format-fi .header__nav-submenu--features li:hover p {
    color: #999999;
}

.mobile-nav__toggle--span, .mobile-nav__toggle--span:before, .mobile-nav__toggle--span:after {
    background: #fff;
}

.mobile-nav__list a {
    background-color: #303030;
    color: #FFF;
    display: block;
    padding: 18px 1.25em;
    line-height: 1;
    font-size: 1.265625em;
}

.format-fi .menu__featured-post--mobile a:hover p {
    color: #CCC;
}

.mobile-nav .sub-menu a:hover, .mobile-nav .header__nav .format-fw > ul a:hover, .header__nav .mobile-nav .format-fw > ul a:hover, .mobile-nav .header__nav .format-sp > ul a:hover, .header__nav .mobile-nav .format-sp > ul a:hover, .mobile-nav .header__nav .format-fi > ul a:hover, .header__nav .mobile-nav .format-fi > ul a:hover, .mobile-nav .sub-menu a:active, .mobile-nav .header__nav .format-fw > ul a:active, .header__nav .mobile-nav .format-fw > ul a:active, .mobile-nav .header__nav .format-sp > ul a:active, .header__nav .mobile-nav .format-sp > ul a:active, .mobile-nav .header__nav .format-fi > ul a:active, .header__nav .mobile-nav .format-fi > ul a:active {
    background-color: #303030;
    color: #ccc;
}

.mobile-nav .social__link {
    color: #ccc;
    border-color: #ccc;
    font-size: 1.423828125em;
    margin: 0 0 0 1em;
}

/* Header search color */
 .header__search {
  color: #f0f0f0;
  font-weight: bold}

.header__search--btn:before {
    color: #f0f0f0;
    font-size: 1em;
    content: "\e612";
}

/* Home page feature items */
.featured__article--heading {
  color: #fff;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

.home__featured {
  background: url("../../images/wdha-body-bkg.jpg") no-repeat;
  background-color: #000;
}

.home__featured .featured__article a:hover .featured__article--content {background-color: #620000;}

.featured__article:hover .featured__article--heading {color: #fff;}

.featured__content--title {
    font-size: 1em;
    display: block;
    width: 100%;
    margin: 0 auto .15em;
    line-height: 1.25;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    color: #fff;
}

.home__featured .featured__content--meta {
    width: 65%;
    min-height: 4.2em;
}

.featured__content--block:hover .featured__content--title {
    color: #fff;
}

.featured__content--block:hover {
  background: #620000;
}

.highlights__heading {
    margin: 0 0 0.75em;
    line-height: 1;
    font-size: 1.125em;
    font-weight: lighter;
    color: #fff;
    vertical-align: top;
}

a:hover .highlights__community--title {color:#999999;}

.highlights__events--more-btn {
  background-color: #781214;
  border: 1px solid #781214;
  color: #fff !important;
  font-weight: 700;
}

.highlights__events--more-btn:hover {
  background-color: #c00000;
  border-color: #c00000;
  color: #fff !important;
}

/* Events header color */
.highlights__heading {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}

/* Feature bar font color */
.featured__article:hover
.featured__article--heading {
  color: #fff;
  font-family: 'Oswald', sans-serif;
}

.featured__article--heading {
  color: #fff;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

.home__featured .featured__article--content {
  background-color:#7d0000;
  color:#7d0000;
  font-family: 'Oswald', sans-serif;
}

/* Sub-Feature font color */
.featured__content--title {
    color: #fff;
    font-family: 'Oswald', sans-serif;
}
